<!DOCTYPE html>
<html lang="es">
<head>
	<title>Hospitalizacion</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("../partials/head") -%>
	<link rel="stylesheet" href="/css/HomeInt.css">
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	  <!-- SideBar Menu Hospital-->
	  <ul class="list-unstyled full-box dashboard-sideBar-Menu">
		<li>
			<a href="/internaciones/hospitalizacion/<%=especialidad%>">
				<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Home <%=especialidad%>
			</a>
		</li>
				   
		<!-- Emergencias -->
		<li>
			<a href="#!" class="btn-sideBar-SubMenu">
				<i class="zmdi zmdi-hospital-alt zmdi-hc-fw"></i> Hospitalizacion <i class="zmdi zmdi-caret-down pull-right"></i>
			</a>
			<ul class="list-unstyled full-box">
				<li><a href="/internaciones/ListaInternacionF/<%=especialidad%>"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i>Liatas de citas</a></li>
						  
			</ul>
		</li> 
		</ul>
	<%- include("partials/footer") -%>
	<!-- Content page-->
<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
		<ul class="full-box list-unstyled text-right">
			<li class="pull-left">
		    	<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
			</li>
			<li>
				<a href="#!" class="btn-Notifications-area">
					<i class="zmdi zmdi-notifications-none"></i>
				</a>
			</li>
		</ul>
	</nav>  

		<div class="container-fluid">
			<h1>Hospitalizacion</h1>
		</div>
</section>
	<!--====== Scripts -->
	<%- include("../partials/scripts") -%>
</body>
</html>