<!DOCTYPE html>
<html lang="es">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Home Hospitalización</title>

	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">


	<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/animate.css" rel="stylesheet" type="text/css" />
	<link href="/css/admin.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">
<!--validaciones-->

<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />

	<style>
		div.a {
			text-align: center;
		}

		h1.letras {
			font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

		}
	</style>

</head>

<body class="light_theme  fixed_header left_nav_fixed">
	<script>
		/* <%if(login != null){%> */
			var esto  = `<%- JSON.stringify(token) %>`
			var url = "/Internaciones/home/"
			localStorage.setItem('data', esto ) 
			localStorage.setItem('url', url) 
		/* <% } else { %> */
			/* 	<%if(token == "") {%> */
				console.log("no hay token")
			/* 	<% } else { %> */
					var data = localStorage.getItem('data')
					if (data == null){     // esto no esta funcionando como deberia de fucnionar 
						window.location.replace('/')
					}else{
						var esto  = `<%- JSON.stringify(token) %>`
						var url = "/Internaciones/home/"
						localStorage.setItem('data', esto ) 
						localStorage.setItem('url', url) 
					}
			/* 	<% } %> */
		/* <% } %> */
	
	</script>
	<!-- SideBar -->

	<!-- Content page-->
	<div class="wrapper">
		<!--\\\\\\\ wrapper Start \\\\\\-->
		<div class="header_bar ">
			<!--\\\\\\\ header Start \\\\\\-->
			<div class="brand">
				<!--\\\\\\\ brand Start \\\\\\-->
				<div class="logo" style="display:block"><span class="theme_color">Hospital</div>

			</div>
			<!--\\\\\\\ brand end \\\\\\-->
			<div class="header_top_bar">
				<!--\\\\\\\ header top bar start \\\\\\-->
				<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

				<div class="top_right_bar">

					<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
								src="/images/user.png" /><span class="user_adminname">   <%=data_token.medico.nombre%> <%=data_token.medico.apellidop%> </span> <b
								class="caret"></b> </a>
						<ul class="dropdown-menu">
							<div class="top_pointer"></div>
							<li> <a href="/profile.html"><i class="fa fa-user"></i> Profile</a> </li>
							<li> <a href="/help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
							<li> <a href="/settings.html"><i class="fa fa-cog"></i> Setting </a></li>
							<li> <a href="/login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<!--\\\\\\\ header top bar end \\\\\\-->
		</div>
		<div class="inner">
			<!--\\\\\\\ inner start \\\\\\-->
			<div class="left_nav">

				<!--\\\\\\\left_nav start \\\\\\-->
				<div class="left_nav_slidebar">
					<ul>
						<li class="left_nav_active theme_border"><a href="javascript:void(0);"><i
									class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span
									class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul class="opened" style="display:block">
								<li> <a href="#"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b class="theme_color"><%=especialidad.nombre%></b>
									</a> </li>
							</ul>
						</li>
					
						<li > <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Pacientes <span
									class="plus"><i class="fa fa-plus"></i></span></a>
							<ul >
								<li> <a href="/internaciones/ListaInternacionF/<%=especialidad.id%>/<%=data_token.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i>
										<b >Pacientes a Internar	</b>
									</a> 
								</li>
								<li> <a href="/internaciones/list_internadios/<%=especialidad.id%>/<%=data_token.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i>
										<b >Pacientes Internados</b>
									</a> 
								</li>
								<li> <a href="/internaciones/list_internados_alta/<%=especialidad.id%>/<%=data_token.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i>
										<b >Pacientes de alta </b>
									</a> 
								</li>
								<li> <a href="/internaciones/lista_traslados/<%=especialidad.id%>/<%=data_token.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i>
										<b >Traslados</b>
									</a> 
								</li>
								
							</ul>
	
						</li>
				

					</ul>
				</div>
			</div>
			<!--\\\\\\\left_nav end \\\\\\-->
			<div class="contentpanel">
				<!--\\\\\\\ contentpanel start\\\\\\-->
				<div class="container clear_both padding_fix col-lg-8">
					<br>
					<br>
					
					<div class="row">

						<div class="col-lg-12 ">
					
				


								<div class="col-md-12">
										<div class="header">
										  <div class="info blue_symbols "> <i class="fa fa-medkit icon "></i></div>
										  <h3 class="content-header "><span>&nbsp;&nbsp;&nbsp;</span>Hospitalización</h3>
										</div>
										<br>
										<br>
										
										<div class="col-sm-3">
											<div class="ticket_open">
												
												<a href="/internaciones/list_internadios " class="open_ticket_comment text-center ">
													<h4>Pacientes a Internar</h4>
													
													<div class="btn-group">
													<i class="fa fa-hospital-o"></i>
													</div>
													
													
												  
													</a>
													
											</div>
										  </div>
										  <div class="col-sm-3">
											  <div class="ticket_open">
												  
												  <a href="/internaciones/list_internadios/<%=especialidad.id%>/<%=data_token.token_id%>" class="open_ticket_comment text-center ">
													  <h4>Pacientes Internados</h4>
													  
													  <div class="btn-group">
													  <i class="fa fa-medkit"></i>
													  </div>
													  
													  
													
													  </a>
													  
											  </div>
											</div>
										  <div class="col-sm-3">
											  <div class="ticket_open">
												  
												  <a href="#" class="open_ticket_comment text-center ">
													  <h4>Pacientes de Alta</h4><br>
													  
													  <div class="btn-group">
													  <i class="fa fa-wheelchair"></i><i class="fa fa-bed"></i>
													  </div>
													  
													  
													
													  </a>
													  
											  </div>
											</div>
										
										</div>





</div>

</div>

<!--\\\\\\\ container  end \\\\\\-->
</div>
<!--\\\\\\\ content panel end \\\\\\-->
</div>
<!--\\\\\\\ inner end\\\\\\-->
</div>
<!--\\\\\\\ wrapper end\\\\\\-->
</div>















<!--====== Scripts -->


<script src="/js/jquery-2.1.0.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/common-script.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/plugins/data-tables/jquery.dataTables.js"></script>
<script src="/plugins/data-tables/DT_bootstrap.js"></script>
<script src="/plugins/data-tables/dynamic_table_init.js"></script>

<script src="/plugins/data-tables/dynamic_table_init2.js"></script>
<script src="/plugins/edit-table/edit-table.js"></script>
<script>
jQuery(document).ready(function () {
EditableTable.init();
});
</script>

<script src="/js/jPushMenu.js"></script>
<script src="/js/side-chats.js"></script>


<!--validaciones-->
<script type="text/javascript"  src="/plugins/toggle-switch/toggles.min.js"></script> 
<script src="/plugins/checkbox/zepto.js"></script>
<script src="/plugins/checkbox/icheck.js"></script>
<script src="/js/icheck-init.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script> 
<script type="text/javascript" src="/js/form-components.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/jquery.inputmask.min.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/demo-mask.js"></script> 
<script type="text/javascript"  src="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script> 
<script type="text/javascript"  src="/plugins/dropzone/dropzone.min.js"></script> 
<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>



<script src="/plugins/validation/parsley.min.js"></script>

<script>


/*==Porlets Actions==*/
$('.minimize').click(function(e){
var h = $(this).parents(".header");
var c = h.next('.porlets-content');
var p = h.parent();

c.slideToggle();

p.toggleClass('closed');

e.preventDefault();
});

$('.refresh').click(function(e){
var h = $(this).parents(".header");
var p = h.parent();
var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');

loading.appendTo(p);
loading.fadeIn();
setTimeout(function() {
loading.fadeOut();
}, 1000);

e.preventDefault();
});

$('.close-down').click(function(e){
var h = $(this).parents(".header");
var p = h.parent();

p.fadeOut(function(){
$(this).remove();
});
e.preventDefault();
});

</script>
 <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
 <script src="/axios/dist/axios.min.js"></script>

 


</body>

</html>