<!DOCTYPE html>
<html lang="es">
<head>
	<title>Internacion</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("../partials/head") -%>
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
		<ul class="full-box list-unstyled text-right">
			<li class="pull-left">
		    	<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
			</li>
			<li>
				<a href="#!" class="btn-Notifications-area">
					<i class="zmdi zmdi-notifications-none"></i>
				</a>
			</li>
		</ul>
	</nav>
		<!-- Content page -->
		<div class="container-fluid">
				<div class="page-header col-md-12 col-md-offset-1">
					 
				 <div class="col-md-6 ">
					 <h1 class="text-titles"><i class="zmdi zmdi-hospital-alt zmdi-hc-fw"></i>Internacion</h1>
				 </div>
				 
					 <div class="col-md-5 ">
						 <br>
						 <form class="example" action="">
							 <div class="col-md-13">
								<input type="text" placeholder="Search.." name="search">
								  <button type="submit"><i class="zmdi zmdi-search zmdi-hc-1x"></i></button>
							 </div>
						 </form>
					 </div>
			 </div>
		 </div>

		<div class="container-fluid">
			<div class="row">
				
				<div class="col-md-12 ">
					<ul class="nav nav-tabs" style="margin-bottom: 15px;" id="links">
					  	<li class="active"><a href="#list" data-toggle="tab"><i class="zmdi zmdi-assignment"></i> Lista Pacientes </a></li>
						<li><a href="#listFalse" data-toggle="tab">Pacientes atendidos</a></li>
						<li><a href="#">Refresh</a></li>
					</ul>
				</div>
				<div class="col-xs-20 col-md-10 col-md-offset-1">
					
					<div id="myTabContent" class="tab-content">
						
					  <div class="tab-pane fade active in" id="list">
                        <table class="fl-table ">
                            <thead>
								<tr>
									<th class="text-center">#</th>
									<th class="" WIDTH="15%">N° de historia </th>
									<th class="" WIDTH="20%">Nombre del Paciente</th>
									<th class="" WIDTH="20%">Apellido paterno</th>
									<th class="" WIDTH="20%">Apellido materno</th>	
									<th class="" WIDTH="20%">Fecha</th>	
									<th class="" WIDTH="20%">Motivo de Ingreso</th>	
									<th class="" WIDTH="20%">Viene de</th>	
									<th class="text-center" WIDTH="20%">Registrar</th>
                  					
              <!--
                 <th class="text-center" WIDTH="20%">Darde Baja</th>
              -->   
								</tr>
							</thead>
							<tbody>
								<% if(resp != null) { %>
									
									<% for(var i=0; i< resp.length; i++) { %>
										<tr>
											<td><%= i + 1 %></td>
											<td><%=resp[i].Historial %></td>
											<td><%=resp[i].emergencium.Citas_Medica.Paciente.nombre %></td>                                        
                                            <td><%=resp[i].emergencium.Citas_Medica.Paciente.apellidop %></td>
                                            <td><%=resp[i].emergencium.Citas_Medica.Paciente.apellidom %></td>
											<td><%=resp[i].fechaIngreso %></td>
											<td><%=resp[i].diagnostico %></td>
											<td><%=resp[i].tipoConsulta %></td>
											<td class="text-center" ><a href="/internaciones/only_pInternacion/<%=resp[i].id%>" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
											
										</tr>
										<% } %>
								<% } else { %>
									<tr>
										<td> NO HAY CONENCCION CON LA BASE DE DATOS </td>
									</tr>
								<% } %>							
							</tbody>
						</table>
						<ul class="pagination pagination-sm">
							<li class="disabled"><a href="#!">«</a></li>
							<li class="active"><a href="#!">1</a></li>
							<li><a href="#!">2</a></li>	
							<li><a href="#!">3</a></li>
							<li><a href="#!">4</a></li>
							<li><a href="#!">5</a></li>
							<li><a href="#!">»</a></li>
						</ul>
					  </div>
					  <div class="tab-pane fade" id="listFalse">
							<table class="fl-table " id="table">
								<thead>
									<tr>
										<th class="text-center">#</th>
										<th class="" WIDTH="15%">N° de historia </th>
										<th class="" WIDTH="20%">Nombre del Paciente</th>
										<th class="" WIDTH="20%">Apellido paterno</th>
										<th class="" WIDTH="20%">Apellido materno</th>	
										<th class="" WIDTH="20%">Fecha</th>	
										<th class="" WIDTH="20%">Motivo de Ingreso</th>	
										<th class="" WIDTH="20%">Viene de</th>	
										<th class="text-center" WIDTH="20%">Registrar</th>
										  
				  <!--
					 <th class="text-center" WIDTH="20%">Darde Baja</th>
				  -->   
									</tr>
								</thead>
								<tbody>
									<% if(listFalse != null) { %>
										
										<% for(var i=0; i< listFalse.length; i++) { %>
											<tr>
												<td><%= i + 1 %></td>
												<td><%=listFalse[i].Historial %></td>
												<td><%=listFalse[i].emergencium.Citas_Medica.Paciente.nombre %></td>                                        
                                            	<td><%=listFalse[i].emergencium.Citas_Medica.Paciente.apellidop %></td>
                                            	<td><%=listFalse[i].emergencium.Citas_Medica.Paciente.apellidom %></td>
												<td><%=listFalse[i].fechaIngreso %></td>
												<td><%=listFalse[i].diagnostico %></td>
												<td><%=listFalse[i].tipoConsulta %></td>
												<td class="text-center" ><a href="" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
												
											</tr>
											<% } %>
									<% } else { %>
										<tr>
											<td> no hay datos </td>
										</tr>
									<% } %>							
								</tbody>
							</table>
							<ul class="pagination pagination-sm">
								<li class="disabled"><a href="#!">«</a></li>
								<li class="active"><a href="#!">1</a></li>
								<li><a href="#!">2</a></li>	
								<li><a href="#!">3</a></li>
								<li><a href="#!">4</a></li>
								<li><a href="#!">5</a></li>
								<li><a href="#!">»</a></li>
							</ul>
						  </div>

					</div>
				</div>
			</div>
		</div>
</section>
	<!--====== Scripts -->
	<%- include("../partials/scripts") -%>
	<script src="/js/get/consultaget.js"></script>	
	
</body>
</html>