<!DOCTYPE html>
<html lang="es">
<head>
	<title>Hospitalizacioin</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("../partials/head") -%>
</head>
<body>
	<!-- SideBar -->
	<%- include("partials/menuHos") -%>
	<!-- Content page-->
<section class="full-box dashboard-contentPage">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
		<ul class="full-box list-unstyled text-right">
			<li class="pull-left">
		    	<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
			</li>
			<li>
				<a href="#!" class="btn-Notifications-area">
					<i class="zmdi zmdi-notifications-none"></i>
				</a>
			</li>
		</ul>
	</nav>
		<!-- Content page -->
	   <div class="container-fluid">
            <div class="col-md-12 panel-body">
                <tr>
                	<th>
                   	</th>
                  	<th>
                       	<form class="example" action="">
                         <div class="col-md-6">
                            <input type="text" placeholder="Search.." name="search">
                            <button type="submit"><i class="zmdi zmdi-search zmdi-hc-1x"></i></i></button>
                         </div>
                                            
                        </form>
                   	</th>
                </tr> 
           </div>
       </div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs" style="margin-bottom: 15px;">
					  	<li class="active"><a href="#ListPaciente" data-toggle="tab"><i class="zmdi zmdi-assignment"></i> Nuevo Paciente</a></li>
					  
					</ul>
					<div class="tab-content">
						
					  <div class="table-responsive" id="newSchool">
                        <table class="table table-hover ">
                            <thead>
								<tr>
									<th class="text-center">#</th>
									<th class="" WIDTH="15%">N° de historia </th>
									<th class="" WIDTH="20%">Nombre del Paciente</th>
									<th class="" WIDTH="20%">Apellido paterno</th>
									<th class="" WIDTH="20%">Apellido materno</th>	
									<th class="" WIDTH="20%">Hora de Atencion</th>	

									<th class="text-center" WIDTH="20%">Registrar Consulta Medica</th>
                  					<th class="text-center" WIDTH="20%">Modificar</th>
              <!--
                 <th class="text-center" WIDTH="20%">Darde Baja</th>
              -->   
								</tr>
							</thead>
							<tbody>
								<% if(resp != null) { %>
								
									<% for(var i=0; i< resp.length; i++) { %>
										<tr>
											<td><%= i + 1 %></td>
											<td><%=resp[i].codigo_p %></td>
											<td>algun nombre del paciente</td>
											<td>algun apellido Paterno del paciente</td>
											<td>algun apellido Materno del paciente</td>
											<td><%=resp[i].hora %></td>
											<td class="text-center"><a href="/emergencia/consulta/<%=resp[i].codigo_p%>/<%=resp[i].id%>" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
                                            <td class="text-center" ><a href="#!" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
                                            <!--

											<td class="text-center" ><a href="#!" class="btn btn-danger btn-raised btn-xs"><i class="zmdi zmdi-delete"></i></a></td>
                                            -->
										</tr>
										<% } %>
								<% } else { %>
									<tr>
										<td> NO HAY CONENCCION CON LA BASE DE DATOS </td>
									</tr>
								<% } %>
							</tbody>
						</table>
						<ul class="pagination pagination-sm">
							<li class="disabled"><a href="#!">«</a></li>
							<li class="active"><a href="#!">1</a></li>
							<li><a href="#!">2</a></li>
							<li><a href="#!">3</a></li>
							<li><a href="#!">4</a></li>
							<li><a href="#!">5</a></li>
							<li><a href="#!">»</a></li>
						</ul>
					  </div>
					</div>
				</div>
			</div>
		</div>
</section>
	<!--====== Scripts -->
	<%- include("../partials/scripts") -%>
</body>
</html>