<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Pacientes para Internar</title>
    <meta charset="UTF-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
    <link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
    <link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">

    <link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
    <link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />




    <style>
        div.a {
            text-align: center;
        }

        h1.letras {
            font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

        }
    </style>
    <%- include("../partials/head") -%>
    <script type="text/javascript">
        // este scrip es para verificar si esta el token en local starge
        var data = localStorage.getItem('data')
        console.log(data)
        if (data == null){
            window.location.replace('/')
        }
    </script>
</head>
<body class=" light_theme  fixed_header left_nav_fixed" >
	<div class="wrapper">
        <div class="header_bar">
            <div class="brand">
                <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
            </div>
            <div class="header_top_bar">
                <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

                <div class="top_right_bar">

                    <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
                                src="/images/user.png" /><span class="user_adminname">   <%=data_doc.data.medico.nombre%> <%=data_doc.data.medico.apellidop%></span> <b
                                class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <div class="top_pointer"></div>
                            <li> <a href="/profile.html"><i class="fa fa-user"></i> Profile</a> </li>
                            <li> <a href="/help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
                            <li> <a href="/settings.html"><i class="fa fa-cog"></i> Setting </a></li>
                            <li> <a href="/login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner">
            <div class="left_nav">
                <div class="left_nav_slidebar">
					<ul>
						<li ><a href="javascript:void(0);"><i
							class="fa fa-home"></i> Home  <span
							class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul > 
								<li> <a href="/internaciones/home/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b ><%=data_doc.data.area_esp.nombre%></b>
								</a> </li>
							</ul>
						</li>
						
							<li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Lista de Paciente <span class="left_nav_pointer"></span> <span
										class="plus"><i class="fa fa-plus"></i></span></a>
								<ul  class="opened" style="display:block">
									<li> <a href="/internaciones/ListaInternacionF/<%=data_doc.data.area_esp.id%>/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i>
										<b >Listas de Internación</b>
                                        </a> 
                                    </li>
                                    <li> <a href="/internaciones/list_internadios/<%=data_doc.data.area_esp.id%>/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i>
                                        <b class="theme_color">Pacientes Internados</b>
                                        </a> 
                                    </li>
                                    <li> 
                                        <a href="/internaciones/list_internados_alta/<%=data_doc.data.area_esp.id%>/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i>
                                            <b >Pacientes de alta </b>
                                        </a> 
                                    </li>
                                    <li> 
                                        <a href="/internaciones/lista_traslados/<%=data_doc.data.area_esp.id%>/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i>
                                            <b >Traslados</b>
                                        </a> 
                                    </li>
	
								</ul>
							</li>
					</ul>
				</div>
            </div>
            <div class="contentpanel">
             <div class="container clear_both padding_fix col-lg-8">
                    <br>
                    <div class="main-content">

	
	<!--Listas de Emergencias-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 block-web">
                <!-- Content page -->
    <div class="header">
            <div class="info blue_symbols "> <i class="fa fa-medkit icon "></i></div>
            <h3 class="content-header "><span>&nbsp;&nbsp;&nbsp;</span>Pacientes Internados</h3>
        </div>
				<!-- PAcientes no Atendidos-->
				<p class="text-center">
						<button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
					</p>
						<div class="table-responsive" >
							<table class="fl-table display table table-bordered table-striped" id="dynamic-tablee">
								<thead>
									  <tr>
										<th class="text-center">#</th>
										<th class="" WIDTH="15%">N° de historia </th>
										<th class="" WIDTH="20%">Nombre del Paciente</th>
										<th class="" WIDTH="20%">Apellido paterno</th>
										<th class="" WIDTH="20%">Apellido materno</th>	
										<th class="" WIDTH="20%">Fecha Ingreso</th>	
										<th class="text-center" WIDTH="20%">Opciones</th> 
									  </tr>
								</thead>
								<tbody>

									<%for(var i = 0; i< list_internacion.length; i++) { %>
										<tr>
											<td><%=i+1%></td>
											<td><%=list_internacion[i].historial%></td>
											<td><%=list_internacion[i].Paciente.nombre%></td>
											<td><%=list_internacion[i].Paciente.apellidop%></td>
											<td><%=list_internacion[i].Paciente.apellidom%></td>
											<td><%=list_internacion[i].fechaIngreso%></td>
											<td class="text-center" ><a href="/internaciones/paciente_internacion/<%=list_internacion[i].id%>/<%=data_doc.data.token_id%>" data-toggle="tooltip" class="btn  tooltips" ><i class="fa fa-pencil-square-o" style="color:green"></i></a></td>
											
										</tr>
									<% } %>
									
								</tbody>
							</table>
						</div>
					</div>
	  			
		</div>
	</div>
</div>
            </div>
            </div>
        </div>
    </div>
	<!--====== Scripts -->
	
	<script src="/js/get/consultaget.js"></script>	
	
	<script src="/js/get/consultaget.js"></script>


    <script src="/js/jquery-2.1.0.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/common-script.js"></script>
    <script src="/js/jquery.slimscroll.min.js"></script>

    <script src="/plugins/data-tables/jquery.dataTables.js"></script>
    <script src="/plugins/data-tables/DT_bootstrap.js"></script>
	<script src="/plugins/data-tables/dynamic_table_init.js"></script>
	<script src="/plugins/data-tables/dynamic_table_init2.js"></script>
    <script src="/plugins/edit-table/edit-table.js"></script>
    <script>
        jQuery(document).ready(function () {
            EditableTable.init();
        });
    </script>

    <script src="/js/jPushMenu.js"></script>
    <script src="/js/side-chats.js"></script>
</body>