<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Pacientes Internados</title>
    <meta charset="UTF-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
    <link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
    <link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">

    <link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
    <link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />




    <style>
        
        div.a {
            text-align: center;
        }

        h1.letras {
            font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

        }

        #line h3, h4 {display: inline;}
    </style>
    <%- include("../partials/head") -%>
    <script language="JavaScript">
        function edad(Fecha){
        fecha = new Date(Fecha)
        hoy = new Date()
        ed = parseInt((hoy -fecha)/365/24/60/60/1000)
        document.getElementById('#pepe').value = "tienes " + ed + " años"
        }


        
    </script>
    <script type="text/javascript">
        // este scrip es para verificar si esta el token en local starge
        var data = localStorage.getItem('data')
        console.log(data)
        if (data == null){
            window.location.replace('/')
        }
    </script>
   
</head>
<body class=" light_theme  fixed_header left_nav_fixed" onload="actualizaReloj()" >
    <div class="wrapper" id="hospital">
        <div class="header_bar">
            <div class="brand">
                <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
            </div>
            <div class="header_top_bar">
                <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
                <template v-if="alta_paciente == false">
                    <a href="javascript:void(0);" class="add_user" @click="alta_paciente = true"> <i class="fa fa-plus-square"></i> <span>ALTA DEL PACIENTE</span> </a>
                </template>
                <template v-else>
                    <a href="javascript:void(0);" class="add_user" @click="alta_paciente = false"> <i class="fa fa-plus-square"></i> <span>VOLVER</span> </a>
                    
                </template>

                <div class="top_right_bar">
                    <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
                                src="/images/user.png" /><span class="user_adminname">     <%=data_doc.data.medico.nombre%> <%=data_doc.data.medico.apellidop%></span> <b
                                class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <div class="top_pointer"></div>
                            <li> <a href="/profile.html"><i class="fa fa-user"></i> Profile</a> </li>
                            <li> <a href="/help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
                            <li> <a href="/settings.html"><i class="fa fa-cog"></i> Setting </a></li>
                            <li> <a href="/login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="inner">
            <div class="left_nav">
                <div class="left_nav_slidebar">
					<ul>
						<li ><a href="javascript:void(0);"><i class="fa fa-home"></i> Home<span class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul >
								<li> <a href="/internaciones/home/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b><%=data_doc.data.area_esp.nombre%></b>
								</a> </li>
							</ul>
						</li>
						
						<li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Listas de Paciente <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span></a>
							<ul  class="opened" style="display:block">
								<li> 
                                    <a href="/internaciones/ListaInternacionF/<%=data_doc.data.area_esp.id%>/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Listas de Internación</b> </a> 
                                </li>
                                <li> <a href="/internaciones/list_internadios/<%=data_doc.data.area_esp.id%>/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i>
                                    <b class="theme_color">Pacientes Internados</b>
                                    </a> 
                                </li>
                                <li> 
                                    <a href="#"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i><b >Pacientes de alta </b></a> 
                                </li>
								
							</ul>
                        </li>
                        <li > <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Detalles del Paciente<span class="plus"><i class="fa fa-plus"></i></span></a>
							<ul >
								<li> 
                                    <a href="/hospitalizacion/alergiasvis"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Alergias</b> </a> 
                                </li>
								<li> 
                                    <a href="/hospitalizacion/antecedentesvis"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Antecedentes</b> </a> 
                                </li>
                                <li> 
                                    <a href="/hospitalizacion/datos_responsablevis"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Datos de responsable</b> </a> 
                                </li>
                                
                                <li> 
                                    <a href="/hospitalizacion/VerHistorialvis"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Historial</b> </a> 
                                </li>
							</ul>
                        </li>
                        <li > <a href="javascript:void(0);"> <i class="fa fa-tasks"></i>Traslados<span class="plus"><i class="fa fa-plus"></i></span></a>
							<ul >
                                <%if(one_internacion[0].idPinternacion != null) { %>
                                <li> 
                                    <a href="/internaciones/traslado_interno/<%=one_internacion[0].id%>/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Traslado Interno</b> </a> 
                                </li>
                                <% } else { %>
                                    <li> 
                                        <a href="/internaciones/traslado_interno2/<%=one_internacion[0].id%>/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Traslado Interno</b> </a> 
                                    </li>
                                <% } %>
								
								
							</ul>
                        </li>
                        <li > <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Reportes<span class="plus"><i class="fa fa-plus"></i></span></a>
							<ul >
								<li> 
                                    <a href="/hospitalizacion/reporteP"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Cuantas veces tuvo intervencion Quirurgica</b> </a> 
                                </li>
								
							</ul>
                        </li>
                        
					</ul>
				</div>
            </div>
            <div class="contentpanel">
                <div class="container clear_both padding_fix ">
                    <br>                
                    <div class="row">
                        <!-- 
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

                                                                    DATOS GENERALES DEL PACIENTE

                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<                            
                         -->
                        <div class="col-lg-14">
                            <section class="panel default  h2">
                                <div class="panel-body">
                                    <div class="panel-group accordion accordion-semi" id="accordion3">
                                        <div class="panel panel-default">
                                            <div class="panel-heading"  >  
                                                <div class="actions">
                                                <h3 class="content-header pull-right text-top actions" ><span>&nbsp;&nbsp;&nbsp;</span>Area de Internación del Paciente </h3>

                                                </div>                                     
                                                <h3 class="panel-title" > <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-1"> <i class="fa fa-angle-right"></i> Datos del Paciente</a> </h3>
                                            </div>
                                            <div style="height: 0px;" id="ac3-1" class="panel-collapse collapse">
                                                <div class="panel-body"> 
                                                    <form>
                                                        <input type="hidden" :value="idHist.id_int = '<%=one_internacion[0].id%>'">
                                                        <input type="hidden" :value="idHist.hist = '<%=data_paciente[0].numeroHistorial%>'">
                                                        <input type="hidden" :value="idHist.id_medico = '<%=data_doc.data.medico.id%>'">
                                                        <input type="hidden" :value="idHist.id_cama = '<%=one_internacion[0].idCama%>'">

                                                        <div class="form-group">
                                                            <div class="col-sm-3">Historial N°: <br>
                                                                <label><font color="black"><%=data_paciente[0].numeroHistorial%></font></label>
                                                                
                                                            </div>
                                                            <div class="col-sm-3">Area De: <br>
                                                                <label><font color="black"><%=one_internacion[0].especialidad%></font></label> 
                                                            </div>
                                                            <div class="col-sm-3">Ubicacion: <br>
                                                                <label><font color="black"><%=one_internacion[0].Cama.Sala.descripcionSala%></font></label>
                                                            </div>
                                                            <div class="col-sm-3">Cama N°: <br>
                                                                <label><font color="black"><%=one_internacion[0].Cama.numeroCama%></font></label>
                                                            </div>
                                                        </div>
                                                        <br> <br>
                                                        <div class="form-group">
                                                            <p>Datos Generales del Paciente</p>
                                                            <div class="col-sm-3">Nombre Completo: <br>
                                                                <label><font color="black"><%=data_paciente[0].nombre%>  <%=data_paciente[0].apellidop%>  <%=data_paciente[0].apellidom%></font></label>
                                                            </div>
                                                            <div class="col-sm-3">Fecha Nacimiento: <br>
                                                                <label><font color="black"> <%=data_paciente[0].fechanacimiento%></font></label>
                                                            </div>
                                                            <div class="col-sm-3">Sexo: <br>
                                                                <label><font color="black"> <%=data_paciente[0].sexo%></font></label>
                                                            </div>
                                                            <div class="col-sm-3">C.I.: <br>
                                                                <label><font color="black"> <%=data_paciente[0].ci%></font></label>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>                  
                        </div>

                        <!-- 
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                        MODAL NOTAS EVOLUCION
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                         -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">NUEVA NOTA DE EVOLUCION</h4><br>
                                        <span style="color: red">{{nota_evolucion.msg_false}}</span>
                                        <span style="color: blue">{{nota_evolucion.msg}}</span>

                                  </div>
                                  <div class="modal-body"> 
                                    <div class="row">
                                       
                                        <div class="col-lg-12">
                                                
                                            <form @submit="reg_nota_evolucion">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label class="control-label" >Fecha:</label><br>
                                                        <input type="datetime-local" class="form-control" v-model="nota_evolucion.fecha" >
                                                    </div> 
                                                    <div class="col-sm-12"><br><br>
                                                        <label class="control-label">Nota de Evolución:</label>
                                                        <textarea class='form-control autoExpand' rows='2' data-min-rows='2' v-model="nota_evolucion.nota_evolucion"></textarea>
                                                    </div>                       
                                                </div>
                                                <br>
                                                <br>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                                </div>
        
                                            </form> 
                                        </div>
                                        

                                    </div>
                                </div>
                                 
                                </div>
                            </div>
                        </div>
                        <!-- 
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                       MODAL LIST DIAGNOSTICO
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                         -->
                        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      <h4 class="modal-title" id="myModalLabel">LISTA DE DIAGNOSTICOS</h4><br>


                                    </div>
                                    <div class="modal-body">                                    
                                        <div class="row">
                                            <div class="col-lg-12"> 
                                                <section class="panel default blue_title h2">
                                                    
                                                    <div class="panel-body">
                                                        
                                                        <table class="table table-hover">
                                                            <thead>
                                                                    <tr>
                                                                      <th class="text-center">#</th>
                                                                      <th class="text-center">Fecha </th>
                                                                      <th class="text-center">Evolucion</th>
                                                                                                                  
                                    
                                                                      <th class="text-center">Opciones</th> 
                                                                    </tr>
                                                              </thead>
                                                              <tbody v-for="(list, index) in daigTratameinto.listDiagnostico">
                                                              
                                                                 <tr>
                                                                     <td class="text-center">{{index + 1}}</td>
                                                                     <td class="text-center">{{list.fecha}}</td>
                                                                     <td class="text-center">{{list.evolucion}}</td>
                                                                    
                                                                     
                                                                     <td class="text-center"><a @click="one_Diagnostico(list.id)"data-toggle="tooltip" class="btn  tooltips" data-original-title="Registrar_Consulta"><i class="fa fa-eye" style="color:black"></i></a></td>
                                                                 </tr>
                                                                  
                                                            </tbody>
                                                        </table>
                                               
                                                    </div>
                                                </section>
                                            </div>   
                                        </div>
                                    </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        
                                </div>
                                </div>
                            </div>
                        </div>
                         <!-- 
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                    MODAL LIST INTERVENCIONES
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                         -->
                        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      <h4 class="modal-title" id="myModalLabel">LISTA INTERVENCIONES</h4><br>


                                    </div>
                                    <!-- https://codepen.io/vsync/pen/frudD      text tarea auto expandible-->
                                    <div class="modal-body">                                    
                                        <div class="row">
                                            <div class="porlets-content">
                                                <span style="color: red">{{ord_int.msg_false}}</span>
                                                <span style="color: blue">{{ord_int.msg}}</span>

                                                <template v-if="ord_int.one_intervencion == ''">

                                               
                                                    <form @submit="postOrden_Intervencion   " parsley-validate novalidate>

                                                        <div class="form-group">
                                                            <label>FECHA DE LA OPERACION</label>
                                                            <input type="datetime-local"  parsley-trigger="change" required class="form-control" v-model="ord_int.fechaOrden">
                                                        </div><!--/form-group-->
                                                        <div class="form-group">
                                                            <label>CIRUJANO</label>
                                                            <input type="text" v-model="ord_int.nombre_cirujano" parsley-trigger="change" required placeholder="Nombre del Cirujano" class="form-control">
                                                        </div><!--/form-group-->
                                                        <div class="form-group">
                                                            <label>AYUDANTES</label>
                                                             <textarea class='form-control autoExpand' rows='2' data-min-rows='2' required v-model="ord_int.ayudantes"></textarea>
                                                        </div><!--/form-group-->
                                                        <div class="form-group">
                                                            <label>DIAGNOSTICO PRE-OPERATORIO</label>
                                                            <textarea class='form-control autoExpand' rows='2' data-min-rows='2' required v-model="ord_int.diag_pre_operatorio"></textarea>
                                                        </div><!--/form-group-->
                                                        <div class="form-group">
                                                            <label>INTERVENCION PRACTICADA</label>
                                                            <textarea class='form-control autoExpand' rows='2' data-min-rows='2' required v-model="ord_int.intr_parcticada"></textarea>
                                                        </div><!--/form-group-->
                                                        <div class="form-group">
                                                            <label>DIAGNOSTICO POST-OPERATORIO</label>
                                                            <textarea class='form-control autoExpand' rows='2' data-min-rows='2' required v-model="ord_int.diag_pos_operatorio"></textarea>
                                                        </div><!--/form-group-->

                                                    
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            <button class="btn btn-primary" type="submit">Submit</button>
                                                        </div>

                                                    </form>

                                                </template>

                                                <template v-else>
                                                    <form parsley-validate novalidate>

                                                        <div class="form-group">
                                                            <label>FECHA DE LA OPERACION</label>
                                                            <input type="text" readonly parsley-trigger="change" required class="form-control" v-model="ord_int.one_intervencion[0].fechaOrden">
                                                        </div><!--/form-group-->
                                                        <div class="form-group">
                                                            <label>CIRUJANO</label>
                                                            <input type="text"readonly v-model="ord_int.one_intervencion[0].nombre_cirujano" parsley-trigger="change" required placeholder="Nombre del Cirujano" class="form-control">
                                                        </div><!--/form-group-->
                                                        <div class="form-group">
                                                            <label>AYUDANTES</label>
                                                             <textarea class='form-control autoExpand' readonly rows='2' data-min-rows='2' required v-model="ord_int.one_intervencion[0].ayudantes"></textarea>
                                                        </div><!--/form-group-->
                                                        <div class="form-group">
                                                            <label>DIAGNOSTICO PRE-OPERATORIO</label>
                                                            <textarea class='form-control autoExpand'readonly rows='2' data-min-rows='2' required v-model="ord_int.one_intervencion[0].diag_pre_operatorio"></textarea>
                                                        </div><!--/form-group-->
                                                        <div class="form-group">
                                                            <label>INTERVENCION PRACTICADA</label>
                                                            <textarea class='form-control autoExpand'readonly rows='2' data-min-rows='2' required v-model="ord_int.one_intervencion[0].intr_parcticada"></textarea>
                                                        </div><!--/form-group-->
                                                        <div class="form-group">
                                                            <label>DIAGNOSTICO POST-OPERATORIO</label>
                                                            <textarea class='form-control autoExpand' readonly rows='2' data-min-rows='2' required v-model="ord_int.one_intervencion[0].diag_pos_operatorio"></textarea>
                                                        </div><!--/form-group-->


                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>                                                
                                                        </div>
    
                                                    </form>
                                                </template>
                                                
                                            </div><!--/porlets-content-->
                                        </div>
                                    </div>
                               
                                </div>
                            </div>
                        </div>
                       <!-- 
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

                                                                    FORMULARIOS DE INTERNACION

                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<                            
                         -->
                        <template v-if="alta_paciente == false">

                        
                            <div class="col-lg-14">
                                <section class="panel default blue_title h2">
                                    <div class="panel-body">
                                        <ul class="nav nav-tabs" id="myTab">
                                            <li class="active"><a data-toggle="tab" href="#Tab1">NOTAS DE EVOLUCION</a></li>
                                            <li><a data-toggle="tab" href="#Tab2">DIAGNOSTICO</a></li>
                                            <li><a data-toggle="tab" href="#Tab3">LISTA DE OPERACIONES DEL PACIENTE</a></li>
                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            <!-- 
                                                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

                                                                                FORMULARIO PARA PODERA REGISTRAR NOTAS EVOLUCION

                                                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<                            
                                             -->
                                            <div id="Tab1" class="tab-pane fade in active">
                                                <a href="javascript:void(0);" class="add_user" data-toggle="modal" data-target="#myModal"> <i class="fa fa-plus-square"></i> <span>NUEVA NOTA</span> </a>
                                                <br>
                                                <br>
                                                <br>

                                                <template v-for="(list_nota, index) in nota_evolucion.listNotas_evolucion">
                                                    <div class="col-md-4" style="border: black">
                                                        <section class="panel default blue_border vertical_border h1">
                                                            <div class="task-header blue_task">Nota {{index + 1}} <span><i class="fa fa-calendar-o"></i>{{ list_nota.fecha}}</span> </div>
                                                            <div class="row task_inner inner_padding">
                                                                <div class="col-sm-12">
                                                                    <textarea name="" readonly id="" cols="30" rows="20" class="form-control">{{list_nota.nota_evolucion}}</textarea>
                                                                </div>
                                                            </div>                                                
                                                        </section>
                                                    </div>
                                                </template>


                                            </div>
                                            <!-- 
                                                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

                                                                                        FORMULARIO PARA DIAGNOSTICO                       

                                                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<                            
                                             -->
                                         
                                            <div id="Tab2" class="tab-pane fade">
                                                <a href="javascript:void(0);" class="add_user" @click="listaDiagnostico()" data-toggle="modal" data-target="#myModal1"> <i class="fa fa-plus-square"></i> <span>LISTA DE DIAGNOSTICOS</span> </a>
                                                <br>
                                                <br>
                                                <br>
                                                <span style="color: red" >{{daigTratameinto.msg_false}}</span>
                                                <span style="color: blue" >{{daigTratameinto.msg}}</span>

                                                <template v-if="daigTratameinto.one_diagTratamiento == ''">

                                                
                                                    <form @submit="reg_diagnostico"  >
                                                        <div class="form-group">
                                                            <div class="col-sm-12"><br>
                                                                <label class="control-label">fecha:</label>  
                                                                <input type="datetime-local" name="" id="" v-model = "daigTratameinto.fecha">
                                                            </div>                                                
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-sm-12"><br>
                                                                <label class="control-label">EVOLUCION:</label>  
                                                                <textarea class="form-control" name="" cols="50" rows="5" v-model="daigTratameinto.evolucion" ></textarea>
                                                            </div>
                                                        
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="row">

                                                                <div class="header col-sm-12">
                                                                    <br>
                                                                     <h4 class="content-header">Medicamentos</h4>
                                                                </div>&nbsp;&nbsp;

                                                                <div class="col-sm-3"><br>

                                                                    <label class="form-label">Medicamento:</label> 
                                                                    <input class="form-control" type="text" name="" id="" v-model="daigTratameinto.med.medic">
                                                                </div>
                                                                <div class="col-sm-3"> <br>
                                                                    <label class="form-label">Dosis:</label>
                                                                    <input class="form-control" type="text" name="" id="" v-model="daigTratameinto.med.dosis">
                                                                </div>
                                                                <div class="col-sm-3    "><br>
                                                                    <label class="form-label">Frecuencia: </label>
                                                                    <input class="form-control" type="text" name="" id="" v-model="daigTratameinto.med.frecuencia">
                                                                </div>
                                                                <div class="col-sm-3"><br>
                                                                    <div class="actions"> <br>
                                                                        <a  @click="inserMed" class="list-group-item  blue_bg text-center "><i class="fa fa-arrow-left"></i> Insertar</a>
                                                                    </div>
                                                                </div> 

                                                            </div>


                                                        </div>

                                                        <!-- 
                                                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                                                    lista de medicamentos del paciente
                                                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<                                                     
                                                         -->                                                   
                                                        <div class="form-group">
                                                        
                                                            <div class="row">
                                                                <div class="row">
                                                                    <div class="col-lm-12"> 
                                                                        <section class="panel default blue_title h2">

                                                                            <div class="panel-body">

                                                                                <table class="table table-hover">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th class="text-center">#</th>
                                                                                            <th class="text-center">medicamento</th>
                                                                                            <th class="text-center">dosis</th>                                                
                                                                                            <th class="text-center">frecuencia</th>
                                                                                        
                                                                                            <th class="text-center">Opciones</th>	
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody v-for="(list, index) in daigTratameinto.medicamentos">
                                                                                        <tr>
                                                                                            <td class="text-center">{{index + 1}} </td>
                                                                                            <td class="text-center">{{list.medicamento}}</td>
                                                                                            <td class="text-center">{{list.dosis}} </td>
                                                                                            <td class="text-center">{{list.frecuencia}}</td>

                                                                                            <td class="text-center"> <a @click="eliminarMed(index)"> Eliminar </a></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            
                                                                            </div>
                                                                        </section>
                                                                    </div>   
                                                                </div>
                                                            
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-offset-4 col-sm-10">
                                                                <button type="submit" class="btn btn-success btn-icon">Guardar <span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
                                                                <button type="reset"class="btn btn-danger btn-icon" data-dismiss="modal">Cancelar <span>&nbsp;</span><i class="fa fa-times"></i></button>
                                                                <button type="reset"class="btn btn-warning btn-icon"onclick="window.print()"> Imprimir <span>&nbsp;</span><i class="fa fa-print"></i> </button>
                                                            </div>
                                                        </div>
                                                    </form>

                                                </template>

                                                <template v-else>
                                                    <form>
                                                        <div class="form-group">
                                                            <div class="col-sm-12"><br>
                                                                <label class="control-label">fecha:</label>  
                                                                <input type="text" readonly :value="daigTratameinto.one_diagTratamiento[0].fecha">
                                                            </div>                                                
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-sm-12"><br>
                                                                <label class="control-label">EVOLUCION:</label>  
                                                                <textarea class="form-control" name="" cols="50" rows="5" v-model="daigTratameinto.one_diagTratamiento[0].evolucion" ></textarea>
                                                            </div>
                                                        
                                                        </div>
                                                        <div class="header col-sm-12">
                                                            <br>
                                                            <h4 class="content-header">Medicamentos</h4>
                                                        </div>&nbsp;&nbsp;

                                                        <!-- <div class="form-group">
                                                            <div class="row">

                                                                <div class="header col-sm-12">
                                                                    <br>
                                                                     <h4 class="content-header">Medicamentos</h4>
                                                                </div>&nbsp;&nbsp;

                                                                <div class="col-sm-3"><br>

                                                                    <label class="form-label">Medicamento:</label> 
                                                                    <input class="form-control" type="text" name="" id="" v-model="daigTratameinto.med.medic">
                                                                </div>
                                                                <div class="col-sm-3"> <br>
                                                                    <label class="form-label">Dosis:</label>
                                                                    <input class="form-control" type="text" name="" id="" v-model="daigTratameinto.med.dosis">
                                                                </div>
                                                                <div class="col-sm-3    "><br>
                                                                    <label class="form-label">Frecuencia: </label>
                                                                    <input class="form-control" type="text" name="" id="" v-model="daigTratameinto.med.frecuencia">
                                                                </div>
                                                                <div class="col-sm-3"><br>
                                                                    <div class="actions"> <br>
                                                                        <a  @click="inserMed" class="list-group-item  blue_bg text-center "><i class="fa fa-arrow-left"></i> Insertar</a>
                                                                    </div>
                                                                </div> 

                                                            </div>


                                                        </div> -->

                                                        <!-- 
                                                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                                                    lista de medicamentos del paciente
                                                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<                                                     
                                                         -->                                                   
                                                        <div class="form-group">
                                                        
                                                            <div class="row">
                                                                <div class="row">
                                                                    <div class="col-lm-12"> 
                                                                        <section class="panel default blue_title h2">

                                                                            <div class="panel-body">

                                                                                <table class="table table-hover">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th class="text-center">#</th>
                                                                                            <th class="text-center">medicamento</th>
                                                                                            <th class="text-center">dosis</th>                                                
                                                                                            <th class="text-center">frecuencia</th>
                                                                                        
                                                                                            <!-- <th class="text-center">Opciones</th>	 -->
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody v-for="(list, index) in daigTratameinto.one_diagTratamiento[0].medicamentos  ">
                                                                                        <tr>
                                                                                            <td class="text-center">{{index + 1}} </td>
                                                                                            <td class="text-center">{{list.medicamento}}</td>
                                                                                            <td class="text-center">{{list.dosis}} </td>
                                                                                            <td class="text-center">{{list.frecuencia}}</td>

                                                                                            <!-- <td class="text-center"> <a @click="eliminarMed(index)"> Eliminar </a></td> -->
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            
                                                                            </div>
                                                                        </section>
                                                                    </div>   
                                                                </div>
                                                            
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-offset-4 col-sm-10">
                                                                <button type="button" @click="clean_one_diagnostico()" class="btn btn-info btn-icon">volver <span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </template>

                                            </div>
                                             <!-- 
                                                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

                                                                                        FORMULARIO PARA INTERVENCIONES DEL PACIENTE                       

                                                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<                            
                                             -->

                                            <div id="Tab3" class="tab-pane fade">

                                                <a href="javascript:void(0);" @click="ord_int.msg = '', ord_int.msg_false = '', ord_int.one_intervencion = ''" class="add_user" data-toggle="modal" data-target="#myModal2"> <i class="fa fa-plus-square"></i> <span>NUEVA NOTA</span> </a>
                                                <br>
                                                <br>                                       

                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <section class="panel default blue_title h2">
                                                            <div class="panel-heading">
                                                                <span class="h5">Lista de Internaciónes</span> 
                                                            </div>
                                                            <div class="panel-body">
                                                                <div class="table-responsive">
                                                                    <table class="table table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>#</th>
                                                                                <th>Fecha Intervencion</th>
                                                                                <th>Cirujano</th>
                                                                                <th>Intervencion Practicada</th>
                                                                                <th>Ver</th>
                                                                            
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>

                                                                            <template v-for="(list, index) in ord_int.list_operaciones">
                                                                                <tr>
                                                                                    <td>{{index+1}}</td>
                                                                                    <td>{{list.fechaOrden}}</td>
                                                                                    <td>{{list.nombre_cirujano}}</td>
                                                                                    <td>{{list.intr_parcticada}}</td>
                                                                                    <td class="text-center"><a href="javascript:void(0);" data-toggle="modal" data-target="#myModal2" @click="OneOrd_intervencion(list.id)" data-toggle="tooltip" class="btn  tooltips" ><i class="fa fa-eye text-muted"></i></a></td>                                                
                                                                                </tr>
                                                                            </template>
                                                                        
                                                                        
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                    </div>
                                </section>
                            </div>

                        </template> 


                        <!-- 
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<

                                                                    ALTA DEL PACIENTE

                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                            <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<                            
                         -->

                        <template v-else>
                           
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="block-web">
                                        <div class="header">
                                            <div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a><a class="close-down" href="#"><i class="fa fa-times"></i></a> </div>
                                            <h3 class="content-header"> EPICRISIS</h3>
                                        </div>
                                        <div class="porlets-content">
                                            <span style="color: blue">{{epicrisis.msg}}</span>
                                            <span style="color: red">{{epicrisis.msg_false}}</span>
                                            <form @submit="formSubmit" parsley-validate novalidate>
                                                <div class="col-md-14">
                                                    <div class="form-group col-md-6">
                                                        <label>FECHA INTERNACION:</label>
                                                        <input type="date" readonly class='form-control' :value="epicrisis.Fecha_internacion = '<%=one_internacion[0].fechaIngreso%>'">
                                                    </div><!--/form-group-->
                                                    <div class="form-group col-md-6">
                                                        <label>FECHA ALTA:</label>
                                                        <input type="date" class="form-control" v-model = "epicrisis.Fecha_alta">
                                                    </div><!--/form-group-->
                                                </div>
                                                <div class="col-md-14">
                                                    <div class="form-group col-md-6">
                                                        <label>DATOS CLINICOS:</label>
                                                        <textarea class='form-control autoExpand' rows='2' data-min-rows='2' v-model="epicrisis.datos_clinicos"></textarea>
                                                    </div><!--/form-group-->

                                                    <div class="form-group col-md-6">
                                                        <label>DIAGNOSTICO DE ADMINSION:</label>
                                                        <textarea class='form-control autoExpand' rows='2' data-min-rows='2' v-model="epicrisis.diagnostico_admicion"></textarea>                                                   
                                                    </div><!--/form-group-->
                                                </div>                                               
                                    
                                                <div class="col-md-12">
                                                    <div class="col-md-2 row">
                                                        <label>DIAGNOSTICO DE EGRESO:</label>
                                                    </div>
                                                    
                                                    <div class="col-md-10">
                                                        <label class="radio-inline"><input checked="checked" data-val="true" data-val-required="The IsSmallBusiness field is required." id="1"  type="radio" value="Anatomico" v-model="epicrisis.diagnostico_egreso">Anatomico</label>
                                                        <label class="radio-inline"><input id="2"  type="radio" value="Etiologico" v-model="epicrisis.diagnostico_egreso">Etiologico</label>
                                                        <label class="radio-inline"><input id="3"  type="radio" value="Funcional" v-model="epicrisis.diagnostico_egreso">Funcional</labe> 
                                                        <!-- <span class="field-validation-valid help-block" data-valmsg-for="PhoneNumber" data-valmsg-replace="true" ></span> -->
                                                
                                                    </div>
                                                </div> 
                                                <div class="col-md-12 ">
                                                    <div class="col-md-2 row">
                                                        
                                                    </div>
                                                    <div class="col-md-10">
                                                      
                                                    
                                                    </div>
                                                </div>
                                                <div class="col-md-12 ">
                                                    <div class="col-md-2 row">
                                                        <label>CONDICIÓN DE EGRESO:</label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <label class="radio-inline"><input checked="checked" data-val="true" data-val-required="The IsSmallBusiness field is required." id="1"  type="radio" value="Curado" v-model="epicrisis.condicion_egreso">Curado</label>
                                                        <label class="radio-inline"><input id="2"  type="radio" value="Mejorado" v-model="epicrisis.condicion_egreso">Mejorado</label>
                                                        <label class="radio-inline"><input id="3"  type="radio" value="Invariable" v-model="epicrisis.condicion_egreso">Invariable</label>    
                                                        <label class="radio-inline"><input id="4"  type="radio" value="En_estudio" v-model="epicrisis.condicion_egreso">En estudio</label> 
                                                         <!-- <span class="field-validation-valid help-block" data-valmsg-for="PhoneNumber" data-valmsg-replace="true" ></span> -->
                                                    
                                                    </div>
                                                </div>
                                                <div class="col-md-12 ">
                                                    <div class="col-md-2 row">
                                                        
                                                    </div>
                                                    <div class="col-md-10">
                                                      
                                                    </div> 
                                                </div>     
                                                       
                                                <div class="col-md-12">
                                                    <div class="col-md-2 row">
                                                        <label>CAUSAS DE EGRESO :</label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <label class="radio-inline"><input  checked="checked" data-val="true" data-val-required="The IsSmallBusiness field is required." id="1"  type="radio" value="Alta_medica" v-model="epicrisis.causa_egreso"> Alta medica</label>
                                                        <label class="radio-inline"><input id="2"  type="radio" value="alta_solicitada" v-model="epicrisis.causa_egreso"> Alta solicitada</label>
                                                        <label class="radio-inline"><input id="3"  type="radio" value="fuga" v-model="epicrisis.causa_egreso"> Fuga</label>    
                                                        <!-- <span class="field-validation-valid help-block" data-valmsg-for="PhoneNumber" data-valmsg-replace="true" ></span> -->

                                                    </div>
                                                </div>
                                                <div class="col-md-12 ">
                                                    <div class="col-md-2 row">
                                                        
                                                    </div>
                                                    <div class="col-md-10">
                                                      
                                                    </div> 
                                                </div>     
                                                
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>EXAMENES COMPLEMENTARIOS DE DIAGNOSTICOS REALIZADOS:</label>
                                                        <textarea class='form-control autoExpand' rows='2' data-min-rows='2' v-model="epicrisis.examenes_complementario"></textarea>                                                   
                                                    </div><!--/form-group-->
                                                </div>
                                               
                                                <div class="col-md-12 text-center">
                                                    <h6>TRATAMIENTO REALIZADO</h6>                                                        
                                                </div>
                                                <div class="col-md-14">
                                                    <div class="form-group col-md-6">                                                        
                                                        <label>TRATAMIENTO QUIRURGICO:</label>
                                                        <textarea class='form-control autoExpand' rows='2' data-min-rows='2' v-model="epicrisis.tratamiento_quirurgico"></textarea>                                                   
                                                    </div><!--/form-group-->
                                                    <div class="form-group col-md-6">                                                       
                                                        <label>TRATAMIENTO MEDICO:</label>
                                                        <textarea class='form-control autoExpand' rows='2' data-min-rows='2' v-model="epicrisis.tratamiento_medico"></textarea>                                                   
                                                    </div><!--/form-group-->
                                                </div>
                                                
                                                <div class="form-group col-md-12">
                                                    <label>COMPLIACIONES:</label>
                                                    <textarea class='form-control autoExpand' rows='2' data-min-rows='2' v-model="epicrisis.complicaciones"></textarea>                                                   
                                                </div><!--/form-group-->

                                                <div class="col-md-14">
                                                    <div class="form-group col-md-6">
                                                        <label>PRONOSTICO VITAL:</label>
                                                        <textarea class='form-control autoExpand' rows='2' data-min-rows='2' v-model="epicrisis.pronostico_vital"></textarea>                                                   
                                                    </div><!--/form-group-->
                                                    <div class="form-group col-md-6">
                                                        <label>PRONOSTICO FUNCIONAL:</label>
                                                        <textarea class='form-control autoExpand' rows='2' data-min-rows='2' v-model="epicrisis.pronostico_funcional"></textarea>                                                   
                                                    </div><!--/form-group-->
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <label>CONTROL Y TRATAMIENTO A SEGUIR:</label>
                                                    <textarea class='form-control autoExpand' rows='2' data-min-rows='2' v-model="epicrisis.control_tratamiento"></textarea>                                                   
                                                </div><!--/form-group-->

                                                <div class="form-group col-md-12">
                                                    <label>RECOMENDACIONES:</label>
                                                    <textarea class='form-control autoExpand' rows='2' data-min-rows='2' v-model="epicrisis.recomendaciones"></textarea>                                                   
                                                </div><!--/form-group-->
                                               
                                                <div>
                                                    <button class="btn btn-primary" type="submit">Submit</button>
                                                    <button class="btn btn-default">Cancel</button>
                                                </div>
                                                
                                            </form>
                                        </div><!--/porlets-content-->
                                    </div><!--/block-web--> 
                                </div><!--/col-md-6-->
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <%- include("../partials/scripts") -%>
   
   <script src="/js/vue/epicrisis.js"></script>  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/af.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <script>
        // Applied globally on all textareas with the "autoExpand" class
        $(document)
        .one('focus.autoExpand', 'textarea.autoExpand', function(){
            var savedValue = this.value;
            this.value = '';
            this.baseScrollHeight = this.scrollHeight;
            this.value = savedValue;
        })
        .on('input.autoExpand', 'textarea.autoExpand', function(){
            var minRows = this.getAttribute('data-min-rows')|0, rows;
            this.rows = minRows;
            rows = Math.ceil((this.scrollHeight - this.baseScrollHeight) / 16);
            this.rows = minRows + rows;
        });
    </script>
   
</body>
</html>