<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Alergia</title>
    <meta charset="UTF-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
    <link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
    <link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">

    <link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
    <link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />




    <style>
        div.a {
            text-align: center;
        }

        h1.letras {
            font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

        }
    </style>
    <%- include("partials/head") -%>
</head>
<body class=" light_theme  fixed_header left_nav_fixed" >
	<!-- SideBar -->
	


	 <!-- Content page-->
	 <div class="wrapper">
        <!--\\\\\\\ wrapper Start \\\\\\-->
        <div class="header_bar">
            <!--\\\\\\\ header Start \\\\\\-->
            <div class="brand">
                <!--\\\\\\\ brand Start \\\\\\-->
                <div class="logo" style="display:block"><span class="theme_color">Hospital</div>

            </div>
            <!--\\\\\\\ brand end \\\\\\-->
            <div class="header_top_bar">
                <!--\\\\\\\ header top bar start \\\\\\-->
                <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

                <div class="top_right_bar">

                    <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
                                src="/images/user.png" /><span class="user_adminname">John Doe</span> <b
                                class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <div class="top_pointer"></div>
                            <li> <a href="/profile.html"><i class="fa fa-user"></i> Profile</a> </li>
                            <li> <a href="/help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
                            <li> <a href="/settings.html"><i class="fa fa-cog"></i> Setting </a></li>
                            <li> <a href="/login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--\\\\\\\ header top bar end \\\\\\-->
        </div>
        <div class="inner">
            <!--\\\\\\\ inner start \\\\\\-->
            <div class="left_nav">

                <!--\\\\\\\left_nav start \\\\\\-->

                <div class="left_nav_slidebar">
                    <ul>
                        <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span
                                    class="left_nav_pointer"></span> <span class="plus"><i
                                        class="fa fa-plus"></i></span> </a>
                            <ul>
                                <li> <a href="/medico/renderVistaDocotr/<%=especialidad%>"> <span>&nbsp;</span> <i
                                            class="fa fa-circle "></i> <b>Inicio</b> </a> </li>
                            </ul>
                        </li>
                        <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i
                                    class="fa fa-tasks"></i> Consulta Externa<span class="plus"><i
                                        class="fa fa-plus"></i></span></a>
                            <ul class="opened" style="display:block">
                                <li> <a href="/medico/listfalseConsulta/<%=especialidad%>"> <span>&nbsp;</span> <i
                                            class="fa fa-circle"></i> <b class="theme_color">Listas de Citas</b>
                                    </a> </li>
                            </ul>
                        </li>
                        <%- include("partials/footerDocotr") -%>
                    </ul>

                </div>
            </div>
            <!--\\\\\\\left_nav end \\\\\\-->
            <div class="contentpanel">
                <!--\\\\\\\ contentpanel start\\\\\\-->
                <div class="container clear_both padding_fix col-lg-8">
                    <br>
                    <div class="row">


	<!-- Content page-->

	<!-- NavBar -->
	
		<!-- Content page -->
	
		<div class="container-fluid col-md-12" id="">
			<div class="page-header  col-md-6">	
					<h1 class="text-titles"><i class="zmdi zmdi-hospital zmdi-hc-fw"></i> Alergias<small></small></h1>  
			</div><br><br>
			<div class="btn-group  col-md-3">
				<button type="button" class="btn btn-info btn-raised"
					data-toggle="dropdown">
				  Detalles del Paciente <span class="caret"></span>
				</button>
				
				<ul class="dropdown-menu" role="menu">
					<li class="menu__item">
						<a href="/datos_generales_paciente/list_responsables/<%=dataPaciente[0].id%>" class="menu__link">Datos de responsable </a>
					</li>
					<li class="menu__item">
						<a href="/datos_generales_paciente/lista_antecedentes/<%=dataPaciente[0].id%>" class="menu__link">Antecedentes</a>
					</li>
					<li class="menu__item">
						<a href="/datos_generales_paciente/lista_alergias/<%=dataPaciente[0].id%>" class="menu__link">Alergia</a>
					</li>
					<li class="menu__item">
						<a href="/datos_generales_paciente/list_exFisico/<%=dataPaciente[0].id%>" class="menu__link">Examen General</a>
					</li>
					<li class="menu__item">
						<a href="/VerHistorial" class="menu__link">Ver Historial </a>
					</li>
					<li class="menu__item">
							<a href="/ordenLaboratorio" class="menu__link">Orden </a>
						</li>
					<li class="divider"></li>
						  
				</ul>
			  </div> 
		   
			<div id="" class="col-md-2">
		
			  <div class="">
				<a href="/medico/volver" class="btn btn-success btn-raised btn-lg"><i class=""></i>Atras</a>	
			  </div>
			
			</div>
		</div>
  <ul class="list-unstyled full-box dashboard-sideBar-Menu">
        <li>
            <a href="/internaciones/hospitalizacion/<%=especialidad%>">
                <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Home <%=especialidad%>
            </a>
        </li>

        <!-- Emergencias -->
        <li>
            <a href="#!" class="btn-sideBar-SubMenu">
                <i class="zmdi zmdi-hospital-alt zmdi-hc-fw"></i> Hospitalizacion <i class="zmdi zmdi-caret-down pull-right"></i>
            </a>
            <ul class="list-unstyled full-box">
                <li><a href="/internaciones/ListaInternacionF/<%=especialidad%>"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i>Liatas de citas</a></li>

            </ul>
        </li> 
    </ul>
<%- include("partials/footer") -%>
    <section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
        <!-- NavBar -->
        <nav class="full-box dashboard-Navbar">
            <ul class="full-box list-unstyled text-right">
                <li class="pull-left">
                    <a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
                </li>
            </ul>
        </nav>
        <!-- Content page -->
        <div class="container-fluid" >
            <div class="page-header">
                  <h1 class="text-titles"><i class="zmdi zmdi-account-calendar zmdi-hc-fw"></i> Receta de <%=especialidad%> </h1>
            </div>
        </div>
        <div class="container-fluid" id="tableLIst">
            <form v-on:submit="post(<%=data_internacion[0].id%>)" action="#" method="post">
                <div class="grupo" id="cabeza">
                    <h3 class="text-center"> Datos Personales</h3>
                    <div id="cuatro">
                        <div class="entrada">Historial Clinico:<br>
                            
                            <select name="" id="" v-model="historial">
                                <option><%=data_internacion[0].historial%></option>
                            </select>
                        </div>
                        <div class="entrada">Nombre del Paciente:<br>
                            <label><font color="black"><%=One_paciente[0].nombre%> <%=One_paciente[0].apellidop%> <%=One_paciente[0].apellidom%></font></label>
                        </div>
                        <div class="entrada">Fecha de Nacimineto:<br>
                            <label><font color="black"><%=One_paciente[0].fechanacimiento%></font></label>
                        </div>
                        <div class="entrada">Docotor:<br>
                           
                            <select name="" v-model="doctor">
                                <option selected><%=data_internacion[0].doctor%></option>
                            </select>
                        </div>
                    </div>
                    <div id="tres2">                          
                        <div class="entrada">Fecha Prescripcion:<br>
                            <input name="fechaEmicion" type="date"  v-model='fecha_prescripcion'>
                        </div>
                    </div>                    
                </div> 
                <br>
                <div >
                    <p>Datos del Medicamento</p>
                    <div id="cuatro">
                        <div class="entrada">Prescripcion:<br>
                            <input type="text" v-model="prescripcion">
                        </div>
                        <div class="entrada">Intruciones:<br>
                            <input type="text" v-model="instruciones">
                        </div>
                        <div class="entrada">Duracion de Tratamiento:<br>
                            <input type="text" v-model="duracion_tratamiento" >
                        </div>
                        <div class="entrada">Observaciones:<br>
                            <input type="text" v-model="observaciones">
                        </div>                       
                    </div>   
                    <a @click="insertar">Insertar</a>
                    <div>
                        <table class="fl-table" >
                                 <tr>
                                     <th>#</th>
                                     <th>Prescripcion</th>
                                     <th>Intruciones</th>
                                     <th>Duracion de Tratamiento</th>
                                     <th>Observaciones</th>
                                 </tr>
                                <tr v-for="(list, index) in lista">
                                    <td> </td>
                                    <td>{{index + 1}}</td>
                                    <td>{{list.prescripcion}}</td>
                                    <td>{{list.instruciones}}</td>
                                    <td>{{list.duracion_tratamiento}}</td>
                                    <td>{{list.observaciones}}</td>
                                </tr>     
                        </table>
                    </div>             
                    
                </div>                                       
                <p class="text-center">
                    <button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                    <button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                </p>
            </form>
            
        </div>
    </section> 
    <%- include("../partials/scripts") -%> 
    <script src="/js/vue/recetaInternacion.js"></script>
</body>
</html>