<!DOCTYPE html>
<html lang="es">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Formulario de Internación</title>
	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">


	<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/animate.css" rel="stylesheet" type="text/css" />
	<link href="/css/admin.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">
<!--validaciones-->

<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />

	<style>
		div.a {
			text-align: center;
		}

		h1.letras {
			font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

		}
	</style>

</head>
<script type="text/javascript">
	// este scrip es para verificar si esta el token en local starge
	var data = localStorage.getItem('data')
	console.log(data)
	if (data == null){
		window.location.replace('/')
	}
</script>
<body class="light_theme  fixed_header left_nav_fixed">
	<div class="wrapper">
		<div class="header_bar">
			<div class="brand">
				<div class="logo" style="display:block"><span class="theme_color">Hospital</div>
            </div>
			<div class="header_top_bar">
				<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

				<div class="top_right_bar">

					<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
								src="/images/user.png" /><span class="user_adminname">    <%=data_doc.data.medico.nombre%> <%=data_doc.data.medico.apellidop%></span> <b
								class="caret"></b> </a>
						<ul class="dropdown-menu">
							<div class="top_pointer"></div>
							<li> <a href="/profile.html"><i class="fa fa-user"></i> Profile</a> </li>
							<li> <a href="/help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
							<li> <a href="/settings.html"><i class="fa fa-cog"></i> Setting </a></li>
							<li> <a href="/login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="inner">
			<div class="left_nav">

				<!--\\\\\\\left_nav start \\\\\\-->
				<div class="left_nav_slidebar">
					<ul>
						<li class="left_nav_active theme_border"><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span	class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul class="opened" style="display:block">
								<li> <a href="/internaciones/home/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <%=data_doc.data.area_esp.nombre%>  <b ></b>
									</a> </li>
							</ul>
						</li>
					
						<li > <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Liatas de Pacientes <span class="plus"><i class="fa fa-plus"></i></span></a>
							<ul >
								<li> <a href="/internaciones/ListaInternacionF/<%=data_doc.data.area_esp.id%>/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i>
										<b class="theme_color" >Listas de Internación</b>
									</a> </li>
								<li> <a href="/hospitalizacion/alergiasvis"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i>
									<b >prueba</b>
								</a> </li>
								

							</ul>
						</li>
				

					</ul>
				</div>
			</div>
			<div class="contentpanel"> <br> <br>
                <!--  -->
                <div class="row">
                   
                    <!-- 
                        <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                        <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                        <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                                                                FORMULARIO DE INTERNACION
                        <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                        <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                     -->
                    <div class="col-lg-8">
                        <section class="panel default blue_title h2">
                            
                            <div class="panel-body">
                                      
                                      
                                      
                                <div id="accordion" class="panel-group  accordion accordion-color">
                                    <div class="panel panel-default">
                                      <div class="panel-heading success">
                                        <h4 class="panel-title ">
                                          <a href="#collapse4" data-parent="#accordion" data-toggle="collapse" class="">
                                           Datos generales del paciente
                                          </a>
                                        </h4>
                                      </div>
                                      <div class="panel-collapse collapse in" id="collapse4" style="height: auto;">
                                        <div class="panel-body">
                                                <div class="col-md-12 panel-body">
                                                        <div class="col-md-12">
                                                            <div class="col-md-6">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">N° Historial</label>
                                                                    <select class="form-control" name="historial">
                                                                        <option><%=Pint[0].Historial%></option>
                                                                       
                                                                    </select>
                                                                </div>
            
                                                                <%if(Pint[0].tipoConsulta == "emeregencia") { %>
                                                               
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Fecha Nacimiento</label>
                                                                    <input class="form-control" type="text" readonlyvalue="<%=Pint[0].emergencium.Citas_Medica.Paciente.fechanacimiento%>">    
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">Fecha de Ingreso a Sala</label>
                                                                    <input class="form-control" type="date" name="fechaIngreso">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Nombres y Apellidos</label>
                                                                    <input class="form-control" type="text" readonly value="<%=Pint[0].emergencium.Citas_Medica.Paciente.nombre%> <%=Pint[0].emergencium.Citas_Medica.Paciente.apellidop%> <%=Pint[0].emergencium.Citas_Medica.Paciente.apellidom%>">
                                                                </div>
                                                                <% }  else {%> 
                                                                    <div class="form-group label-floating">
                                                                        <label class="control-label">Fecha Nacimiento</label>
                                                                        <input class="form-control" type="text" readonly value="<%=Pint[0].Consulta.Citas_Medica.Paciente.fechanacimiento%>">    
                                                                    </div>
                                                                   
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group label-floating">
                                                                        <label class="control-label">Nombres y Apellidos</label>
                                                                        <input class="form-control" type="text" readonly value="<%=Pint[0].Consulta.Citas_Medica.Paciente.nombre%> <%=Pint[0].Consulta.Citas_Medica.Paciente.apellidop%> <%=Pint[0].Consulta.Citas_Medica.Paciente.apellidom%>">
                                                                    </div>
                                                                <% } %>    
            
                                                    
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Proviene de:</label>
                                                                    <select class="form-control" name="provieneDE">
                                                                        <option><%=Pint[0].tipoConsulta%></option>
                                                                        
                                                                    </select>
                                                                </div>               
                                                            </div>
                                                         </div>
                                                </div>
                                        </div>
                                      </div>
                                    </div>
                        
        
                            </div>
                                      
                                      
                            </div>
                        </section>
                      <section class="panel green_border horizontal_border_2">
                        <div class="block-web">
                            <div class="header">
                                <div class="actions"> <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a> <a href="#" class="refresh"><i class="fa fa-repeat"></i></a> <a href="#" class="close-down"><i class="fa fa-times"></i></a> </div>
                                <h3>Formulario de internacion</h3>
                            </div>
                            <div class="porlets-content">

                                    <div class="container-fluid">
                                        
                                            <div class="row">
                                                
                                                <div class="col-xs-12">
                                                        <% if(msg != null) { %>
                                                            <% if(msg.data.success == true) { %>
                                                              <span style="color: blue"> <%=msg.data.data_p%></span>
                                                            <% } else { %>
                                                              <span style="color: red"> <%=msg.data.data_p%></span>
                                                            <% } %>  
                                                          <% } %>
                                                        <%if(formUpdate_internacion == "") { %>
                                                            <%if (data_post == null) {%>
                                                                
                                                            <form action="/internaciones/internacion/<%=Pint[0].id%>/<%=data_doc.data.token_id%>" method="POST">
        
                                                                <input type="hidden" name="id_especialidad" value="<%=data_doc.data.area_esp.id%>">
                                                                <input type="hidden" name="id_user" value="<%=data_doc.data.token_id%>">
                                                                <input type="hidden" name="historial" value="<%=Pint[0].Historial%>">
                                                                <input type="hidden" name="provieneDE" value="<%=Pint[0].tipoConsulta%>">
        
                                                                <h2 class="text-center all-tittles">FORMULARIO DE INTERNACION</h2>

                                                                <div class="col-md-12 panel-body">
                                                                    <div class="col-md-12">
                                                                        <div class="col-md-6">                               
                                                                            <div class="form-group">
                                                                                <label class="control-label">Fecha de Ingreso a Sala</label>
                                                                                <input class="form-control" type="date" name="fechaIngreso">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xs-6">
                                                                            <div class="form-group ">
                                                                                <label class="control-label">Nombre Doctor</label>
                                                                                <input class="form-control" readonly type="text" name="doctor" value="<%=data_doc.data.medico.nombre%> <%=data_doc.data.medico.apellidop%> <%=data_doc.data.medico.apellidom%>">
                                                                            </div>
                                                                        </div>
                                                                    </div>  
                                                                </div>
                                                            
                                                                <div class="col-md-12 panel-body" id="options">
                                                                    <div class="col-md-12">
                                                                        <div class="col-md-4">
                                                                            <div class="form-group label-floating" >
                                                                                <label class="control-label"  >Especialidad</label>
                                                                                <select class="form-control" name="especialidad"  v-model="mensaje" @click="agregar">
                                                                                    <option value="" disabled>Selecione</option>
                                                                                    <option><%=Pint[0].especialidad%></option>                                                                                                  
                                                                                </select>                                      
                                                                            </div>
                                                                        </div>                                                
                                                                        <div class="col-md-4">
                                                                            <div class="form-group label-floating" >
                                                                                <label class="control-label">Descricion</label>
                                                                                <select class="form-control" name="sala" v-model="salaID" @click="traer">  
                                                                                    <option value="" disabled>Selecione</option>                                                              
                                                                                    <option v-for="item in mostrar" :value="item.id">{{item.descripcionSala}}</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">                                                    
                                                                            <div class="form-group label-floating">
                                                                                <label class="control-label">Cama</label>
                                                                                <select class="form-control" name="cama">   
                                                                                    <option value="" disabled>Selecione</option>
                                                                                    <option v-for="item of camas" :value="item.id" >Cama N° {{item.numeroCama}}</option>                                                            
                                                                                </select>
                                                                            </div>
                                                                         </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                        <section class="panel default blue_title h2">
                                                                          
                                                                          <div class="panel-body">
                                                                            <ul class="nav nav-tabs" id="myTab">
                                                                              <li class="active"><a style="color: rgb(31, 178, 236)" data-toggle="tab" href="#Tab1">Diagnostico de prescripcion</a></li>
                                                                              <li><a style="color: rgb(31, 178, 236)"  data-toggle="tab" href="#Tab2">Observaciones</a></li>
                                                                              
                                                                            </ul>
                                                                            <div class="tab-content" id="myTabContent">
                                                                              <div id="Tab1" class="tab-pane fade in active">

                                                                                <div class="col-xs-12 ">
                                                                                    <textarea name="diagnostico"  cols="135" rows="5"></textarea>
                                                                                </div>
                                                                                
                                                                              </div>
                                                                              <div id="Tab2" class="tab-pane fade">
                                                                                <div class="col-xs-12 ">
                                                                                    <textarea name="observacion"  cols="135" rows="5"></textarea>
                                                                                </div>
                                                                              </div>
                                                                             
                                                                            </div>
                                                                          </div>
                                                                        </section>
                                                                      </div>           
                                                                <p class="text-center">
                                                                    <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                                                    <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                                                                </p>
                                                            </form>

                                                            <% } else { %>
                                                                <form action="/internaciones/internacion/<%=Pint[0].id%>/<%=data_doc.data.token_id%>" method="POST">
        
                                                                    <input type="hidden" name="id_especialidad" value="<%=data_doc.data.area_esp.id%>">
                                                                    <input type="hidden" name="id_user" value="<%=data_doc.data.token_id%>">
                                                                    <input type="hidden" name="historial" value="<%=Pint[0].Historial%>">
                                                                    <input type="hidden" name="provieneDE" value="<%=Pint[0].tipoConsulta%>">
            
                                                                    <h2 class="text-center all-tittles">FORMULARIO DE INTERNACION</h2>
    
                                                                    <div class="col-md-12 panel-body">
                                                                        <div class="col-md-12">
                                                                            <div class="col-md-6">                               
                                                                                <div class="form-group">
                                                                                    <label class="control-label">Fecha de Ingreso a Sala</label>
                                                                                    <input class="form-control" type="date" name="fechaIngreso">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6">
                                                                                <div class="form-group ">
                                                                                    <label class="control-label">Nombre Doctor</label>
                                                                                    <input class="form-control" readonly type="text" name="doctor" value="<%=data_doc.data.medico.nombre%> <%=data_doc.data.medico.apellidop%> <%=data_doc.data.medico.apellidom%>">
                                                                                </div>
                                                                            </div>
                                                                        </div>  
                                                                    </div>
                                                                
                                                                    <div class="col-md-12 panel-body" id="options">
                                                                        <div class="col-md-12">
                                                                            <div class="col-md-4">
                                                                                <div class="form-group label-floating" >
                                                                                    <label class="control-label"  >Especialidad</label>
                                                                                    <select class="form-control" name="especialidad"  v-model="mensaje" @click="agregar">
                                                                                        <option value="" disabled>Selecione</option>
                                                                                        <option><%=Pint[0].especialidad%></option>                                                                                                  
                                                                                    </select>                                      
                                                                                </div>
                                                                            </div>                                                
                                                                            <div class="col-md-4">
                                                                                <div class="form-group label-floating" >
                                                                                    <label class="control-label">Descricion</label>
                                                                                    <select class="form-control" name="sala" v-model="salaID" @click="traer">  
                                                                                        <option value="" disabled>Selecione</option>                                                              
                                                                                        <option v-for="item in mostrar" :value="item.id">{{item.descripcionSala}}</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4">                                                    
                                                                                <div class="form-group label-floating">
                                                                                    <label class="control-label">Cama</label>
                                                                                    <select class="form-control" name="cama">   
                                                                                        <option value="" disabled>Selecione</option>
                                                                                        <option v-for="item of camas" :value="item.id" >Cama N° {{item.numeroCama}}</option>                                                            
                                                                                    </select>
                                                                                </div>
                                                                             </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                            <section class="panel default blue_title h2">
                                                                              
                                                                              <div class="panel-body">
                                                                                <ul class="nav nav-tabs" id="myTab">
                                                                                  <li class="active"><a style="color: rgb(31, 178, 236)" data-toggle="tab" href="#Tab1">Diagnostico de prescripcion</a></li>
                                                                                  <li><a style="color: rgb(31, 178, 236)"  data-toggle="tab" href="#Tab2">Observaciones</a></li>
                                                                                  
                                                                                </ul>
                                                                                <div class="tab-content" id="myTabContent">
                                                                                  <div id="Tab1" class="tab-pane fade in active">
    
                                                                                    <div class="col-xs-12 ">
                                                                                        <textarea name="diagnostico"  cols="135" rows="5"><%=data_post.data.diagnostico%></textarea>
                                                                                    </div>
                                                                                    
                                                                                  </div>
                                                                                  <div id="Tab2" class="tab-pane fade">
                                                                                    <div class="col-xs-12 ">
                                                                                        <textarea name="observacion"  cols="135" rows="5"><%=data_post.data.observacion%></textarea>
                                                                                    </div>
                                                                                  </div>
                                                                                 
                                                                                </div>
                                                                              </div>
                                                                            </section>
                                                                          </div>           
                                                                    <p class="text-center">
                                                                        <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                                                        <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                                                                    </p>
                                                                </form>
                                                            <% } %>
                                                            <% } else { %>
                                                                <form action="/internaciones/update_Form_internacion/<%=formUpdate_internacion[0].id%>/<%=formUpdate_internacion[0].idCama%>/<%=data_doc.data.token_id%>" method="POST">
        
                                                                    <input type="hidden" name="id_especialidad" value="<%=data_doc.data.area_esp.id%>">
                                                                    <input type="hidden" name="id_user" value="<%=data_doc.data.token_id%>">
                                                                    <input type="hidden" name="historial" value="<%=Pint[0].Historial%>">
                                                                    <input type="hidden" name="provieneDE" value="<%=Pint[0].tipoConsulta%>">

                                                                    <input type="hidden" name="idPinternacion" value="<%=formUpdate_internacion[0].idPinternacion%>">
                                                                                
                                                                    <h2 class="text-center all-tittles">FORMULARIO DE ACTUALIZACION</h2>
    
                                                                    <div class="col-md-12 panel-body">
                                                                        <div class="col-md-12">
                                                                            <div class="col-md-6">                               
                                                                                <div class="form-group">
                                                                                    <label class="control-label">Fecha de Ingreso a Sala</label>
                                                                                    <input class="form-control" type="text" name="fechaIngreso" value="<%=formUpdate_internacion[0].fechaIngreso%>" readonly>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-xs-6">
                                                                                <div class="form-group ">
                                                                                    <label class="control-label">Nombre Doctor</label>
                                                                                    <input class="form-control" readonly type="text" name="doctor" value="<%=data_doc.data.medico.nombre%> <%=data_doc.data.medico.apellidop%> <%=data_doc.data.medico.apellidom%>">
                                                                                </div>
                                                                            </div>
                                                                        </div>  
                                                                    </div>
                                                                
                                                                    <div class="col-md-12 panel-body" id="options">
                                                                        <div class="col-md-12">
                                                                            <div class="col-md-4">
                                                                                <div class="form-group label-floating" >
                                                                                    <label class="control-label"  >Especialidad</label>
                                                                                    <select class="form-control" name="especialidad"  v-model="mensaje" @click="agregar">
                                                                                        <option value="" disabled>Selecione</option>
                                                                                        <option><%=Pint[0].especialidad%></option>                                                                                                  
                                                                                    </select>                                      
                                                                                </div>
                                                                            </div>                                                
                                                                            <div class="col-md-4">
                                                                                <div class="form-group label-floating" >
                                                                                    <label class="control-label">Sala</label>
                                                                                    <select class="form-control" name="sala" v-model="salaID" @click="traer">
                                                                                        <option value="" disabled>Selecione</option>
                                                                                        <option value="<%=formUpdate_internacion[0].sala%>"><%=formUpdate_internacion[0].Cama.Sala.descripcionSala%></option>
                                                                                        <option value="" disabled> ---------------------- </option>                                                                
                                                                                        <option v-for="item in mostrar" :value="item.id">{{item.descripcionSala}}</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-4">                                                    
                                                                                <div class="form-group label-floating">
                                                                                    <label class="control-label">Cama</label>
                                                                                    <select class="form-control" name="cama">   
                                                                                        <option value="" disabled>Selecione</option>
                                                                                        <option value="<%=formUpdate_internacion[0].cama%>">Cama N° <%=formUpdate_internacion[0].Cama.numeroCama%></option>
                                                                                        <option value="" disabled> ---------------------- </option>                                                         
                                                                                        <option v-for="item of camas" :value="item.id" >
                                                                                           
                                                                                                Cama N° {{item.numeroCama}}
                                                                                                                                                                                
                                                                                        </option>                                                            
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12">
                                                                            <section class="panel default blue_title h2">
                                                                              
                                                                              <div class="panel-body">
                                                                                <ul class="nav nav-tabs" id="myTab">
                                                                                  <li class="active"><a style="color: rgb(31, 178, 236)" data-toggle="tab" href="#Tab1">Diagnostico de prescripcion</a></li>
                                                                                  <li><a style="color: rgb(31, 178, 236)"  data-toggle="tab" href="#Tab2">Observaciones</a></li>
                                                                                  
                                                                                </ul>
                                                                                <div class="tab-content" id="myTabContent">
                                                                                  <div id="Tab1" class="tab-pane fade in active">
    
                                                                                    <div class="col-xs-12 ">
                                                                                        <textarea name="diagnostico"  cols="135" rows="5"><%=formUpdate_internacion[0].diagnostico%></textarea>
                                                                                    </div>
                                                                                    
                                                                                  </div>
                                                                                  <div id="Tab2" class="tab-pane fade">
                                                                                    <div class="col-xs-12 ">
                                                                                        <textarea name="observacion"  cols="135" rows="5"><%=formUpdate_internacion[0].observacion%></textarea>
                                                                                    </div>
                                                                                  </div>
                                                                                 
                                                                                </div>
                                                                              </div>
                                                                            </section>
                                                                          </div>      
                                                                          <%if (formUpdate_internacion[0].estado_update == true) {%>     
                                                                            <p class="text-center">
                                                                                <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                                                                <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                                                                            </p>
                                                                        <% } %>
                                                                </form>
                                                            <% } %>
                                                </div>
        
                                            </div>
                                        </div>
                               
                            </div>
                        </div>
                      </section>
                    </div>
                    <!-- 
                        <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                        <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                        <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                                                                lISTA DE INTERNACIONES DEL PACIENTE
                        <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                        <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                     -->
                    <div class="col-lg-4">
                        <section class="panel default red_border vertical_border h1">
                            <div class="block-web">
                                <div class="header">
                                    <div class="actions"> <a href="#" class="minimize"><i class="fa fa-chevron-down"></i></a> <a href="#" class="refresh"><i class="fa fa-repeat"></i></a> <a href="#" class="close-down"><i class="fa fa-times"></i></a> </div>
                                    <h3>Lista de Internacines del paciente</h3>
                                </div>
                                <div class="porlets-content">

                                    <div class="container-fluid">
                                        <div class="row">
                                                    
                                            <div class="col-xs-12">
                                                <table class="display table table-bordered table-striped" id="dynamic-table">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">#</th>
                                                            <th >N° de historia </th>
                                                            <th >Fecha de Internacion</th>	
                                                            <th >Sala</th>	
                                                            <th class="" WIDTH="20%">N° Cama</th>	
                                                            <th class="" WIDTH="20%">Doctor</th>
                                                            
                                                            <th class="text-center" WIDTH="20%">Ver</th>  
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if(paciente_internacion != null) { %>
                                                        
                                                            <% for(var i=0; i< paciente_internacion.length; i++) { %>
                                                            <tr>
                                                                <td><%= i + 1 %></td>
                                                                <td><%=paciente_internacion[i].historial %></td>
                                                                <td><%=paciente_internacion[i].fechaIngreso %></td>
                                                                <td><%=paciente_internacion[i].Cama.Sala.descripcionSala %></td>
                                                                <td><%=paciente_internacion[i].Cama.numeroCama %></td>
                                                                <td><%=paciente_internacion[i].doctor %></td>
                                                               
                                                                <td class="text-center" ><a href="/internaciones/only_pInternacion/<%=paciente_internacion[i].idPinternacion%>/<%=paciente_internacion[i].provieneDE%>/<%=paciente_internacion[i].historial %>/<%=data_doc.data.token_id%>" class="btn btn-success"><i class="zmdi zmdi-refresh">ver</i></a></td>
                                                        
                                                            </tr>
                                                            <% } %>
                                                        <% } else { %>
                                                            <tr>
                                                                <td> no hay datos </td>
                                                            </tr>
                                                        <% } %>							
                                                    </tbody>
                                                </table>     
                                            </div>
                                        </div>
                                    </div>                                                                 

                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
	    
    <!--====== Scripts -->

    <!--====== Scripts -->
    




	
	<script src="/js/get/consultaget.js"></script>	
	
	<script src="/js/get/consultaget.js"></script>


    <script src="/js/jquery-2.1.0.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/common-script.js"></script>
    <script src="/js/jquery.slimscroll.min.js"></script>

    <script src="/plugins/data-tables/jquery.dataTables.js"></script>
    <script src="/plugins/data-tables/DT_bootstrap.js"></script>
	<script src="/plugins/data-tables/dynamic_table_init.js"></script>
	<script src="/plugins/data-tables/dynamic_table_init2.js"></script>
    <script src="/plugins/edit-table/edit-table.js"></script>
    <script>
        jQuery(document).ready(function () {
            EditableTable.init();
        });
    </script>
    <script>
        /*==Porlets Actions==*/
        $('.minimize').click(function(e){
          var h = $(this).parents(".header");
          var c = h.next('.porlets-content');
          var p = h.parent();
          
          c.slideToggle();
          
          p.toggleClass('closed');
          
          e.preventDefault();
        });
        
        $('.refresh').click(function(e){
          var h = $(this).parents(".header");
          var p = h.parent();
          var loading = $('<div class="loading"><i class="fa fa-refresh fa-spin"></i></div>');
          
          loading.appendTo(p);
          loading.fadeIn();
          setTimeout(function() {
            loading.fadeOut();
          }, 1000);
          
          e.preventDefault();
        });
        
        $('.close-down').click(function(e){
          var h = $(this).parents(".header");
          var p = h.parent();
          
          p.fadeOut(function(){
            $(this).remove();
          });
          e.preventDefault();
        });    
    </script>

    <script src="/js/jPushMenu.js"></script>
    <script src="/js/side-chats.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	<script src="/axios/dist/axios.min.js"></script>
	<script src="/js/get/getECP.js"></script>
</body>
</html>