<!DOCTYPE html>
<html lang="es">
<head>
	<title>Formulario de Internacion</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("../partials/head") -%>
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
    <%- include("partials/menu") -%>
      <!-- SideBar Menu Hospital-->
	  <ul class="list-unstyled full-box dashboard-sideBar-Menu">
		<li>
			<a href="/internaciones/hospitalizacion/<%=especialidad%>">
				<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Home <%=especialidad%>
			</a>
		</li>
				   
		<!-- Emergencias -->
		<li>
			<a href="#!" class="btn-sideBar-SubMenu">
				<i class="zmdi zmdi-hospital-alt zmdi-hc-fw"></i> Hospitalizacion <i class="zmdi zmdi-caret-down pull-right"></i>
			</a>
			<ul class="list-unstyled full-box">
				<li><a href="/internaciones/ListaInternacionF/<%=especialidad%>"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i>Liatas de citas</a></li>
						  
			</ul>
		</li> 
		</ul>
	<%- include("partials/footer") -%>
    <!-- Content page-->
	<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
			</ul>
		</nav>
        <!-- Content page -->
        <div id="prueva">
        </div>
		<div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles"><i class="zmdi zmdi-male-female zmdi-hc-fw"></i>Pacientes Internados</h1>
			</div>
        </div>
        <!--Internacion de Pacientes-->
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="new">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                                <li class="active"><a href="#new" data-toggle="tab">Lista</a></li>
                                <li><a href="#list" data-toggle="tab">Formulario de Internación</a></li>
                            </ul>
                            <!--Lista de Pacientes Internados -->
                            <div id="myTabContent" class="tab-content">
                               <div class="tab-pane fade active in" id="new">
                                <table class="fl-table " id="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="" WIDTH="15%">N° de historia </th>
                                            <th class="" WIDTH="20%">Fecha de Internacion</th>	
                                            <th class="" WIDTH="20%">Sala</th>	
                                            <th class="" WIDTH="20%">N° Cama</th>	
                                            <th class="" WIDTH="20%">Doctor</th>
                                            <th class="" WIDTH="20%">Dar Receta</th>
                                            <th class="" WIDTH="20%">Diagnostico </th>
                                            <th class="" WIDTH="20%">Laboratorios</th>
                                            <th class="text-center" WIDTH="20%">Ver</th>  
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(paciente_internacion != null) { %>
                                        
                                        <% for(var i=0; i< paciente_internacion.length; i++) { %>
                                            <tr>
                                                <td><%= i + 1 %></td>
                                                <td><%=paciente_internacion[i].historial %></td>
                                                <td><%=paciente_internacion[i].fechaIngreso %></td>
                                                <td><%=paciente_internacion[i].Cama.Sala.descripcionSala %></td>
                                                <td><%=paciente_internacion[i].Cama.numeroCama %></td>
                                                <td><%=paciente_internacion[i].doctor %></td>
                                                <td class="text-center" ><a href="/internaciones/traerInternacion/<%=paciente_internacion[i].id%>" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
                                                <td class="text-center" ><a href="#" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
                                                <td class="text-center" ><a href="#" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
                                                <td class="text-center" ><a href="/internaciones/only_pInternacion/<%=paciente_internacion[i].idPinternacion%>/<%=paciente_internacion[i].provieneDE%>/<%=paciente_internacion[i].historial %>" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
                                                
                                            </tr>
                                            <% } %>
                                    <% } else { %>
                                        <tr>
                                            <td> no hay datos </td>
                                        </tr>
                                    <% } %>							
                                </tbody>
                            </table>
                        
                                </div>
                        <!--Registro de  Pacientes Internados-->
                        
                        <div class="tab-pane fade" id="list">
                            <div class="container-fluid">
                                <div class="row">
                                    <%if(formUpdate_internacion == "") { %>
                                    <form action="/internaciones/internacion/<%=Pint[0].id%>" method="POST">
                                        <h2 class="text-center all-tittles">FORMULARIO DE INTERNACION</h2>
                                        
                                        <div class="grupo" id="cabeza">
                                                <div class="col-md-12 panel-body">
                                                        <div class="col-md-12">
                                                            <div class="col-md-6">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">N° Historial</label>
                                                                    <select class="form-control" name="historial">
                                                                        <option><%=Pint[0].Historial%></option>
                                                                       
                                                                    </select>
                                                                </div>
            
                                                                <%if(Pint[0].tipoConsulta == "emeregencia") { %>
                                                               
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Fecha Nacimiento</label>
                                                                    <input class="form-control" type="text" value="<%=Pint[0].emergencium.Citas_Medica.Paciente.fechanacimiento%>">    
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="control-label">Fecha de Ingreso a Sala</label>
                                                                    <input class="form-control" type="date" name="fechaIngreso">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Nombres y Apellidos</label>
                                                                    <input class="form-control" type="text" value="<%=Pint[0].emergencium.Citas_Medica.Paciente.nombre%> <%=Pint[0].emergencium.Citas_Medica.Paciente.apellidop%> <%=Pint[0].emergencium.Citas_Medica.Paciente.apellidom%>">
                                                                </div>
                                                                <% }  else {%> 
                                                                    <div class="form-group label-floating">
                                                                        <label class="control-label">Fecha Nacimiento</label>
                                                                        <input class="form-control" type="text" value="<%=Pint[0].Consulta.Citas_Medica.Paciente.fechanacimiento%>">    
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="control-label">Fecha de Ingreso a Sala</label>
                                                                        <input class="form-control" type="date" name="fechaIngreso">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group label-floating">
                                                                        <label class="control-label">Nombres y Apellidos</label>
                                                                        <input class="form-control" type="text" value="<%=Pint[0].Consulta.Citas_Medica.Paciente.nombre%> <%=Pint[0].Consulta.Citas_Medica.Paciente.apellidop%> <%=Pint[0].Consulta.Citas_Medica.Paciente.apellidom%>">
                                                                    </div>
                                                                <% } %>    
            
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Tipo de Paciente</label>
                                                                    <select class="form-control" name="tipoPaciente">
                                                                        <option>INSTITUCIONAL</option>
                                                                        <option>COMBENIO</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Institucion</label>
                                                                    <select class="form-control" name="institucion">
                                                                        <option>NINGUNO</option>
                                                                        <option>CAJA NACIONAL DE SALUD</option>
                                                                        <option>CAJA PETROLERA DE SALUD</option>
                                                                        <option>SEGURO UNIVERSITARIO</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group label-floating">
                                                                    <label class="control-label">Proviene de:</label>
                                                                    <select class="form-control" name="provieneDE">
                                                                        <option><%=Pint[0].tipoConsulta%></option>
                                                                        
                                                                    </select>
                                                                </div>               
                                                            </div>
                                                         </div>
                                                    </div>
                                        </div>

                                        <div class="col-xs-12 col-md-10 col-md-offset-1">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Observaciones</label>
                                                <input class="form-control" type="text" name="observacion">
                                            </div>
                                        </div>
                                        <div class="col-md-12 panel-body" id="options">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <div class="form-group label-floating" >
                                                        <label class="control-label"  >Especialidad</label>
                                                        <select class="form-control" name="especialidad"  v-model="mensaje" @click="agregar">
                                                            <option>Selecione</option>
                                                            <option><%=Pint[0].especialidad%></option>                                                                                                  
                                                        </select>                                      
                                                    </div>
                                                </div>                                                
                                                <div class="col-md-4">
                                                    <div class="form-group label-floating" >
                                                        <label class="control-label">Descricion</label>
                                                        <select class="form-control" name="sala" v-model="salaID" @click="traer">                                                                
                                                            <option v-for="item in mostrar" :value="item.id">{{item.descripcionSala}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">                                                    
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Cama</label>
                                                        <select class="form-control" name="cama">                                                            
                                                            <option v-for="item of camas" :value="item.id" >Cama N° {{item.numeroCama}}</option>                                                            
                                                        </select>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-10 col-md-offset-1">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Nombre Doctor</label>
                                                <input class="form-control" type="text" name="doctor">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-10 col-md-offset-1">
                                            <div class="form-group label-floating">
                                                <label class="control-label">Diagnostico de Prescripcion</label>
                                                <input class="form-control" type="text" name="diagnostico">
                                            </div>
                                        </div>
                                        <p class="text-center">
                                            <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                            <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                                        </p>
                                    </form>
                                    <% } else { %>
                                        <form action="/internaciones/update_Form_internacion/<%=formUpdate_internacion[0].id%>/<%=formUpdate_internacion[0].idCama%>" method="POST">
                                            <h2 class="text-center all-tittles">ACTUALIZAR FORMULARIO DE INTERNACION  </h2>
                                            <div class="col-md-12 panel-body">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">N° Historial</label>
                                                            <select class="form-control" name="historial">
                                                                <option><%=Pint[0].Historial%></option>
                                                               
                                                            </select>
                                                        </div>
    
                                                        <%if(Pint[0].tipoConsulta == "emeregencia") { %>
                                                       
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Fecha Nacimiento</label>
                                                            <input class="form-control" type="text" value="<%=Pint[0].emergencium.Citas_Medica.Paciente.fechanacimiento%>">    
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label">Fecha de Ingreso a Sala</label>
                                                            <input class="form-control" type="date" name="fechaIngreso">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Nombres y Apellidos</label>
                                                            <input class="form-control" type="text" value="<%=Pint[0].emergencium.Citas_Medica.Paciente.nombre%> <%=Pint[0].emergencium.Citas_Medica.Paciente.apellidop%> <%=Pint[0].emergencium.Citas_Medica.Paciente.apellidom%>">
                                                        </div>
                                                        <% }  else {%> 
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Fecha Nacimiento</label>
                                                                <input class="form-control" type="text" value="<%=Pint[0].Consulta.Citas_Medica.Paciente.fechanacimiento%>">    
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Fecha de Ingreso a Sala</label>
                                                                <input class="form-control" type="date" name="fechaIngreso" value="<%=formUpdate_internacion[0].fechaIngreso%>">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group label-floating">
                                                                <label class="control-label">Nombres y Apellidos</label>
                                                                <input class="form-control" type="text" value="<%=Pint[0].Consulta.Citas_Medica.Paciente.nombre%> <%=Pint[0].Consulta.Citas_Medica.Paciente.apellidop%> <%=Pint[0].Consulta.Citas_Medica.Paciente.apellidom%>">
                                                            </div>
                                                        <% } %>    
    
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Tipo de Paciente</label>
                                                            <select class="form-control" name="tipoPaciente">
                                                                <option><%=formUpdate_internacion[0].tipoPaciente%></option>
                                                                <option> ---------------------- </option>
                                                                <option>INSTITUCIONAL</option>
                                                                <option>COMBENIO</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Institucion</label>
                                                            <select class="form-control" name="institucion">
                                                                <option><%=formUpdate_internacion[0].institucion%></option>
                                                                <option> ---------------------- </option>
                                                                <option>NINGUNO</option>
                                                                <option>CAJA NACIONAL DE SALUD</option>
                                                                <option>CAJA PETROLERA DE SALUD</option>
                                                                <option>SEGURO UNIVERSITARIO</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Proviene de:</label>
                                                            <select class="form-control" name="provieneDE">
                                                                <option><%=Pint[0].tipoConsulta%></option>
                                                                
                                                            </select>
                                                        </div>               
                                                    </div>
                                                 </div>
                                            </div>
                                            <div class="col-xs-12 col-md-10 col-md-offset-1">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Observaciones</label>
                                                    <input class="form-control" type="text" name="observacion" value="<%=formUpdate_internacion[0].observacion%>">
                                                </div>
                                            </div>
                                            <div class="col-md-12 panel-body" id="options">
                                                <div class="col-md-12">
                                                    <div class="col-md-4">
                                                        <div class="form-group label-floating" >
                                                            <label class="control-label"  >Especialidad</label>
                                                            <select class="form-control" name="especialidad"  v-model="mensaje" @click="agregar">
                                                            
                                                                <option><%=Pint[0].especialidad%></option>                                                                                                  
                                                            </select>                                      
                                                        </div>
                                                    </div>                                                
                                                    <div class="col-md-4">
                                                        <div class="form-group label-floating" >
                                                            <label class="control-label">Sala</label>
                                                            <select class="form-control" name="sala" v-model="salaID" @click="traer">
                                                                <option value="<%=formUpdate_internacion[0].sala%>"><%=formUpdate_internacion[0].Cama.Sala.descripcionSala%></option>
                                                                <option> ---------------------- </option>                                                                
                                                                <option v-for="item in mostrar" :value="item.id">{{item.descripcionSala}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">                                                    
                                                        <div class="form-group label-floating">
                                                            <label class="control-label">Cama</label>
                                                            <select class="form-control" name="cama">   
                                                                <option value="<%=formUpdate_internacion[0].cama%>">Cama N° <%=formUpdate_internacion[0].Cama.numeroCama%></option>
                                                                <option> ---------------------- </option>                                                         
                                                                <option v-for="item of camas" :value="item.id" >Cama N° {{item.numeroCama}}</option>                                                            
                                                            </select>
                                                        </div>
                                                     </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-10 col-md-offset-1">
                                            </div>
                                            <div class="col-xs-12 col-md-10 col-md-offset-1">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Nombre Docotor:</label>
                                                    <input class="form-control" type="text" name="doctor" value="<%=formUpdate_internacion[0].doctor%>">
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-10 col-md-offset-1">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Diagnostico de Prescripcion</label>
                                                    <input class="form-control" type="text" name="diagnostico" value="<%=formUpdate_internacion[0].diagnostico%>">
                                                </div>
                                            </div>
                                            <p class="text-center">
                                                <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                                <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                                            </p>
                                        </form>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">

            </div>
        </div>
	    </section>
	<!--====== Scripts -->
    <%- include("../partials/scripts") -%>
   
</body>
</html>