<!DOCTYPE html>
<html lang="es">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Recerva de ficha médica</title>
	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">


	<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/animate.css" rel="stylesheet" type="text/css" />
	<link href="/css/admin.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">
<!--validaciones-->

	<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />

	<style>
		div.a {
			text-align: center;
		}

		h1.letras {
			font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

		}
	</style>

</head>

<body class="light_theme  fixed_header left_nav_fixed">
	<!-- SideBar -->

	<!-- Content page-->
	<div class="wrapper">
		<!--\\\\\\\ wrapper Start \\\\\\-->
		<div class="header_bar">
			<!--\\\\\\\ header Start \\\\\\-->
			<div class="brand">
				<!--\\\\\\\ brand Start \\\\\\-->
				<div class="logo" style="display:block"><span class="theme_color">Hospital</div>

			</div>
			<!--\\\\\\\ brand end \\\\\\-->
			<div class="header_top_bar">
				<!--\\\\\\\ header top bar start \\\\\\-->
				<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

				<div class="top_right_bar">

					<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
								src="/images/user.png" /><span class="user_adminname">John Doe</span> <b
								class="caret"></b> </a>
						<ul class="dropdown-menu">
							<div class="top_pointer"></div>
							<li> <a href="profile.html"><i class="fa fa-user"></i> Profile</a> </li>
							<li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
							<li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
							<li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<!--\\\\\\\ header top bar end \\\\\\-->
		</div>
		<div class="inner">
			<!--\\\\\\\ inner start \\\\\\-->
			<div class="left_nav">

				<!--\\\\\\\left_nav start \\\\\\-->

				<div class="left_nav_slidebar">
					<ul>
						<li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span
									class="left_nav_pointer"></span> <span class="plus"><i
										class="fa fa-plus"></i></span> </a>
							<ul>
								<li> <a href="home"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b>Inicio</b>
									</a> </li>
							</ul>
						</li>

						<li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i
									class="fa fa-tasks"></i> Fichas Medicas <span class="plus"><i
										class="fa fa-plus"></i></span></a>
							<ul class="opened" style="display:block">
								<li> <a href="/paciente/citas"> <span>&nbsp;</span> <i
											class="fa fa-circle theme_color"></i>
										<b class="theme_color">Citas Medicas</b>
									</a> </li>

							</ul>
						</li>



					</ul>
				</div>
			</div>
			<!--\\\\\\\left_nav end \\\\\\-->
			<div class="contentpanel">
				<!--\\\\\\\ contentpanel start\\\\\\-->
				<div class="container clear_both padding_fix col-lg-8">
					<br>

					<div class="row">

						<div class="col-lg-12 ">
							<!-- Content page -->
							<div class="container-fluid">
								<div class="page-header">
									<h1 class="text-titles"><i class="fa fa-list-ol fa-hc-fw"></i>
										Recerva de Ficha Médica </h1>
								</div>
							</div>
							<div class="porlets-content">
								<div id="citas">
									<%if(citaUpdate == null) { %>
									<form action="/paciente/cita_medica/<%=id.id %>" method="POST" class=" group-border-dashed">
										<div class="row">
											<div class="col-md-12 ">
												<div class="block-web">
													<div class="header">
														<div class="actions"> <a class="minimize" href="#"><i
																	class="fa fa-chevron-down"></i></a> <a
																class="close-down" href="#"><i
																	class="fa fa-times"></i></a> </div>
														<h3 class="content-header">Recerva de Ficha</h3>
													</div>
													<div class="porlets-content">
														<div class="entrada"> Seleccione Dia:<br>
															<select v-model="dia" @click="especilida">
																<option>Lunes</option>
																<option>Martes</option>
																<option>Miercoles</option>
																<option>Jueves</option>
																<option>Viernes</option>
																<option>Sabado</option>
																<option>Domingo</option>
															</select><br>
														</div>
														<div class="form-group">
															<div class="row">
																<h3 class="text-center"> Datos Personales</h3>
																<br>
																<div class="col-md-12">
																	<div class="col-md-4">
																		<div class="form-group">
																			<label> Historial Clinico:</label>
																			<input type="text" value="<%=historial	%>"
																				name="codigo_p" class="form-control" readonly="" value="Read only text goes here">
																		</div>
																		<div class="form-group">Costo de Ficha:<br>
																			<input parsley-type="number"  type="text" name="saldo_total"
																				class="form-control" required placeholder="Enter only numbers">
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group">Consultorio De:<br>
																			<select name="especialidad"
																				@click="especilida" v-model="selectEsp">
																				<option disabled="disabled" value>
																					Seleccione
																				</option>
																				<template
																					v-for="(especialidad, index) in especialidades">
																					<option>{{especialidad.nombre}}
																					</option>
																				</template>
																			</select><br>
																		</div>
																		<div class="form-group">Turno:<br>
																			<select name="turno" v-model="turno"
																				@click="especilida">
																				<option>Mañanas</option>
																				<option>Tardes</option>
																				<option>Noches</option>
																			</select>
																		</div>
																	</div>
																	<div class="col-md-4">
																		<div class="form-group"> Doctor:<br>
																			<select name="medico" v-model="selectDoctor"
																				@click="saca_horas(),saca_horas_reservadas(),saca_horas_atendidas()">
																				<option disabled="disabled" value>
																					Seleccione
																				</option>
																				<option
																					v-for="(doctor, index) of doctores">
																					{{doctor.nombre}}</option>
																			</select><br>
																		</div>
																		<div class="form-group"><br>
																			<label class="radio-inline"><input
																					checked="checked" data-val="true"
																					data-val-required="The IsSmallBusiness field is required."
																					id="IsSmallBusiness"
																					name="IsSmallBusiness" type="radio"
																					value="False">Asegurado</label>
																			<label class="radio-inline"><input
																					id="IsSmallBusiness"
																					name="IsSmallBusiness" type="radio"
																					value="True">No
																				Asegurado</label>
																			<span
																				class="field-validation-valid help-block"
																				data-valmsg-for="PhoneNumber"
																				data-valmsg-replace="true"></span>
																		</div><br>
																	</div>
																</div>
																<br>
															</div>
														</div>
													</div>
												</div>
												<!--/col-md-12-->
											</div>
											<!--/row-->
										</div>
										<div class="row">
											<div class="col-md-12 ">
												<div class="col-md-4 ">
													<div class="block-web green-bg-color">
														<h3 class="content-header ">Hora libres para Recervar</h3>
														<div class="porlets-content">
															<ul class="list-group task-list no-margin collapse in">
																<template v-for="(horas, index, key) in horas_Turno">
																	<li class="list-group-item blue-light-bg-color">
																		<label class="label-checkbox inline  "
																			for="">{{index+1}}</label>
																		<input type="radio" name="hora"
																			class="blue_text"
																			:value="horas.h +'/'+horas.id">{{horas.h}}<br>
																	</li>
																</template>
															</ul>
															<!-- /list-group -->
														</div>
														<!--/porlets-content-->
													</div>
													<!--/block-web-->
												</div>
												<div class="col-md-4 ">
													<div class="block-web green-bg-color">
														<h3 class="content-header ">Horas Reservadas</h3>
														<div class="porlets-content">
															<ul class="list-group task-list no-margin collapse in">

																<template
																	v-for="(horas, index, key) in horas_Turno_reservado">
																	<li class="list-group-item blue-light-bg-color">
																		<label for="">{{index+1}}</label>
																		<label for="">{{horas.h}}</label><br>
																	</li>

																</template>


															</ul>
															<!-- /list-group -->
														</div>
														<!--/porlets-content-->
													</div>
													<!--/block-web-->
												</div>
												<div class="col-md-4 ">
													<div class="block-web green-bg-color">
														<h3 class="content-header ">Horas Atendidas</h3>
														<div class="porlets-content">
															<ul class="list-group task-list no-margin collapse in">
																<li class="list-group-item blue-light-bg-color">
																	<a @click="liverar(),saca_horas()">Liberar</a><br>
																	<template
																		v-for="(horas, index, key) in horas_Turno_atendido">
																		<label for="">{{index+1}}</label>
																		<label for="">{{horas.h}}</label><br>
																	</template>
																</li>
															</ul>
															<!-- /list-group -->
														</div>
														<!--/porlets-content-->
													</div>
													<!--/block-web-->
												</div>
											</div>
										</div>
										<p class="text-center">
											<button type="reset" class="btn btn-info btn-raised"
												style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i>
												&nbsp;&nbsp; Limpiar</button>
											<button type="submit" class="btn btn-danger btn-raised"><i
													class="zmdi zmdi-floppy"></i> &nbsp;&nbsp;
												Guardar</button>
										</p>
								</div>

								</form>


								<% } else { %>


								<form action="/paciente/updateCita/<%=citaUpdate[0].id%>" method="POST">
									<div class="row">
										<div class="col-md-12 ">

											<div class="block-web">

												<div class="header">
													<div class="actions">
														<a class="minimize" href="#"><i	class="fa fa-chevron-down"></i></a> 
														<a	class="close-down" href="#"><i class="fa fa-times"></i></a>
													</div>
													
													<h3 class="content-header">  <a  href="/paciente/clean" class="btn btn-primary" >
														<i class="fa fa-arrow-left"></i> <span> Volver a Fichas</span> </a>
														<button type="button" value="Imprimir" onclick="window.print()"
																class="btn btn-success btn-raised"><i class="fa fa-print"></i> &nbsp;&nbsp;
																Imprimir</button> Actualización de Recerva de Ficha  
													</h3>
			
												</div>
												<div class="row">
													<div class="grupo" id="cabeza">
														<h3 class="text-center"> Datos Personales</h3>

														<div class="col-md-12">
															<div class="col-md-4">
																<div class="entrada">Historial Clinico:
																	<input type="text" value="<%=historial	%>"
																	name="codigo_p" class="form-control" readonly="" value="Read only text goes here">
																</div>

																<div class="entrada">Costo de Ficha:
																	<input type="text" name="saldo_total"
																	class="form-control" value="<%=citaUpdate[0].saldo_total%>"><br>
																</div>
															</div>
															<div class="col-md-4">
																<div class="entrada">Especialidad:
																	<%=citaUpdate[0].especialidad%><br>
																	<select  class="form-control"name="especialidad" @click="especilida"
																		v-model="selectEsp">
																		<option
																			v-for="(especialidad, index) of especialidades">
																			{{especialidad.nombre}}</option>

																	</select>
																</div>
																<div class="entrada">Turno: <%=citaUpdate[0].turno%><br>
																	<select class="form-control" name="turno" v-model="turno"
																		@click="especilida">
																		<option>Mañanas</option>
																		<option>Tardes</option>
																		<option>Noches</option>
																	</select>
																</div>
															</div>
															<div class="col-md-4">
																<div class="entrada">Doctor:
																	<%=citaUpdate[0].medico%><br>
																	<select class="form-control" name="medico" v-model="selectDoctor"
																		@click="saca_horas">
																		<option disabled="disabled" value>Seleccione
																		</option>
																		<option v-for="(doctor, index) of doctores">
																			{{doctor.nombre}}
																		</option>
																	</select>
																</div>
																<div class="entrada">Tipo de Paciente:<br>
																	<div class="col-md-10">
																		<label class="radio-inline"><input
																				checked="checked" data-val="true"
																				data-val-required="The IsSmallBusiness field is required."
																				id="IsSmallBusiness"
																				name="IsSmallBusiness" type="radio"
																				value="False">Asegurado</label>
																		<label class="radio-inline"><input
																				id="IsSmallBusiness"
																				name="IsSmallBusiness" type="radio"
																				value="True">No
																			Asegurado</label>
																		<span class="field-validation-valid help-block"
																			data-valmsg-for="PhoneNumber"
																			data-valmsg-replace="true"></span>
																	</div><br>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 ">
												<div class="col-md-4"></div>
												<div v-if="horas_Turno == ''">
													<div class="col-md-4 ">
														<div class="block-web green-bg-color">
															<h3 class="content-header ">Hora de Recerva</h3>
															<input type="radio" name="hora"
																value="<%= citaUpdate[0].hora%>"
																checked><%= citaUpdate[0].hora.split("/")[0]  %><br>
														</div>
														<!--/block-web-->
													</div>
												</div>
												<div v-else>
													<div class="col-md-4 ">
														<div class="block-web blue-bg-color">
															<h3 class="content-header ">Cambiar hora </h3>
															<label for="">></label>
															<input type="radio" name="hora"
																value="<%= citaUpdate[0].hora%>"
																checked><%= citaUpdate[0].hora.split("/")[0]  %><br>
															<template v-for="(horas, index, key) in horas_Turno">
																<label for="">{{index+1}}</label>
																<input type="radio" name="hora"
																	:value="horas.h +'/'+horas.id">{{horas.h}}<br>
															</template>
														</div>
														<!--/block-web-->
													</div>
												</div>
											</div>
										</div><!-- row de hora-->
										<p class="text-center">
											<button type="reset" class="btn btn-info btn-raised"
												style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i>
												&nbsp;&nbsp; Limpiar</button>
											<button type="submit" class="btn btn-danger btn-raised"><i
													class="zmdi zmdi-floppy"></i> &nbsp;&nbsp;
												Guardar</button>
										</p>
									</div>
								</form>
								<% } %>

								<div id="main-content">
									<div class="page-content">			
											<ul class="nav nav-tabs" style="margin-bottom: 15px;">
												<li class="active"><a href="#neww" data-toggle="tab">Citas</a>
												</li>
												<li><a href="#listt" data-toggle="tab">Listado de Citas del Paciente</a></li>
											</ul>
											<div id="myTabContent" class="tab-content">
												<div class="tab-pane fade active in " id="neww">
													<table class="display table table-bordered table-striped" id="dynamic-table">
														<thead>
															<tr>
																<th>#</th>
																<th>Historial Clinico</th>
																<th>Doctor</th>
																<th>Especialidad</th>
																<th>Fecha </th>
																<th>Saldo</th>
																<th>Modificar</th>
															</tr>
														</thead>
														<tbody>
															<tr class="gradeX">
																<td>1</td>
																<td>123</td>
																<td>Dr. Pepito</td>
																<td>Emergencia</td>
																<td>12/02/2019</td>
																<td>20</td>
																<td class="center"><a href="/edit_cuadernos"
																		class="btn btn-info btn-raised btn-xs "><i
																			class="fa fa-edit"></i></a>
																</td>
															</tr>


														</tbody>
														<tfoot>
															<tr>
																<th>#</th>
																<th>Historial Clinico</th>
																<th>Doctor</th>
																<th>Especialidad</th>
																<th>Fecha </th>
																<th>Saldo</th>
																<th>Modificar</th>
															</tr>
														</tfoot>
													</table>

												</div>
												<div class="tab-pane fade " id="listt">
													<table class="display table table-bordered table-striped"
														id="dynamic-tablee">
														<thead>
															<tr>
																<th>#</th>
																<th>Historial Clinico</th>
																<th>Doctor</th>
																<th>Especialidad</th>
																<th>Fecha </th>
																<th>Saldo</th>
																<th>Modificar</th>
															</tr>
														</thead>
														<tbody>
															<%if(pacienteCita != null) { %>
															<% for ( var i = 0; i < pacienteCita.length; i++ ) { %>
															<tr class="gradeX">
																<td><%=i+1%></td>
																<td><%=pacienteCita[i].codigo_p%></td>
																<td><%=pacienteCita[i].medico%></td>
																<td><%=pacienteCita[i].especialidad%></td>
																<td><%=pacienteCita[i].createdAt.split("T")[0]%></td>
																<td><%=pacienteCita[i].saldo_total%></td>
																<td class="center"><a href="/paciente/onliCita/<%=pacienteCita[i].id%>"
																		class="btn btn-info  btn-xs "><i
																			class="fa fa-edit"></i></a>
																</td>
															</tr>
															<% } %>
															<% } else { %>
															<tr>
																<td colspan="7"> Este paciente no
																	tiene
																	citas medicas</td>
															</tr>
															<% } %>
														</tbody>
														<tfoot>
															<tr>
																<th>#</th>
																<th>Historial Clinico</th>
																<th>Doctor</th>
																<th>Tipo de Consulta De</th>
																<th>Fecha </th>
																<th>Saldo</th>
																<th>Modificar</th>
															</tr>
														</tfoot>
													</table>
													<div class="table-responsive">
														<div class="table-wrapper">
															<div id="correo">
																<div class="entrada">
																	<button type="reset" class="btn btn-info  "
																		style="margin-right: 20px;"><i
																			class="zmdi zmdi-roller"></i>
																		&nbsp;&nbsp; Limpiar Fichajes</button>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!--/porlets-content-->
									</div>
								</div>
							</div>
						</div>
						<!--/block-web-->
					</div>
				</div>

			</div>

			<!--\\\\\\\ container  end \\\\\\-->
		</div>
		<!--\\\\\\\ content panel end \\\\\\-->
	</div>
	<!--\\\\\\\ inner end\\\\\\-->
	</div>
	<!--\\\\\\\ wrapper end\\\\\\-->










	<!--====== Scripts -->
	<script src="/js/jquery-2.1.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common-script.js"></script>
	<script src="/js/jquery.slimscroll.min.js"></script>
	<script src="/plugins/data-tables/jquery.dataTables.js"></script>
	<script src="/plugins/data-tables/DT_bootstrap.js"></script>
	<script src="/plugins/data-tables/dynamic_table_init.js"></script>

	<script src="/plugins/data-tables/dynamic_table_init2.js"></script>

	<script src="/plugins/edit-table/edit-table.js"></script>
	<script>
		jQuery(document).ready(function () {
			EditableTable.init();
		});
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/js/jPushMenu.js"></script>
	<script src="/js/side-chats.js"></script>





	<script src="/js/vue/citasMedicas.js"></script>


<!--validaciones-->
<script type="text/javascript"  src="/plugins/toggle-switch/toggles.min.js"></script> 
<script src="/plugins/checkbox/zepto.js"></script>
<script src="/plugins/checkbox/icheck.js"></script>
<script src="/js/icheck-init.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script> 
<script type="text/javascript" src="/js/form-components.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/jquery.inputmask.min.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/demo-mask.js"></script> 
<script type="text/javascript"  src="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script> 
<script type="text/javascript"  src="/plugins/dropzone/dropzone.min.js"></script> 
<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>



<script src="/plugins/validation/parsley.min.js"></script>

<script>


/*==Porlets Actions==*/
    $('.minimize').click(function(e){
      var h = $(this).parents(".header");
      var c = h.next('.porlets-content');
      var p = h.parent();
      
      c.slideToggle();
      
      p.toggleClass('closed');
      
      e.preventDefault();
    });
    
    $('.refresh').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');
      
      loading.appendTo(p);
      loading.fadeIn();
      setTimeout(function() {
        loading.fadeOut();
      }, 1000);
      
      e.preventDefault();
    });
    
    $('.close-down').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      
      p.fadeOut(function(){
        $(this).remove();
      });
      e.preventDefault();
    });

</script>

<script src="/js/jPushMenu.js"></script> 
<script src="/js/side-chats.js"></script>


</body>

</html>