<!DOCTYPE html>
<html lang="es">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Citas</title>
	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">


	<link href="../css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="../css/animate.css" rel="stylesheet" type="text/css" />
	<link href="../css/admin.css" rel="stylesheet" type="text/css" />
	<link href="../plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
	<link href="../plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
	<link href="../plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">
<!--validaciones-->

<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />

	<style>
		div.a {
			text-align: center;
		}

		h1.letras {
			font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

		}
	</style>

</head>

<body class="light_theme  fixed_header left_nav_fixed">
	<!-- SideBar -->

	<!-- Content page-->
	<div class="wrapper">
		<!--\\\\\\\ wrapper Start \\\\\\-->
		<div class="header_bar">
			<!--\\\\\\\ header Start \\\\\\-->
			<div class="brand">
				<!--\\\\\\\ brand Start \\\\\\-->
				<div class="logo" style="display:block"><span class="theme_color">Hospital</div>

			</div>
			<!--\\\\\\\ brand end \\\\\\-->
			<div class="header_top_bar">
				<!--\\\\\\\ header top bar start \\\\\\-->
				<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

				<div class="top_right_bar">

					<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
								src="/images/user.png" /><span class="user_adminname">John Doe</span> <b
								class="caret"></b> </a>
						<ul class="dropdown-menu">
							<div class="top_pointer"></div>
							<li> <a href="/profile.html"><i class="fa fa-user"></i> Profile</a> </li>
							<li> <a href="/help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
							<li> <a href="/settings.html"><i class="fa fa-cog"></i> Setting </a></li>
							<li> <a href="/login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<!--\\\\\\\ header top bar end \\\\\\-->
		</div>
		<div class="inner">
			<!--\\\\\\\ inner start \\\\\\-->
			<div class="left_nav">

				<!--\\\\\\\left_nav start \\\\\\-->
				<div class="left_nav_slidebar">
					<ul>
						<li ><a href="javascript:void(0);"><i
									class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span
									class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul>
								<li> <a href="/paciente/home"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b>Inicio</b>
									</a> </li>
							</ul>
						</li>
					
						<li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Fichas Medicas <span
									class="plus"><i class="fa fa-plus"></i></span></a>
							<ul class="opened" style="display:block">
								<li> <a href="/paciente/citas"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i>
										<b class="theme_color">Citas Medicas</b>
									</a> </li>

							</ul>
						</li>
				

					</ul>
				</div>
			</div>
			<!--\\\\\\\left_nav end \\\\\\-->
			<div class="contentpanel">
				<!--\\\\\\\ contentpanel start\\\\\\-->
				<div class="container clear_both padding_fix col-lg-8">
					<br>
					<br>
					
					<div class="row">

						<div class="col-lg-12 ">


							<!-- Content page -->
							
							<div class="header">
								<div class="info blue_symbols "> <i class="fa fa-list-alt icon "></i></div>
								<h3 class="content-header " class="text-titles"><span>&nbsp;&nbsp;&nbsp;</span>Citas</h3>
							</div>
				
							<div id="main-content">
								<div class="page-content">
									<div class="row">
										<div class="col-md-12">
											<div class="block-web">
												<div class="header">
													<div class="actions"> 
														<a class="minimize" href="#"><i
																class="fa fa-chevron-down"></i></a> <a class="refresh"
															href="#"><i class="fa fa-repeat"></i></a> <a
															class="close-down" href="#"><i class="fa fa-times"></i></a>
													</div>
													
													<a href="javascript:void(0);" class="btn btn-primary btn-raised btn-lg" data-toggle="modal" data-target="#myModal">
															<i class="fa fa-plus-square"></i> <span> Nuevo Paciente</span> </a>
							
													
														<button type="button" value="Imprimir" onclick="window.print()"
															class="btn btn-success btn-raised btn-lg"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp;
															Imprimir</button>
												
												</div>
												<div class="porlets-content">

													<div class="table-responsive">
														<table cellpadding="0" cellspacing="0" border="0"
															class="display table table-bordered" id="hidden-table-infoo">
															<thead>
																<tr>
																	<th >#</th>
																	<th>Historial Clinico</th>
																	<th>Nombres</th>
																	<th>Apellido</th>
																	<th>CI.</th>
																	<th >Opciones</th>
																	
															
																</tr>
															</thead>
															<tbody>

																
																<% for(var i=0; i < resp.length; i++) { %>
																<tr class="gradeA">
																	<td class="text-center"><%= i + 1 %></td>
																	<td ><%=resp[i].numeroHistorial%></td>
																	<td><%=resp[i].nombre %></td>
																	<td><%=resp[i].apellidop %> <%=resp[i].apellidom %></td>
																	<td><%=resp[i].ci %></td>
																	<td> 
																		<a href="/paciente/citaPAciente/<%= resp[i].id %>/<%= resp[i].numeroHistorial %>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Dar_Ficha"><i class="fa fa-list-ol "></i></a><span>&nbsp;</span>
																		
																		<a href="/paciente/EnviarCita/<%= resp[i].id %>/<%= resp[i].numeroHistorial %>"  data-toggle="tooltip" class="btn  tooltips" data-original-title="Ver_Ficha"><i class="fa fa-eye text-muted"></i></a><span>&nbsp;</span>
																			
																	</td>
																	
																</tr>
																<% } %>


															</tbody>
														</table>
													</div>
													<!--/table-responsive-->

												</div>
												<!--/porlets-content-->
											</div>
											<!--/block-web-->
										</div>
										<!--/col-md-12-->
									</div>
									<!--/row-->

								</div>
								<!--/page-content end-->
							</div>
							<!--/main-content end-->



							<!-- Modal -->
							<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
								aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-hidden="true">&times;</button>

											<h4 >Datos del Paciente</h4>
										
										</div>
										<div class="container-fluid">
											<form action='/paciente/postPaciente' method='post'><br>		
												<div class="col-md-13">
													<div class="col-md-3">Historial Clinico:<br>
														<input size="13" type='text' name='Historial' ><br>
													</div>
													<div class="col-md-4">Apellido Paterno:<br>
														<input type='text' name='apellidop' class='upper' placeholder="Apellido Paterno" required  parsley-trigger="change"><br>
													</div>
													<div class="col-md-4">Apellido Materno:<br>
														<input type='text' name='apellidom' placeholder="Apellido Materno" required  parsley-trigger="change"><br>
													</div>

												</div>

												<div class="col-md-13">
													<div class="col-md-3">C.I.:<br>
														<input size="13" type='text' name='ci'placeholder="N° de Carnet" required placeholder=""><br>
													</div>
													<div class="col-md-4">Nombre(s):<br>
														<input type='text' name='nombre'placeholder="Nombre" required  parsley-trigger="change"><br>
													</div>
													
													<div class="col-md-4">Dirección:<br>
														<input type='text' name='direccion'placeholder="Dirección" required  parsley-trigger="change"><br>
													</div>

												</div>
												<div class="col-md-13">
														
													<div class="col-md-5">Sexo:<br>
														<select name='sexo'>
															<option>Hombre</option>
															<option>Mujer</option>
														</select><br>
													</div>
													<div class="col-md-6">Fecha de Nacimiento:<br>
														<input type='date' name='fechanacimiento' class="form-control"><br>
													</div>

												</div>
											
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
														data-dismiss="modal">Close</button>
													<button type='reset' class='btn btn-info'
														style='margin-right: 20px;'><i class='zmdi zmdi-roller'></i>
														&nbsp;&nbsp; Limpiar</button>
													<button type='submit' class='btn btn-danger'><i
															class='fa fa-floppy'></i> &nbsp;&nbsp;
														Guardar</button>
												
											
											</form>
										</div>
									</div>
								</div>
							</div>



						</div>

					</div>

					<!--\\\\\\\ container  end \\\\\\-->
				</div>
				<!--\\\\\\\ content panel end \\\\\\-->
			</div>
			<!--\\\\\\\ inner end\\\\\\-->
		</div>
		<!--\\\\\\\ wrapper end\\\\\\-->















		<!--====== Scripts -->
		

		<script src="../js/jquery-2.1.0.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/common-script.js"></script>
		<script src="../js/jquery.slimscroll.min.js"></script>
		<script src="../plugins/data-tables/jquery.dataTables.js"></script>
		<script src="../plugins/data-tables/DT_bootstrap.js"></script>
		<script src="../plugins/data-tables/dynamic_table_init.js"></script>

		<script src="/plugins/data-tables/dynamic_table_init2.js"></script>
		<script src="../plugins/edit-table/edit-table.js"></script>
		<script>
			jQuery(document).ready(function () {
				EditableTable.init();
			});
		</script>

		<script src="../js/jPushMenu.js"></script>
		<script src="../js/side-chats.js"></script>


<!--validaciones-->
<script type="text/javascript"  src="/plugins/toggle-switch/toggles.min.js"></script> 
<script src="/plugins/checkbox/zepto.js"></script>
<script src="/plugins/checkbox/icheck.js"></script>
<script src="/js/icheck-init.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script> 
<script type="text/javascript" src="/js/form-components.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/jquery.inputmask.min.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/demo-mask.js"></script> 
<script type="text/javascript"  src="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script> 
<script type="text/javascript"  src="/plugins/dropzone/dropzone.min.js"></script> 
<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>



<script src="/plugins/validation/parsley.min.js"></script>

<script>


/*==Porlets Actions==*/
    $('.minimize').click(function(e){
      var h = $(this).parents(".header");
      var c = h.next('.porlets-content');
      var p = h.parent();
      
      c.slideToggle();
      
      p.toggleClass('closed');
      
      e.preventDefault();
    });
    
    $('.refresh').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');
      
      loading.appendTo(p);
      loading.fadeIn();
      setTimeout(function() {
        loading.fadeOut();
      }, 1000);
      
      e.preventDefault();
    });
    
    $('.close-down').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      
      p.fadeOut(function(){
        $(this).remove();
      });
      e.preventDefault();
    });

</script>

</body>

</html>