<!DOCTYPE >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" sizes="16x16" href="/images/gfu.png">
<title>Fichas</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">


<style>
		div.a {
				text-align: center;
		}
		h1.letras {
  font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;
  
}
</style>
<%- include("../partials/head") -%>
</head>
<body class="light_theme  fixed_header left_nav_fixed">
<div class="wrapper">
  <!--\\\\\\\ wrapper Start \\\\\\-->
  <div class="header_bar">
    <!--\\\\\\\ header Start \\\\\\-->
    <div class="brand">
      <!--\\\\\\\ brand Start \\\\\\-->
      <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
      
    </div>
    <!--\\\\\\\ brand end \\\\\\-->
    <div class="header_top_bar">
      <!--\\\\\\\ header top bar start \\\\\\-->
      <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
    
      <div class="top_right_bar">
        
        <div class="dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/user.png" /><span class="user_adminname"><%=resp.nombre%> <%=resp.apellidop%></span> <b class="caret"></b> </a>
          <ul class="dropdown-menu">
            <div class="top_pointer"></div>
            <li> <a href="/profile.html"><i class="fa fa-user"></i> Profile</a> </li>
            <li> <a href="/help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
            <li> <a href="/settings.html"><i class="fa fa-cog"></i> Setting </a></li>
            <li> <a href="/login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
          </ul>
        </div> 
      </div>
    </div>
    <!--\\\\\\\ header top bar end \\\\\\-->
  </div>
  <!--\\\\\\\ header end \\\\\\-->
  <div class="inner">
    <!--\\\\\\\ inner start \\\\\\-->
    <div class="left_nav">

      <!--\\\\\\\left_nav start \\\\\\-->
    
      <div class="left_nav_slidebar">
        <ul>
          <li class="left_nav_active theme_border"><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
            <ul class="opened" style="display:block">
              <li> <a href="#"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b class="theme_color">Inicio</b> </a> </li>
            </ul>
          </li>

          <li> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Fichas Medicas <span class="plus"><i class="fa fa-plus"></i></span></a>
            <ul>
              <li> <a href="/paciente/citas/<%=data_token.token_id%>/<%=data_token.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Citas Medicas</b> </a> </li>
              

            </ul>
          </li>
         
        </ul>
      </div>
    </div>
    <!--\\\\\\\left_nav end \\\\\\-->
    <div class="contentpanel">
      <!--\\\\\\\ contentpanel start\\\\\\-->
      <div class="container clear_both padding_fix col-lg-8">
      <br>
      <br>
      <br>
      <div class="row">

          <div class="col-lg-12 ">
              <div class="a" style="display:block ">
                  <h1 class="letras">GOBIERNO AUTONOMO DE POTOSI</h1>
                  </div>
                  <br>
                  <br>
			  <div >
					<img class="centrado"src="/images/VIII.gif" width="300" height="200"  />
			  </div>
			  <br>
			  <br>
			  
          </div>
         
        </div>
      
      <!--\\\\\\\ container  end \\\\\\-->
    </div>
    <!--\\\\\\\ content panel end \\\\\\-->
  </div>
  <!--\\\\\\\ inner end\\\\\\-->
</div>
<!--\\\\\\\ wrapper end\\\\\\-->








<%- include("../partials/scripts") -%>





















</body>
</html>
