<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("../partials/head") -%>
	<link rel="stylesheet" href="/css/form1.css">
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles"><i class="zmdi zmdi-hospital-alt zmdi-hc-fw"></i> Registros de Cuadernos </h1>
			</div>
		</div>
		<!--Cuadernos-->
		<%if(message) { %>
			<h2><%=message%></h2>
		<% } %>
		
		
		<div class="container-fluid">
            <div class="row">
				<a href="/cuaderno/limpiarC"> VOLVER</a>
				<% if (OnlyC == null) { %>
					<form action="/cuaderno/cuadernos" method="POST">
						<div class="grupo" id="cabeza">
							<div id="tres2">
								<div class="entrada">Codigo:<br>
									<input type="text" ><br>
								</div>
								<div class="entrada">Grupo de Asignacion:<br>
									<input type="text" name="grupo"><br>
								</div>
								<div class="entrada">Titulo de Cuaderno:<br>
									<input type="text" name="titulo"><br>
								</div>
							</div>
							<p class="text-center">
								<button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
								<button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
							</p>
						</div>
					</form>
				<% } else { %>
					<form action="/cuaderno/updateCuaderno/<%=OnlyC[0].id%>" method="POST">
						<div class="grupo" id="cabeza">
							<div id="tres2">
								<div class="entrada">Codigo:<br>
									<input type="text" value="<%=OnlyC[0].id%>"><br>
								</div>
								<div class="entrada">Grupo de Asignacion:<br>
									<input type="text" name="grupo" value="<%=OnlyC[0].grupo%>"><br>
								</div>
								<div class="entrada">Titulo de Cuaderno:<br>
									<input type="text" name="titulo" value="<%=OnlyC[0].titulo%>"><br>
								</div>
							</div>
							<p class="text-center">
								<button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
								<button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Actualizar</button>
							</p>
						</div>
					</form>
				<% } %>
			</div>
		</div>
		<!-- Lista de Cuadernos-->
		<div class="table-responsive">
			<h3 class="text-center all-tittles">LISTA DE CUADERNOS VIGENTES</h3>
            <div class="table-wrapper">
				<div id="correo">
					<div class="entrada">
						<button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success btn-raised btn-lg"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
					</div>
					<div class="entrada">Buscar <i class="zmdi zmdi-search"></i><br>
						<input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Buscar..."><br>
					</div>
				</div>
				<table class="fl-table" id="myTable">
                    <thead>
                        <tr>
						<th>Codigo</th>
						<th>Grupo de Asignacion</th>
                        <th>Titulo de Cuaderno</th>
						<th>Fecha de Creacion</th>
						<th>Modificar</th>
						<th>Dar Doctor</th>
                        </tr>
                    </thead>
                    <tbody>
						<% for(var i=0; i< resp.length; i++) { %>
                        <tr>
                        <td><%=resp[i].id%></td>
                        <td><%=resp[i].grupo%></td>
						<td><%=resp[i].titulo%></td>
						<td><%=resp[i].createdAt%></td>
                        <td><a href="/cuaderno/onlyCuadernos/<%=resp[i].id%>" class="btn btn-info btn-raised btn-xs "><i class="zmdi zmdi-refresh-alt"></i></a></td>
    					<td><a href="/cuaderno/getEsp/<%=resp[i].id%>" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi zmdi-account-add"></i></a></td>
						</tr>
						<% } %>
                    <tbody>
				</table>
			</div>
        </div>
    </div>
	</section>
	<!--====== Scripts -->
	<%- include("../partials/scripts") -%>
	<script>"/js/validaciones.js"</script>
</body>
</html>