<!DOCTYPE >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cuadernos</title>
<%- include("../partials/head") -%>	
<style>
    .info2{ border-radius:100%; float: left; height:80px; width:80px; }
    .info2 .icon{ font-size:50px; color:#FFFFFF; float:left; margin-right:50px; margin:15px 9px 9px 18px;}
</style>

</head>
<body class="light_theme  fixed_header left_nav_fixed">
  <div class="wrapper" id="reghoras">
    <div class="header_bar">
      <div class="brand">
        <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
      </div>
      <div class="header_top_bar">
        <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a> <span>&nbsp;</span>
        <div class="top_right_bar">
          <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/admin.png" /><span class="user_adminname"><span>&nbsp;&nbsp;</span>John Doe</span> <b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <div class="top_pointer"></div>
              <li> <a href=""><i class="fa fa-power-off"></i>Salir</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="inner">
      <div class="left_nav">
        <div class="left_nav_slidebar">
          <ul>
            <li ><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul >
                <li> <a href="/home"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Inicio</b> </a> </li>
              </ul>
            </li>
            <li > <a href="javascript:void(0);"> <i class="fa fa-users icon"></i>Admin Usuarios<span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul  >
                <li> <a href="/usuarios/usuarios"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Registros</b> </a> </li>
              </ul>
            </li>
            <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-clipboard"></i>Servicios<span class="left_nav_pointer"></span><span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul class="opened" style="display:block">
                <li> <a href="/cuaderno/especialidad"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Especialidades</b> </a> </li>
                <li> <a href="/cuaderno/Cuadernos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Cuadernos</b> </a> </li>
                <li> <a href="/salas/salas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Salas</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-folder-open-o"></i> Reportes <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul>
                <li> <a href="/paciente_Inter"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Pacientes</b> </a> </li>
                <li> <a href="/pacientead"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Farmacia</b></a> </li>
                <li> <a href="/usuarios/roles"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Person.</b> </a> </li>
                <li> <a href="/cuaderno/recuadernos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Cuadr.</b> </a> </li>
                <li> <a href="/cuaderno/repespecialidad"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reporte de Espc.</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-cogs"></i>CFG del Sistema<span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul>
                <li> <a href="/backup"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Backup</b> </a> </li>
                <li> <a href="/role/role"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b >Regs. Roles</b> </a> </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="contentpanel">
        <div class="container clear_both padding_fix col-lg-8">
          <br>
          <div class="row">
            <div class="col-lg-12 ">
              <div id="main-content" class=" block-web">
                <div class="header">
                    <div class="info2 blue_symbols"><i class="fa fa-calendar-o icon"></i></div>
                    <h3 class="content-header ">Administración de Turnos</h3>
                </div>
                <div class="page-content">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="block-web">
                        <div class="header">
                          <div class="actions"> 
                            <a class="minimize" data-toggle="collapse" data-target="#demo" href="#demo"><i class="fa fa-chevron-down"></i></a> 
                            <a class="refresh" href=""><i class="fa fa-repeat"></i></a>
                          </div>
                        </div>
                        <br>
                        <div class="porlets-contents">
                          <div id="demo" class="collapse in">
                            <form class="form-horizontal group-border-dashed" action="/cuaderno/turnos" method="POST" parsley-validate novalidate>  
				                      <div class="form-group">
                                <label class="control-label col-md-4">Día de atención :</label>
                                <div class="col-md-3 ">
                                  <select  class="form-control" id="source" name="diasAten" >
                                    <option value="" selected disabled hidden>--Seleccione--</option>
                                    <option>LUNES</option>
                                    <option>MARTES</option>
                                    <option>MIERCOLES</option>
                                    <option>JUEVES</option>
                                    <option>VIERNES</option>
                                    <option>SABADO</option>
                                    <option>DOMINGO</option>
                                  </select><br>
                                </div>                      
                              </div><!--/form-group--> 
                              <div class="form-group">
                                <label class="control-label col-md-4">Turno :</label>
                                <div class="col-md-3 ">
                                  <select class="form-control" id="source" name="turno" >                               
                                    <option value="" selected disabled hidden>--Seleccione--</option>
                                    <option>MAÑANAS</option>
                                    <option>TARDES</option>
                                    <option>NOCHES</option>
                                  </select><br>
                                </div>                      
                              </div><!--/form-group--> 
                              <div class="form-group">
                                <div class="col-sm-4"> 
                                  <button type="submit" class="btn btn-success btn-icon">Guardar <span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
                                  <div class="btn-group">
                                      <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button"><i class="fa fa-reply"></i><span>&nbsp;</span>Volver<span class="caret"></span></button>
                                    <ul role="menu" class="dropdown-menu">
                                      <li><a href="/cuaderno/cuadernos1">Cuadernos </a></li>
                                      <li><a href="/cuaderno/docCuaderno ">Asignación Medico</a></li>
                                      <li><a href="/cuaderno/volverFechas">Fechas</a></li>
                                      <li><a href="/home">Home</a></li>
                                    </ul>
                                  </div>               
                                </div>
                              </div><!--/form-group--> 
                            </form>
                          </div>
                          <br><br>
                          <div class="porlets-content">
                            <div class="table-responsive">
                              <table  class="display table table-bordered table-striped" id="dynamic-table">
                                <thead>
                                  <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Día de Atención</th>
                                    <th class="text-center">Turno</th>
                                    <th class="text-center">Opciones</th>
                                  </tr>
                                    </thead>
                                    <tbody>
                                      <% for (var i=0; i< resp.length; i++) { %>
                                      <tr>
                                        <td class="text-center"><%=i+1%></td>
                                        <td class="text-center"><%=resp[i].diasAten%></td>
                                        <td class="text-center"><%=resp[i].turno%></td>
                                        <td class="text-center">
                                          <a @click="" data-target="#myModal2" data-toggle="modal"  data-toggle="tooltip" class="btn  tooltips" data-original-title="Crear Consultorio"><i class="fa fa-user "></i></a>
                                          <a href="/cuaderno/horarios_turnos/<%=resp[i].id%>/<%=resp[i].turno%>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Dar_horas"><i class="fa fa-plus-square"></i></a>
                                          <a href="/cuaderno/delturno/<%=resp[i].id%>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Eliminar"><i  class=" fa fa-trash-o red"></i></a><span>&nbsp;</span>
                                        </td>
                                      </tr>
                                      <% } %>
                                    <tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <!--/porlets-content-->
                      </div>
                      <!--/block-web-->
                    </div>
                    <!--/col-md-12-->
                  </div>
                  <!--/row-->
                </div>
                <!--/page-content end-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Intervalo de atención</h4>
            <span style="color: blue">{{msg}}</span>
          </div>
          <div class="modal-body"> 
            <form class="form-horizontal"  @submit="reg_horasturno" parsley-validate novalidate>
              <div class="form-group">
                <label class="col-sm-2 control-label">Cantidad de Fichas:</label>
                <div class="col-sm-3">
                  <select  class="selectpicker" data-show-subtext="true" data-live-search="true"v-model="cantiFicha" >
                    <option value="" selected disabled hidden>Selecione</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>  
                    <option>12</option>      
                    <option>13</option>      
                    <option>14</option>      
                    <option>15</option>
                    <option>16</option> 
                    <option>17</option>                                     
  
                  </select>
                  <label style="color:red;">*Cantidad Maxima de Fichas del Medico*</label>
                </div>
              </div> 
              <div class="form-group">
                <label  class="col-sm-2 control-label">Intervalo de horas:</label>
                <div class="col-sm-3">
                  <select class="form-control" id="source" v-model="minutos">
                    <option value="15"> 15 minutos </option>
                    <option value="20"> 20 minutos </option>
                    <option value="30"> 30 minutos </option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <a href="/cuaderno/horaslist" class="btn btn-info btn-icon">Eliminar Todo <span>&nbsp;</span><i class="fa fa-minus-square"></i></a></td> <span>&nbsp;&nbsp;&nbsp;</span>
                  <button type="submit" class="btn btn-success btn-icon" >Guardar <span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
                  <button type="reset"class="btn btn-danger btn-icon" data-dismiss="modal">Cancelar <span>&nbsp;</span><i class="fa fa-times"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-------MODALLLLL-------->

 
<%- include("../partials/scripts") -%>
</body>
</html>
