<!DOCTYPE >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" sizes="16x16" href="/images/gfu.png">
<title>Cuadernos</title>
<%- include("../partials/head") -%>	
</head>
<body class="light_theme  fixed_header left_nav_fixed">
<div class="wrapper">
    <div class="header_bar">
        <div class="brand">
          <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
        </div>
        <div class="header_top_bar">
          <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
          
          <div class="top_right_bar">
            <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/admin.png" /><span class="user_adminname"><span>&nbsp;&nbsp;</span>John Doe</span> <b class="caret"></b> </a>
              <ul class="dropdown-menu">
                <div class="top_pointer"></div>
                <li> <a href=""><i class="fa fa-power-off"></i>Salir</a> </li>
              </ul>
            </div>
           
          </div>
        </div>
      </div>
    
  <div class="inner">
      <div class="left_nav">
          <div class="left_nav_slidebar">
            <ul>
              <li ><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="plus"><i class="fa fa-plus"></i></span> </a>
                <ul >
                  <li> <a href="home"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Inicio</b> </a> </li>
                </ul>
              </li>
              <li > <a href="javascript:void(0);"> <i class="fa fa-users icon"></i>Admin Sistema  <span class="plus"><i class="fa fa-plus"></i></span></a>
                <ul  >
                  <li> <a href="/usuarios/usuarios"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Registros</b> </a> </li>
                </ul>
              </li>
              <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-clipboard"></i>Servicios<span class="left_nav_pointer"></span><span class="plus"><i class="fa fa-plus"></i></span></a>
                <ul class="opened" style="display:block">
                  <li> <a href="/cuaderno/especialidad"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Especialidades</b> </a> </li>
                  <li> <a href="/cuaderno/Cuadernos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Cuadernos</b> </a> </li>
                  <li> <a href="/salas/salas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Salas</b> </a> </li>
                </ul>
              </li>
              <li> <a href="javascript:void(0);"> <i class="fa fa-folder-open-o"></i> Reportes <span class="plus"><i class="fa fa-plus"></i></span> </a>
                <ul>
                  <li> <a href="/paciente_Inter"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Pacientes</b> </a> </li>
                  <li> <a href="/pacientead"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b></b>Farmacia</a> </li>
                  <li> <a href="/roles"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Administración</b> </a> </li>
                </ul>
              </li>
              <li> <a href="javascript:void(0);"> <i class="fa fa-cogs"></i>CFG del Sistema<span class="plus"><i class="fa fa-plus"></i></span></a>
                <ul>
                  <li> <a href="/backup"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Backup</b> </a> </li>
                </ul>
              </li>
            </ul>
          </div>
      </div>
    <div class="contentpanel">
      <div class="container clear_both padding_fix">
        <br>
          <div class="row">
            <div class="col-md-12">
              <div class="block-web">
                <div class="header">
                  <div class="info blue_symbols"><i class="fa fa-clipboard icon"></i></div>
                  <h3 class="content-header ">Asignación Medico<span class="semi-bold">/Fechas</span></h3>
                </div>
                <br><br>
                <div class="porlets-content">
                  <form class="form-horizontal group-border-dashed" action="/cuaderno/fechas" method="POST" parsley-validate novalidate>
                    
                    <div class="form-group">
                        <label class="control-label col-md-4">Fecha de Inicio:</label>
                        <div class="col-md-4 col-xs-10">
                            <input type="date" size="16" name="fechaini" class="form-control form-control-inline input-medium "><br>
                        </div>                      
                      </div><!--/form-group--> 
                      <div class="form-group">
                          <label class="control-label col-md-4">Fecha de Finalizacion:</label>
                          <div class="col-md-4 col-xs-10">
                              <input type="date"  size="16" name="fechafin" class="form-control form-control-inline input-medium "><br>
                          </div>                      
                        </div><!--/form-group--> 
                      <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-10"> 
                          <button type="submit" class="btn btn-success btn-icon">Guardar <span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
                          <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">Volver<span class="caret"></span></button>
                            <ul role="menu" class="dropdown-menu">
                              <li><a href="/cuaderno/cuadernos1">Cuadernos </a></li>
                              <li><a href="/cuaderno/docCuaderno ">Asignación Medico</a></li>
                              <li><a href="/home">Home</a></li>
                            </ul>
                          </div>              
                        </div>
                      </div><!--/form-group--> 
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="block-web">
                <div class="header">
                 
                  <h3 class="content-header text-center">Lista de Fechas</h3>
                </div>
                <div class="porlets-content">
                  <div class="table-responsive">
                    <table  class="display table table-bordered table-striped" id="dynamic-table">
                      <thead>
                        <tr>
                          <th class="text-center">#</th>
						              <th class="text-center">Fecha de Inicio</th>
					              	<th class="text-center">Fecha de Finalizacion</th>						
                          <th class="text-center">Opciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0; i< docFecha.length; i++) { %>
                        <tr>
                          <td class="text-center"><%=i+1%></td>
                          <td class="text-center"><%=docFecha[i].fechaini.split("T")[0]%></td>
                          <td class="text-center"><%=docFecha[i].fechafin.split("T")[0]%></td>
                          <td class="text-center">
                            <a href="/cuaderno/onlyfecha/<%=docFecha[i].id%>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Editar"><i class="fa fa-pencil" style="color:rgb(80, 145, 80)"></i></a>
                            <a href="/cuaderno/fecahTurn/<%=docFecha[i].id%>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Ver Turnos"><i class="fa fa-eye" style="color:black"></i></a>
                          </td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</div>
<%- include("../partials/scripts") -%>


</body>
</html>
