<!DOCTYPE >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" sizes="16x16" href="/images/gfu.png">
<title>Cuadernos</title>
<%- include("../partials/head") -%>	
<style>
  .info2{ border-radius:100%; float: left; height:80px; width:80px; }
  .info2 .icon{ font-size:50px; color:#FFFFFF; float:left; margin-right:50px; margin:15px 20px 10px 18px;}
</style>
</head>
<body class="light_theme  fixed_header left_nav_fixed">
  <div class="wrapper">
    <div class="header_bar">
      <div class="brand">
        <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
      </div>
      <div class="header_top_bar">
        <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
        
        <div class="top_right_bar">
          <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/admin.png" /><span class="user_adminname"><span>&nbsp;&nbsp;</span>John Doe</span> <b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <div class="top_pointer"></div>
              <li> <a href=""><i class="fa fa-power-off"></i>Salir</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="inner">
      <div class="left_nav">
        <div class="left_nav_slidebar">
          <ul>
            <li ><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul >
                <li> <a href="/home"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Inicio</b> </a> </li>
              </ul>
            </li>
            <li > <a href="javascript:void(0);"> <i class="fa fa-users icon"></i>Admin Usuarios<span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul  >
                <li> <a href="/usuarios/usuarios"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Registros</b> </a> </li>
              </ul>
            </li>
            <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-clipboard"></i>Servicios<span class="left_nav_pointer"></span><span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul class="opened" style="display:block">
                <li> <a href="/cuaderno/especialidad"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Especialidades</b> </a> </li>
                <li> <a href="/cuaderno/Cuadernos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Cuadernos</b> </a> </li>
                <li> <a href="/salas/salas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Salas</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-folder-open-o"></i> Reportes <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul>
                <li> <a href="/paciente_Inter"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Pacientes</b> </a> </li>
                <li> <a href="/pacientead"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Farmacia</b></a> </li>
                <li> <a href="/usuarios/roles"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Person.</b> </a> </li>
                <li> <a href="/cuaderno/recuadernos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Cuadr.</b> </a> </li>
                <li> <a href="/cuaderno/repespecialidad"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reporte de Espc.</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-cogs"></i>CFG del Sistema<span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul>
                <li> <a href="/backup"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Backup</b> </a> </li>
                <li> <a href="/role/role"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b >Regs. Roles</b> </a> </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="contentpanel">
        <div class="container clear_both padding_fix col-lg-8">
          <br>
          <div class="row">
            <div class="col-lg-12 ">
              <div id="main-content" class=" block-web">
                
                <div class="header">
                  <div class="info2 blue_symbols"><i class="fa fa-calendar icon"></i></div>
                  <h3 class="content-header ">Administración de Turnos</h3>
                </div>
                <div class="page-content">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="block-web">
                        <div class="header">
                          <div class="actions"> 
                            <a class="minimize" data-toggle="collapse" data-target="#demo" href="#demo"><i class="fa fa-chevron-down"></i></a> 
                            <a class="refresh" href=""><i class="fa fa-repeat"></i></a>
                          </div>
                        </div>
                        <br>
                        <div class="porlets-contents">
                          <div id="demo" class="collapse in">
                            <%if(onlyFecha == null) { %>
                            <form class="form-horizontal group-border-dashed" action="/cuaderno/fechas" method="POST" parsley-validate novalidate>
                            <div class="form-group">
                              <label class="control-label col-md-4">Fecha de Inicio:</label>
                              <div class="col-md-4 col-xs-10">
                                <input type="date" size="10" name="fechaini" class="form-control form-control-inline input-medium "><br>
                              </div>                      
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4">Fecha de Finalización:</label>
                              <div class="col-md-4 col-xs-10">
                                <input type="date"  size="10" name="fechafin" class="form-control form-control-inline input-medium "><br>
                              </div>                      
                            </div>
                            <div class="form-group">
                              <div class="col-sm-4"> 
                                <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i><span>&nbsp;</span>Guardar</button>
                                <div class="btn-group">
                                  <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button"><i class="fa fa-reply"></i><span>&nbsp;</span>Volver<span class="caret"></span></button>
                                  <ul role="menu" class="dropdown-menu">
                                    <li><a href="/cuaderno/cuadernos1">Cuadernos </a></li>
                                    <li><a href="/cuaderno/docCuaderno ">Asignación Medico</a></li>
                                    <li><a href="/home">Home</a></li>
                                  </ul>
                                </div>              
                              </div>
                            </div>
                            </form>
                            <% } else {%>
                            <form class="form-horizontal group-border-dashed" action="/cuaderno/updateFecha/<%=onlyFecha[0].id%>" method="POST" parsley-validate novalidate>
                            <div class="form-group">
                              <label class="control-label col-md-4">Fecha de Inicio:</label>
                              <div class="col-md-4 col-xs-10">
                                <input type="date" size="10" name="fechaini" class="form-control form-control-inline input-medium "value="<%=onlyFecha[0].fechaini%>"><br>
                              </div>                      
                            </div>
                            <div class="form-group">
                              <label class="control-label col-md-4">Fecha de Finalización:</label>
                              <div class="col-md-4 col-xs-10">
                                <input type="date"  size="10" name="fechafin" class="form-control form-control-inline input-medium "value="<%=onlyFecha[0].fechafin%>"><br>
                              </div>                      
                            </div>
                            <div class="form-group">
                              <div class=" col-sm-4"> 
                                  <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i><span>&nbsp;</span>Guardar</button>
                                <div class="btn-group">
                                  <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button"><i class="fa fa-reply"></i><span>&nbsp;</span>Volver<span class="caret"></span></button>
                                  <ul role="menu" class="dropdown-menu">
                                    <li><a href="/cuaderno/cuadernos1">Cuadernos </a></li>
                                    <li><a href="/cuaderno/docCuaderno ">Asignación Medico</a></li>
                                    <li><a href="/home">Home</a></li>
                                  </ul>
                                </div>              
                              </div>
                            </div>
                            </form>
                            <% } %>
                          </div>
                          <br><br>
                          <div class="porlets-content">
                            <div class="table-responsive">
                              <table  class="display table table-bordered table-striped" id="dynamic-table">
                                <thead>
                                  <tr>
                                    <th class="text-center">#</th>
                                    <th class="text-center">Fecha de Inicio</th>
                                    <th class="text-center">Fecha de Finalización</th>						
                                    <th class="text-center">Opciones</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% for(var i=0; i< docFecha.length; i++) { %>
                                  <tr>
                                    <td class="text-center"><%=i+1%></td>
                                    <td class="text-center"><%=docFecha[i].fechaini.split("T")[0]%></td>
                                    <td class="text-center"><%=docFecha[i].fechafin.split("T")[0]%></td>
                                    <td class="text-center">
                                      <a href="/cuaderno/onlyfecha/<%=docFecha[i].id%>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Editar"><i class="fa fa-pencil" style="color:rgb(80, 145, 80)"></i></a>
                                      <a href="/cuaderno/fecahTurn/<%=docFecha[i].id%>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Asignar_Días"><i class="fa fa-plus" style="color:black"></i></a>
                                    </td>
                                  </tr>
                                  <% } %>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                        <!--/porlets-content-->
                      </div>
                      <!--/block-web-->
                    </div>
                    <!--/col-md-12-->
                  </div>
                  <!--/row-->
                </div>
                <!--/page-content end-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include("../partials/scripts") -%>


</body>
</html>
