<!DOCTYPE >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cuadernos</title>
<%- include("../partials/head") -%>	
<style>
    .info2{ border-radius:100%; float: left; height:80px; width:80px; }
    .info2 .icon{ font-size:50px; color:#FFFFFF; float:left; margin-right:50px; margin:15px 9px 9px 18px;}
</style>
</head>
<body class="light_theme  fixed_header left_nav_fixed">
<div class="wrapper">
  <%- include("../partials/menusali") -%>	
  <div class="inner">
    <div class="left_nav">
      <div class="left_nav_slidebar">
          <ul>
            <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home  <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul >
                <li> <a href="/home"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b >Inicio</b> </a> </li>
              </ul>
            </li>
            <li > <a href="javascript:void(0);"> <i class="fa fa-users icon"></i>Admin Sistema <span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul >
                <li> <a href="/usuarios/usuarios"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b >Personal</b> </a> </li>
                <li> <a href="#"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Crear Roles</b> </a> </li>
              </ul>
            </li>

            <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-clipboard"></i>Servicios<span class="left_nav_pointer"></span><span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul class="opened" style="display:block">
                
                <li> <a href="/cuaderno/especialidad"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Especialidades</b> </a> </li>
                <li> <a href="/cuaderno/Cuadernos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Cuadernos</b> </a> </li>
                <li> <a href="/salas/salas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Salas</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-male"></i> Pacientes<span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul>
                <li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Pacientes</b> </a> </li>
                <li> <a href="/paciente_Inter"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Pacientes Internacion</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-plus-square"></i> Farmacia <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul>
                <li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b></b>Medicamentos</a> </li>
                <li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Med. Vendidos</b> </a> </li>
                
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-folder-open-o"></i> Reportes <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul>
                <li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Paciente General</b> </a> </li>
                <li> <a href=""> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Administración</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-cogs"></i>CFG del Sistema<span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul>
                <li> <a href="/backup"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Backup</b> </a> </li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
    <div class="contentpanel">
      <div class="container clear_both padding_fix">
        
        <br>
         <div class="row">
        <div class="col-md-12">
          <div class="block-web">
            <div class="header">
              <div class="info2 blue_symbols"><i class="fa fa-user-md icon"></i></div>
              <h3 class="content-header ">Asignación Medico/Horas</h3>
            </div>
            <br>
            <br>
            <a href="/cuaderno/volver_a_trunos" class="btn btn-success btn-icon"><i class="fa fa-arrow-left">Volver</i></a></td>
            <br>
            <div class="porlets-content">
					    <form class="form-horizontal group-border-dashed" action="/cuaderno/insertarHorarios" method="POST" parsley-validate novalidate>
					      <div class="form-group col-sm-12">
						      <div class="col-sm-6">
							      <label class="control-labe">Cantidad de Fichas:</label>
                      <select class="form-control" id="source" name="cantiFicha" >
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>  
                        <option>12</option>      
                        <option>13</option>      
                        <option>14</option>      
                        <option>15</option>
                        <option>16</option> 
                        <option>17  </option>                                     
                      </select>
                      <label class="control-labe" style="color:red;">*Cantidad Maxima de Fichas del Medico*</label>
						      </div>
						      <div class="col-sm-6">
							      <label class="control-labe" >Intervalo de horas:</label>
                    <select class="form-control" id="source" name="minutos">
                      <option value="15"> 15 minutos </option>
                      <option value="20"> 20 minutos </option>
                      <option value="30"> 30 minutos </option>
                    </select>
						      </div>
						
					      </div> 
					      <div class="form-group">
						      <div class="col-sm-offset-4 col-sm-10">
                    <a href="/cuaderno/horaslist" class="btn btn-info btn-icon">Eliminar Todo <span>&nbsp;</span><i class="fa fa-minus-square"></i></a></td> <span>&nbsp;&nbsp;&nbsp;</span>
						        <button type="submit" class="btn btn-success btn-icon" >Guardar <span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
						        <button type="reset"class="btn btn-danger btn-icon" data-dismiss="modal">Cancelar <span>&nbsp;</span><i class="fa fa-times"></i></button>
						      </div>
					      </div>
              </form>
              </div>
          </div>
        </div>
      </div>
      
      <section class="panel default blue_title h2">
          <div class="panel-heading"></span> </div>
          <div class="panel-body">
            <div class="panel-group accordion accordion-semi" id="accordion3">
              <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-2"> <i class="fa fa-angle-right"></i> Lista de Horas</a> </h4>
            </div>
            <div id="ac3-2" class="panel-collapse collapse" style="height: 0px;">
              <div class="panel-body"> 
                  <div class="row">
                      <div class="col-lg-12">
                          <section class="panel default blue_title h2">
                            <div class="panel-body">
                              <div class="table-responsive">
                                <table class="table table-bordered">
                        <thead>
                            <tr>
                              <th>#</th>
                              <th>Horas</th>
                            </tr>
                          </thead>
                          <tbody>
                              <% for (var i=0; i< resp.length; i++) { %>
                              <tr>
                                <td><%= i+1 %></td>   
                                <td><%= resp[i].hora %></td>
                              </tr>
                              <% } %>
                          </tbody>
                                </table>
                              </div>
                            </div>
                          </section>
                      </div>
                  </div>
              </div>
            </div>
              </div>
            </div>
          </div>
        </section>
      
        </div>
    </div>
</div>
</div>

<%- include("../partials/scripts") -%>

</body>
</html>
