<!DOCTYPE >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" sizes="16x16" href="/images/gfu.png">
<title>Cuadernos</title>
<%- include("../partials/head") -%>	
<link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">

<style>
  .info2{ border-radius:100%; float: left; height:80px; width:80px; }
  .info2 .icon{ font-size:50px; color:#FFFFFF; float:left; margin-right:50px; margin:15px 20px 10px 18px;}
</style>
<script type="text/javascript">
	// este scrip es para verificar si esta el token en local starge
	var data = localStorage.getItem('data')
	if (data == null){
		window.location.replace('/')
  }
  function delete_local_storage(){
		localStorage.removeItem('data');
		localStorage.removeItem('url');
  }
  setTimeout(()=>{
    delete_local_storage()
    //window.location.replace('/')
  },500000);
</script>

</head>
<body class="light_theme  fixed_header left_nav_fixed">
  <div class="wrapper">
    <div class="header_bar">
      <div class="brand">
        <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
      </div>
      <div class="header_top_bar">
        <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a> <span>&nbsp;</span>
        <div class="top_right_bar">
          <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/admin.png" /><span class="user_adminname"><span>&nbsp;&nbsp;</span><%=data_doc.data.personal.nombre%> <%=data_doc.data.personal.apellidop%></span> <b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <div class="top_pointer"></div>
              <li> <a href="/delete_token/<%=data_doc.data.token_id%>" onclick="delete_local_storage()"><i class="fa fa-power-off"></i>Salir</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="inner">
      <div class="left_nav">
        <div class="left_nav_slidebar">
          <ul>
            <li ><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul >
                <li> <a href="/home/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Inicio</b> </a> </li>
              </ul>
            </li>
            <li > <a href="javascript:void(0);"> <i class="fa fa-users icon"></i>Admin Usuarios<span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul  >
                <li> <a href="/usuarios/usuarios/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Registros</b> </a> </li>
              </ul>
            </li>
            <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-clipboard"></i>Servicios<span class="left_nav_pointer"></span><span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul class="opened" style="display:block">
                <li> <a href="/cuaderno/especialidad/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Especialidades</b> </a> </li>
                <li> <a href="/cuaderno/Cuadernos/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Cuadernos</b> </a> </li>
                <li> <a href="/salas/salas/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Salas</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-folder-open-o"></i> Reportes <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul>
                <li> <a href="/paciente_Inter/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Pacientes</b> </a> </li>
                <li> <a href="/pacientead/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Farmacia</b></a> </li>
                <li> <a href="/usuarios/roles1/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Person.</b> </a> </li>
                <li> <a href="/cuaderno/recuadernos/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Cuadr.</b> </a> </li>
                <li> <a href="/cuaderno/repespecialidad/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reporte de Espc.</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-cogs"></i>CFG del Sistema<span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul>
                <li> <a href="/backup/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Backup</b> </a> </li>
                <li> <a href="/role/role/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b >Regs. Roles</b> </a> </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="contentpanel">
        <div class="container clear_both padding_fix col-lg-8">
          <br>
          <div class="row">
            <div class="col-lg-12 ">
              <div id="main-content" class="block-web">
                <div class="header">
                  <div class="info2 blue_symbols"><i class="fa fa-user-md icon"></i></div>
                  <h3 class="content-header ">Asignación Médico</h3>
                </div>
                <br>
                <br>
                <div class="page-content">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="block-web">
                        <div class="header">
													<div class="actions"> 
                            <a class="minimize" data-toggle="collapse" data-target="#demo" href="#demo"><i class="fa fa-chevron-down"></i></a> 
                            <a class="refresh" href="/cuaderno/limpiarMDoc/<%=id%>/<%=data_doc.data.token_id%>"><i class="fa fa-repeat"></i></a>
                          </div>
                          <div class="porlets-contents ">
                            <br><br>
                            <div id="demo" class="collapse in">
                             <%if (modifDoct == null) { %>
                              <form class="form-horizontal group-border-dashed" action="/cuaderno/docCuaderno/<%=id%>/<%=data_doc.data.token_id%>" method="POST" parsley-validate novalidate>
                                <div class="col-sm-3">
                                </div>
                                
                                <div class="form-group ">
                                  <div class="col-sm-3">
                                    <label class="control-label">Médico :</label><br>
                                    <select  class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="nombre">
                                      <option value="" selected disabled hidden >--Seleccione--</option>
                                      <%for (var i=0; i < resp.length; i++) { %>
                                        <option value="<%=resp[i].nombre%> <%=resp[i].apellidop%> <%=resp[i].apellidom%>/<%=resp[i].id%>"><%=resp[i].nombre%> <%=resp[i].apellidop%> <%=resp[i].apellidom%></option>
                                      <% } %>                            
                                    </select>
                                  </div>
                                  <div class="col-sm-3">
                                    <label class=" control-label">Especialidad :</label><br>
                                    <select   class="selectpicker form-control" data-show-subtext="true" data-live-search="true"  name="especialidad" >
                                      <option value="" selected disabled hidden >--Seleccione--</option>
                                      <%for (var i=0; i < esp.length; i++) { %>
                                        <option><%=esp[i].nombre%></option>
                                      <% } %>     
                                    </select>
                                  </div>
                                </div>

                                <div class="col-sm-3">
                                </div>
                                  
                                <div class="form-group ">
                                  <div class="col-sm-3">
                                      <label class="control-label">Tipo :</label>
                                      <select class="form-control" id="source" name="TDoctor" required placeholder="">
                                        <option value="" selected disabled hidden>--Seleccione--</option>
                                        <option>MÉDICO TITULAR </option>
                                        <option>MÉDICO SUPLENTE</option>
                                      </select>
                                  </div>
                                  <div class="col-sm-3">
                                    <label class="control-label">Enfermera :</label>
                                    <select class="form-control" name="enfermera" >
                                      <%for(var i = 0; i < enfermeras.length; i++) { %>
                                        <option><%=enfermeras[i].nombre%> <%=enfermeras[i].apellidop%> <%=enfermeras[i].apellidom%></option>
                                      <% } %>
                                    </select>

                                  </div>
                                </div>
                                <br>
                              
                                <div class="form-group ">
                                  <div class="col-md-4">
                                    <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i><span>&nbsp;</span>Guardar</button>
                                    <a class="btn btn-info"href="/cuaderno/cuadernos1/<%=data_doc.data.token_id%>"><i class="fa fa-reply"></i><span>&nbsp;</span>Volver</a>
                                  </div>
                                </div>
                              </form>
                            <% } else { %>
                              <form class="form-horizontal group-border-dashed" action="/cuaderno/updateDoctCuaderno/<%=modifDoct.data[0].id%>/<%=id%>/<%=data_doc.data.token_id%>" method="POST" parsley-validate novalidate>
                                <div class="form-group center">
                                  <div class="col-sm-3">
                                    <label class="col-sm-4 control-label">Médico:</label>
                                    <select  class="selectpicker" data-show-subtext="true" data-live-search="true"  name="nombre" >
                                      <option value="<%=modifDoct.data[0].nombre%>"><%=modifDoct.data[0].nombre.split("/")[0]%></option>
                                      <option>---------------</option>
                                      <%for (var i=0; i < resp.length; i++) { %>
                                          <option value="<%=resp[i].nombre%> <%=resp[i].apellidop%> <%=resp[i].apellidom%>/<%=resp[i].id%>"><%=resp[i].nombre%> <%=resp[i].apellidop%> <%=resp[i].apellidom%></option>
                                      <% } %>                            
                                    </select>
                                  </div>
                                  <div class="col-sm-3">
                                    <label class=" control-label">Especialidad:</label>
                                    <select  class="selectpicker" data-show-subtext="true" data-live-search="true" name="especialidad" >
                                      <option><%=modifDoct.data[0].Consulta_especilaida.nombre%></option>
                                      <option>---------------</option>
                                      <%for (var i=0; i < esp.length; i++) { %>
                                        <option><%=esp[i].nombre%></option>
                                      <% } %>     
                                    </select>
                                  </div>
                                </div>
                                <div class="form-group center">
                                  <div class="col-sm-3">
                                    <label class=" control-label">Tipo :</label>
                                    <select  class="form-control" id="source" name="TDoctor" >
                                        <option><%=modifDoct.data[0].TDoctor%></option>
                                        <option>---------------</option>
                                        <option>MÉDICO TITULAR </option>
                                        <option>MÉDICO SUPLENTE</option>
                                    </select>
                                  </div>
                                  <div class="col-sm-3">
                                      <label class=" control-label">Enfermera :</label>
                                      <select name="enfermera" >
                                          <option><%=modifDoct.data[0].enfermera%></option>
                                          <option value="">------------------------------</option>
                                        <%for(var i = 0; i < enfermeras.length; i++) { %>
                                         
                                          <option><%=enfermeras[i].nombre%> <%=enfermeras[i].apellidop%> <%=enfermeras[i].apellidom%></option>
                                        <% } %>
                                      </select>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-md-4">
                                    <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i><span>&nbsp;</span>Actualizar</button>
                                    <a class="btn btn-danger"href="/cuaderno/limpiarMDoc/<%=id%>/<%=data_doc.data.token_id%>"><i class="fa fa-times"></i><span>&nbsp;</span>Cancelar</a>
                                  </div>
                                </div>
                              </form>
                              <% } %>
                            </div>
                            <br><br>
                            <div class="porlets-content" >
                              <div class="table-responsive">
                                <table  class="display table table-bordered table-striped" id="dynamic-table">
                                  <thead>
                                    <tr>
                                      <th class="text-center">#</th>
                                      <th class="text-center">Doctor</th>
                                      <th class="text-center">Especialidad</th>
                                      <th class="text-center">Tipo de Doctor</th>                        
                                      <th class="text-center">Enfermera</th>
                                      <th class="text-center">Opciones</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                  <% for(var i=0; i< listDoc.length; i++) { %>
                                    <tr>
                                      <td class="text-center"><%=i+1%></td>
                                      <td class="text-center"><%=listDoc[i].nombre.split("/")[0]%></td>
                                      <td class="text-center"><%=listDoc[i].Consulta_especilaida.nombre%></td>
                                      <td class="text-center"><%=listDoc[i].TDoctor%></td>
                                      <td class="text-center"><%=listDoc[i].enfermera%></td>				     
                                      <td class="text-center">
                                        <a href="/cuaderno/midificarDoct/<%=listDoc[i].id%>/<%=id%>/<%=data_doc.data.token_id%>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Editar"><i class="fa fa-pencil" style="color:rgb(80, 145, 80)"></i></a>
                                        <a href="/cuaderno/FechaDoc/<%=listDoc[i].id%>/<%=data_doc.data.token_id%>/<%=id%>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Asignar_Turnos"><i class="fa fa-user-md "></i></a>
                                        <a href="/cuaderno/alldataDoctor/<%=listDoc[i].id%>/<%=listDoc[i].idCuaderno%>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Ver_doctor"><i class="fa fa-eye " style="color:black"></i></a>
                                      </td>
                                    </tr>
                                  <% } %>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include("../partials/scripts") -%>
<script src="/sweetalert2/dist/sweetalert2.min.js"></script>
  
<script>
  /*  <%if(msg) { %> */
    /*  <%if(msg.data.success == false) { %> */
         msg_false()
         function msg_false(){
           swal.fire(
             'Error!',
             '<label style="color:red;">'+`<%=msg.data.data_p%>`+'</label>',
             'error'
           )
         }
     /* <% } else {%> */
         msg_true()
         function msg_true(){
           swal.fire(
             'Success!',
             '<label style="color:green;">'+ `<%=msg.data.data_p%>` +'</label>',
             'success'
           )
         }
    /*  <% } %> */
  /*  <% } %> */
</script>

</body>
</html>