<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Alergia</title>
    <meta charset="UTF-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
    <link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
    <link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">

    <link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
    <link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />




    <style>
        div.a {
            text-align: center;
        }

        h1.letras {
            font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

        }
    </style>
    <%- include("partials/head") -%>
</head>
<body class=" light_theme  fixed_header left_nav_fixed" >
	<!-- SideBar -->
	


	 <!-- Content page-->
	 <div class="wrapper">
        <!--\\\\\\\ wrapper Start \\\\\\-->
        <div class="header_bar">
            <!--\\\\\\\ header Start \\\\\\-->
            <div class="brand">
                <!--\\\\\\\ brand Start \\\\\\-->
                <div class="logo" style="display:block"><span class="theme_color">Hospital</div>

            </div>
            <!--\\\\\\\ brand end \\\\\\-->
            <div class="header_top_bar">
                <!--\\\\\\\ header top bar start \\\\\\-->
                <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

                <div class="top_right_bar">

                    <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
                                src="/images/user.png" /><span class="user_adminname">John Doe</span> <b
                                class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <div class="top_pointer"></div>
                            <li> <a href="/profile.html"><i class="fa fa-user"></i> Profile</a> </li>
                            <li> <a href="/help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
                            <li> <a href="/settings.html"><i class="fa fa-cog"></i> Setting </a></li>
                            <li> <a href="/login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--\\\\\\\ header top bar end \\\\\\-->
        </div>
        <div class="inner">
            <!--\\\\\\\ inner start \\\\\\-->
            <div class="left_nav">

                <!--\\\\\\\left_nav start \\\\\\-->

                <div class="left_nav_slidebar">
                    <ul>
                        <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span
                                    class="left_nav_pointer"></span> <span class="plus"><i
                                        class="fa fa-plus"></i></span> </a>
                            <ul>
                                <li> <a href="/medico/renderVistaDocotr/<%=especialidad%>"> <span>&nbsp;</span> <i
                                            class="fa fa-circle "></i> <b>Inicio</b> </a> </li>
                            </ul>
                        </li>
                        <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i
                                    class="fa fa-tasks"></i> Consulta Externa<span class="plus"><i
                                        class="fa fa-plus"></i></span></a>
                            <ul class="opened" style="display:block">
                                <li> <a href="/medico/listfalseConsulta/<%=especialidad%>"> <span>&nbsp;</span> <i
                                            class="fa fa-circle"></i> <b class="theme_color">Listas de Citas</b>
                                    </a> </li>
                            </ul>
                        </li>
                        <%- include("partials/footerDocotr") -%>
                    </ul>

                </div>
            </div>
            <!--\\\\\\\left_nav end \\\\\\-->
            <div class="contentpanel">
                <!--\\\\\\\ contentpanel start\\\\\\-->
                <div class="container clear_both padding_fix col-lg-8">
                    <br>
                    <div class="row">


	<!-- Content page-->

	<!-- NavBar -->
	
		<!-- Content page -->
	
		<div class="container-fluid col-md-12" id="">
			<div class="page-header  col-md-6">	
					<h1 class="text-titles"><i class="zmdi zmdi-hospital zmdi-hc-fw"></i> Alergias<small></small></h1>  
			</div><br><br>
			<div class="btn-group  col-md-3">
				<button type="button" class="btn btn-info btn-raised"
					data-toggle="dropdown">
				  Detalles del Paciente <span class="caret"></span>
				</button>
				
				<ul class="dropdown-menu" role="menu">
					<li class="menu__item">
						<a href="/datos_generales_paciente/list_responsables/<%=dataPaciente[0].id%>" class="menu__link">Datos de responsable </a>
					</li>
					<li class="menu__item">
						<a href="/datos_generales_paciente/lista_antecedentes/<%=dataPaciente[0].id%>" class="menu__link">Antecedentes</a>
					</li>
					<li class="menu__item">
						<a href="/datos_generales_paciente/lista_alergias/<%=dataPaciente[0].id%>" class="menu__link">Alergia</a>
					</li>
					<li class="menu__item">
						<a href="/datos_generales_paciente/list_exFisico/<%=dataPaciente[0].id%>" class="menu__link">Examen General</a>
					</li>
					<li class="menu__item">
						<a href="/VerHistorial" class="menu__link">Ver Historial </a>
					</li>
					<li class="menu__item">
							<a href="/ordenLaboratorio" class="menu__link">Orden </a>
						</li>
					<li class="divider"></li>
						  
				</ul>
			  </div> 
		   
			<div id="" class="col-md-2">
		
			  <div class="">
				<a href="/medico/volver" class="btn btn-success btn-raised btn-lg"><i class=""></i>Atras</a>	
			  </div>
			
			</div>
		</div>

	<!-- Alergias de consultas-->

	<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 ">
					<div class="block-web">
						<div class="header">
							<div class="actions"> <a class="minimize" href="#"><i
										class="fa fa-chevron-down"></i></a> <a
									class="close-down" href="#"><i
										class="fa fa-times"></i></a> </div>
							<h3 class="content-header">Alergias</h3>
						</div>
						<div class="porlets-content">
							
							<div class="form-group">
								<div class="row">
										<%if (update_Alergia == null) { %>
											<form action="/datos_generales_paciente/reg_alergias/<%=dataPaciente[0].id%>" method="POST">
											  
												<div class="col-md-12">
														<div class="col-sm-4 col-sm-4">
															<div class="entrada ">
																<h6 class=" blue_info">N° de Historia:</h6>
																<input
																	value="<%=dataPaciente[0].numeroHistorial%>"
																	class="form-control" readonly=""
																	value="Read only text goes here">
															</div>
														</div>
														<div class="col-sm-8 col-sm-9">
															<div class="form-group">
																<div class="entrada">
																	<h6 class=" blue_info">Nombre Completo:
																	</h6>
																	<input
																		value="<%=dataPaciente[0].nombre%> <%=dataPaciente[0].apellidop%> <%=dataPaciente[0].apellidom%>"
																		class="form-control" readonly=""
																		value="Read only text goes here">
																</div>
															</div>
														</div>
											
												</div>
											 
											 
											  <div class="col-md-12">
			
													<div class="col-sm-4 col-sm-4">
														<div class="entrada">Fecha:<br>
															<input  type="date" name="fecha" require><br>
														</div>
													</div>
													<div class="col-sm-8 col-sm-9">
														<div class="entrada">Tipo de Alergia<br>
															<input type="text" name="tipoAlergia" value="" size="20"class="form-control"><br>
														</div>
													</div>
											</div> 
											<div class="col-md-12">
													<div class="entrada">Descripción:<br>
														
													  </div>
													  <textarea class="large-compact" name="descripcion" cols="120" rows="5"></textarea>
													  
											</div> 
											<br>
											  
											  <br>
											  
												
												<p class="text-center">
													<button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
													<button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
												</p>
											  </form>
										   
											  <% } else { %>
												  <form action="/datos_generales_paciente/updateAlergia/<%=update_Alergia[0].id%>" method="POST">
													<div class="col-md-12">
															<div class="col-sm-4 col-sm-4">
																<div class="entrada ">
																	<h6 class=" blue_info">N° de Historia:</h6>
																	<input
																		value="<%=dataPaciente[0].numeroHistorial%>"
																		class="form-control" readonly=""
																		value="Read only text goes here">
																</div>
															</div>
															<div class="col-sm-8 col-sm-9">
																<div class="form-group">
																	<div class="entrada">
																		<h6 class=" blue_info">Nombre Completo:
																		</h6>
																		<input
																			value="<%=dataPaciente[0].nombre%> <%=dataPaciente[0].apellidop%> <%=dataPaciente[0].apellidom%>"
																			class="form-control" readonly=""
																			value="Read only text goes here">
																	</div>
																</div>
															</div>
												
													</div>
													 
												
													  <br>
													  <p>Alergias Update </p>
													  <a href="/datos_generales_paciente/regresar"> Volver </a>
													  <div class="grupo" id="cabeza">
															<div class="col-md-12">
			
																	<div class="col-sm-4 col-sm-4">
																		<div class="entrada">Fecha:<br>
																			<input  type="date" name="fecha" value="<%=update_Alergia[0].fecha%>" require><br>
																		</div>
																	</div>
																	<div class="col-sm-8 col-sm-9">
																		<div class="entrada">Tipo de Alergia<br>
																			<input type="text" name="tipoAlergia" value="<%=update_Alergia[0].tipoAlergia%>" size="20"class="form-control"><br>
																		</div>
																	</div>
															</div> 
															<div class="col-md-12">
																	<div class="entrada">Descripción:<br>
																		
																	  </div>
																	  <textarea  type="text" name="descripcion" class="large-compact"  cols="120" rows="5"><%=update_Alergia[0].descripcion%></textarea>
																	  
															</div>
													  </div>
													  <br>
													  
													  <br>
													  
														
														<p class="text-center">
															<button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
															<button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
														</p>
												  </form>
											  <% } %>
											  <div class="table-responsive"><br>
												  <h3 class="text-center all-tittles">LISTA DE ALERGIAS</h3>
												  <div class="table-wrapper">
													  <div id="correo">
														  <div class="entrada">
															  <button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success btn-raised btn-lg"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
														  </div>
														  
													  </div>
													
													  <table class="display table table-bordered table-striped"
	id="dynamic-tablee">
	<thead>
			
		<tr>
				<th>Fecha</th>
				<th>Tipo de Alergia</th>
				<th>Descripción</th>
				<th>Ver</th>
		</tr>
	</thead>
	<tbody>
			<%for(var i = 0; i< alergias_list.length; i++) { %>
		<tr class="gradeX">
				<td> falta en la BD</td>
				<td><%=alergias_list[i].tipoAlergia%></td>
				<td><%=alergias_list[i].descripcion%></td>
				<td class="center"><a href="/datos_generales_paciente/one_alergia/<%=alergias_list[i].id%>" class="btn btn-info"><i class="fa fa-edit"></i></a></td>
			
			</tr>
		<% } %>
	</tbody>
	<tfoot>
		<tr>
				<th>Fecha</th>
				<th>Tipo de Alergia</th>
				<th>Descripción</th>
				<th>Ver</th>
		</tr>
	</tfoot>
</table>



												  </div>
											  </div>
									
									<br>
								</div>
							</div>
						</div>
					</div>
					<!--/col-md-12-->
				</div>
				<!--/row-->
			</div>
		</div>

</div>







	<!--====== Scripts -->
	
	<script src="/js/get/consultaget.js"></script>


    <script src="/js/jquery-2.1.0.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/common-script.js"></script>
    <script src="/js/jquery.slimscroll.min.js"></script>

    <script src="/plugins/data-tables/dynamic_table_init2.js"></script>
    <script src="/plugins/data-tables/jquery.dataTables.js"></script>
    <script src="/plugins/data-tables/DT_bootstrap.js"></script>
    <script src="/plugins/data-tables/dynamic_table_init.js"></script>
    <script src="/plugins/edit-table/edit-table.js"></script>
    <script>
        jQuery(document).ready(function () {
            EditableTable.init();
        });
    </script>

    <script src="/js/jPushMenu.js"></script>
    <script src="/js/side-chats.js"></script>
</body>
</html>