<!DOCTYPE html>
<html lang="es">
<head>
	<title>Alergia</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
</head>
<body class=" full-box dashboard-sideBar-imagg cover " >
	<!-- SideBar -->
	<%- include("partials/menudoc") -%>

	<li>
		<a href="/medico/renderVistaDocotr/<%=especialidad%>">
			<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Home
		</a>
	</li>

    <li>
		<a href="#!" class="btn-sideBar-SubMenu">
			<i class="zmdi zmdi-file-plus zmdi-hc-fw"></i> Consultas externas <i class="zmdi zmdi-caret-down pull-right"></i>
		</a>
		<ul class="list-unstyled full-box">
			<li><a href="/medico/listfalseConsulta/<%=especialidad%>"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i>Listas de citas</a></li>
					  
		</ul>
	</li>
	<%- include("partials/footerDocotr") -%>
	<!-- Content page-->
<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar dashboard-sideBar-imaggg cover ">
		<ul class="full-box list-unstyled text-right dashboard-sideBar-ctttt">
			<li class="pull-left">
		    	<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
			</li>
			<li>
				<a href="#!" class="btn-Notifications-area">
					<i class="zmdi zmdi-notifications-none"></i>
				</a>
			</li>
		</ul>
	</nav>
		<!-- Content page -->
		<div class="container-fluid col-md-12" id="">
				<div class="page-header  col-md-6">	
					<h1 class="text-titles"><i class="zmdi zmdi-hospital zmdi-hc-fw"></i> Alergias<small></small></h1>  
			</div><br><br>
			<div class="btn-group  col-md-3">
				<button type="button" class="btn btn-info btn-raised"
					data-toggle="dropdown">
				  Detalles del Paciente <span class="caret"></span>
				</button>
				
				<ul class="dropdown-menu" role="menu">
					<li class="menu__item">
						<a href="/datos_generales_paciente/list_responsables/<%=dataPaciente[0].id%>" class="menu__link">Datos de responsable </a>
						
					</li>
					<li class="menu__item">
						<a href="/datos_generales_paciente/lista_antecedentes/<%=dataPaciente[0].id%>" class="menu__link">Antecedentes</a>
					
					</li>
					<li class="menu__item">
						<a href="/datos_generales_paciente/list_exFisico/<%=dataPaciente[0].id%>" class="menu__link">Examen General</a>
					</li>
					<li class="divider"></li>
				  
				</ul>
			  </div> 
		   
			<div id="" class="col-md-2">
		
			  <div class="">
				<a href="/medico/volver" class="btn btn-success btn-raised btn-lg"><i class=""></i>Atras</a>	
			  </div>
			
			</div>
		</div>
	<!-- Alergias de consultas-->
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade active in" id="new">
		  <div class="container-fluid">
			<div class="row">
				
				<%if (update_Alergia == null) { %>
			  <form action="/datos_generales_paciente/reg_alergias/<%=dataPaciente[0].id%>" method="POST">
				
				<p>Datos del Paciente</p>
				<div class="grupo" id="cabeza">
					<div id="cuatro">
						<div class="entrada">Historial:<br>
						  	<label><font color="black"><%=dataPaciente[0].numeroHistorial%></font></label>
						</div>
						<div class="entrada">Apellido Paterno:<br>
						  	<label><font color="black"><%=dataPaciente[0].apellidop%></font></label>
						</div>
						<div class="entrada">Apellido Materno:<br>
						  	<label for=""><font color="black"><%=dataPaciente[0].apellidom%></font></label>
						</div>
						<div class="entrada">Nombre(s):<br>
						 	<label for=""><font color="black"><%=dataPaciente[0].nombre%></font></label>
						</div>
					</div>
				</div>
				<br>
				<p>Alergias </p>
				<div class="grupo" id="cabeza">
				  <div id="tres2">
					<div class="entrada">Fecha:<br>
					  <input  type="date" name="fecha" require><br>
					</div>
					<div class="entrada">Tipo de Alergia<br>
					  <input type="text" name="tipoAlergia" value="" size="20"><br>
					</div>
					<div class="entrada">Descripción:<br>
					  <input type="text" name="descripcion" value=""size="10"><br>
					</div>
					
				  </div>
				 
				
				</div>
				<br>
				
				<br>
				
				  
				  <p class="text-center">
					  <button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
					  <button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
				  </p>
				</form>
				<% } else { %>
					<form action="/datos_generales_paciente/updateAlergia/<%=update_Alergia[0].id%>" method="POST">
				
						<p>Datos del Paciente</p>
						<div class="grupo" id="cabeza">
							<div id="cuatro">
								<div class="entrada">Historial:<br>
									  <label><font color="black"><%=dataPaciente[0].numeroHistorial%></font></label>
								</div>
								<div class="entrada">Apellido Paterno:<br>
									  <label><font color="black"><%=dataPaciente[0].apellidop%></font></label>
								</div>
								<div class="entrada">Apellido Materno:<br>
									  <label for=""><font color="black"><%=dataPaciente[0].apellidom%></font></label>
								</div>
								<div class="entrada">Nombre(s):<br>
									 <label for=""><font color="black"><%=dataPaciente[0].nombre%></font></label>
								</div>
							</div>
						</div>
						<br>
						<p>Alergias Update </p>
						<a href="/datos_generales_paciente/regresar"> Volver </a>
						<div class="grupo" id="cabeza">
						  <div id="tres2">
							<div class="entrada">Fecha:<br>
							  <input  type="date" name="fecha" value="<%=update_Alergia[0].fecha%>" require><br>
							</div>
							<div class="entrada">Tipo de Alergia<br>
							  <input type="text" name="tipoAlergia" value="<%=update_Alergia[0].tipoAlergia%>" size="20"><br>
							</div>
							<div class="entrada">Descripción:<br>
							  <input type="text" name="descripcion" value="<%=update_Alergia[0].descripcion%>"size="10"><br>
							</div>
							
						  </div>
						 
						
						</div>
						<br>
						
						<br>
						
						  
						  <p class="text-center">
							  <button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
							  <button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
						  </p>
						</form>
				<% } %>
				<div class="table-responsive">
					<h3 class="text-center all-tittles">LISTA DE ALERGIAS</h3>
					<div class="table-wrapper">
						<div id="correo">
							<div class="entrada">
								<button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success btn-raised btn-lg"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
							</div>
							<div class="entrada">Buscar <i class="zmdi zmdi-search"></i><br>
								<input type="text" id="searchInput" placeholder="Buscar.."><br>
							</div>
						</div>
						<table class="fl-table" id="myTable">
							<thead>
								<tr>
			
								<th>Fecha</th>
								<th>Tipo de Alergia</th>
								<th>Descripción</th>
								<th>Ver</th>
								
								</tr>
							</thead>
							<tbody>
								<%for(var i = 0; i< alergias_list.length; i++) { %>
									<tr>
										<td> falta en la BD</td>
										<td><%=alergias_list[i].tipoAlergia%></td>
										<td><%=alergias_list[i].descripcion%></td>
										<td><a href="/datos_generales_paciente/one_alergia/<%=alergias_list[i].id%>" class="btn btn-info btn-raised btn-xs "><i class="zmdi zmdi-refresh-alt"></i></a></td>
									
									</tr>
								<% } %>
							<tbody>
						</table>
					</div>
				</div>
				                                                                         
			                          
		  </div>
		</div>
	  </div>
	</div>
</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>