<!DOCTYPE html>
<html lang="es">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Antecedentes</title>
	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/css/animate.css" rel="stylesheet" type="text/css" />
		<link href="/css/admin.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
		<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
		<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">
	
		<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
		<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
		<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
		<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />
	
	
	


	<style>
		div.a {
			text-align: center;
		}

		h1.letras {
			font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

		}
	</style>
	<%- include("partials/head") -%>
</head>

<body class=" light_theme  fixed_header left_nav_fixed">
	<!-- SideBar -->

	<!-- Content page-->
<div class="wrapper" id="antecedentes">
	<!--\\\\\\\ wrapper Start \\\\\\-->
	<div class="header_bar">
			<!--\\\\\\\ header Start \\\\\\-->
			<div class="brand">
				<!--\\\\\\\ brand Start \\\\\\-->
				<div class="logo" style="display:block"><span class="theme_color">Hospital</div>

			</div>
			<!--\\\\\\\ brand end \\\\\\-->
			<div class="header_top_bar">
				<!--\\\\\\\ header top bar start \\\\\\-->
				<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

				<div class="top_right_bar">

					<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
								src="/images/user.png" /><span class="user_adminname"><%=data_doc.data.medico.nombre%> <%=data_doc.data.medico.apellidop%></span> <b
								class="caret"></b> </a>
						<ul class="dropdown-menu">
							<div class="top_pointer"></div>
							<li> <a href="/profile.html"><i class="fa fa-user"></i> Profile</a> </li>
							<li> <a href="/help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
							<li> <a href="/settings.html"><i class="fa fa-cog"></i> Setting </a></li>
							<li> <a href="/login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<!--\\\\\\\ header top bar end \\\\\\-->
	</div>
	<div class="inner" >
		<!--\\\\\\\ inner start \\\\\\-->
		<div class="left_nav">
				<!--\\\\\\\left_nav start \\\\\\-->
			<div class="left_nav_slidebar">
					<ul>
						<li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span
									class="left_nav_pointer"></span> <span class="plus"><i
										class="fa fa-plus"></i></span> </a>
							<ul>
								<li> <a href="/consulta_externa/home/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i
											class="fa fa-circle "></i> <b>Inicio</b> </a> </li>
							</ul>
						</li>
						<li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i
									class="fa fa-tasks"></i> Consulta Externa<span class="plus"><i
										class="fa fa-plus"></i></span></a>
							<ul class="opened" style="display:block">
								<li> <a href="/consulta_externa/lista_pacientes/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i
											class="fa fa-circle"></i> <b class="theme_color">Listas de Citas </b>
									</a> </li>
							</ul>
						</li>
						<%- include("partials/footerDocotr") -%>
					</ul>

			</div>
		</div>
			<!--\\\\\\\left_nav end \\\\\\-->
		<div class="contentpanel">
				<!--\\\\\\\ contentpanel start\\\\\\-->
			<div class="container-fluid clear_both padding_fix col-lg-12">
				<br>
				<div class="main-content ">
					<div class="col-lg-12 block-web ">
						<!-- Content page -->
						<div  >				
							<div class="header">
								<div class="info blue_symbols"><i class="fa fa-clipboard icon"></i></div>
									<h3 class="content-header "> Registro de Antecedentes</h3>
							</div>
								<h1 class="text-titles"><i class="fa fa-hospital "></i> </h1>  			
						</div>
					
					<div class="main-content ">
							<!-- Antecedentes de consultas-->
						<section class="">
						<div class="col-lg-12">
								
							<div  class="">
								<div class="">
									
									<input type="hidden" :value="id_paciente = '<%=dataPaciente[0].id%>'">
									<input type="hidden" :value="id_medico = '<%=data_doc.data.medico.id%>'">
									<span style="color: red">{{msg_false}}</span>
									<span style="color: blue">{{msg}}</span>

									<template v-if="antecedente_one == ''">

									
										<form @submit="reg_antecedentes" method="POST">

											<div class="col-md-12">
											<div class="">
												<div class="col-md-12 block-web">
												<div class="header ">
													<div class="actions"> 
														<a href="/consulta_externa/reg_consulta/<%=id_cita%>/<%=dataPaciente[0].numeroHistorial%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"  class="list-group-item  blue_bg text-center "><i class="fa fa-hand-o-left"></i>    ATRAS</a>
													</div>
													<h3 class="content-header">Antecedentes</h3>&nbsp;&nbsp;
												</div>
											</div>
											<div class=" ">
												<div class=" row col-md-9 ">
												<div class=" ">
													<div class="col-sm-4 col-sm-4">
														<div class="entrada ">
															<h6 class=" blue_info">N째 de Historia:</h6>
															<input
																value="<%=dataPaciente[0].numeroHistorial%>"
																class="form-control" readonly=""
																value="Read only text goes here">
														</div>
													</div>
													<div class="col-sm-8 col-sm-9">
														<div class="form-group">
															<div class="entrada">
																<h6 class=" blue_info">Nombre Completo:</h6>
																	<input
																		value="<%=dataPaciente[0].nombre%> <%=dataPaciente[0].apellidop%> <%=dataPaciente[0].apellidom%>"
																		class="form-control" readonly=""
																		value="Read only text goes here">
															</div>
														</div>
													</div>

												</div>
											
												<div class="">
													<div class="col-sm-4 col-sm-4">
														<div class="entrada">Fecha:<br>
															<input type="text"  readonly  class="form-control" v-model="fecha_registro"><br>
														</div>
													</div>
													<div class="col-sm-4 col-sm-4">
														<div class="form-group">
															<div class="entrada">Antecedes de Familiares:<br>
																<input type="text" size="20" class="form-control" v-model="familiares"><br>
															</div>
														</div>
													</div>
													<div class="col-sm-4 col-sm-4">
														<div class="form-group">
															<div class="entrada">Antecedes Patologicos:<br>
																<input type="text"  size="20" class="form-control" v-model="personales_patologicos"><br>
															</div>
														</div>
													</div>
												</div>
												<div class="">
													<div class="col-sm-4 col-sm-4">
														<div class="form-group">
															<div class="entrada">Antecedes no Patologicos:<br>
																<input type="text" name="personales_no_patologicos" value="" size="10" class="form-control" v-model="personales_no_patologicos"><br>
															</div>
														</div>
													</div>
													<div class="col-sm-4 col-sm-4">
														<div class="entrada">Gineco Obstetrico:<br>
															<input type="text" name="gineco_obstetrico" value="" size="20" class="form-control" v-model="gineco_obstetrico"><br>
														</div>
													</div>
												</div>
												<div class=" col-md-9">
													<div class="entrada">Descripci처n:<br>
														<textarea class="large-compact" name="descripcion" cols="115" rows="10" v-model="descripcion"></textarea>
													 </div>
												</div><br>
												</div>
												<div class="col-lg-3 row">
														<div class="file_sidebar">                   
																<li href="#collapse" data-parent="#accordion" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Detalles del Paciente</li>            
																<div  class="file_sidebar_list panel-collapse collapse in"   id="collapse" style="height: auto;">
																<ul>
																	<li><a href="/datos_generales_paciente/lista_antecedentes/<%=id_cita%>/<%=dataPaciente[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>" ><i class="fa fa-building-o"></i>Antecedentes</a></li>
																	<li><a href="/datos_generales_paciente/lista_alergias/<%=dataPaciente[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>/<%=id_cita%>"><i class="fa fa-user"></i>Alergias</a></li>
																	<!-- <li><a href="/paciente/Vacunas" ><i class="fa fa-user"></i> Vacunas</a></li> -->
																	<li><a href="/datos_generales_paciente/list_exFisico/<%=dataPaciente[0].id%>/<%=id_cita%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"><i class="fa fa-users"></i>Examen General</a></li>
																		  
																   <!-- <li><a href="/datos_generales_paciente/list_responsables/<%=dataPaciente[0].id%>"><i class="fa fa-users"></i>Datos de responsable</a></li>
																   <li><a href="/datos_generales_paciente/lista_antecedentes/<%=dataPaciente[0].id%>" ><i class="fa fa-building-o"></i>Antecedentes</a></li>			   
																   <li><a href="/datos_generales_paciente/lista_alergias/<%=dataPaciente[0].id%>"><i class="fa fa-user"></i>Alergias</a></li>
																   <li><a href="javascript:void(0);" data-toggle="modal" data-target="#alergias"><i class="fa fa-user"></i>Falta Vacunas</a></li>
																   <li><a href="/datos_generales_paciente/list_exFisico/<%=dataPaciente[0].id%>"><i class="fa fa-users"></i>Examen General</a></li>
																   <li><a href="/VerHistorial"><i class="fa fa-exclamation-triangle"></i>Ver Historial</a></li> -->
																</ul>
														   </div>
														 </div>
													</div>
													</div>
													</div>
												</div>
												<br>
												<br>
												<p class="text-center">
													<button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp;
																Limpiar</button>
													<button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp;
																Guardar</button>
												</p>
										</form>
											
									</template>

									<template v-else>

										<form @submit="update_alergia" method="POST">

											<div class="col-md-12">
											<div class="">
												<div class="col-md-12 block-web">
												<div class="header ">
													<div class="actions"> 
														<a href="/consulta_externa/reg_consulta/<%=id_cita%>/<%=dataPaciente[0].numeroHistorial%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"  class="list-group-item  blue_bg text-center "><i class="fa fa-hand-o-left"></i>    ATRAS</a>
													</div>
													<h3 class="content-header">Antecedentes</h3>&nbsp;&nbsp;
												</div>
											</div>
											<div class=" ">
												<div class=" row col-md-9 ">
												<div class=" ">
													<div class="col-sm-4 col-sm-4">
														<div class="entrada ">
															<h6 class=" blue_info">N째 de Historia:</h6>
															<input
																value="<%=dataPaciente[0].numeroHistorial%>"
																class="form-control" readonly=""
																value="Read only text goes here">
														</div>
													</div>
													<div class="col-sm-8 col-sm-9">
														<div class="form-group">
															<div class="entrada">
																<h6 class=" blue_info">Nombre Completo:</h6>
																	<input
																		value="<%=dataPaciente[0].nombre%> <%=dataPaciente[0].apellidop%> <%=dataPaciente[0].apellidom%>"
																		class="form-control" readonly=""
																		value="Read only text goes here">
															</div>
														</div>
													</div>

												</div>
											
												<div class="">
													<div class="col-sm-4 col-sm-4">
														<div class="entrada">Fecha:<br>
															<input type="text"  readonly  class="form-control" v-model="fecha_registro"><br>
														</div>
													</div>
													<div class="col-sm-4 col-sm-4">
														<div class="form-group">
															<div class="entrada">Antecedes de Familiares:<br>
																<input type="text" size="20" class="form-control" v-model="antecedente_one.familiares"><br>
															</div>
														</div>
													</div>
													<div class="col-sm-4 col-sm-4">
														<div class="form-group">
															<div class="entrada">Antecedes Patologicos:<br>
																<input type="text"  size="20" class="form-control" v-model="antecedente_one.personales_patologicos"><br>
															</div>
														</div>
													</div>
												</div>
												<div class="">
													<div class="col-sm-4 col-sm-4">
														<div class="form-group">
															<div class="entrada">Antecedes no Patologicos:<br>
																<input type="text" name="personales_no_patologicos" value="" size="10" class="form-control" v-model="antecedente_one.personales_no_patologicos"><br>
															</div>
														</div>
													</div>
													<div class="col-sm-4 col-sm-4">
														<div class="entrada">Gineco Obstetrico:<br>
															<input type="text" name="gineco_obstetrico" value="" size="20" class="form-control" v-model="antecedente_one.gineco_obstetrico"><br>
														</div>
													</div>
												</div>
												<div class=" col-md-9">
													<div class="entrada">Descripci처n:<br>
														<textarea class="large-compact" name="descripcion" cols="115" rows="10" v-model="antecedente_one.descripcion"></textarea>
													 </div>
												</div><br>
												</div>
												<div class="col-lg-3 row">
														<div class="file_sidebar">                   
																<li href="#collapse" data-parent="#accordion" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Detalles del Paciente</li>            
																<div  class="file_sidebar_list panel-collapse collapse in"   id="collapse" style="height: auto;">
																<ul>
																	<li><a href="/datos_generales_paciente/lista_antecedentes/<%=id_cita%>/<%=dataPaciente[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>" ><i class="fa fa-building-o"></i>Antecedentes</a></li>
																	<li><a href="/datos_generales_paciente/lista_alergias/<%=dataPaciente[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>/<%=id_cita%>"><i class="fa fa-user"></i>Alergias</a></li>
																	<!-- <li><a href="/paciente/Vacunas" ><i class="fa fa-user"></i> Vacunas</a></li> -->
																	<li><a href="/datos_generales_paciente/list_exFisico/<%=dataPaciente[0].id%>/<%=id_cita%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"><i class="fa fa-users"></i>Examen General</a></li>
																		  
																  <!--  <li><a href="/datos_generales_paciente/list_responsables/<%=dataPaciente[0].id%>"><i class="fa fa-users"></i>Datos de responsable</a></li>
																   <li><a href="/datos_generales_paciente/lista_antecedentes/<%=dataPaciente[0].id%>" ><i class="fa fa-building-o"></i>Antecedentes</a></li>			   
																   <li><a href="/datos_generales_paciente/lista_alergias/<%=dataPaciente[0].id%>"><i class="fa fa-user"></i>Alergias</a></li>
																   <li><a href="javascript:void(0);" data-toggle="modal" data-target="#alergias"><i class="fa fa-user"></i>Falta Vacunas</a></li>
																   <li><a href="/datos_generales_paciente/list_exFisico/<%=dataPaciente[0].id%>"><i class="fa fa-users"></i>Examen General</a></li>
																   <li><a href="/VerHistorial"><i class="fa fa-exclamation-triangle"></i>Ver Historial</a></li> -->
																</ul>
														   </div>
														 </div>
													</div>
													</div>
													</div>
												</div>
												<br>
												<br>
												<p class="text-center">
													<button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp;Limpiar</button>
													<template v-if="antecedente_one.estado_update == true">
														<button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp;Actualizar</button>

													</template>
													<button  @click="antecedente_one = ''" type="button" class="btn btn-warning btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp;Volver</button>
												</p>
										</form>
									</template>
								</div>					
									<div >
										<div class="container" > 
										
										
											<br><br>
											<div class="table-responsive">
												<div class="block-web">
													<div class="header">
														<div class="actions"> 

														</div>
														<h3 class="text-center all-tittles">Lista de  Antecedentes</h3>&nbsp;&nbsp;
													</div>
												
												</div>

												<div class="table-wrapper">

													<table class="display table table-bordered table-striped"
														id="dynamic-tablee">
														<thead>
															<tr>
																<th>#</th>
																<th>Antecedentes familiares</th>
																<th>Antecedentes Patologicos</th>
																<th>Atecedentes no Patologicos</th>
																<th>Opciones</th>
															
															</tr>
														</thead>
														<tbody v-for="(list,index) in antc_list">
															<tr>
																<td>{{index}}</td>
																<td>{{list.familiares}}</td>
																<td>{{list.personales_patologicos}}</td>
																<td>{{list.personales_no_patologicos}}</td>
																<td><a @click="one_antecedente(list.id)">ver</a></td>
															</tr>

														<tbody>
													</table>
												</div>
											</div>
										
										
										</div>
									</div>
									
							</div>
						</div>
						</section>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<!--====== Scripts -->
	<script src="/js/jquery-2.1.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common-script.js"></script>
	<script src="/js/jquery.slimscroll.min.js"></script>
	<script src="/plugins/data-tables/dynamic_table_init2.js"></script>
	<script src="/plugins/data-tables/jquery.dataTables.js"></script>
	<script src="/plugins/data-tables/DT_bootstrap.js"></script>
	<script src="/plugins/data-tables/dynamic_table_init.js"></script>
	<script src="/plugins/edit-table/edit-table.js"></script>
	<script>
		jQuery(document).ready(function () {
			EditableTable.init();
		});
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	<script src="/axios/dist/axios.min.js"></script>
	
	<script src="/js/jPushMenu.js"></script>
	<script src="/js/side-chats.js"></script>

	<script src="/moment/moment.js"></script>
    <script src="/moment/locale/af.js"></script>
	<script src="/url/export.js"></script>
	<script src="/js/vue/antecedentes.js"></script>
</body>

</html>