<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
            <div class="page-header">
                <h1 class="text-titles"><i class="zmdi zmdi-home zmdi-hc-fw"></i>Camas <%=salas[0].nombre%></h1>
            </div>
        </div>
        <!-- Nueva Sala-->
		<div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1"> 
                <form action="/salas/camas/<%=salas[0].id%>" method="POST">
                    <div class="form-group label-floating">
                        <label class="control-label">Descripcion</label>
                        <select class="form-control" name="descripcion">
                            <option><%=salas[0].descripcionSala%></option>
                        </select>
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            <label class="label1">Numero de Cama</label>
                            <input class="input--style-4" type="text" name="numeroCama">
                        </div>
                    </div>          
                    <p class="text-center">
                        <button type="reset" class="btn btn-primary" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                        <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                        <button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
					</p>
                </form>
                <!-- Lista de Salas-->
                <div class="table-responsive">
					<div class="table-responsive">
                        <div class="table-wrapper">
							<p class="text-center">
								<button type="submit" class="btn btn-info btn-lg" style="margin-right: 20px;"><i class="zmdi zmdi-file"></i> &nbsp;&nbsp; Nueva Cama </button>
							</p>
                            <table class="fl-table">
                                <thead>
                                    <tr>
                                        <th>Cama</th>
                                        <th>Descripcion</th>
                                        <th>Estado</th>
                                        <th>select</th>
                                        <th>Ver Cama</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0; i< resp.length; i++) { %>
                                    <tr>
                                        <td><%=resp[i].numeroCama%></td>
                                        <td><%=resp[i].descripcion%></td>
                                        <td><%=resp[i].estado%></td>
                                        <td><a href="/salas/updateCama/<%=resp[i].id%>" class="btn btn-info btn-raised btn-xs "><i class="zmdi zmdi-home"></i></a></td>
                                        <td><a href="/historial" class="btn btn-info btn-raised btn-xs "><i class="zmdi zmdi-home"></i></a></td>
                                    </tr>
                                    <% } %>
                                <tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
	</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>