<!DOCTYPE >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Salas</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/css/animate.css" rel="stylesheet" type="text/css" />
<link href="/css/admin.css" rel="stylesheet" type="text/css" />
<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />

<link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">

<style>
  .info2{ border-radius:100%; float: left; height:80px; width:80px; }
  .info2 .icon{ font-size:50px; color:#FFFFFF; float:left; margin-right:50px; margin:15px 9px 9px 18px;}
  .vertical-alignment-helper {
      display:table;
      height: 100%;
      margin-left: 41%;
  }
  .vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
</style>
<script type="text/javascript">
	// este scrip es para verificar si esta el token en local starge
	var data = localStorage.getItem('data')
	console.log(data)
	if (data == null){
		window.location.replace('/')
  }
  function delete_local_storage(){
		console.log ("ssss")
		localStorage.removeItem('data');
		localStorage.removeItem('url');
  }
  setTimeout(()=>{
    delete_local_storage()
    //window.location.replace('/')
  },500000);
</script>

</head>
<body class="light_theme  fixed_header left_nav_fixed">
  <div class="wrapper" id="cama">
    <div class="header_bar">
      <div class="brand">
        <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
      </div>
      <div class="header_top_bar">
        <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
        <div class="top_right_bar">
          <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown">
            <img src="/images/admin.png" /><span class="user_adminname"><%=data_doc.data.personal.nombre%> <%=data_doc.data.personal.apellidop%></span> <b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <div class="top_pointer"></div>
              <li> <a data-target="#myModalCerrar" data-toggle="modal" ><i class="fa fa-power-off"></i> Salir</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="inner">
      <div class="left_nav">
        <div class="left_nav_slidebar">
          <ul>
            <li ><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul >
                <li> <a href="/home/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Inicio</b> </a> </li>
              </ul>
            </li>
            <li > <a href="javascript:void(0);"> <i class="fa fa-users icon"></i>Admin Sistema  <span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul  >
                <li> <a href="/usuarios/usuarios/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Registros</b> </a> </li>
              </ul>
            </li>
            <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-clipboard"></i>Servicios<span class="left_nav_pointer"></span><span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul class="opened" style="display:block">
                <li> <a href="/cuaderno/especialidad/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Especialidades</b> </a> </li>
                <li> <a href="/cuaderno/Cuadernos/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Cuadernos</b> </a> </li>
                <li> <a href="/salas/salas/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Salas</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-folder-open-o"></i> Reportes <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul>
                <li> <a href="/paciente_Inter/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Pacientes</b> </a> </li>
              <li> <a href="/pacientead/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Farmacia</b></a> </li>
              <li> <a href="/usuarios/roles1/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Person.</b> </a> </li>
              <li> <a href="/cuaderno/recuadernos/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Cuadr.</b> </a> </li>
              <li> <a href="/cuaderno/repespecialidad/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reporte de Espc.</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-cogs"></i>CFG del Sistema<span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul>
                <li> <a href="/backup/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Backup</b> </a> </li>
                <li> <a href="/role/role/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b >Regs. Roles</b> </a> </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="contentpanel">
        <div class="container clear_both padding_fix col-lg-8">
          <br>
          <div class="row">
            <div class="col-lg-12 ">
              <div id="main-content" class=" block-web">
                
                <div class="header">
                  <div class="info2 blue_symbols"><i class="fa fa-hospital-o icon"></i></div>
                  <h3 class="content-header ">Camas de <b>/ <%=salas[0].nombre%></b> </h3>
                </div>
                <div class="page-content">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="block-web">
                        <div class="header">
                          <div class="actions"> 
                            <a class="minimize" data-toggle="collapse" data-target="#demo" ><i class="fa fa-chevron-down" style="color: blue;"></i></a> 
                            <a class="refresh" href=""><i class="fa fa-repeat" style="color: blue;"></i></a>
                          </div>
                        </div>
                        <br>
                        <div class="porlets-contents">
                          <div id="demo" class="collapse in">
                            <%if (onlyCamas == null) { %>
                            <form class="form-horizontal group-border-dashed" action="/salas/camas/<%=salas[0].id%>/<%=data_doc.data.token_id%>" method="POST" parsley-validate novalidate>
                              <div class="form-group">
                                <label class="col-sm-4 control-label">Sala:</label>
                                <div class="col-sm-3">
                                  <select class="form-control" id="source"  name="descripcion" required placeholder="">
                                    <option><%=salas[0].descripcionSala%></option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-sm-4 control-label">Número de Cama:</label>
                                <div class="col-sm-3">
                                  <input class="form-control" type="text" name="numeroCama" required placeholder="">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-md-4">
                                  <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i><span>&nbsp;</span>Guardar</button>
                                  <a class="btn btn-danger"href="/salas/volverSalas/<%=data_doc.data.token_id%>"><i class="fa fa-reply"></i><span>&nbsp;</span>Volver</a>
                                </div>
                              </div>
                            </form>
                            <% } else { %>
                            <form class="form-horizontal group-border-dashed" action="/salas/updateCama/<%=onlyCamas[0].id%>" method="POST" parsley-validate novalidate>
                              <div class="form-group">
                                <label class="col-sm-4 control-label">Sala:</label>
                                <div class="col-sm-3">
                                  <select class="form-control" id="source"  name="descripcion">
                                    <option><%=onlyCamas[0].descripcion%></option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group">
                                <label class="col-sm-4 control-label">Número de Cama :</label>
                                <div class="col-sm-3">
                                  <input class="form-control" type="text" name="numeroCama" value="<%=onlyCamas[0].numeroCama%>">
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="col-md-4">
                                  <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i><span>&nbsp;</span>Guardar</button>
                                  <a class="btn btn-danger"href="/home"><i class="fa fa-times"></i><span>&nbsp;</span>Cancelar</a>
                                </div>
                              </div>
                            </form>
                            <% } %>
                          </div>
                            <br><br>
                            <div class="porlets-content">
                              <div class="table-responsive">
                                <table  class="table table-bordered" >
                                  <thead>
                                    <tr>
                                        <th class="text-center">N° de Cama</th>
                                        <th class="text-center">Sala</th>
                                        <th class="text-center">Estado</th>
                                        <th class="text-center">Opciones</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      <% for(var i=0; i< resp.length; i++) { %>
                                      <tr>
                                        <td class="text-center"><%=resp[i].numeroCama%></td>
                                        <td class="text-center"><%=resp[i].descripcion%></td>
                                        <td class="text-center"><%=resp[i].estado%></td>
                                        <td class="text-center">
                                          <!--<a href="/salas/onlyCamas/<%=resp[i].id%>"  data-toggle="tooltip" class="btn  tooltips" data-original-title="Editar"><i class="fa fa-pencil text-muted"></i></a>
                                          <a href="/historial"  data-toggle="tooltip" class="btn  tooltips" data-original-title="Ver Cama"><i class="fa fa-eye text-muted"></i></a>-->
                                          <a @click="id_cama = '<%=resp[i].id%>'" data-target="#myModal" data-toggle="modal" data-toggle="tooltip" class="btn  tooltips" data-original-title="Eliminar"><i  class=" fa fa-trash-o red"></i></a><span>&nbsp;</span>
                                        </td>
                                      </tr>
                                      <% } %>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                        </div>
                        <!--/porlets-content-->
                      </div>
                      <!--/block-web-->
                    </div>
                    <!--/col-md-12-->
                  </div>
                  <!--/row-->
                </div>
                <!--/page-content end-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
      <div class="vertical-alignment-helper">
          <div class="modal-dialog vertical-align-center modal-sm ">
            <div class="modal-content">
              <br>
              <div class="modal-body">
                <div class="center">
                  <i  class="fa fa-exclamation-triangle red fa-6x"></i>
                </div>
                <div class="center">
                  <h5><b>¿Estás seguro?</b></h5>
                  <p>Eliminar la Cama</p>
                </div>
              </div>
              <div class="modal-footer">
                <div class="center">
                  <a v-bind:href="'/salas/delcama/'+id_cama+'/<%=data_doc.data.token_id%>/<%=salas[0].id%>'" class="btn btn-success"><i class="fa fa-check"></i><span>&nbsp;</span>Sí, Confirmar</a>
                  <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;</span>No, Cancelar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="modal fade" id="myModalCerrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center modal-sm ">
        <div class="modal-content">
          <br>
            <div class="center">
              <i><img src="/images/salir.gif" width="100" height="100" /></i>
            </div>
            <div class="center">
              <h5><b>¿Cerrar Sesión?</b></h5>
            </div>
          <div class="modal-footer">
            <div class="center">
              <a href="/delete_token/<%=data_doc.data.token_id%>" onclick="delete_local_storage()"  class="btn btn-success"><i class="fa fa-check"></i><span>&nbsp;</span>Sí, Confirmar</a>
              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;</span>No, Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
<!--====== Scripts -->
<%- include("partials/scripts") -%>
<script src="/sweetalert2/dist/sweetalert2.min.js"></script>

<script>
  var cama = new Vue({
    el: "#cama",
    data: () =>({
      id_cama:''

    }),
  })
</script>
<script>
  /*  <%if(msg) { %> */
    /*  <%if(msg.data.success == false) { %> */
         msg_false()
         function msg_false(){
           swal.fire(
             'Error!',
             '<label style="color:red;">'+`<%=msg.data.data_p%>`+'</label>',
             'error'
           )
         }
     /* <% } else {%> */
         msg_true()
         function msg_true(){
           swal.fire(
             'Success!',
             '<label style="color:green;">'+ `<%=msg.data.data_p%>` +'</label>',
             'success'
           )
         }
    /*  <% } %> */
  /*  <% } %> */
 </script>
</body>
</html>