<!DOCTYPE html>
<html lang="es">
<head>
	<title>Recerva Ficha</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
		<ul class="full-box list-unstyled text-right">
			<li class="pull-left">
				<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
			</li>
		</ul>
	</nav>
	<!-- Content page -->
	<div class="container-fluid">
		<div class="page-header">
			  <h1 class="text-titles"><i class="zmdi zmdi-account-calendar zmdi-hc-fw"></i> Recerva de Ficha Medica </h1>
		</div>
	</div>
	<div class="container-fluid">
		<div  id="citas">
			<%if(citaUpdate == null) { %>
				
			<form action="/paciente/cita_medica/<%=id.id %>" method="POST">
				<div class="entrada"> Seleccione Dia:<br>
					<select v-model="dia"  @click="especilida">
						<option>Lunes</option>
						<option>Martes</option>
						<option>Miercoles</option>
						<option>Jueves</option>	
						<option>Viernes</option>	
						<option>Sabado</option>	
						<option>Domingo</option>		
					</select><br>
				</div>
				<div class="grupo" id="cabeza">
					<h3 class="text-center"> Datos Personales</h3>
					<div id="tres2">
						<div class="entrada">Historial Clinico:<br>
							<input type="text" value="<%=historial	%>" name="codigo_p"><br>
						</div>
						<div class="entrada" > Doctor:<br>
							<select name="medico" v-model="selectDoctor"  @click="saca_horas(),saca_horas_reservadas(),saca_horas_atendidas()">
								<option disabled="disabled" value>Seleccione</option>
								<option v-for="(doctor, index) of doctores">{{doctor.nombre}}</option>		
							</select><br>
						</div>
						<div class="entrada">Consultorio De:<br>
							<select  name="especialidad" @click="especilida" v-model="selectEsp">
								<option disabled="disabled" value>Seleccione</option>
								<template v-for="(especialidad, index) in especialidades">									
									<option>{{especialidad.nombre}}</option>
								</template>
							</select><br>
						</div>
					</div>
					<div id="correo">
							<div class="entrada">Turno:<br>
								<select name="turno" v-model="turno"  @click="especilida">
									<option>Mañanas</option>
									<option>Tardes</option>
									<option>Noches</option>
								</select>
							</div>
				
						
							<div class="col-md-9">
								<label class="radio-inline"><input checked="checked" data-val="true" data-val-required="The IsSmallBusiness field is required." id="IsSmallBusiness" name="IsSmallBusiness" type="radio" value="False">Asegurado</label>
								<label class="radio-inline"><input id="IsSmallBusiness" name="IsSmallBusiness" type="radio" value="True">No Asegurado</label>
								<span class="field-validation-valid help-block" data-valmsg-for="PhoneNumber" data-valmsg-replace="true"></span>
							</div><br>
						</div>
						<div class="">Costo de Ficha:<br>
							<input type="text" name="saldo_total"><br>
						</div>
					</div>
					<p>Hora de Recerva:</p>
					<div class="grupo" id="cabeza">						
						<template v-for="(horas, index, key) in horas_Turno">
							<label for="">{{index+1}}</label>
							<input type="radio" name="hora" :value="horas.h +'/'+horas.id">{{horas.h}}<br>							
						</template>	

						<p>Horas Reservadas:</p>
						<template v-for="(horas, index, key) in horas_Turno_reservado">
							<label for="">{{index+1}}</label>
							<label for="">{{horas.h}}</label><br>						
						</template>	

						<p>Horas Atendido:</p> 
						<a @click="liverar(),saca_horas()">Liberar</a><br>
						<template v-for="(horas, index, key) in horas_Turno_atendido">
							<label for="">{{index+1}}</label>
							<label for="">{{horas.h}}</label><br>						
						</template>	
					</div>

					<p class="text-center">
						<button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
						<button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
					</p>
				</div>
		
			</form>	
			<% } else { %>
				<a href="/paciente/clean"> Volver </a>
				<form action="/paciente/updateCita/<%=citaUpdate[0].id%>" method="POST">
					<div class="grupo" id="cabeza">
						<h3 class="text-center"> Datos Personales</h3>
						<div id="tres2">
							<div class="entrada">Historial Clinico:<br>
								<input type="text" value="<%=historial	%>"><br>
							</div>
							<div class="entrada">Doctor: <%=citaUpdate[0].medico%><br>
								<select name="medico" v-model="selectDoctor"  @click="saca_horas">
									<option disabled="disabled" value>Seleccione</option>
									<option v-for="(doctor, index) of doctores">{{doctor.nombre}}</option>		
								</select><br>
							</div>
							<div class="entrada">Especialidad: <%=citaUpdate[0].especialidad%><br>
								<select  name="especialidad" @click="especilida" v-model="selectEsp">
									<option v-for="(especialidad, index) of especialidades" >{{especialidad.nombre}}</option>
									
								</select><br>
							</div>
						</div>
						<div id="correo">
							<div class="entrada">Turno: <%=citaUpdate[0].turno%><br>
								<select name="turno" v-model="turno"  @click="especilida">
									<option>Mañanas</option>
									<option>Tardes</option>
									<option>Noches</option>
								</select>
							</div>
							<div class="entrada">Hora:<br>
								<div v-if="horas_Turno == ''">
									<input type="radio" name="hora" value="<%= citaUpdate[0].hora%>"  checked><%= citaUpdate[0].hora.split("/")[0]  %><br>	
								</div>
								<div v-else>
									<label for="">></label>
									<input type="radio" name="hora" value="<%= citaUpdate[0].hora%>"  checked><%= citaUpdate[0].hora.split("/")[0]  %><br>
									<template v-for="(horas, index, key) in horas_Turno">
										<label for="">{{index+1}}</label>											
										<input type="radio" name="hora" :value="horas.h +'/'+horas.id">{{horas.h}}<br>							
									</template>
								</div>
								
							</div>
							<div class="entrada">Tipo de Paciente:<br>
								<div class="col-md-9">
									<label class="radio-inline"><input checked="checked" data-val="true" data-val-required="The IsSmallBusiness field is required." id="IsSmallBusiness" name="IsSmallBusiness" type="radio" value="False">Asegurado</label>
									<label class="radio-inline"><input id="IsSmallBusiness" name="IsSmallBusiness" type="radio" value="True">No Asegurado</label>
									<span class="field-validation-valid help-block" data-valmsg-for="PhoneNumber" data-valmsg-replace="true"></span>
								</div><br>
							</div>
							<div class="entrada">Costo de Ficha:<br>
								<input type="text" name="saldo_total" value="<%=citaUpdate[0].saldo_total%>"><br>
							</div>
						</div>
						<p class="text-center">
							<button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
							<button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
						</p>
					</div>
				</form>	
			<% } %>
			<div class="table-responsive">
				<div class="table-wrapper">
					<div id="correo">
						<div class="entrada">
							<button type="reset" class="btn btn-info btn-raised btn-lg" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar Fichajes</button>
						</div>
						<div class="entrada">Buscar <i class="zmdi zmdi-search"></i><br>
							<input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Buscar..."><br>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<ul class="nav nav-tabs" style="margin-bottom: 15px;">
                                                
								<li class="active"><a href="#new" data-toggle="tab">Citas</a></li>
								<li><a href="#list" data-toggle="tab">Listado de Citas del Paciente</a></li>
							
							</ul>
							<div id="myTabContent" class="tab-content">
								<div class="tab-pane fade " id="new">
									<div class="table-responsive">
										<table class="fl-table" id="myTable">
											<thead>
												<tr>
												<th>#</th>
												<th>Historial Clinico</th>
												<th>Doctor</th>
												<th>Especialidad</th>
												<th>Fecha </th>
												<th>Saldo</th>
												<th>Modificar</th>
												</tr>
											</thead>
											<tbody>
												<tr>
												<td>1</td>
												<td>123</td>
												<td>Dr. Pepito</td>
												<td>Emergencia</td>
												<td>12/02/2019</td>
												<td>20</td>
												<td><a href="/edit_cuadernos" class="btn btn-info btn-raised btn-xs "><i class="zmdi zmdi-refresh-alt"></i></a></td>
												</tr>
											<tbody>
										</table>
									</div>
								</div>

								<div class="tab-pane fade active in" id="list">
									<div class="table-responsive">
										<table class="fl-table" id="myTable">
											<thead>
												<tr>
												<th>#</th>
												<th>Historial Clinico</th>
												<th>Doctor</th>
												<th>Tipo de Consulta De</th>
												<th>Fecha </th>
												<th>Saldo</th>
												<th>Modificar</th>
												</tr>
											</thead>
											<tbody>
												<%if(pacienteCita != null) { %>
													<% for ( var i = 0; i < pacienteCita.length; i++ ) { %>
														<tr>
															<td><%=i+1%></td>
															<td><%=pacienteCita[i].codigo_p%></td>
															<td><%=pacienteCita[i].medico%></td>
															<td><%=pacienteCita[i].especialidad%></td>
															<td><%=pacienteCita[i].createdAt%></td>
															<td><%=pacienteCita[i].saldo_total%></td>
															<td><a href="/paciente/onliCita/<%=pacienteCita[i].id%>" class="btn btn-info btn-raised btn-xs "><i class="zmdi zmdi-refresh-alt"></i></a></td>
														</tr>
													<% } %>
												<% } else { %>
													<tr>
														<td colspan="7"> Este paciente no tiene citas medicas</td>
													</tr>
												<% } %>	
											<tbody>
										</table>
									</div>
								</div>

							</div>
						</div>
					</div>
					
				</div>
			</div>	
		</div>
	</div>									
</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
	<script src="/js/vue/citasMedicas.js"></script>
</body>
</html>