<!DOCTYPE html>
<html lang="es">
<head>
	<title>Recerva Ficha</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
	<link rel="stylesheet" href="/css/form.css">
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
		<ul class="full-box list-unstyled text-right">
			<li class="pull-left">
				<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
			</li>
		</ul>
	</nav>
	<!-- Content page -->
	<div class="container-fluid">
		<div class="page-header">
			  <h1 class="text-titles"><i class="zmdi zmdi-account-calendar zmdi-hc-fw"></i> Recerva de Ficha Medica </h1>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<form action="/paciente/cita_medica/<%=id.id %>" method="POST">
				<h3 class="text-center">Datos Personales </h3>
				<!-- daros personales-->
				<div class="col-md-12 panel-body">  
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label">Historial Clinico</label>
							<input class="form-control" type="text" value="<%=historial	%>" name="codigo_p">
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label">Servicio</label>
							<select class="form-control" name="especialidad">
								<option value="consultaMedica">Consulta Medica</option>
								<option value="emergencia">Emergencia</option>	
							</select>
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group">
							<label >Tipo de Paciente: </label>
							<label class="radio-inline"><input type="radio" name="paciente">Asegurado</label>
							<label class="radio-inline"><input type="radio" name="paciente">No Asegurado</label>
						</div>
					</div>
				</div>
				<div class="col-md-12 panel-body">  
					<div class="col-md-6">
						<div class="form-group">
							<label class="control-label">Turno</label>
							<select class="form-control" name="turno">
								<option value="maiana">Mañana</option>
								<option value="tarde">Tarde</option>
								<option value="emergencia">Emergencia</option>	
							</select>
						</div>
						<div class="form-group">
							<label class="control-label">Medico</label>
							<input class="form-control" type="text" name="medico">
						</div>
                    </div>
                    <div class="col-md-6">  
						<div class="form-group">
							<label class="control-label">Hora</label>
							<input class="form-control" type="text" name="hora">
						</div>
						<div class="form-group">
							<label class="control-label">Costo</label>
							<input class="form-control" type="text" name="saldo_total">
						</div>        
                    </div>
				</div> 	
				<p class="text-center">
					<button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
					<button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
					<button type="submit" class="btn btn-outline-danger"><i class="zmdi zmdi-download"></i> &nbsp;&nbsp; Imprimir</button>
				</p>
			</form>								
		</div>
	</div>									
</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>