<!DOCTYPE html>
<html lang="es">
<head>
	<title>Citas</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
	<link rel="stylesheet" href="/css/modal.css">
	<link rel="stylesheet" href="/css/form1.css">
	
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
		<ul class="full-box list-unstyled text-right">
			<li class="pull-left">
		    	<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
			</li>
		</ul>
	</nav>
	<!-- Content page -->
	<div class="container-fluid">
		<div class="page-header">
			<h1 class="text-titles"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i>Citas</h1>
		</div>
	</div>
	<!--Dar cita medica-->
	<div class="container-fluid">
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade active in" id="Cita">
			<div class="table-responsive" >
				<div id="correo">
					<div class="entrada">
						<button type="button" class="btn btn-info btn-raised btn-lg" onclick=location="/paciente/reg_paciente"><i class="zmdi zmdi-accounts-add"></i> Nuevo Paciente</button> &nbsp;&nbsp;
						<button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success btn-raised btn-lg"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
					</div>
					<div class="entrada">Buscar <i class="zmdi zmdi-search"></i><br>
						<input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Buscar..."><br>
					</div>
				</div>
				<!--modal-->
				<p class="text-center">
					<button class="modal-open btn btn-info btn-raised btn-lg"  
					data-modal="<h3 class='text-center'>REGISTRO DE NUEVO PACIENTE </h3>
					<form  action='/paciente/postPaciente' method='post' >
						<p> DATOS DEL PACIENTE</p>
						<div id='cuatro'>
							<div class='entrada'>Historial Clinico:<br>
								<input type='text' name='Historial' ><br>
							</div>
							<div class='entrada'>Apellido Paterno:<br>
								<input type='text' name='apellidop' class='upper'><br>
								</div>
								<div class='entrada'>Apellido Materno:<br>
									<input type='text' name='apellidom'><br>
								</div>
								<div class='entrada'>Nombre(s):<br>
									<input type='text' name='nombre'><br>
								</div>
							</div>
							<div id='cuatro'>
								<div class='entrada'>C.I.:<br>
									<input type='text' name='ci'><br>
								</div>
								<div class='entrada'>Sexo:<br>
									<select  name='sexo'>
										<option>Hombre</option>
										<option>Mujer</option>
									</select><br>
								</div>
								<div class='entrada'>Direccion:<br>
									<input type='text' name='direccion'><br>
								</div>
								<div class='entrada'>Fecha de Nacimiento:<br>
									<input type='date' name='fechanacimiento'><br>
								</div>
							</div>
							<p class='text-center'>
								<button type='reset' class='btn btn-info' style='margin-right: 20px;'><i class='zmdi zmdi-roller'></i> &nbsp;&nbsp; Limpiar</button>
								<button type='submit' class='btn btn-danger'><i class='zmdi zmdi-floppy'></i> &nbsp;&nbsp; Guardar</button>
							</p>
						</form>"><i class="zmdi zmdi-accounts-add"></i> Nuevo Paciente</button>
					  </p>

				<table class="fl-table" id="myTable">
					<thead>
					  	<tr>
						<th class="text-center">#</th>
						<th class="" WIDTH="10%">Historial Clinico</th>
					  	<th class="" WIDTH="20%">Nombres </th>
					  	<th class="" WIDTH="30%">Apellido </th>
						<th class="" WIDTH="20%">ci</th>
						<th class="text-center" WIDTH="10%">Fichaje</th>
						<th class="text-center" WIDTH="10%">Reconsulta</th>
						<th class="text-center" WIDTH="10%">Ver Fichas</th>
						</tr>
					</thead>
					<tbody>
				  	<% for(var i=0; i < resp.length; i++) { %>
						<tr>
						<td><%= i + 1 %></td>
						<td>123</td>
				  		<td><%=resp[i].nombre %></td>
				  		<td><%=resp[i].apellidop %></td>
						<td><%=resp[i].ci %></td>
				  		<td class="text-center"><a href="/paciente/EnviarCita/<%= resp[i].id %>/<%= resp[i].numeroHistorial %>" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-accounts-list-alt"></i></a></td>
						<td class="text-center"><a href="/paciente/EnviarCita/<%= resp[i].id %>/<%= resp[i].numeroHistorial %>" class="btn btn-info btn-raised btn-xs"><i class="zmdi zmdi-accounts-list-alt"></i></a></td> 
						<td class="text-center"><a href="/paciente/EnviarCita/<%= resp[i].id %>/<%= resp[i].numeroHistorial %>" class="btn btn-danger btn-raised btn-xs"><i class="zmdi zmdi-accounts-list-alt"></i></a></td> 
						</tr>
				  	<% } %>
					</tbody>
				</table>
		  	</div>
		</div>
	</div>
</div>
</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
	<script src="/js/modal.js"></script>
</body>
</html>