<!DOCTYPE html>
<html lang="es">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Citas</title>
	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">


	<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/animate.css" rel="stylesheet" type="text/css" />
	<link href="/css/admin.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">

	<style>
		div.a {
			text-align: center;
		}

		h1.letras {
			font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

		}
	</style>

</head>

<body class="light_theme  fixed_header left_nav_fixed">
	<!-- SideBar -->

	<!-- Content page-->
	<div class="wrapper">
		<!--\\\\\\\ wrapper Start \\\\\\-->
		<div class="header_bar">
			<!--\\\\\\\ header Start \\\\\\-->
			<div class="brand">
				<!--\\\\\\\ brand Start \\\\\\-->
				<div class="logo" style="display:block"><span class="theme_color">Hospital</div>

			</div>
			<!--\\\\\\\ brand end \\\\\\-->
			<div class="header_top_bar">
				<!--\\\\\\\ header top bar start \\\\\\-->
				<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

				<div class="top_right_bar">

					<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
								src="/images/user.png" /><span class="user_adminname">John Doe</span> <b
								class="caret"></b> </a>
						<ul class="dropdown-menu">
							<div class="top_pointer"></div>
							<li> <a href="/profile.html"><i class="fa fa-user"></i> Profile</a> </li>
							<li> <a href="/help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
							<li> <a href="/settings.html"><i class="fa fa-cog"></i> Setting </a></li>
							<li> <a href="/login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<!--\\\\\\\ header top bar end \\\\\\-->
		</div>
		<div class="inner">
			<!--\\\\\\\ inner start \\\\\\-->
			<div class="left_nav">

				<!--\\\\\\\left_nav start \\\\\\-->

				<div class="left_nav_slidebar">
					<ul>
						<li class="left_nav_active theme_border"><a href="javascript:void(0);"><i
									class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span
									class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul>
								<li> <a href="/home"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b>Inicio</b>
									</a> </li>
							</ul>
						</li>
						<li> <a href="javascript:void(0);"> <i class="fa fa-users icon"></i>Admin Sistema <span
									class="plus"><i class="fa fa-plus"></i></span></a>
							<ul>
								<li> <a href="/usuarios/usuarios"> <span>&nbsp;</span> <i class="fa fa-circle"></i>
										<b>Personal</b> </a>
								</li>
								<li> <a href="/servicios"> <span>&nbsp;</span> <i class="fa fa-circle"></i>
										<b>Servicios</b> </a> </li>
								<li> <a href="/usuarios/UsuraioCuenta"> <span>&nbsp;</span> <i class="fa fa-circle"></i>
										<b>Pacientes</b> </a> </li>
							</ul>
						</li>
						<li> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Fichas Medicas <span
									class="plus"><i class="fa fa-plus"></i></span></a>
							<ul class="opened" style="display:block">
								<li> <a href="/paciente/citas"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i>
										<b class="theme_color">Citas Medicas</b>
									</a> </li>

							</ul>
						</li>
						<li> <a href="javascript:void(0);"> <i class="fa fa-users icon"></i> Internacion <span
									class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul>
								<li> <a href="/salas/salas"> <span>&nbsp;</span> <i class="fa fa-circle"></i>
										<b>Salas</b> </a> </li>
								<li> <a href="/paciente_Inter"> <span>&nbsp;</span> <i class="fa fa-circle"></i>
										<b>Pacientes
											Internacion</b> </a> </li>
							</ul>
						</li>
						<li> <a href="javascript:void(0);"> <i class="fa fa-envelope"></i> Farmacia <span
									class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul>
								<li> <a href="/almacenamiento"> <span>&nbsp;</span> <i class="fa fa-circle"></i>
										<b></b>Almacen </a>
								</li>
								<li> <a href="/solicitudes"> <span>&nbsp;</span> <i class="fa fa-circle"></i>
										<b>Solicitudes</b> </a>
								</li>
								<li> <a href="/recetas_farm"> <span>&nbsp;</span> <i class="fa fa-circle"></i>
										<b>Recetas</b> </a> </li>
								<li> <a href="/ventas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Recetas</b>
									</a> </li>
								<li> <a href="/inventariosFar"> <span>&nbsp;</span> <i class="fa fa-circle"></i>
										<b>Inventarios</b> </a>
								</li>
							</ul>
						</li>
						<li> <a href="javascript:void(0);"> <i class="fa fa-folder-open-o"></i> Reportes <span
									class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul>
								<li> <a href="/reportes_pacientes"> <span>&nbsp;</span> <i class="fa fa-circle"></i>
										<b>Paciente
											General</b> </a> </li>
								<li> <a href="/proveedores"> <span>&nbsp;</span> <i class="fa fa-circle"></i>
										<b>Proveedores</b> </a>
								</li>
								<li> <a href="/reporte"> <span>&nbsp;</span> <i class="fa fa-circle"></i>
										<b>Administracion</b> </a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<!--\\\\\\\left_nav end \\\\\\-->
			<div class="contentpanel">
				<!--\\\\\\\ contentpanel start\\\\\\-->
				<div class="container clear_both padding_fix col-lg-8">
					<br>
					<br>
					<br>
					<div class="row">

						<div class="col-lg-12 ">


							<!-- Content page -->
							<div class="container-fluid">
								<div class="">
									<h1 class="text-titles"><i class="fa fa-list-alt fa-hc-fw"></i> Citas</h1>
								</div>
							</div>
				
							<div id="main-content">
								<div class="page-content">


									<div class="row">
										<div class="col-md-12">
											<div class="block-web">
												<div class="header">
													<div class="actions"> 
														<a class="minimize" href="#"><i
																class="fa fa-chevron-down"></i></a> <a class="refresh"
															href="#"><i class="fa fa-repeat"></i></a> <a
															class="close-down" href="#"><i class="fa fa-times"></i></a>
													</div>
													
													<a href="javascript:void(0);" class="btn btn-primary btn-raised btn-lg" data-toggle="modal" data-target="#myModal">
															<i class="fa fa-plus-square"></i> <span> Nuevo Paciente</span> </a>
							
													
														<button type="button" value="Imprimir" onclick="window.print()"
															class="btn btn-success btn-raised btn-lg"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp;
															Imprimir</button>
												
												</div>
												<div class="porlets-content">

													<div class="table-responsive">
														<table cellpadding="0" cellspacing="0" border="0"
															class="display table table-bordered" id="hidden-table-info">
															<thead>
																<tr>
																	<th class="text-center">#</th>
																	<th>Historial Clinico</th>
																	<th>Nombres</th>
																	<th>Apellido</th>
																	<th>CI.</th>
																	<th class="hidden-phone">Fichaje</th>
																	<th class="hidden-phone">Reconsulta</th>
																	<th class="hidden-phone">Ver Fichas</th>
																</tr>
															</thead>
															<tbody>

																
																<% for(var i=0; i < resp.length; i++) { %>
																<tr class="gradeA">
																	<td><%= i + 1 %></td>
																	<td><%=resp[i].numeroHistorial%></td>
																	<td><%=resp[i].nombre %></td>
																	<td><%=resp[i].apellidop %></td>
																	<td><%=resp[i].ci %></td>
																	<td class="text-center"><a
																			href="/paciente/citaPAciente/<%= resp[i].id %>/<%= resp[i].numeroHistorial %>"
																			class="btn btn-success "><i
																				class="fa fa-list-ol"></i></a>
																	</td>
																	<td class="text-center"><a
																			href="/paciente/EnviarCita/<%= resp[i].id %>/<%= resp[i].numeroHistorial %>"
																			class="btn btn-info btn-raised btn-xs"><i
																				class="fa fa-retweet"></i></a>
																	</td>
																	<td class="text-center"><a
																			href="/paciente/EnviarCita/<%= resp[i].id %>/<%= resp[i].numeroHistorial %>"
																			class="btn btn-danger btn-raised btn-xs"><i
																				class="fa fa-eye"></i></a>
																	</td>
																</tr>
																<% } %>


															</tbody>
														</table>
													</div>
													<!--/table-responsive-->

												</div>
												<!--/porlets-content-->
											</div>
											<!--/block-web-->
										</div>
										<!--/col-md-12-->
									</div>
									<!--/row-->

								</div>
								<!--/page-content end-->
							</div>
							<!--/main-content end-->



							<!-- Modal -->
							<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
								aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-hidden="true">&times;</button>

											<h4 class="modal-title" id="myModalLabel">Datos del Paciente</h4>
											<form action='/paciente/postPaciente' method='post'>

												<div class="row">
													<div class="col-lg-4">Historial Clinico:<br>
														<input type='text' name='Historial'><br>
													</div>
													<div class="col-lg-4">Apellido Paterno:<br>
														<input type='text' name='apellidop' class='upper'><br>
													</div>
													<div class="col-lg-4">Apellido Materno:<br>
														<input type='text' name='apellidom'><br>
													</div>

												</div>

												<div class="row">
													<div class="col-lg-4">Nombre(s):<br>
														<input type='text' name='nombre'><br>
													</div>
													<div class="col-lg-4">C.I.:<br>
														<input type='text' name='ci'><br>
													</div>
													<div class="col-lg-4">Dirección:<br>
														<input type='text' name='direccion'><br>
													</div>

												</div>
												<div class="row">

													<div class="col-lg-4">Sexo:<br>
														<select name='sexo'>
															<option>Hombre</option>
															<option>Mujer</option>
														</select><br>
													</div>
													<div class="col-lg-4">Fecha de Nacimiento:<br>
														<input type='date' name='fechanacimiento'><br>
													</div>

												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
														data-dismiss="modal">Close</button>
													<button type='reset' class='btn btn-info'
														style='margin-right: 20px;'><i class='zmdi zmdi-roller'></i>
														&nbsp;&nbsp; Limpiar</button>
													<button type='submit' class='btn btn-danger'><i
															class='zmdi zmdi-floppy'></i> &nbsp;&nbsp;
														Guardar</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>



						</div>

					</div>

					<!--\\\\\\\ container  end \\\\\\-->
				</div>
				<!--\\\\\\\ content panel end \\\\\\-->
			</div>
			<!--\\\\\\\ inner end\\\\\\-->
		</div>
		<!--\\\\\\\ wrapper end\\\\\\-->















		<!--====== Scripts -->

		<script src="/js/jquery-2.1.0.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/common-script.js"></script>
		<script src="/js/jquery.slimscroll.min.js"></script>
		<script src="/plugins/data-tables/jquery.dataTables.js"></script>
		<script src="/plugins/data-tables/DT_bootstrap.js"></script>
		<script src="/plugins/data-tables/dynamic_table_init.js"></script>
		<script src="/plugins/edit-table/edit-table.js"></script>
		<script>
			jQuery(document).ready(function () {
				EditableTable.init();
			});
		</script>

		<script src="/js/jPushMenu.js"></script>
		<script src="/js/side-chats.js"></script>

</body>

</html>