<!DOCTYPE >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Pacientes</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/css/animate.css" rel="stylesheet" type="text/css" />
<link href="/css/admin.css" rel="stylesheet" type="text/css" />
<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />
<style>
  .info2{ border-radius:100%; float: left; height:80px; width:80px; }
  .info2 .icon{ font-size:50px; color:#FFFFFF; float:left; margin-right:50px; margin:15px 9px 9px 18px;}
</style>
<style>
  td.uppercase
		{
			text-transform: uppercase;
		}
</style>
</head>
<body class="light_theme  fixed_header left_nav_fixed">
<div class="wrapper" id="roles">
  <div class="header_bar">
    <div class="brand">
      <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
    </div>
    <div class="header_top_bar">
      <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
      <div class="top_right_bar">
        <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/user.png" /><span class="user_adminname">John Doe</span> <b class="caret"></b> </a>
          <ul class="dropdown-menu">
            <div class="top_pointer"></div>
            <li> <a href="profile.html"><i class="fa fa-user"></i> Profile</a> </li>
            <li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
            <li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
            <li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="inner">
    <div class="left_nav">
      
      <div class="left_nav_slidebar">
        <ul>
          <li ><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="plus"><i class="fa fa-plus"></i></span> </a>
            <ul >
              <li> <a href="/home"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Inicio</b> </a> </li>
            </ul>
          </li>
          <li > <a href="javascript:void(0);"> <i class="fa fa-users icon"></i>Admin Usuarios <span class="plus"><i class="fa fa-plus"></i></span></a>
            <ul  >
              <li> <a href="/usuarios/usuarios"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Registros</b> </a> </li>
            </ul>
          </li>
          <li > <a href="javascript:void(0);"> <i class="fa fa-clipboard"></i>Servicios<span class="plus"><i class="fa fa-plus"></i></span></a>
            <ul >
              <li> <a href="/cuaderno/especialidad"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Especialidades</b> </a> </li>
              <li> <a href="/cuaderno/Cuadernos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Cuadernos</b> </a> </li>
              <li> <a href="/salas/salas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Salas</b> </a> </li>
            </ul>
          </li>
          <li > <a href="javascript:void(0);"> <i class="fa fa-folder-open-o"></i> Reportes<span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
            <ul >
              <li> <a href="/paciente_Inter"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Pacientes</b> </a> </li>
              <li> <a href="/pacientead"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Farmacia</b></a> </li>
              <li> <a href="/usuarios/roles"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Person.</b> </a> </li>
              <li> <a href="/cuaderno/recuadernos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Cuadr.</b> </a> </li>
              <li> <a href="/cuaderno/repespecialidad"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Espc.</b> </a> </li>
            </ul>
          </li>
          <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-cogs"></i>CFG del Sistema<span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span></a>
            <ul class="opened" style="display:block">
              <li> <a href="/backup"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Backup</b> </a> </li>
              <li> <a href="/role/role"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b class="theme_color">Regs. Roles</b> </a> </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="contentpanel">
      <br>
      <div class="container clear_both padding_fix">
        <div class="row">
          <div class="col-md-12">
            <div class="block-web">
              <%if (msg != null) {%>
                <div class="bs-example mover">
                  <div class="alert alert-danger fade in">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <strong><%=msg %></strong></div>
                </div>
              <%} else if(mg2 != null) { %>
                <div class="bs-example mover">
                  <div class="alert alert-success fade in">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    
                    <strong><%=mg2 %></strong>
                  </div>
                </div>
              <% } %>
              <div class="header">
                <div class="info blue_symbols"><i class="fa fa-list-ol icon"></i></div>
                <h3 class="content-header ">Creación de Roles</h3>
              </div>
              <br>
              <br>
              <div class="porlets-content">
                <form class="form-horizontal" action="/role/role" method="POST" parsley-validate novalidate>
                  <div class="form-group">
                    <label  class="col-sm-4 control-label">Tipo de Rol:</label>
                    <div class="col-sm-4">
                    <select class="selectpicker" data-show-subtext="true" data-live-search="true" name="name">
                      <option value="administrcion">ADMINISTRACIÓN</option>
                      <option value="usuario">USUARIOS</option>
                      <option value="medico">MÉDICO</option>
                      <option value="fichaje">FICHAJE</option>
                      <option value="Almacen">ALMACEN</option>
                      <option value="emergencia">EMERGENCIA</option>
                      <option value="farmacia">FARMACEUTICO</option>
                      <option value="hospitalizacion">HOSPITALIZACIÓN </option>
                    </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class=" col-sm-4">
                      <button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i><span>&nbsp;</span>Guardar</button>
                    </div>
                  </div><!--/form-group--> 
                </form>
                <div class="table-responsive ">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Roles</th>
                        <th class="text-center">Fecha de Creación</th>
                        <th class="text-center">Opciones</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <% for (var i=0; i< resp.length; i++) { %>
                        <tr>
                          <td class="text-center"><%=i+1%></td>
                          <td class="text-center uppercase"><%=resp[i].name%></td>
                          <td class="text-center"><%=resp[i].createdAt.split("T")[0]%></td>
                          <td class="text-center">
                            <a @click="id_rol = '<%=resp[i].id%>'" data-target="#myModal" data-toggle="modal" data-toggle="tooltip" class="btn  tooltips" data-original-title="Eliminar"><i  class=" fa fa-trash-o red"></i></a><span>&nbsp;</span>
                          </td>
                        </tr>
                        <% } %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="center">
            <i  class="fa fa-exclamation-triangle red fa-6x"></i>
          </div>
          <div class="center">
            <h5><b>¿Estás seguro?</b></h5>
            <p>Una vez eliminado no se podar dar roles a <b> Usuarios</b>....</p>
          </div>
        </div>
        <div class="modal-footer">
          <div class="center">
           
            <a v-bind:href="'/role/delrol/'+id_rol" class="btn btn-success"><i class="fa fa-check"></i><span>&nbsp;</span>Sí, Confirmar</a>
           
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i><span>&nbsp;</span>No, Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/jquery-2.1.0.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/common-script.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript"  src="/plugins/toggle-switch/toggles.min.js"></script> 
<script src="/plugins/checkbox/zepto.js"></script>
<script src="/plugins/checkbox/icheck.js"></script>
<script src="/js/icheck-init.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script> 
<script type="text/javascript" src="/js/form-components.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/jquery.inputmask.min.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/demo-mask.js"></script> 
<script type="text/javascript"  src="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script> 
<script type="text/javascript"  src="/plugins/dropzone/dropzone.min.js"></script> 
<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>



<script src="/plugins/validation/parsley.min.js"></script>
<script src="/plugins/data-tables/jquery.dataTables.js"></script>
<script src="/plugins/data-tables/DT_bootstrap.js"></script>
<script src="/plugins/data-tables/dynamic_table_init.js"></script>
<script src="/plugins/edit-table/edit-table.js"></script>


<script>
  jQuery(document).ready(function() {
      EditableTable.init();
  });
</script>
<script>


/*==Porlets Actions==*/
    $('.minimize').click(function(e){
      var h = $(this).parents(".header");
      var c = h.next('.porlets-content');
      var p = h.parent();
      
      c.slideToggle();
      
      p.toggleClass('closed');
      
      e.preventDefault();
    });
    
    $('.refresh').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');
      
      loading.appendTo(p);
      loading.fadeIn();
      setTimeout(function() {
        loading.fadeOut();
      }, 1000);
      
      e.preventDefault();
    });
    
    $('.close-down').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      
      p.fadeOut(function(){
        $(this).remove();
      });
      e.preventDefault();
    });

</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="/axios/dist/axios.min.js"></script>
<script src="/js/jPushMenu.js"></script> 
<script src="/js/side-chats.js"></script>

<script src="/moment/moment.js"></script>
<script src="/moment/locale/af.js"></script>

<script>
  
  var roles = new Vue({
    el: "#roles",
    data: () =>({
      id_rol:''

    }),
    methods: {
            setFocus() {
                 this.form.email.focus()// don't  work
            },
        }
  })
</script>

</body>
</html>
