<!DOCTYPE html>
<html lang="es">
<head>
	<title>Home Doc</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
</head>
<body class=" full-box dashboard-sideBar-imagg cover " >
	<!-- SideBar -->
	<%- include("partials/menudoc") -%>

	<li>
		<a href="/medico/renderVistaDocotr/<%=consultamedica%>">
			<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Home
		</a>
	</li>

    <li>
		<a href="#!" class="btn-sideBar-SubMenu">
			<i class="zmdi zmdi-file-plus zmdi-hc-fw"></i> Consultas externas <i class="zmdi zmdi-caret-down pull-right"></i>
		</a>
		<ul class="list-unstyled full-box">
			<li><a href="/medico/listfalseConsulta/<%=consultamedica%>"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i>Listas de citas</a></li>
					  
		</ul>
	</li>
	<%- include("partials/footerDocotr") -%>
	<!-- Content page-->
<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar dashboard-sideBar-imaggg cover ">
		<ul class="full-box list-unstyled text-right dashboard-sideBar-ctttt">
			<li class="pull-left">
		    	<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
			</li>
			<li>
				<a href="#!" class="btn-Notifications-area">
					<i class="zmdi zmdi-notifications-none"></i>
				</a>
			</li>
		</ul>
	</nav>
		<!-- Content page -->
	<div class=" full-box ">
	   <div class="container-fluid">
          
       </div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<div class="page-header col-md-12 col-md-offset-1">
			 
					 	<div class="col-md-6 ">
							 <h1 class="text-titles"><i class="zmdi zmdi-file-plus zmdi-hc-fw"></i>Consulta Externa</h1>
		 				</div>
		 			</div>
					
				</div>
			</div>
		</div>
	</div>
</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>