<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Consulta</title>
    <meta charset="UTF-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
    <link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
    <link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">

    <link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
    <link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />




    <style>
        div.a {
            text-align: center;
        }

        h1.letras {
            font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

        }
    </style>

</head>

<body class=" light_theme  fixed_header left_nav_fixed">
    <!-- SideBar -->


    <!-- Content page-->
<div class="wrapper">
    <!--\\\\\\\ wrapper Start \\\\\\-->
    <div class="header_bar">
        <!--\\\\\\\ header Start \\\\\\-->
        <div class="brand">
           <!--\\\\\\\ brand Start \\\\\\-->
           <div class="logo" style="display:block"><span class="theme_color">Hospital</div>

        </div>
            <!--\\\\\\\ brand end \\\\\\-->
        <div class="header_top_bar">
            <!--\\\\\\\ header top bar start \\\\\\-->
            <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
            <div class="top_right_bar">
                <div class=" dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
                    src="/images/user.png" /><span class="user_adminname">
                    
                    </span> <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <div class="top_pointer"></div>
                        <li> <a href="/profile.html"><i class="fa fa-user"></i> Profile</a> </li>
                        <li> <a href="/help.html"><i class="fa fa-question-circle"></i> Ayuda</a> </li>
                        <li> <a href="/settings.html"><i class="fa fa-cog"></i> Setting </a></li>
                        <li> <a href="/login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--\\\\\\\ header top bar end \\\\\\-->
    </div>
    <div class="inner">
        <!--\\\\\\\ inner start \\\\\\-->
        <div class="left_nav">
            <!--\\\\\\\left_nav start \\\\\\-->
            <div class="left_nav_slidebar">
                <ul>
                    <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span
                                    class="left_nav_pointer"></span> <span class="plus"><i
                                        class="fa fa-plus"></i></span> </a>
                        <ul>
                            <li> <a href="/medico/renderVistaDocotr/<%=ConsultaOnlyPinternacion[0].tipoConsulta%>"> <span>&nbsp;</span> <i
                                            class="fa fa-circle "></i> <b>Inicio</b> </a> </li>
                        </ul>
                    </li>
                    <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i
                                    class="fa fa-tasks"></i> Consulta Externa<span class="plus"><i
                                        class="fa fa-plus"></i></span></a>
                        <ul class="opened" style="display:block">
                            <li> <a href="/medico/listfalseConsulta/<%=ConsultaOnlyPinternacion[0].tipoConsulta%>"> <span>&nbsp;</span> <i
                                            class="fa fa-circle"></i> <b class="theme_color">Listas de Citas</b>
                                    </a> </li>
                        </ul>
                    </li>
                    <%- include("partials/footerDocotr") -%>
                </ul>
            </div>
        </div>
        <!--\\\\\\\left_nav end \\\\\\-->
        <div class="contentpanel">
                <!--\\\\\\\ contentpanel start\\\\\\-->
                <!--\\\\\\\ contentpanel start\\\\\\-->
            <div class="container clear_both padding_fix col-lg-8">
                <br>
                <div class="row">
<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
	<!-- NavBar -->
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
				
				<h1 class="text-titles"><i class="zmdi zmdi-account-calendar zmdi-hc-fw"></i> Papeleta Internacion</h1>			  
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
						<ul class="nav nav-tabs" style="margin-bottom: 15px;">
							<li class="active"><a href="#PapeletaInternacion" data-toggle="tab">Papeleta de Internacion</a></li>
                            <li><a href="#list" data-toggle="tab">Lista de Emergencias del Paciente</a></li>
						</ul>
					<div id="myTabContent"  class="tab-content" >
						<div class="tab-pane fade active in" id="PapeletaInternacion">
							<div class="container-fluid">
								<div class="row">
												
                                        <!-- datos personales-->
                                        
                                        
                                        <% if(resp == "") { %>
                                
                                        <form action="/medico/Pinternacion/<%=id.id%>" method="POST">
                                        <div class="grupo" id="cabeza">
                                                    <p class="lead">Datos Personales </p>
                                            <div class="correo">
									            <div class="entrada">De:<br>
                                                        <select  name="tipoConsulta">
                                                            <option><%=ConsultaOnlyPinternacion[0].tipoConsulta%></option>                                            
                                                        </select><br>
                                                </div>
                                                <div class="entrada">Area de Internacion:<br>
                                                    <select name="especialidad">
                                                        <% for(var i=0; i< especialidad.length; i++) {%>
                                                        <option><%=especialidad[i].nombre%></option>
                                                        <% } %>
                                                    </select><br>
                                                </div>
                                                <div class="entrada">Fecha de Ingreso<br>
                                                    <input  type="date" name="fechaIngreso"><br>
                                                </div>
                                                <div class="entrada">N° de Historia<br>
                                                    <input type="text" value="<%=dataPaciente[0].numeroHistorial%>" name="Historial"><br>
                                                </div>
                                            </div> 
                                            <div id="tres2">
                                                    <div class="entrada">Nombre<br>
                                                        <input  type="text" value="<%=dataPaciente[0].nombre%>" name="nombre"><br>
                                                    </div>
                                                    <div class="entrada">Apellido Paterno<br>
                                                        <input type="text" value="<%=dataPaciente[0].apellidop%>" name="apellido1"><br>
                                                    </div>
                                        
                                                    <div class="entrada">Apellido Materno<br>
                                                        <input type="text" value="<%=dataPaciente[0].apellidom%>" name="apellido2"><br>
                                                    </div>
                                        
                                                    <div class="entrada">Sexo<br>
                                                        <select  name="sexo">
                                                            <option><%=dataPaciente[0].sexo%></option>
                                                        </select><br>
                                                    </div>
                                                    <div class="entrada">Fecha de Nacimiento<br>
                                                        <input type="text" value="<%=dataPaciente[0].fechanacimiento%>" name="edad">
                                                    </div>
                                            </div>
                                        </div>
                                         <!--   lado derecho-->
                                        <div class="grupo" id="cabeza">
                                        <h4>Datos del Doctor</h4>
									            <div class="entrada">Nombre Del Doctor<br>
										            <input type="text" name="nombreDoctor" value="<%=ConsultaOnlyPinternacion[0].Citas_Medica.medico%>"><br>
									            </div>
									            <div class="entrada">Apellido Paterno del Doctor<br>
										            <input type="text" value="" name="apellidoD1"><br>
                                                </div>
                                                <div class="entrada">Apellido Materno del Doctor<br>
                                                    <input type="text" value="" name="apellidoD2"><br>
                                                </div>				
                                        </div>
							            <div class="grupo" id="cabeza">
                                            <h3>Estado del paciente</h3>						
                                                <div class="entrada">>Diagnostico<br>
                                                <textarea  name="diagnostico"></textarea>
                                            </div>
							            </div>
                                        <p class="text-center">
                                            <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                            <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                                            <button type="submit" class="btn btn-outline-danger"><i class="zmdi zmdi-download"></i> &nbsp;&nbsp; Imprimir</button>
                                        </p>
								    </form>
                                        <% } else { %>
                                            <form action="/medico/updateInternacion/<%=resp[0].id%>" method="POST">
                                                <div class="grupo" id="cabeza">
                                                        <h2 class="text-center">Formulario de actualizacion</h2> 
                                                        <p class="lead">Datos Personales </p>
                                                    <div id="correo">
                                                            <div class="entrada">De:<br>
                                                                <select name="tipoConsulta">
                                                                    <option><%=ConsultaOnlyPinternacion[0].tipoConsulta%></option>                                            
                                                                </select><br>
                                                            </div>
                                                            <div class="entrada">Area de Internacion<br>
                                                                <select  name="especialidad">
                                                                    <option><%=resp[0].especialidad%></option>
                                                                    <option>------------------------</option>
                                                                    <% for(var i=0; i< especialidad.length; i++) {%>
                                                                    <option><%=especialidad[i].nombre%></option>
                                                                    <% } %>
                                                                </select><br>
                                                            </div>
                                                            <div class="entrada">Fecha de Ingreso<br>
                                                                <input  type="date" name="fechaIngreso" value="<%=resp[0].fechaIngreso%>"><br>
                                                            </div>
                                                            <div class="form-group">N° de Historia<br>
                                                                <input type="text" value="<%=dataPaciente[0].numeroHistorial%>" name="Historial"><br>
                                                            </div>
                                                </div>
                                                <div id="tres2">
                                                        <div class="entrada">Nombre <br>
                                                            <input type="text" value="<%=dataPaciente[0].nombre%>" name="nombre"><br>
                                                        </div>
                                                        <div class="entrada">Apellido Paterno<br>
                                                            <input type="text" value="<%=dataPaciente[0].apellidop%>" name="apellido1"><br>
                                                        </div>
                                                        <div class="entrada">Apellido Materno<br>
                                                            <input type="text" value="<%=dataPaciente[0].apellidom%>" name="apellido2"><br>
                                                        </div>
                                                        <div class="entrada">Sexo<br>
                                                            <select name="sexo">
                                                                <option><%=dataPaciente[0].sexo%></option>
                                                            </select><br>
                                                        </div>
                                                        <div class="entrada">Fecha de Nacimiento</label>
                                                            <input type="text" value="<%=dataPaciente[0].fechanacimiento%>" name="edad"><br>
                                                        </div>

                                                </div>
                                            </div>
                                            <div class="grupo" id="cabeza">
                                                <h4>Datos del Doctor</h4>
                                                <div class="entrada">Nombre del Doctor<br>
                                                    <input type="text" name="nombreDoctor" value="<%=ConsultaOnlyPinternacion[0].Citas_Medica.medico%>"><br>
                                                </div>
                                            </div>
                                            <div class="grupo" id="cabeza">
                                                <h3>Estado del paciente</h3>						
                                                <div class="entrada">Diagnostico<br>
                                                    <textarea name="diagnostico"><%=resp[0].diagnostico%></textarea><br>
                                                </div>
                                            </div>
                                            <p class="text-center">
                                                <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                                <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                                                <button type="submit" class="btn btn-outline-danger"><i class="zmdi zmdi-download"></i> &nbsp;&nbsp; Imprimir</button>
                                            </p>
                                        </form>
                                        <% } %>
                                        <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
        
                                                            <li class="active"><a href="#ListPaciente" data-toggle="tab"><i class="zmdi zmdi-assignment"></i> Datos generales</a></li>
                                                            <li class="active"><a href="#ListPaciente" data-toggle="tab"><i class="zmdi zmdi-assignment"></i> Antecendentes Personales</a></li>
                                                            <li class="active"><a href="#ListPaciente" data-toggle="tab"><i class="zmdi zmdi-assignment"></i> Antecentes Famliares</a></li>
                                                        
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>  
                                    </div>
                                </div>
                                     
                            </div>
						<div class="tab-pane fade" id="list">
                                <div id="correo">
                                        <div class="entrada">                                  
                                            <button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success btn-raised btn-lg"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
                                        </div>
                                        <div class="entrada">Buscar <i class="zmdi zmdi-search"></i><br>
                                            <input type="text" id="searchInput" placeholder="Buscar.."><br>
                                        </div>
                                    </div>
                        <div class="table-responsive" >
                            <div class="table-wrapper">
                                <table id="myTable" class="display table table-bordered table-striped"
                                id="dynamic-tablee">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Historial</th>
                                            <th>Nombre del doctor</th>  
                                            <th>Area de Internacion</th>  
											<th>De:</th>
                                            <th>Ver</th>                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (var i=0; i< PapeletaINTER.length; i++) { %>
                                        <tr>
                                            <th><%=i+1%></th>
                                            <th><%=PapeletaINTER[i].Consulta.Citas_Medica.Paciente.nombre%></th>
                                            <th><%=PapeletaINTER[i].Consulta.Citas_Medica.Paciente.apellidop%></th>
                                            <th><%=PapeletaINTER[i].Historial%> </th>
                                            <th><%=PapeletaINTER[i].nombreDoctor%> <%=PapeletaINTER[i].apellidoD1%></th>  
                                            <th><%=PapeletaINTER[i].especialidad%></th>
											<th><%=PapeletaINTER[i].tipoConsulta%></th>  
                                            <td><a href="/medico/PapeletaINT/<%=PapeletaINTER[i].idConsultaMedica%>/<%=PapeletaINTER[i].Historial%>/consultaMedica" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>                                            
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
					</div>	
				</div>
	        
		</div>
</section>
	<!--====== Scripts -->

</div>
</div>
</div>
</div>           
</div>

<!--====== Scripts -->

<script src="/js/get/consultaget.js"></script>


<script src="/js/jquery-2.1.0.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/common-script.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>


<script src="/plugins/data-tables/dynamic_table_init2.js"></script>
<script src="/plugins/data-tables/jquery.dataTables.js"></script>
<script src="/plugins/data-tables/DT_bootstrap.js"></script>
<script src="/plugins/data-tables/dynamic_table_init.js"></script>
<script src="/plugins/edit-table/edit-table.js"></script>
<script>
jQuery(document).ready(function () {
    EditableTable.init();
});
</script>

<script src="/js/jPushMenu.js"></script>
<script src="/js/side-chats.js"></script>
<script src="/js/get/getECP.js"></script>
</body>
</html>