<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menudoc") -%>
	<!-- Content page-->
<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
			
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
				
				<h1 class="text-titles"><i class="zmdi zmdi-account-calendar zmdi-hc-fw"></i> Papeleta <small>Internacion</small></h1>			  
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
						<ul class="nav nav-tabs" style="margin-bottom: 15px;">
							<li class="active"><a href="#PapeletaInternacion" data-toggle="tab">Papeleta de Internacion</a></li>
                            <li><a href="#list" data-toggle="tab">Lista de Emergencias del Paciente</a></li>
						</ul>
					<div id="myTabContent"  class="tab-content" >
						<div class="tab-pane fade active in" id="PapeletaInternacion">
							<div class="container-fluid">
								<div class="row">
										
									<div class="container-fluid">
										<div class="col-md-12 panel-body">
												
                                        <!-- datos personales-->
                                        
                                        
                                        <% if(resp == "") { %>
                                            <div class="col-md-6">
                                                <p class="lead">Datos Personales </p>
                                            </div>
                                        <form action="/medico/Pinternacion/<%=id.id%>" method="POST">
                                            <div class="col-md-12">
                                            <div class="col-md-6">
									            <div class="form-group">
                                                    <label class="">De:</label>
                                                        <select class="form-control" name="tipoConsulta">
                                                            <option><%=ConsultaOnlyPinternacion[0].tipoConsulta%></option>                                            
                                                        </select>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Fecha de Ingreso</label>
                                                    <input class="form-control" type="date" name="fechaIngreso">
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">N° de Historia</label>
                                                    <input class="form-control" type="text" value="<%=dataPaciente[0].numeroHistorial%>" name="Historial">
                                                </div>
                                            </div>                       
																																								
								        <!-- lado hizquierdo -->
								            <div class="col-md-6">
									            <div class="form-group label-floating">
										            <label class="control-label">Nombre </label>
										            <input class="form-control" type="text" value="<%=dataPaciente[0].nombre%>" name="nombre">
									            </div>
									            <div class="form-group label-floating">
										            <label class="control-label">Apellido Paterno</label>
										            <input class="form-control" type="text" value="<%=dataPaciente[0].apellidop%>" name="apellido1">
                                                </div>
                                    
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Apellido Materno</label>
                                                    <input class="form-control" type="text" value="<%=dataPaciente[0].apellidom%>" name="apellido2">
                                                </div>
                                    
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Sexo</label>
                                                    <select class="form-control" name="sexo">
                                                        <option><%=dataPaciente[0].sexo%></option>
                                            
                                                    </select>
                                                </div>
									            <div class="form-group label-floating">
										            <label class="control-label">Fecha de Nacimiento</label>
										            <input class="form-control" type="text" value="<%=dataPaciente[0].fechanacimiento%>" name="edad">
									            </div>							
                                            </div>
                                            </div>
                                         <!--   lado derecho-->
                                         <div class="col-md-12">
                                        <h4>Datos del Doctor</h4>
								            <div class="col-md-6">
									            <div class="form-group label-floating">
										            <label class="control-label">NOmbre Del Doctor</label>
										            <input class="form-control" type="text" name="nombreDoctor" value="<%=ConsultaOnlyPinternacion[0].Citas_Medica.medico%>">
									            </div>
									            <div class="form-group label-floating">
										            <label class="control-label">Apellido Paterno del Doctor</label>
										            <input class="form-control" type="text" value="" name="apellidoD1">
                                                </div>
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Apellido Materno del Doctor</label>
                                                    <input class="form-control" type="text" value="" name="apellidoD2">
                                                </div>
																		
                                            </div>
                                        </div>
							            <div class="col-md-12">
                                            <h3>Estado del paciente</h3>						
                                                <div class="form-group label-floating">
                                                <label class="control-label">Diagnostico</label>
                                                <textarea class="form-control" name="diagnostico"></textarea>
                                            </div>
                                            <p class="text-center">
                                                    <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                                    <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                                                    <button type="submit" class="btn btn-outline-danger"><i class="zmdi zmdi-download"></i> &nbsp;&nbsp; Imprimir</button>
                                                </p>
                                        </div>
								       
							        	
                                        </form>
                                        <% } else { %>
                                            <h2>Formulario de actualizacion</h2>           
                                            <div class="col-md-6">
                                                <p class="lead">Datos Personales </p>
                                            </div>
                                            <form action="/medico/updateInternacion/<%=resp[0].id%>" method="POST">
                                                <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="">De:</label>
                                                            <select class="form-control" name="tipoConsulta">
                                                                <option><%=ConsultaOnlyPinternacion[0].tipoConsulta%></option>                                            
                                                            </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Fecha de Ingreso</label>
                                                        <input class="form-control" type="date" name="fechaIngreso" value="<%=resp[0].fechaIngreso%>">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">N° de Historia</label>
                                                        <input class="form-control" type="text" value="<%=dataPaciente[0].numeroHistorial%>" name="Historial">
                                                    </div>
                                                </div>                       
                                                                                                                                                                    
                                            <!-- lado hizquierdo -->
                                                <div class="col-md-6">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Nombre </label>
                                                        <input class="form-control" type="text" value="<%=dataPaciente[0].nombre%>" name="nombre">
                                                    </div>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Apellido Paterno</label>
                                                        <input class="form-control" type="text" value="<%=dataPaciente[0].apellidop%>" name="apellido1">
                                                    </div>
                                        
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Apellido Materno</label>
                                                        <input class="form-control" type="text" value="<%=dataPaciente[0].apellidom%>" name="apellido2">
                                                    </div>
                                        
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Sexo</label>
                                                        <select class="form-control" name="sexo">
                                                            <option><%=dataPaciente[0].sexo%></option>
                                                
                                                        </select>
                                                    </div>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Fecha de Nacimiento</label>
                                                        <input class="form-control" type="text" value="<%=dataPaciente[0].fechanacimiento%>" name="edad">
                                                    </div>							
                                                </div>
                                                </div>
                                             <!--   lado derecho-->
                                             <div class="col-md-12">
                                            <h4>Datos del Doctor</h4>
                                                <div class="col-md-6">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">NOmbre Del Doctor</label>
                                                        <input class="form-control" type="text" name="nombreDoctor" value="<%=ConsultaOnlyPinternacion[0].Citas_Medica.medico%>">
                                                    </div>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Apellido Paterno del Doctor</label>
                                                        <input class="form-control" type="text" value="<%=resp[0].apellidoD1%>" name="apellidoD1">
                                                    </div>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Apellido Materno del Doctor</label>
                                                        <input class="form-control" type="text" value="<%=resp[0].apellidoD2%>" name="apellidoD2">
                                                    </div>
                                                                            
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h3>Estado del paciente</h3>						
                                                    <div class="form-group label-floating">
                                                    <label class="control-label">Diagnostico</label>
                                                    <textarea class="form-control" name="diagnostico"><%=resp[0].diagnostico%></textarea>
                                                </div>
                                                <p class="text-center">
                                                        <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                                        <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                                                        <button type="submit" class="btn btn-outline-danger"><i class="zmdi zmdi-download"></i> &nbsp;&nbsp; Imprimir</button>
                                                    </p>
                                            </div>
                                           
                                            
                                            </form>
                                        <% } %>
                                        </div>
                                    </div>
                                         
                                </div>
                    <!-- botones  -->
                                                    
																
                  
                    <!-- menu-->
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <ul class="nav nav-tabs" style="margin-bottom: 15px;">

                                                    <li class="active"><a href="#ListPaciente" data-toggle="tab"><i class="zmdi zmdi-assignment"></i> Datos generales</a></li>
                                                    <li class="active"><a href="#ListPaciente" data-toggle="tab"><i class="zmdi zmdi-assignment"></i> Antecendentes Personales</a></li>
                                                    <li class="active"><a href="#ListPaciente" data-toggle="tab"><i class="zmdi zmdi-assignment"></i> Antecentes Famliares</a></li>
                                                
                                                </ul>
                                            </div>
                                        </div>
					                </div>           
                            </div>				
			            </div>
					

						<!-- lista -->
						<div class="tab-pane fade" id="list">
                            <div class="table-wrapper">
                                <div class="form-group pull-right">
                                    <input type="text" class="search form-control" placeholder="Buscar">
                                </div>
                                <span class="counter pull-right"></span>
                                <table class="table table-hover table-bordered results fl-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nombre</th>
                                            <th>Apellido</th>
                                            <th>Historial</th>
											<th>Nombre del doctor</th>  
											<th>Tipo de Consulta</th>
                                            <th>Añadir</th>                                           
                                        </tr>
                                        <tr class="warning no-result">
                                                <td colspan="4"><i class="fa fa-warning"></i> No result</td>
                                              </tr>
                                    </thead>
                                    <tbody>
                                        <% for (var i=0; i< PapeletaINTER.length; i++) { %>
                                        <tr>
                                            <th><%=i+1%></th>
                                            <th><%=PapeletaINTER[i].Consulta.Citas_Medica.Paciente.nombre%></th>
                                            <th><%=PapeletaINTER[i].Consulta.Citas_Medica.Paciente.apellidop%></th>
                                            <th><%=PapeletaINTER[i].Historial%> </th>
											<th><%=PapeletaINTER[i].nombreDoctor%></th>  
											<th><%=PapeletaINTER[i].tipoConsulta%></th>  
                                            <td><a href="/medico/PapeletaINT/<%=PapeletaINTER[i].idConsultaMedica%>/<%=PapeletaINTER[i].Historial%>/consultaMedica" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>                                            
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
					</div>	
				</div>
	        
		</div>
</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>