<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
</head>
<body>
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
				<li>
					<a href="#!" class="btn-search"><i class="zmdi zmdi-search"></i></a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles"><i class="zmdi zmdi-truck zmdi-hc-fw"></i> Pedidos </h1>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<ul class="nav nav-tabs" style="margin-bottom: 15px;">
                        <li class="active"><a href="#new" data-toggle="tab">Lista de Pedidos</a></li>
                        <li><a href="#list" data-toggle="tab">Nuevo Pedido</a></li>
                        <li><a href="#listMedicament" data-toggle="tab">Lista de medicamentos</a></li>
					</ul>
					<!-- Lista de Pedidos -->
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade active in" id="new">
							<div class="container-fluid">
								<div class="row">
								    <div class="table-responsive">
                                        <div class="table-wrapper">
                                            <table class="fl-table">
                                                <thead>
                                                    <tr>
                                                    <th>#</th>
                                                    <th>Codigo</th>
                                                    <th>Proveedor</th>
                                                    <th>T. Comprovante</th>
                                                    <th>Fecha</th>
                                                    <th>Impuestos</th>
                                                    <th>Total</th>
                                                    <th>Estado</th>
                                                    <th>Opciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(var i=0; i< dataPEDIDOS.length; i++) { %>
                                                    <tr>
                                                    <td><%=i+1%></td>
                                                    <td><%=dataPEDIDOS[i].codigoCompra%></td>
                                                    <td><%=dataPEDIDOS[i].proveedor%></td>
                                                    <td><%=dataPEDIDOS[i].boletaPago%></td>
                                                    <td><%=dataPEDIDOS[i].fechaIngreso%></td>
                                                    <td><%=dataPEDIDOS[i].iva%></td>
                                                    <td><%=dataPEDIDOS[i].total%></td>
                                                    <td><%=dataPEDIDOS[i].Observaciones%></td>
                                                    <td><a href="#!" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
                                                    </tr>
                                                    <% } %>
                                                <tbody>
                                            </table>
                                        </div>
                                    </div>
								</div>
							</div>
						</div>
						<!-- Registro de Pedidos-->
						<div class="tab-pane fade" id="list">
                            <div class="container-fluid">
                                <div class="row">

                                    <form action="/pedidos/pedidos" method="POST">

                                        <h2 class="text-center all-tittles">REGISTRO DE COMPRA</h2>
                                        <div class="col-md-12 panel-body">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Codigo de Compra</label>
                                                        <input class="form-control" type="text" name="codigoCompra">
                                                    </div>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Especifique el status de la compra</label>
                                                        <select class="form-control" name="boletaPago">
                                                            <option>FACTURA</option>
                                                            <option>BOLETA DE VENTA</option>
                                                            <option>NOTA DE CREDITO</option>
                                                            <option>NOTA DE DEBITO</option>
                                                            <option>CONTROL INTERNO </option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Tipo de Material</label>
                                                        <select class="form-control" name="tipoMaterial">
                                                            <% for(var i=0; i< grup.length; i++) { %>
                                                            <option><%=grup[i].descripcion%></option>                                                            
                                                            <% } %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Fecha de Ingreso</label>
                                                        <input class="form-control" type="date" name="fechaIngreso">
                                                    </div>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Proveedor</label>
                                                        <select class="form-control" name="proveedor">
                                                        <%if (proveedor) { %>
                                                            <%for(var i=0; i < proveedor.length; i++) {%>
                                                            <option> <%=proveedor[i].nombre%></option>
                                                            <% } %>
                                                        <% } else { %>
                                                           <option value="">No hay Proveedores</option>                                                           
                                                        <% } %>
                                                        </select>
                                                    </div>
                                                </div>
                                             </div>
                                        </div>
                                        <div class="col-xs-12 col-md-10 col-md-offset-1">
                                            <div class="table-wrapper">
                                                <table class="fl-table">
                                                    <thead>
                                                        <tr>
                                                        <th>#</th>
                                                        <th>Cantidad del Producto</th>
                                                        <th>Codigo</th>
                                                        <th>Descripcion</th>
                                                        <th>Cantidad</th>
                                                    
                                                        <th>Precio</th>
                                                        <th>Precio Toal</th>
                                                        <th>Eliminar</th>
                                                        <th>Eliminar todo</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    <% if(products == null) { %>
                                                        la lista esta bacia
                                                    <% } else { %>
                                                        <% for (var i=0; i< products.length; i++) { %>
                                                        <tr>
                                                        <td><%=i+1%></td>
                                                        <td><%=products[i].qty%></td>
                                                        <td><%=products[i].item.codificacion%></td>
                                                        <td><%=products[i].item.nombre%></td>
                                                        <td><%=products[i].item.cantidad%></td>
                                                        <td><%=products[i].item.price%></td>
                                                        <td><%=products[i].price%></td>
                                    
                                                        <td class="text-center"><a href="/pedidos/reduce/<%=products[i].item.id%>" class="btn btn-danger btn-raised btn-xs"><i class="zmdi zmdi-delete"></i></a></td>
                                                        <td class="text-center"><a href="/pedidos/removeAll/<%=products[i].item.id%>" class="btn btn-danger btn-raised btn-xs"><i class="zmdi zmdi-delete"></i></a></td>
                                                        </tr>
                                                        <% } %>
                                                    <% } %>
                                                    <tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="col-md-12 panel-body">
                                            <div class="col-md-12">
                                                <h5>Notas importantes del Comprovante</h5>
                                                <div class="col-md-9">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Observaciones</label>
                                                        <input class="form-control" type="text" name="Observaciones">	
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Sub Total</label>
                                                        <input class="form-control" type="text" value="<%=totalPrice%>" name="subTotal">
                                                    </div>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">IVA</label>
                                                        <input class="form-control" type="text" value="<%=totalPrice * 0.13%>" name="iva">
                                                    </div>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Total</label>
                                                        <input class="form-control" type="text" value="<%=totalPrice + totalPrice * 0.13%>" name="total">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="text-center">
                                            <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                            <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                                            <button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
                                        </p>
                                    </form>	
                                </div>
                            </div>
                        </div>
                        <!-- mostrar lista de medicamentos -->
                        <div class="tab-pane fade" id="listMedicament">
                            <div class="table-wrapper">
                                <div class="form-group pull-right">
                                    <input type="text" class="search form-control" placeholder="Buscar">
                                </div>
                                <span class="counter pull-right"></span>
                                <table class="table table-hover table-bordered results fl-table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Codificación</th>
                                            <th>Nombre</th>
                                            <th>Cantidad</th>
                                            <th>Precio</th>  
                                            <th>Añadir</th>                                           
                                        </tr>
                                        <tr class="warning no-result">
                                                <td colspan="4"><i class="fa fa-warning"></i> No result</td>
                                              </tr>
                                    </thead>
                                    <tbody>
                                        <% for(var i=0; i< resp.length; i++) {%>
                                        <tr>
                                            <th><%= i+1 %></th>
                                            <th><%=resp[i].codificacion%></th>
                                            <th><%=resp[i].nombre%></th>
                                            <th><%=resp[i].cantidad%> </th>
                                            <th><%=resp[i].precio%></th>  
                                            <td><a href="/pedidos/carrito/<%=resp[i].id%>" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>                                            
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>