<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
</head>
<body>
	<!-- SideBar -->
	<%- include("partials/menudoc") -%>
	<!-- Content page-->
<section class="full-box dashboard-contentPage">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
			
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
			  <h1 class="text-titles"><i class="zmdi zmdi-account-calendar zmdi-hc-fw"></i> Receta <small></small></h1>
			</div>			
		</div>
		
		    <div class="container-fluid">
				<div class="row contenedor">
					<div class="col-xs-12">
						<ul class="nav nav-tabs" style="margin-bottom: 15px;">											                           
							<li class="active"><a href="#new" data-toggle="tab"><i class="zmdi zmdi-assignment"></i> Receta</a></li>
							<li><a href="#list" data-toggle="tab">Lita de Recetas del Paciente</a></li>
						</ul>
						<div id="myTabContent" class="tab-content">
								<div class="tab-pane fade active in" id="new">
									<div class="table-responsive">
										<% if(resp == "") { %>
											<form action="/medico/receta/<%=id.id%>" method="POST">
												<div class="container-fluid">
													<div class="col-md-12 panel-body ">							
														<!-- daros de receta-->
														<div class="col-md-6">
															<p class="lead">Datos Personales </p>                            
														</div>
														<div class="col-md-12">
															<div class="col-md-6">
																<div class="form-group label-floating">
																	<label class="control-label">De:                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </label>
																	   <select class="form-control label-txte" name="tipoConsulta">	
																			<option><%=ConsultaOnly[0].tipoConsulta%></option>															
																		</select>
																</div>
															</div>								
															<div class="col-md-6">
																<div class="form-group label-floating">
																	<label class="control-label">N° de Historia</label>
																	<input class="form-control label-txte" type="text"  value="<%=dataPaciente[0].numeroHistorial%>" name="historiaClinica">
																</div>									
															</div>													
														</div>																					
														<!-- lado hizquierdo -->															
														<div class="col-md-4 ">
															<div class="form-group label-floating  ">
																<label class="control-label ">Apellido Paterno</label>
																<input class="form-control label-txte" type="text" value="<%=dataPaciente[0].apellidop%>" >
															</div>
															 <br>
														</div>									
														<!--   lado derecho-->
														<div class="col-md-4 ">
															<div class="form-group label-floating ">
																<label class="control-label">Apellido Materno</label>
																<input class="form-control label-txte" type="text" value="<%=dataPaciente[0].apellidom%>">
															</div>
			
															<br>
			
														</div>
														<div class="col-md-4">
															<div class="form-group label-floating ">
																<label class="control-label">Nombre</label>
															   <input class="form-control label-txte" type="text" value="<%=dataPaciente[0].nombre%>">
															</div>
															<br>
														</div>
														<div class="col-md-12">
															<p class="lead">Datos del Doctor</p>
															<div class="form-group label-floating ">
																<label class="control-label">Nombre del Doctor </label>
																<input class="form-control label-txte" type="text" name="doctor" value="<%=ConsultaOnly[0].Citas_Medica.medico%>">
															</div>
														</div>
														<!-- medicamentos colum1 -->
														<div class="col-md-12 >
															<p class="lead">Datos del Medicamento</p>
															<div class="col-md-2 ">																			
																<div class="form-group label-floating ">
																	<label class="control-label">Fecha Prescripción                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             </label>
																	<input class="form-control " type="text" name="fecha">
																</div>
																<div class="form-group label-floating ">
																	<label class="control-label">Posologia </label>
																	<input class="form-control label-txte" type="text" name="posologia">
																</div>
																<br>
															</div>
															<div class="col-md-4">
																<div class="form-group label-floating ">
																	 <label class="control-label">Fármaco                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </label>
																	 <select class="form-control label-txte" name="farmaco">	
																		 <option></option>
																		 <option>paracetamol</option>                                                      
																		 <option>algun otra medicina</option>
			
																	 </select>
																</div>
																<div class="form-group label-floating ">
			
																	 <label class="control-label">Via de Administración</label>
																	 <input class="form-control label-txte" type="text" name="viaAdmincion">
																</div>
																<br>
															</div>		
															<!-- lugar donde vive columna 2-->
															<div class="col-md-6 ">
																<div class="form-group label-floating ">
																	<label class="control-label">Duracion Tratamiento</label>
																	<input class="form-control label-txte" type="text" name="indicaciones">
																</div>									
															</div>
															<div class="col-md-6 ">
																<div class="form-group label-floating ">
																	<label class="control-label">Unidades</label>
																	<input class="form-control label-txte" type="text" name="unidades">
																</div>											 
															</div>
															<br>
														</div>
														</div>								
															<a href="#ListPaciente" data-toggle="tab"><i class="zmdi zmdi-plus-circle"></i> Añadir mas Medicamento</a>							
															<p class="text-center">
																<button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
																<button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
																<button type="submit" class="btn btn-outline-danger"><i class="zmdi zmdi-download"></i> &nbsp;&nbsp; Imprimir</button>
															</p>
												</div>
											</form>	
										<% } else { %>
											<h2>Formulario de actualizacion</h2>
											<form action="/medico/updateReceta/<%=resp[0].id%>" method="POST">
												<div class="container-fluid">
													<div class="col-md-12 panel-body ">							
														<!-- daros de receta-->
														<div class="col-md-6">
															<p class="lead">Datos Personales </p>                            
														</div>
														<div class="col-md-12">
															<div class="col-md-6">
																<div class="form-group label-floating">
																	<label class="control-label">De:                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </label>
																	   <select class="form-control label-txte" name="tipoConsulta">	
																			<option><%=ConsultaOnly[0].tipoConsulta%></option>															
																		</select>
																</div>
															</div>								
															<div class="col-md-6">
																<div class="form-group label-floating">
																	<label class="control-label">N° de Historia</label>
																	<input class="form-control label-txte" type="text"  value="<%=dataPaciente[0].numeroHistorial%>" name="historiaClinica">
																</div>									
															</div>													
														</div>																					
														<!-- lado hizquierdo -->															
														<div class="col-md-4 ">
															<div class="form-group label-floating  ">
																<label class="control-label ">Apellido Paterno</label>
																<input class="form-control label-txte" type="text" value="<%=dataPaciente[0].apellidop%>" >
															</div>
															 <br>
														</div>									
														<!--   lado derecho-->
														<div class="col-md-4 ">
															<div class="form-group label-floating ">
																<label class="control-label">Apellido Materno</label>
																<input class="form-control label-txte" type="text" value="<%=dataPaciente[0].apellidom%>">
															</div>
			
															<br>
			
														</div>
														<div class="col-md-4">
															<div class="form-group label-floating ">
																<label class="control-label">Nombre</label>
															   <input class="form-control label-txte" type="text" value="<%=dataPaciente[0].nombre%>">
															</div>
															<br>
														</div>
														<div class="col-md-12">
															<p class="lead">Datos del Doctor</p>
															<div class="form-group label-floating ">
																<label class="control-label">Nombre del Doctor </label>
																<input class="form-control label-txte" type="text" name="doctor" value="<%=resp[0].Consulta.Citas_Medica.medico%>">
															</div>
														</div>
														<!-- medicamentos colum1 -->
														<div class="col-md-12 >
															<p class="lead">Datos del Medicamento</p>
															<div class="col-md-2 ">																			
																<div class="form-group label-floating ">
																	<label class="control-label">Fecha Prescripción                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             </label>
																	<input class="form-control " type="text" name="fecha" value="<%=resp[0].fecha%>">
																</div>
																<div class="form-group label-floating ">
																	<label class="control-label">Posologia </label>
																	<input class="form-control label-txte" type="text" name="posologia" value="<%=resp[0].posologia%>">
																</div>
																<br>
															</div>
															<div class="col-md-4">
																<div class="form-group label-floating ">
																	 <label class="control-label">Fármaco                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </label>
																	 <select class="form-control label-txte" name="farmaco">	
																		 <option><%=resp[0].farmaco%></option>																	 
																	 </select>
																</div>
																<div class="form-group label-floating ">
			
																	 <label class="control-label">Via de Administración</label>
																	 <input class="form-control label-txte" type="text" name="viaAdmincion" value="<%=resp[0].viaAdmincion%>">
																</div>
																<br>
															</div>		
															<!-- lugar donde vive columna 2-->
															<div class="col-md-6 ">
																<div class="form-group label-floating ">
																	<label class="control-label">Duracion Tratamiento</label>
																	<input class="form-control label-txte" type="text" name="indicaciones" value="<%=resp[0].indicaciones%>">
																</div>									
															</div>
															<div class="col-md-6 ">
																<div class="form-group label-floating ">
																	<label class="control-label">Unidades</label>
																	<input class="form-control label-txte" type="text" name="unidades" value="<%=resp[0].unidades%>">
																</div>											 
															</div>
															<br>
														</div>
														</div>								
															<a href="#ListPaciente" data-toggle="tab"><i class="zmdi zmdi-plus-circle"></i> Añadir mas Medicamento</a>							
															<p class="text-center">
																<button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
																<button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
																<button type="submit" class="btn btn-outline-danger"><i class="zmdi zmdi-download"></i> &nbsp;&nbsp; Imprimir</button>
															</p>
												</div>
											</form>	
										<% } %>												
									</div>
								</div>
								<div class="tab-pane fade" id="list">
									<div class="table-responsive" >
									  <table class="table table-hover ">
										  <thead>
											  <tr>
												  <th class="text-center">#</th>
											  <th class="" WIDTH="15%">N° de historia </th>
											  <th class="" WIDTH="20%">Fecha</th>
											  <th class="" WIDTH="20%">Farmaco	</th>	
											  <th class="" WIDTH="20%">Doctor</th>
											  <th class="" WIDTH="20%">indicaciones</th>	
											  <th class="text-center" WIDTH="20%">Modificar</th>
												<!--
												   <th class="text-center" WIDTH="20%">Darde Baja</th>
												-->   
											  </tr>
										  </thead>
										  <tbody>
												<% if(ListRecetaOfConsulta != null) { %>
											  
													<% for(var i=0; i< ListRecetaOfConsulta.length; i++) { %>
														<tr>
															<td><%= i + 1 %></td>
															<td><%=ListRecetaOfConsulta[i].historiaClinica %></td>
															<td><%=ListRecetaOfConsulta[i].fecha %></td>
															<td><%=ListRecetaOfConsulta[i].farmaco %></td>
															<td><%=ListRecetaOfConsulta[i].doctor %></td>
															<td><%=ListRecetaOfConsulta[i].indicaciones %></td>
															<td class="text-center" ><a href="/medico/TraerConsulta/<%=ListRecetaOfConsulta[i].id_consulta %>/<%=ListRecetaOfConsulta[i].historiaClinica %>" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>															
														</tr>
													<% } %>
												<% } else { %>
													<tr>
														<td> NO HAY CONENCCION CON LA BASE DE DATOS </td>
													</tr>
												<% } %>	
										  </tbody>
									  </table>
									  <ul class="pagination pagination-sm">
										  <li class="disabled"><a href="#!">«</a></li>
										  <li class="active"><a href="#!">1</a></li>
										  <li><a href="#!">2</a></li>
										  <li><a href="#!">3</a></li>
										  <li><a href="#!">4</a></li>
										  <li><a href="#!">5</a></li>
										  <li><a href="#!">»</a></li>
									  </ul>
									</div>
								</div>
								
							</div>
					</div>
				</div>
				
				
			</div>
		
									
									
					
			
</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
</body>
</html>