<!DOCTYPE >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ESPECILAIDADES</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/css/animate.css" rel="stylesheet" type="text/css" />
<link href="/css/admin.css" rel="stylesheet" type="text/css" />
<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />
<style>
        .info2{ border-radius:100%; float: left; height:80px; width:80px; }
      .info2 .icon{ font-size:50px; color:#FFFFFF; float:left; margin-right:50px; margin:15px 9px 9px 18px;}
      </style>

</head>
<body class="light_theme  fixed_header left_nav_fixed">
<div class="wrapper">
  <div class="header_bar">
    <div class="brand">
      <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
    </div>
    <div class="header_top_bar">
      <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
      <div class="top_right_bar">
        <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/user.png" /><span class="user_adminname">John Doe</span> <b class="caret"></b> </a>
          <ul class="dropdown-menu">
            <div class="top_pointer"></div>
            <li> <a href="profile.html"><i class="fa fa-user"></i> Profile</a> </li>
            <li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
            <li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
            <li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
          </ul>
        </div>
       
      </div>
    </div>
    </div>
  <div class="inner">
    <div class="left_nav">
      <div class="left_nav_slidebar">
          <ul>
            <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home  <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul >
                <li> <a href="/home"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b >Inicio</b> </a> </li>
              </ul>
            </li>
            <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-users icon"></i>Admin Sistema <span class="left_nav_pointer"></span><span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul >
                <li> <a href="/usuarios/usuarios"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b >Personal</b> </a> </li>
                <li> <a href="/cuaderno/Cuadernos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Servicios</b> </a> </li>
                <li> <a href="/cuaderno/especialidad"> <span>&nbsp;</span> <i class="fa fa-circle "></i> Especialidad</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Fichas Medicas <span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul>
                <li> <a href="/paciente/citas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Citas Medicas</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-users icon"></i> Internacion <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul class="opened" style="display:block">
                <li> <a href="/salas/salas"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b class="theme_color">Salas</b> </a> </li>
                <li> <a href="/paciente_Inter"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Pacientes Internacion</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-envelope"></i> Farmacia <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul>
                <li> <a href="/almacenamiento"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b></b>Almacen </a> </li>
                <li> <a href="/solicitudes"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Solicitudes</b> </a> </li>
                <li> <a href="/recetas_farm"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Recetas</b> </a> </li>
                <li> <a href="/ventas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Recetas</b> </a> </li>
                <li> <a href="/inventariosFar"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Inventarios</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-folder-open-o"></i> Reportes <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul>
                <li> <a href="/reportes_pacientes"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Paciente General</b> </a> </li>
                <li> <a href="/proveedores"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Proveedores</b> </a> </li>
                <li> <a href="/reporte"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Administracion</b> </a> </li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
    <div class="contentpanel">
      <div class="container clear_both padding_fix">
        <br>
         <div class="row">
        <div class="col-md-12">
          <div class="block-web">
            <div class="header">
              <div class="info2 blue_symbols"><i class="fa fa-hospital-o icon"></i></div>
              <h3 class="content-header ">Creacion Salas</h3>
            </div>
            <br>
            <br>
            
            <div class="porlets-content">
                <%if (OnlySala != null) { %>
                    <%if (dataSala == null) { %>   
                    <h1>No Se puede establecer una coneccion con Especialidades porfavor vuelva a cargar esta pagina desde una pesta単a o vista anterior</h1>
                    <% } else { %>   
                    <h1>Formulario para Actualizar Sala</h1> 
                    <%=OnlySala[0].id%>
					<form class="form-horizontal group-border-dashed" action="/salas/updateSalas/<%=OnlySala[0].id%>"  method="POST" parsley-validate novalidate>
					<div class="form-group col-sm-12">
						
						<div class="col-sm-3">
							<label class="control-labe">Especialidad:</label>
                            <select class="form-control" id="source" name="nombre">
                                <option><%=OnlySala[0].nombre%></option>
                                <% for (var i=0; i < dataSala.length; i++) { %>
                                <option><%=dataSala[i].nombre%></option>
                                <% } %>   
                            </select>
						</div>
						
						<div class="col-sm-3">
							<label class="control-labe">Descricion:</label>
                            <select  class="form-control" id="source" name="descripcionSala">
                                <option><%=OnlySala[0].descripcionSala%></option>
                                <option>Sala H.- Ni単os</option>
                                <option>Sala H.- Hombres</option>
                                <option>Sala H.- Mujeres</option>
                                <option>Sala H.- 3ra. Edad</option>
                                <option>Sala H.- Cirugia General</option>
                            </select>
						</div>
						<div class="col-sm-3">
              <label class="control-label">Piso:</label>
              <input class="form-control" type="text" name="piso" value="<%=OnlySala[0].piso%>" />
            </div>
            <div class="col-sm-3">
              <label class="control-label">Camas:</label>
              <input class="form-control" type="text"   ></input>
            </div>
					</div>
					
					<div class="form-group">
						<div class="col-sm-offset-4 col-sm-10">
                                <a class="btn btn-info active btn-icon" aria-pressed="true" role="button"  href="/salas/salas">Volver<span>&nbsp;</span><i class="fa fa-arrow-left"></i></a><span>&nbsp;&nbsp;&nbsp;</span>
						  <button type="submit" class="btn btn-success btn-icon" >Actualizar <span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
						  <button type="reset"class="btn btn-danger btn-icon" data-dismiss="modal">Cancelar <span>&nbsp;</span><i class="fa fa-times"></i></button>
                        </div>
                        
					  </div><!--/form-group--> 
                  
                </form>
                <% } %>
                <% } else if (dataSala == null) { %>
                    <h1>No Se puede establecer una coneccion con Especialidades porfavor vuelva a cargar esta pagina desde una pesta単a o vista anterior</h1>
                <% } else { %>
                    <form class="form-horizontal group-border-dashed" action="/salas/salas" method="POST" parsley-validate novalidate>
                        <div class="form-group ">
                            
                            <div class="col-sm-3">
                                    <label class="control-labe">Especialidad:</label>
                                    <select class="form-control" id="source" name="nombre">
                                        <% for (var i=0; i < dataSala.length; i++) { %>
                                            <option><%=dataSala[i].nombre%></option>
                                            <% } %>  
                                    </select>
                                      
                                </div>
                                
                                <div class="col-sm-3">
                                    <label class="control-labe">Descricion:</label>
                                    <select  class="form-control" id="source"  name="descripcionSala">
                                        <option>Sala H.- Ni単os</option>
                                        <option>Sala H.- Hombres</option>
                                        <option>Sala H.- Mujeres</option>
                                        <option>Sala H.- 3ra. Edad</option>
                                        <option>Sala H.- Cirugia General</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-labe">Piso:</label>
                                    <input class="form-control" type="text" name="piso"  />
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-labe">Camas:</label>
                                    <input class="form-control" type="text"  />
                                </div>
                            
                        </div><!--/form-group--> 
                           
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-10">
                                
                                <button type="submit" class="btn btn-success btn-icon">Guardar <span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
                                <button type="reset"class="btn btn-danger btn-icon">Cancelar <span>&nbsp;</span><i class="fa fa-times"></i></button>
                                        
                            </div>
                          </div><!--/form-group--> 
                      
                    </form>
                    <% } %>
                    
              </div>
          </div>
        </div>
      </div>
      
      
      <div class="row">
        <div class="col-md-12">
          <div class="block-web">
           <div class="header">
             <!-- Lista de Salas-->
              <h3 class="content-header">Lista Especialidades</h3>
            </div>
         <div class="porlets-content">
            <div class="table-responsive">
                <table  class="display table table-bordered table-striped" id="dynamic-table">
                    <thead>
                         <tr>
                            <th>#</th>
                            <th>Especilidad</th>
                            <th>Descripcion</th>
                            <th>Piso</th>
                            <th>Camas</th>
                            <th>Opciones</th>
                            

                        </tr>
                      </thead>
                      <tbody>
                        <% for (var i=0; i< resp.length; i++) { %>
                        <tr>
                          <td><%=i+1%></td>
                          <td><%=resp[i].nombre%></td>
                          <td><%=resp[i].descripcionSala%></td>
                          <td><%=resp[i].piso%></td>
                          <td>poner cantidad maxima de camas en la tabla salas</td>
                        <td>
                            <a href="/salas/renderCamas/<%=resp[i].id%> " data-toggle="tooltip" class="btn  tooltips" data-original-title="Dar Camas"><i class="fa fa-plus text-muted"></i></a><span>&nbsp;</span>
                            <a href="/salas/updateSalas/<%=resp[i].id%>""  data-toggle="tooltip" class="btn  tooltips" data-original-title="Dar_Baja"><i class="fa fa-pencil text-muted"></i></a><span>&nbsp;</span>
                                
                        </td>							
                        </tr>
                        <% } %>
                      </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      
        </div>
 </div>
</div>

<script src="/js/jquery-2.1.0.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/common-script.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript"  src="/plugins/toggle-switch/toggles.min.js"></script> 
<script src="/plugins/checkbox/zepto.js"></script>
<script src="/plugins/checkbox/icheck.js"></script>
<script src="/js/icheck-init.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script> 
<script type="text/javascript" src="/js/form-components.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/jquery.inputmask.min.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/demo-mask.js"></script> 
<script type="text/javascript"  src="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script> 
<script type="text/javascript"  src="/plugins/dropzone/dropzone.min.js"></script> 
<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>



<script src="/plugins/validation/parsley.min.js"></script>
<script src="/plugins/data-tables/jquery.dataTables.js"></script>
<script src="/plugins/data-tables/DT_bootstrap.js"></script>
<script src="/plugins/data-tables/dynamic_table_init.js"></script>
<script src="/plugins/edit-table/edit-table.js"></script>
<script>
          jQuery(document).ready(function() {
              EditableTable.init();
          });
 </script>
<script>


/*==Porlets Actions==*/
    $('.minimize').click(function(e){
      var h = $(this).parents(".header");
      var c = h.next('.porlets-content');
      var p = h.parent();
      
      c.slideToggle();
      
      p.toggleClass('closed');
      
      e.preventDefault();
    });
    
    $('.refresh').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');
      
      loading.appendTo(p);
      loading.fadeIn();
      setTimeout(function() {
        loading.fadeOut();
      }, 1000);
      
      e.preventDefault();
    });
    
    $('.close-down').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      
      p.fadeOut(function(){
        $(this).remove();
      });
      e.preventDefault();
    });

</script>

<script src="/js/jPushMenu.js"></script> 
<script src="/js/side-chats.js"></script>

</body>
</html>
