<!DOCTYPE >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" sizes="16x16" href="/images/gfu.png">
<title>Registro Personal</title>
<%- include("partials/head") -%>	
<style>

hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

</style>
</head>
<body class="light_theme  fixed_header left_nav_fixed">
<div class="wrapper" id="roles">
  <%- include("partials/menusali") -%>	
  <div class="inner">
    <div class="left_nav">
      <div class="left_nav_slidebar">
        <ul>
          <li ><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="plus"><i class="fa fa-plus"></i></span> </a>
            <ul >
              <li> <a href="home"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Inicio</b> </a> </li>
            </ul>
          </li>
          <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-users icon"></i>Admin Sistema <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span></a>
            <ul class="opened" style="display:block" >
              <li> <a href="/usuarios/usuarios"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b class="theme_color">Registros</b> </a> </li>
            </ul>
          </li>
          <li> <a href="javascript:void(0);"> <i class="fa fa-clipboard"></i>Servicios<span class="plus"><i class="fa fa-plus"></i></span></a>
            <ul>
              <li> <a href="/cuaderno/especialidad"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Especialidades</b> </a> </li>
              <li> <a href="/cuaderno/Cuadernos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Cuadernos</b> </a> </li>
              <li> <a href="/salas/salas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Salas</b> </a> </li>
            </ul>
          </li>
          <li> <a href="javascript:void(0);"> <i class="fa fa-folder-open-o"></i> Reportes <span class="plus"><i class="fa fa-plus"></i></span> </a>
            <ul>
              <li> <a href="/paciente_Inter"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Pacientes</b> </a> </li>
              <li> <a href="/pacientead"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Farmacia</b></a> </li>
              <li> <a href="/usuarios/roles"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Person.</b> </a> </li>
              <li> <a href="/cuaderno/recuadernos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Cuadr.</b> </a> </li>
              <li> <a href="/cuaderno/repespecialidad"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reporte de Espc.</b> </a> </li>
              
            </ul>
          </li>
          <li> <a href="javascript:void(0);"> <i class="fa fa-cogs"></i>CFG del Sistema<span class="plus"><i class="fa fa-plus"></i></span></a>
            <ul>
              <li> <a href="/backup"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Backup</b> </a> </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="contentpanel">
      <div class="container clear_both padding_fix">
        <br>
        <div class="row">
        <div class="col-md-12">
            
          <div class="block-web">
              <%if (msm1 != null) {%>
                <div class="bs-example mover">
                  <div class="alert alert-danger fade in">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <span class="glyphicon glyphicon-hand-right"></span> <strong><Menu:t>Mensaje de Alerta</Menu:t></strong>
                    <hr class="message-inner-separator">
                    <strong><%=msm1 %></strong></div>
                </div>
              <%} else if(sms2 != null) { %>
                <div class="bs-example mover">
                  <div class="alert alert-success fade in">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <span class="glyphicon glyphicon-ok"></span> <strong>Mensaje de Confirmación</strong>
                    <hr class="message-inner-separator">  
                    <strong><%=sms2 %></strong>
                  </div>
                </div>
              <% } %>
            <div class="header">
              <div class="actions"><a class="refresh"  role="button" href="/usuarios/quitar">Refresh  <span>&nbsp;</span><i class="fa fa-repeat"></i></a> </div>
              <div class="info blue_symbols"><i class="fa fa-clipboard icon"></i></div>
              <h3 class="content-header ">Registro de Personal</h3>
            </div>
            <br>
            <br>
            <div class="porlets-content">
              
              <%if (onlyUSer == null) { %>
              <form class="form-horizontal group-border-dashed" action="/usuarios/usuarios" method="POST" parsley-validate novalidate>
                <div class="form-group">
                  <div class="col-md-4">
                    <label >Apellido Paterno:</label>
                    <input type="text"  class="form-control " parsley-trigger="change"  name="apellidop" required placeholder="Introdusca Apellido" onkeyup="mayus(this)"  />
                  </div>
                  <div class="col-md-4">
                    <label>Apellido Materno:</label>
                    <input type="text" class="form-control ma" parsley-trigger="change" name="apellidom" required placeholder="Introdusca Apellido" onkeyup="mayus(this);" />
                  </div>
                  <div class="col-md-4">
                    <label >Nombre(s):</label>
                    <input type="text" class="form-control ma" parsley-trigger="change"  name="nombre" required placeholder="Introdusca Nombre" onkeyup="mayus(this);" />
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-md-4">
                    <label >C.I.:</label>
                    <input type="text" name="ci"  class="form-control" parsley-trigger="change"   required placeholder="Introdusca C.I."maxlength="10" />
                  </div>
                  <div class="col-md-4">
                    <label >Dirección:</label>
                    <input type="text" class="form-control " name="direcion" parsley-trigger="change"   required placeholder="Introdusca Direccion" onkeyup="mayus(this);"  />
                  </div>
                  <div class="col-md-4">
                    <label >Telefono:</label>
                    <input  parsley-type="number" type="text" class="form-control" name="telefono" required placeholder="XX-XXXXXX" maxlength="8" />
                  </div>
                  
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label >Cargo:</label>
                        <select class="form-control" id="source" name="cargo">
                          <option value="medico">Medico</option>
                          <option value="enfermera">Enfermera</option>
                          <option value="personal">Personal</option>
                          <option value="farmaseutico">Farmaseutico</option>
                        </select>
                    </div>
                    
                </div>
                <div class="form-group">
                  <div class="col-md-offset-4 col-md-10">
                      <button type="submit" class="btn btn-success btn-icon">Guardar <span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
                      <a class="btn btn-danger active btn-icon" aria-pressed="true" role="button"  href="/home">Volver<span>&nbsp;</span><i class="fa fa-arrow-left"></i></a><span>&nbsp;&nbsp;&nbsp;</span>
                  </div>
                </div>
              </form>
              <% } else { %>
                <form class="form-horizontal group-border-dashed" action="/usuarios/updatePersonal/<%=onlyUSer.id%>" method="POST" parsley-validate novalidate>
                  <div class="form-group">
                    <div class="col-md-4">
                      <label >Apellido Paterno:</label>
                      <input type="text"  class="form-control ma" parsley-trigger="change"  name="apellidop" value="<%=onlyUSer.apellidop%>" required placeholder="Introdusca Apellido" onkeyup="mayus(this);" />
                    </div>
                    <div class="col-md-4">
                      <label >Apellido Materno:</label>
                      <input type="text" class="form-control ma" parsley-trigger="change" name="apellidom" value="<%=onlyUSer.apellidom%>" required placeholder="Introdusca Apellido"  onkeyup="mayus(this);"/>
                    </div>
                    <div class="col-md-4">
                      <label >Nombre(s):</label>
                      <input type="text" class="form-control ma" parsley-trigger="change"  name="nombre" value="<%=onlyUSer.nombre%>" required placeholder="Introdusca Nombre"  onkeyup="mayus(this);"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-4">
                      <label >C.I.:</label>
                      <input type="text" name="ci" value="<%=onlyUSer.ci%>"  class="form-control" parsley-trigger="change"   required placeholder="Introdusca C.I." />
                    </div>
                    <div class="col-md-4">
                      <label>Dirección:</label>
                      <input type="text" class="form-control ma" name="direcion" value="<%=onlyUSer.direcion%>" parsley-trigger="change"   required placeholder="Introdusca Dirección"  onkeyup="mayus(this);"/>
                    </div>
                    <div class="col-md-4">
                      <label >Telefono:</label>
                      <input parsley-type="number" type="text" class="form-control" name="telefono" value="<%=onlyUSer.telefono%>" required placeholder="XX-XXXXXX" />
                    </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <label  >Cargo:</label>
                          <select class="form-control" id="source" name="cargo">
                            <option><%=onlyUSer.cargo%></option>
                            <option>-----------------------</option>
                            <option value="medico">Medico</option>
                            <option value="enfermera">Enfermera</option>
                            <option value="personal">Personal</option>
                            <option value="farmaseutico">Farmaseutico</option>
                          </select>
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-offset-4 col-md-10">
                        <button type="submit" class="btn btn-success btn-icon">Actualizar <span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
                        <a class="btn btn-info active btn-icon" aria-pressed="true" role="button"  href="/usuarios/quitar">Limpiar<span>&nbsp;</span><i class="fa fa-arrow-left"></i></a><span>&nbsp;&nbsp;&nbsp;</span>
                    </div>
                  </div> 
                </form>
              <% } %>
            </div>
          </div>
        </div>
        </div>
        <div class="row" >  
        <div class="col-md-12">
          <div class="block-web">
            <div class="header">
              <h3 class="content-header">Lista Personal</h3>
            </div>
            <div class="porlets-content">
              <div class="table-responsive">
                <table  class="display table table-bordered table-striped" id="dynamic-table">
                  <thead>
                    <tr>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Apellido Paterno</th>
                    <th class="text-center">Apellido Materno</th>
                    <th class="text-center">C.I.</th>
                    <th class="text-center">Cargo</th>
                    <th class="text-center">Opciones</th>
                    
                    </tr>
                  </thead>
                  <tbody>
                  <% if (resp == null) { %>
                    <h1>no hay cuenta</h1>
                  <% } else { %>
                  <% for(var i=0; i< resp.length; i++) { %>
                    <tr>
                      <td class="text-center"><%=resp[i].nombre %></td>
                      <td class="text-center"><%=resp[i].apellidop %></td>
                      <td class="text-center"><%=resp[i].apellidom %></td>
                      <td class="text-center"><%=resp[i].ci %></td>
                      <td class="text-center"><%=resp[i].cargo %></td>										
                      <td class="text-center">

                        <a href="/usuarios/UsuraioCuenta/<%=resp[i].id %>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Dar Cuenta"><i class="fa fa-user "></i></a><span>&nbsp;</span>
                        <a href="#!"  data-toggle="tooltip" class="btn  tooltips" data-original-title="Dar_Baja"><i class="fa fa-trash-o red"></i></a><span>&nbsp;</span>
                        <a href="/usuarios/usuarios/<%=resp[i].id %>"  data-toggle="tooltip" class="btn  tooltips" data-original-title="Editar"><i class="fa fa-pencil " style="color:rgb(80, 145, 80)"></i></a><span>&nbsp;</span>
                        <a v-on:click="traer(<%=resp[i].id %>)"   data-target="#myModal2" data-toggle="modal" data-toggle="tooltip" class="btn  tooltips" data-original-title="Ver cuentas"><i class="fa fa-eye " style="color:black"></i></a>
                      
                      </td>
                    
                    </tr>
                  <% } %>
                  <% } %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
    </div>
  </div>

<!--
                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                          modal par mostrar datos
                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
              -->
              <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <div class="info blue_symbols"><i class="fa fa-users icon" ></i></div>
                      <h4 class="modal-title" id="myModalLabel">Cuenta</h4>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="porlets-content ">
                              <form class="form-horizontal group-border-dashed">
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-6">
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><label class="control-labe">nombre:</label>
                                        <label class="control-labe"><span>&nbsp;&nbsp;&nbsp;</span>{{roles.nombre}}</label>  
                                          </div>
                                </div>
                                  
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-6">
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><label class="control-labe">Apellido Paterno:</label><span>&nbsp;</span>
                                        <label class="control-labe"><span>&nbsp;&nbsp;&nbsp;</span>{{roles.apellidop}}</label>                                        
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><label class="control-labe">Apellido Materno:</label>
                                        <label class="control-labe"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{{roles.apellidom}}</label>  
                                    </div>
                                   
                                </div>
                                
                                <div class="form-group col-sm-12">
                                    <div class="col-sm-6">
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><label class="control-labe">direccion</label>
                                        <label class="control-labe"><span>&nbsp;&nbsp;&nbsp;</span>{{roles.direcion}}</label>  
                                        </div>
                                  
                                </div> 
                                
                                  <div class="form-group col-sm-12">  
                                      <div class="col-sm-6">
                                          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><label class="control-labe">telefono:</label>
                                      <label class="control-labe"><span>&nbsp;&nbsp;&nbsp;</span>{{roles.telefono}}</label>
                                          </div>
                                  
                                      <div class="col-sm-6">
                                          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><label class="control-labe">cargo:</label>
                                      <label class="control-labe"><span>&nbsp;&nbsp;&nbsp;</span>{{roles.cargo}}</label>
                                          </div>
                                   </div>
                                   <div class="form-group col-sm-12">     
                                      <div class="col-sm-6">
                                          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><label class="control-labe">cuenta {{email}}</label>
                                          <select v-model="email" v-on:click="mostrar_roles">
                                            <template v-for="rol in roles.roles" >
                                            <option>{{rol.email}}</option>
                                          </template>
                                          </select>
                                      <label class="control-labe"><span>&nbsp;&nbsp;&nbsp;</span></label>
                                        </div>
                                      <div class="col-sm-6">
                                          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><label class="control-labe">rol</label>
                                      <label class="control-labe"><span>&nbsp;&nbsp;&nbsp;</span>{{roles.rolUser}}</label>
                                        </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-sm-offset-5 col-sm-10">
                                
                                      <button type="reset"class="btn btn-danger btn-icon" data-dismiss="modal">Cancelar <span>&nbsp;</span><i class="fa fa-times"></i></button>
                                    </div>
                                  </div>
                                
                              </form>
                            </div>
                    
                  </div>
                </div>
              </div>
</div>
              <!--
                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
              -->

<script>
 window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 2000);
</script>
<script>
		function mayus(e) {
    e.value = e.value.toUpperCase();
}
  </script>

<script src="/js/jquery-2.1.0.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/common-script.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript"  src="/plugins/toggle-switch/toggles.min.js"></script> 
<script src="/plugins/checkbox/zepto.js"></script>
<script src="/plugins/checkbox/icheck.js"></script>
<script src="/js/icheck-init.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script> 
<script type="text/javascript" src="/js/form-components.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/jquery.inputmask.min.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/demo-mask.js"></script> 
<script type="text/javascript"  src="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script> 
<script type="text/javascript"  src="/plugins/dropzone/dropzone.min.js"></script> 
<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>



<script src="/plugins/validation/parsley.min.js"></script>
<script src="/plugins/data-tables/jquery.dataTables.js"></script>
<script src="/plugins/data-tables/DT_bootstrap.js"></script>
<script src="/plugins/data-tables/dynamic_table_init.js"></script>
<script src="/plugins/edit-table/edit-table.js"></script>
<script>
          jQuery(document).ready(function() {
              EditableTable.init();
          });
 </script>
<script>


/*==Porlets Actions==*/
    $('.minimize').click(function(e){
      var h = $(this).parents(".header");
      var c = h.next('.porlets-content');
      var p = h.parent();
      
      c.slideToggle();
      
      p.toggleClass('closed');
      
      e.preventDefault();
    });
    
    $('.refresh').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');
      
      loading.appendTo(p);
      loading.fadeIn();
      setTimeout(function() {
        loading.fadeOut();
      }, 1000);
      
      e.preventDefault();
    });
    
    $('.close-down').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      
      p.fadeOut(function(){
        $(this).remove();
      });
      e.preventDefault();
    });

</script>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/js/jPushMenu.js"></script> 
<script src="/js/side-chats.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="/axios/dist/axios.min.js"></script>
<script src="/js/vue/roles.js"></script>

</body>
</html>
