<!DOCTYPE html>
<html lang="es">
<head>
	<title>Actualizar Personal</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("partials/head") -%>
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles"><i class="zmdi zmdi zmdi-accounts zmdi-hc-fw"></i> Usuarios </h1>
			</div>
		</div>
		<!-- Nuevo Medicamento -->
		<div class="container-fluid">
			<form action="/usuarios/updatePersonal/<%=resp[0].id%>" method="POST">
				<div class="grupo" id="cabeza">
					<div id="correo">					
						<div class="entrada">Nombre(s):<br>
							<input type="text" name="nombre" value="<%=resp[0].nombre%>"><br>
						</div>
						<div class="entrada">Apellido Paterno:<br>
							<input type="text" name="apellidop" value="<%=resp[0].apellidop%>"><br>
						</div>
						<div class="entrada">Apellidos Meterno:<br>
							<input type="text" name="apellidom" value="<%=resp[0].apellidom%>"><br>
						</div>
						<div class="entrada">CI.:<br>
							<input type="text" name="ci" value="<%=resp[0].ci%>"><br>
						</div>
						<div class="entrada">Cargo:<br>
							<input type="text" name="cargo" value="<%=resp[0].cargo%>"><br>
						</div>
						<div class="entrada">Direccion:<br>
							<input type="text" name="direcion" value="<%=resp[0].direcion%>"><br>
						</div>
						<div class="entrada">Telefono:<br>
							<input type="text" name="telefono" value="<%=resp[0].telefono%>"><br>
						</div>
											<!-- 
											<div class="form-group">
												<label class="control-label">Tipo de Usuario</label>
												<select class="form-control">
													<option>Medico</option>
													<option>Enfermera</option>
													<option>Interno</option>
													<option>Farmaceutico</option>
													<option>Fichero</option>
												</select>
											</div>
											-->
					</div>
				</div>
				<p class="text-center">
					<button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
					<button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
				</p>
			</form>
		</div>
	</section>
	<!--====== Scripts -->
	<%- include("partials/scripts") -%>
	<script src="/js/validaciones.js"></script>
</body>
</html>