<!DOCTYPE >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Registro Cuentas</title>
<%- include("partials/head") -%>	

</head>
<body class="light_theme  fixed_header left_nav_fixed">
<div class="wrapper cuentarole"  >
  <%- include("partials/menusali") -%>	
  <div class="inner">
      <div class="left_nav">
          <div class="left_nav_slidebar">
            <ul>
              <li ><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="plus"><i class="fa fa-plus"></i></span> </a>
                <ul >
                  <li> <a href="/home"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Inicio</b> </a> </li>
                </ul>
              </li>
              <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-users icon"></i>Admin Sistema <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span></a>
                <ul class="opened" style="display:block" >
                  <li> <a href="/usuarios/usuarios"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b class="theme_color">Registros</b> </a> </li>
                </ul>
              </li>
              <li> <a href="javascript:void(0);"> <i class="fa fa-clipboard"></i>Servicios<span class="plus"><i class="fa fa-plus"></i></span></a>
                <ul>
                  <li> <a href="/cuaderno/especialidad"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Especialidades</b> </a> </li>
                  <li> <a href="/cuaderno/Cuadernos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Cuadernos</b> </a> </li>
                  <li> <a href="/salas/salas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Salas</b> </a> </li>
                </ul>
              </li>
              <li> <a href="javascript:void(0);"> <i class="fa fa-folder-open-o"></i> Reportes <span class="plus"><i class="fa fa-plus"></i></span> </a>
                <ul>
                  <li> <a href="/paciente_Inter"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Pacientes</b> </a> </li>
                  <li> <a href="/pacientead"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Farmacia</b></a> </li>
                  <li> <a href="/usuarios/roles"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Person.</b> </a> </li>
                  <li> <a href="/cuaderno/recuadernos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Reporte de Cuadr.</b> </a> </li>
                  <li> <a href="/cuaderno/repespecialidad"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reporte de Espc.</b> </a> </li>
                </ul>
              </li>
              <li> <a href="javascript:void(0);"> <i class="fa fa-cogs"></i>CFG del Sistema<span class="plus"><i class="fa fa-plus"></i></span></a>
                <ul>
                  <li> <a href="/backup"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Backup</b> </a> </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
    <div class="contentpanel">
      <div class="container clear_both padding_fix">
        <br>
         <div class="row">
        <div class="col-md-12">
            <%if (mg1 != null) {%>
              <div class="bs-example mover">
                <div class="alert alert-danger fade in">
                  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                  <span class="glyphicon glyphicon-hand-right"></span> <strong><Menu:t>Mensaje de Alerta</Menu:t></strong>
                  <hr class="message-inner-separator">
                  <strong><%=mg1 %></strong></div>
              </div>
            <%} else if(mg2 != null) { %>
              <div class="bs-example mover">
                <div class="alert alert-success fade in">
                  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                  <span class="glyphicon glyphicon-ok"></span> <strong>Mensaje de Confirmación</strong>
                  <hr class="message-inner-separator">  
                  <strong><%=mg2 %></strong>
                </div>
              </div>
            <% } %>
          
          <div class="block-web">
            <div class="header">
                <div class="actions"><a class="refresh"  role="button" href="/usuarios/quitar4/<%=id.id%>">Refresh  <span>&nbsp;</span><i class="fa fa-repeat"></i></a> </div>
              <div class="info blue_symbols"><i class="fa fa-users icon"></i></div>
              <h3 class="content-header ">Registro de Cuentas</h3>
            </div>
            <br>
            <br>
            
            
            <div class="porlets-content">
                <%if (data == null) {%>
				    	<form class="form-horizontal group-border-dashed" action="/usuarios/crearCuenta/<%=id.id%>" method="POST" parsley-validate novalidate>
					      <div class="form-group">
                  <div class="col-md-6">
							      <label>Cuenta:</label>
						       <input type="text"  class="form-control" parsley-trigger="change"  name="username" required placeholder="Introdusca Cuenta" />
						      </div>
                  <div class="col-md-6">
							      <label >Email:</label>
						        <input type="text"  class="form-control" parsley-trigger="change" name="email" required placeholder="Introdusca Correo" />
						      </div>
					      </div>
					      <div class="form-group">
                  <div class="col-md-6">
						        <label>Contraseña:</label>
						        <input type="password" id="pass1" name="password"  class="form-control" placeholder="Password"  parsley-trigger="change" required placeholder="Introdusca Contraseña" />
					        </div>
					        <div class="col-md-6">
						        <label >Repita Contraseña:</label>
						        <input type="password" parsley-equalto="#pass1" class="form-control" name="" parsley-trigger="change"   required placeholder="Repita Contraseña" />
					        </div>
					  <!--<div class="col-sm-4">
						  <label >Rol:</label>
						  <select class="form-control" id="source">
							  <option value="medico">Medico</option>
							  <option value="enfermera">Enfermera</option>
							  <option value="personal">Personal</option>
							  <option value="farmaseutico">Farmaseutico</option>
						  </select>
							
					  </div>-->
					</div><div class="form-group">
						<div class="col-md-offset-4 col-md-10">
              <a href="/usuarios/quitar3" class="btn btn-info btn-icon">Volver<span>&nbsp;</span><i class="fa fa-arrow-left"></i></a><span>&nbsp;&nbsp;&nbsp;</span>
						  <button type="submit" class="btn btn-success btn-icon" >Guardar <span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
						  
						</div>
					  </div>
                  
              </form>
              <% } else { %>
                <form class="form-horizontal group-border-dashed" action="/usuarios/crearCuenta/<%=id.id%>" method="POST" parsley-validate novalidate>
                  <div class="form-group">
                    <div class="col-md-6">
                      <label >Cuenta:</label>
                     <input type="text"  class="form-control" parsley-trigger="change" value="<%=data.username%>" name="username" required placeholder/>
                    </div>
                    <div class="col-md-6">
                      <label >Email:</label>
                      <input type="text"  class="form-control" parsley-trigger="change" name="email" value="<%=data.email%>"required placeholder />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-6">
                      <label >Contraseña:</label>
                      <input type="password" id="pass1" name="password"  class="form-control" placeholder="Password"  parsley-trigger="change" required placeholder />
                    </div>
                    <div class="col-md-6">
                      <label >Repita Contraseña:</label>
                      <input type="password" parsley-equalto="#pass1" class="form-control" name="" parsley-trigger="change"   required placeholder/>
                    </div>
              <!--<div class="col-sm-4">
                <label >Rol:</label>
                <select class="form-control" id="source">
                  <option value="medico">Medico</option>
                  <option value="enfermera">Enfermera</option>
                  <option value="personal">Personal</option>
                  <option value="farmaseutico">Farmaseutico</option>
                </select>
                
              </div>-->
            </div>
            <div class="form-group">
              <div class="col-md-offset-4 col-md-10">
                <button type="submit" class="btn btn-success btn-icon" >Guardar<span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
                <a href="/usuarios/quitar3" class="btn btn-info btn-icon">Volver<span>&nbsp;</span><i class="fa fa-arrow-left"></i></a><span>&nbsp;&nbsp;&nbsp;</span>
              </div>
              </div>
                    
                </form>
                <% } %>
              </div>
          </div>
        </div>
      </div>
      
      
      <div class="row">
        <div class="col-md-12">
          <div class="block-web">
           <div class="header">
             
              <h3 class="content-header text-center">Lista Cuentas</h3>
            </div>
            <div class="porlets-content">
            <div class="table-responsive">
                <table  class="display table table-bordered table-striped" id="dynamic-table">
                    <thead>
                      <tr>
                        <th class="text-center">Correo</th>
                        <th class="text-center">Email</th>
                        <th class="text-center">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                       <% for (var i=0; i< resp.length; i++) { %>
                        <tr>
                          <td class="text-center"><%=resp[i].username %></td>
                          <td class="text-center"><%=resp[i].email %></td>
                          <td class="text-center">
                          <a @click="id_data(<%=resp[i].id%>)" data-target="#myModal2" data-toggle="modal"  data-toggle="tooltip" class="btn  tooltips" data-original-title="Dar Rol"><i  class="fa fa-chain " style="color:black"></i></i></a><span>&nbsp;</span>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>

  </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title" id="myModalLabel">Roles</h4>
      <span style="color: blue">{{msg}}</span>
    </div>
    <div class="modal-body"> 
      <form @submit="crear_rol" class="form-horizontal"   parsley-validate novalidate>
      <div class="form-group">
        <label for="inputEmail3" required parsley-type="desde" class="col-sm-2 control-label">Asignacion de Rol:{{nomrol}}</label>
        <div class="col-sm-4">
            <select class="form-control" id="source" v-model="nomrol" >
                <option value="administrcion">Administrador</option>
                <option value="usuario">Usuario</option>
                <option value="medico">Medico</option>
                <option value="fichaje">Fichaje</option>
                <option value="Almacen">Almacen</option>
                <option value="emergencia">Emergencia</option>
                <option value="farmacia">Farmacia</option>
              </select>
        </div>
      </div>
      
      
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success btn-icon" >Guardar <span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
            <button type="reset"class="btn btn-danger btn-icon" data-dismiss="modal">Cancelar <span>&nbsp;</span><i class="fa fa-times"></i></button>
        </div>
      </div>
      </form>
    </div>
    </div>
  </div>
</div>

</div>
<!--Modahhjmm-->


<script src="/js/jquery-2.1.0.js"></script>
<script src="/js/alert.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/common-script.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript"  src="/plugins/toggle-switch/toggles.min.js"></script> 
<script src="/plugins/checkbox/zepto.js"></script>
<script src="/plugins/checkbox/icheck.js"></script>
<script src="/js/icheck-init.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script> 
<script type="text/javascript" src="/js/form-components.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/jquery.inputmask.min.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/demo-mask.js"></script> 
<script type="text/javascript"  src="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script> 
<script type="text/javascript"  src="/plugins/dropzone/dropzone.min.js"></script> 
<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>



<script src="/plugins/validation/parsley.min.js"></script>
<script src="/plugins/data-tables/jquery.dataTables.js"></script>
<script src="/plugins/data-tables/DT_bootstrap.js"></script>
<script src="/plugins/data-tables/dynamic_table_init.js"></script>
<script src="/plugins/edit-table/edit-table.js"></script>
<script>
          jQuery(document).ready(function() {
              EditableTable.init();
          });
 </script>
<script>


/*==Porlets Actions==*/
    $('.minimize').click(function(e){
      var h = $(this).parents(".header");
      var c = h.next('.porlets-content');
      var p = h.parent();
      
      c.slideToggle();
      
      p.toggleClass('closed');
      
      e.preventDefault();
    });
    
    $('.refresh').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');
      
      loading.appendTo(p);
      loading.fadeIn();
      setTimeout(function() {
        loading.fadeOut();
      }, 1000);
      
      e.preventDefault();
    });
    
    $('.close-down').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      
      p.fadeOut(function(){
        $(this).remove();
      });
      e.preventDefault();
    });

</script>

<script src="/js/jPushMenu.js"></script> 
<script src="/js/side-chats.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script src="/axios/dist/axios.min.js"></script>
<script src="/js/vue/cuentarole.js"></script>

</body>
</html>
