<!DOCTYPE >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Historial Medico</title>
<%- include("./partials/head") -%>


</head>

<body class="light_theme  fixed_header left_nav_fixed">
<div class="wrapper">
<!--Navegation-->
<%- include("./partials/menu")-%>
<div class="inner">
   <!--Menu-->
   <div class="left_nav">
    <div class="left_nav_slidebar">
      <ul>
        <li ><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="plus"><i class="fa fa-plus"></i></span> </a>
          <ul >
             <li> <a href="/emergencia/homeEmergencia/<%=DogEnf%>"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b >Inicio </b> </a> </li>
          </ul>
        </li>
        <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-users icon"></i>Emergencias<span class="left_nav_pointer"></span>  <span class="plus"><i class="fa fa-plus"></i></span></a>
          <ul class="opened" style="display:block">
            <li> <a href="/emergencia/dataEmergencia/<%=DogEnf%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Listas de Cita</b> </a> </li>
          </ul>
        </li>
      </ul>
    </div>
</div>
    <div class="contentpanel">
      <div class="container clear_both padding_fix">
		<br>
		<div class="header">
        <div class="info blue_symbols"><i class="fa fa-male icon"></i></div>
        <h3 class="content-header ">Historial Medico<span class="semi-bold">/Informes</span></h3>
    </div>
    <br><br><br>
    <div class="btn-group ">
		<button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">Historial del Paciente <i class="fa fa-clipboard"></i><span class="caret"></span></button>
		<ul role="menu" class="dropdown-menu">
			<li><a href="/datos_genPaciente_emergencia/lista_alergias/<%=dataPaciente[0].id%>">Datos de Interes</a></li>
		  <li><a href="/datos_genPaciente_emergencia/list_responsables/<%=dataPaciente[0].id%>">Datos de responsable</a></li>
		  <li><a href="/datos_genPaciente_emergencia/list_exFisico/<%=dataPaciente[0].id%>">Examen Físico General</a></li>
		</ul>
	  </div>
    
		<div class="page-content">
			<div class="row">
				<div class="col-lg-14">
					<div class="row">
					<div class="block-web">
						<div class="porlets-content">
              <div class="table-responsive">
                <table  class="display table table-bordered table-striped" id="dynamic-table">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Dirección</th>
                        <th>CI</th>
                        <th>Teléfono</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody> 
                </table>
              </div>
            </div>
					</div> 
				</div>
			</div>
			</div>
			</div>
		</div>
    </div>
	</div>
</div>


<!--====== Scripts -->
<%- include("../partials/scripts") -%>

</body>

</html>
