<!DOCTYPE >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" sizes="16x16" href="/images/gfu.png">
<title>CUADERNOS</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/css/animate.css" rel="stylesheet" type="text/css" />
<link href="/css/admin.css" rel="stylesheet" type="text/css" />
<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />


</head>
<% if (idHistorial == null ) { %>
  <body>
      <h1> Algo salio mal por favor intente entrar desde una vista anterior </h1>
  </body>
<% }  else { %>
<body class="light_theme  fixed_header left_nav_fixed">
<div class="wrapper">
  <div class="header_bar">
    <div class="brand">
    <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
      
    </div>
    <div class="header_top_bar">
    <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
      <div class="top_right_bar">
        <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/user.png" /><span class="user_adminname">John Doe</span> <b class="caret"></b> </a>
          <ul class="dropdown-menu">
            <div class="top_pointer"></div>
            <li> <a href="profile.html"><i class="fa fa-user"></i> Profile</a> </li>
            <li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
            <li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
            <li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
          </ul>
        </div>
       
      </div>
    </div>
  </div>
  <div class="inner">
    <div class="left_nav">
    <div class="left_nav_slidebar">
          <ul>
							<li ><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="plus"><i class="fa fa-plus"></i></span> </a>
								<ul >
									<li> <a href="/emergencia/homeEmergencia/<%=idHistorial.docOenf%>"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b >Inicio <%=idHistorial.docOenf%></b> </a> </li>
								</ul>
							</li>
							<li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-users icon"></i>Emergencias<span class="left_nav_pointer"></span>  <span class="plus"><i class="fa fa-plus"></i></span></a>
								<ul class="opened" style="display:block">
									<li> <a href="/emergencia/dataEmergencia/<%=idHistorial.docOenf%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Listas de Cita</b> </a> </li>
									
								</ul>
							</li>
            
          </ul>
        </div>
    </div>
    <!--\\\\\\\left_nav end \\\\\\-->
    <div class="contentpanel">
      <!--\\\\\\\ contentpanel start\\\\\\-->

        <!--\\\\\\\ container  start \\\\\\-->
        <div class="container clear_both padding_fix">
        <br>
         <div class="row">
        <div class="col-md-12">
          <div class="block-web">
            <div class="header">
              <div class="info blue_symbols"><i class="fa fa-medkit icon"></i></div>
              <h3 class="content-header ">Registro de Consulta</h3>
            </div>
            <br>
            <br>
            <br>
            <br>
              <div class="btn-group ">
                    <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">Detalles del Paciente<span class="caret"></span></button>
                    <ul role="menu" class="dropdown-menu">
                      <li><a href="/datos_genPaciente_emergencia/list_responsables/<%=dataPaciente[0].id%>">Datos de responsable</a></li>
                      <li><a href="/datos_genPaciente_emergencia/lista_antecedentes/<%=dataPaciente[0].id%>">Antecedentes</a></li>
                      <li><a href="/datos_genPaciente_emergencia/lista_alergias/<%=dataPaciente[0].id%>">Alergias</a></li>
                      <li><a href="/datos_genPaciente_emergencia/list_exFisico/<%=dataPaciente[0].id%>">Examen General</a></li>
                      <li><a href="/emergencia/VerHistorialvis">Ver Historial</a></li>
                    </ul>
                  </div>
            <div class="porlets-content">
                
                <%if(updateConsultaEmg == "") { %>
                <form class="form-horizontal group-border-dashed" action="/cuaderno/cuadernos" method="POST" parsley-validate novalidate>
                  <div class="form-group">
                      <div class="col-sm-4">
                          <label class="control-label">Medico</label>
                          <select class="form-control" id="source" name="idDoctor">
                            <option value="doctor">Medico</option>                                                            
                          </select>
                        </div>
                      </div>
                      <h3 class="text-center">Datos del Paciente </h3>
                      <div class="form-group">
                          <div class="col-sm-3">
                            <label class="control-label">Fecha de Consulta:</label>
                            <input  type="date"  class="form-control" name="fechaAtencion" require />
                          </div>
                          <div class="col-sm-3">
                            <label class="control-label">N° de Historial</label>
                            <input type="text" name="Nhistorial" class="form-control" value="<%=dataPaciente[0].numeroHistorial%>" readonly/>
                          </div>
                          <div class="col-sm-3">
                            <label class="control-label">C.I.:</label>
                            <input class="form-control" type="text" name="ci" value="<%=dataPaciente[0].ci%>" readonly/>
                          </div>
                          <div class="col-sm-3">
                            <label class="control-label">Sexo:</label>
                            <select class="form-control" id="source"  name="sexo">
                                <option><%=dataPaciente[0].sexo%></option>
                            </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-3">
                              <label class="control-label">Apellido Paterno:</label>
                            <input type="text" class="form-control" name="apellidop" value="<%=dataPaciente[0].apellidop%>" readonly />
                          </div>
                          <div class="col-sm-3">
                              <label class="control-label">Apellido Materno:</label>
                            <input type="text"  class="form-control"name="apellidom" value="<%=dataPaciente[0].apellidom%>" readonly/>
                          </div>
                          <div class="col-sm-3">
                              <label class="control-label">Nombre(s):</label>
                            <input type="text" class="form-control" name="nombre" value="<%=dataPaciente[0].nombre%>" readonly />
                          </div>
                      
                        <div class="col-sm-3">
                            <label class="control-label">Fecha de Nacimiento:</label>
                          <input type="text"class="form-control" name="fechanacimiento" value="<%=dataPaciente[0].fechanacimiento%>" readonly/>
                        </div>
                      </div>
                      <h3 class="text-center">Datos del Medico</h3>
                      <div class="form-group">
                          <div class="col-sm-3">
                              <label class="control-label">Apellido Paterno del Medico:</label>
                              <input type="text" class="form-control" name="apellidoD1" value=""><br>
                          </div>
                          <div class="col-sm-3">
                              <label class="control-label">Apellido Materno del Medico:</label>
                              <input type="text" class="form-control" name="apellidoD2" value=""><br>
                          </div>
                          <div class="col-sm-6">
                              <label class="control-label">Nombre(s) del Medico:</label>
                              <input type="text" class="form-control" name="nombreDoctor" value=""><br>
                          </div>
                      
                      </div>
                      <h3 class="text-center">Estado del Paciente</h3>
                      <div class="form-group">
                          
                          <div class="col-sm-6">
                              <label class="control-label">Motivo de Consulta:</label>
                              <textarea class="form-control" name="motivoConsulta" ></textarea>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Diagnostico:</label>
                                <textarea class="form-control" name="diagnostico" ></textarea>
                              </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-6">
                              <label class="control-label">Tratamiento:</label>
                              <textarea class="form-control" name="tratamiento"></textarea>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Observacione:</label>
                                <textarea class="form-control" name="observaciones"></textarea>
                              </div>
                      </div>

                  <div class="form-group">
                      <div class="col-sm-offset-5 col-sm-12">
                        <button type="submit" class="btn btn-success btn-icon">Guardar <span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>
                        <button type="reset"class="btn btn-danger btn-icon">Cancelar <span>&nbsp;</span><i class="fa fa-times"></i></button>
                      </div>
                    </div>
                  
                </form>
                <% } else { %>           
                  <form class="form-horizontal group-border-dashed" action="/emergencia/updateConEmergencia/<%=updateConsultaEmg[0].id%>" method="POST" parsley-validate novalidate>
                    <% if(updateConsultaEmg[0].idDoctor == "doctor") { %>
                      <h3>Doctor </h3>
                      <% } else  if(updateConsultaEmg[0].idEnfermera == "enfermera") { %>
                      
                      <% } else {%>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="control-label">Medico</label>
                                <select class="form-control" id="source" name="idDoctor">
                                  <option value="doctor">Medico</option>                                                            
                                </select>
                              </div>
                            </div>
                      <% } if(updateConsultaEmg[0].idEnfermera == "enfermera") { %> 
                          <h3>Enfermera</h3>
                      <% } else if(updateConsultaEmg[0].idDoctor == "doctor"){ %>
                                                                                                          
                      <% } else { %>  
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="control-label">Enfermera</label>
                                <select class="form-control" id="source" name="idEnfermera">
                                  <option value="enfermera">Enfermera</option>                                                            
                                </select>
                              </div>
                            </div><!--/form-group--> 
                      <% } %>
                      <br>
                      <h2 class="text-center"> Formulario de Actualizacion</h2>
                      <br>
                      <h3 class="text-center">Datos del Paciente </h3>
                      <div class="form-group">
                          <div class="col-sm-3">
                              <label class="control-label">Fecha de Consulta:</label>
                            <input  type="date"  class="form-control" name="fechaAtencion" require />
                          </div>
                          <div class="col-sm-3">
                              <label class="control-label">N° de Historial</label>
                                <input type="text" name="Nhistorial" class="form-control" value="<%=dataPaciente[0].numeroHistorial%>" readonly/>
                              </div>
                        
                          
                          <div class="col-sm-3">
                              <label class="control-label">C.I.:</label>
                                <input class="form-control" type="text" name="ci" value="<%=dataPaciente[0].ci%>" readonly/>
                              </div>
                          <div class="col-sm-3">
                              <label class="control-label">Sexo:</label>
                              <select  name="sexo">
                                  <option><%=dataPaciente[0].sexo%></option>
                                </select>
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-3">
                              <label class="control-label">Apellido Paterno:</label>
                            <input type="text" class="form-control" name="apellidop" value="<%=dataPaciente[0].apellidop%>" readonly />
                          </div>
                          <div class="col-sm-3">
                              <label class="control-label">Apellido Materno:</label>
                            <input type="text"  class="form-control"name="apellidom" value="<%=dataPaciente[0].apellidom%>" readonly/>
                          </div>
                          <div class="col-sm-3">
                              <label class="control-label">ANombre(s):</label>
                            <input type="text" class="form-control" name="nombre" value="<%=dataPaciente[0].nombre%>" readonly />
                          </div>
                      
                        <div class="col-sm-3">
                            <label class="control-label">Fecha de Nacimiento:</label>
                          <input type="text"class="form-control" name="fechanacimiento" value="<%=dataPaciente[0].fechanacimiento%>" readonly/>
                        </div>
                      </div>
                      <h3 class="text-center">Datos del Medico</h3>
                      <div class="form-group">
                          <div class="col-sm-3">
                              <label class="control-label">Apellido Paterno del Medico:</label>
                              <input type="text" class="form-control" name="apellidoD1" value="<%=updateConsultaEmg[0].apellidoD1%>"><br>
                          </div>
                          <div class="col-sm-3">
                              <label class="control-label">Apellido Materno del Medico:</label>
                              <input type="text" class="form-control" name="apellidoD2" value=" <%=updateConsultaEmg[0].apellidoD2%>"><br>
                          </div>
                          <div class="col-sm-6">
                              <label class="control-label">Nombre(s) del Medico:</label>
                              <input type="text" class="form-control" name="nombreDoctor" value="<%=updateConsultaEmg[0].nombreDoctor%>"><br>
                          </div>
                      
                      </div>
                      <h3 class="text-center">Estado del Paciente</h3>
                      <div class="form-group">
                          
                          <div class="col-sm-6">
                              <label class="control-label">Motivo de Consulta:</label>
                              <textarea class="form-control" name="motivoConsulta" ><%=updateConsultaEmg[0].motivoConsulta%></textarea>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Diagnostico:</label>
                                <textarea class="form-control" name="diagnostico" ><%=updateConsultaEmg[0].diagnostico%></textarea>
                              </div>
                      </div>
                      <div class="form-group">
                          <div class="col-sm-6">
                              <label class="control-label">Tratamiento:</label>
                              <textarea class="form-control" name="tratamiento"><%=updateConsultaEmg[0].tratamiento%></textarea>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Observacione:</label>
                                <textarea class="form-control" name="observaciones"><%=updateConsultaEmg[0].observaciones%></textarea>
                              </div>
                      </div>
                    
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-10">
                          
                          <button type="submit" class="btn btn-success btn-icon">Actualizar <span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
                          <button type="reset"class="btn btn-danger btn-icon">Cancelar <span>&nbsp;</span><i class="fa fa-times"></i></button>
                          
                        </div>
                      </div>
                    
                  </form>
                  <% } %>
              </div>
          </div><!--/block-web--> 
        </div><!--/col-md-12--> 
      </div><!--/row-->
      
      
      <div class="row">
        <div class="col-md-12">
          <div class="block-web">
          
         <div class="porlets-content">
            <div class="table-responsive">
                <table  class="display table table-bordered table-striped" id="dynamic-table">
                  <thead>
                      <tr>
                          <th>#</th>
                          <th>Fecha de Atencion</th>
                          <th>Numero Historial</th>
                          <th>Nombre</th>
                          <th>Apellido Paterno</th>
                          <th>Apellido Materno</th>
                          <th>Diagnostico</th>
                          <th>Opciones</th>
                          
                          </tr>
                  </thead>
                  <tbody>
                      <% for ( var i=0; i < consultasEmergencia.length; i++) {%>
                        <tr>
                        <td><%= i+1%></td>
                        <td><%=consultasEmergencia[i].fechaAtencion%></td>
                        <td><%=consultasEmergencia[i].Nhistorial%></td>
                        <td><%=consultasEmergencia[i].Citas_Medica.Paciente.nombre%></td>
                        <td><%=consultasEmergencia[i].Citas_Medica.Paciente.apellidop%></td>
                        <td><%=consultasEmergencia[i].Citas_Medica.Paciente.apellidom%></td>
                        <td><%=consultasEmergencia[i].diagnostico%></td> 
                        <td class="text-center">
                            
                          <a href="/emergencia/emergenicaData/<%=consultasEmergencia[i].id%>/<%=consultasEmergencia[i].Nhistorial%>/<%=idHistorial.docOenf%>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Dar Receta"><i class="fa fa-pencil-square-o" style="color:rgb(80, 145, 80)"></i></a>
                          <a href="/emergencia/ListPInter/<%=consultasEmergencia[i].id%>/<%=consultasEmergencia[i].Nhistorial%>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Papeleta Internacion"><i class="fa fa-wheelchair" style="color:blue"></i></a>
                          <a href="/emergencia/ListPInter/<%=consultasEmergencia[i].id%>/<%=consultasEmergencia[i].Nhistorial%>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Ver Consulta"><i class="fa fa-eye" style="color:black"></i></a></td>
                        </tr>
                      <% } %>                                               
                      </tbody> 
                </table>
              </div><!--/table-responsive-->
            </div><!--/porlets-content-->
            
            
          </div><!--/block-web--> 
        </div><!--/col-md-12--> 
      </div><!--/row-->
      
        </div>
      <!--\\\\\\\ container  end \\\\\\-->
    
    <!--\\\\\\\ content panel end \\\\\\-->
  </div>
  <!--\\\\\\\ inner end\\\\\\-->
</div>
<!--\\\\\\\ wrapper end\\\\\\-->



<script src="/js/jquery-2.1.0.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/common-script.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript"  src="/plugins/toggle-switch/toggles.min.js"></script> 
<script src="/plugins/checkbox/zepto.js"></script>
<script src="/plugins/checkbox/icheck.js"></script>
<script src="/js/icheck-init.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script> 
<script type="text/javascript" src="/js/form-components.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/jquery.inputmask.min.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/demo-mask.js"></script> 
<script type="text/javascript"  src="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script> 
<script type="text/javascript"  src="/plugins/dropzone/dropzone.min.js"></script> 
<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>



<script src="/plugins/validation/parsley.min.js"></script>
<script src="/plugins/data-tables/jquery.dataTables.js"></script>
<script src="/plugins/data-tables/DT_bootstrap.js"></script>
<script src="/plugins/data-tables/dynamic_table_init.js"></script>
<script src="/plugins/edit-table/edit-table.js"></script>
<script>
          jQuery(document).ready(function() {
              EditableTable.init();
          });
 </script>
<script>


/*==Porlets Actions==*/
    $('.minimize').click(function(e){
      var h = $(this).parents(".header");
      var c = h.next('.porlets-content');
      var p = h.parent();
      
      c.slideToggle();
      
      p.toggleClass('closed');
      
      e.preventDefault();
    });
    
    $('.refresh').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');
      
      loading.appendTo(p);
      loading.fadeIn();
      setTimeout(function() {
        loading.fadeOut();
      }, 1000);
      
      e.preventDefault();
    });
    
    $('.close-down').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      
      p.fadeOut(function(){
        $(this).remove();
      });
      e.preventDefault();
    });

</script>

<script src="/js/jPushMenu.js"></script> 
<script src="/js/side-chats.js"></script>
<script src="/js/get/consultaget.js"></script>
</body>
<% } %>
</html>
