<!DOCTYPE html>
<html lang="es">
<head>
	<title>Listas Emergencia</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%- include("../partials/head") -%>
    <link rel="stylesheet" href="/css/form1.css">
</head>
<% if (idHistorial == null ) { %>
    <body>
        <h1> Algo salio mal por favor intente entrar desde una vista anterior </h1>
    </body>
<% }  else { %>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
    <!-- Content page-->
    <!-- SideBar Menu Hospital-->
    <ul class="list-unstyled full-box dashboard-sideBar-Menu">
        <li>
            <a href="/emergencia/homeEmergencia/<%=idHistorial.docOenf%>">
                <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Home <%=idHistorial.docOenf%>
            </a>
        </li>
        <!-- Emergencias -->
        <li>
            <a href="#!" class="btn-sideBar-SubMenu">
                <i class="zmdi zmdi-hospital zmdi-hc-fw"></i> Emergencias <i class="zmdi zmdi-caret-down pull-right"></i>
            </a>
            <ul class="list-unstyled full-box">
                <li><a href="/emergencia/dataEmergencia/<%=idHistorial.docOenf%>"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i>Listas de citas</a></li>
                            
            </ul>
        </li>
    </ul>
    <%- include("partials/menuFooter") -%>
<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar ">
		<ul class="full-box list-unstyled text-right ">
			<li class="pull-left">
				<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
      </li>
    <nav id="main-nav" class="main-nav">
        <ul class="menu">
          <li class="menu__item">
              <a href="/emergencia/datos_responsablevis" class="menu__link">Datos de responsable
                
              </a>
          </li>
          <li class="menu__item">
              <a href="/emergencia/antecedentesvis" class="menu__link">Antecedentes
                
              </a>
          </li>
          <li class="menu__item">
              <a href="/emergencia/alergiasvis" class="menu__link">Alergias
                
              </a>
          </li>
          <li class="menu__item">
              <a href="/emergencia/examenFisicovis" class="menu__link">Examen General
                
              </a>
          </li>
        </ul>
       <div class="menu-barr">
          <div class="uno"></div>
          <div class="dos"></div>
          <div class="tres"></div>
      </div>
      
    </nav>
     
     
    	</ul>
	</nav>
	<!-- Content page -->
	<div class="container-fluid">
		<div class="page-header">	
			<h1 class="text-titles"><i class="zmdi zmdi-hospital zmdi-hc-fw"></i> Consulta de Emergencia <small></small></h1>  
		</div>
  </div>
	<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <ul class="nav nav-tabs" style="margin-bottom: 15px;">
          <li class="active"><a href="#new" data-toggle="tab">Registro de Emergencia</a></li>
          <li><a href="#list" data-toggle="tab">Lista de Emergencias del Paciente</a></li>
        </ul>
        <!-- Registro de nueva consulta de Emergencia-->
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade active in" id="new">
            <div class="container-fluid">
              <div class="row">
              <%if(updateConsultaEmg == "") { %>
                <form action="/emergencia/consultaEmergencia/<%=idHistorial.id%>" method="POST">
                  <div class="form-group label-floating">
                    <label class="control-label">Doctor</label>
                    <select class="form-control" name="idDoctor">
                      <option value="doctor">Doctor</option>                                                            
                    </select>
                  </div>
                  <p>Datos del Paciente </p>
                  <div class="grupo" id="cabeza">
                    <div id="cuatro">
                      <div class="entrada">Fecha de Consulta:<br>
                        <input  type="date" name="fechaAtencion" require><br>
                      </div>
                      <div class="entrada">N° de Historial<br>
                        <input type="text" name="Nhistorial" value="<%=dataPaciente[0].numeroHistorial%>"><br>
                      </div>
                      <div class="entrada">C.I.:<br>
                        <input type="text" name="ci" value="<%=dataPaciente[0].ci%>"><br>
                      </div>
                      <div class="entrada">Sexo:<br>
                        <select  name="sexo">
                          <option><%=dataPaciente[0].sexo%></option>
                        </select><br>
                      </div>
                    </div>
                    <div id="tres2">
                      <div class="entrada">Apellido Paterno:<br>
                        <input type="text" name="apellidop" value="<%=dataPaciente[0].apellidop%>"><br>
                      </div>
                      <div class="entrada">Apellido Materno:<br>
                        <input type="text"  name="apellidom" value="<%=dataPaciente[0].apellidom%>"><br>
                      </div>
                      <div class="entrada">Nombre(s):<br>
                        <input type="text" name="nombre" value="<%=dataPaciente[0].nombre%>"><br>
                      </div>
                    </div>
                    <div id="correo">
                      <div class="entrada">Fecha de Nacimiento:<br>
                        <input type="text" name="fechanacimiento" value="<%=dataPaciente[0].fechanacimiento%>"><br>
                      </div>
                    </div>
                  </div>
                  <br>
                  <p>Datos del Doctor</p>
                  <div class="grupo" id="cabeza">
                    <div id="tres2">
                      <div class="entrada">Apellido Paterno del Doctor:<br>
                        <input type="text" name="apellidoD1" value=""><br>
                      </div>
                      <div class="entrada">Apellido Materno del Doctor:<br>
                        <input type="text" name="apellidoD2" value=""><br>
                      </div>
                      <div class="entrada">Nombre(s) del Doctor:<br>
                        <input type="text" name="nombreDoctor" value=""><br>
                      </div>
                    </div>
                  </div>
                  <br>
                  <p>Estado del Paciente</p>
                  <div class="grupo" id="cabeza">
                    <div class="panel with-nav-tabs panel-default">
                      <div class="panel-heading">
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#tab1default" data-toggle="tab">Motivo de Consulta</a></li>
                          <li><a href="#tab2default" data-toggle="tab">Diagnostico</a></li>
                          <li><a href="#tab3default" data-toggle="tab">Tratamiento</a></li>
                          <li><a href="#tab4default" data-toggle="tab">Observaciones</a></li>
                        </ul>
                      </div>
                      <div class="panel-body">
                        <div class="tab-content">
                          <div class="tab-pane fade in active" id="tab1default"><textarea class="large-compact" name="motivoConsulta"  cols="100" rows="10"></textarea></div>
                          <div class="tab-pane fade" id="tab2default"><textarea class="large-compact" name="diagnostico" cols="100" rows="10"></textarea></div>
                          <div class="tab-pane fade" id="tab3default"><textarea class="large-compact" name="tratamiento"  cols="100" rows="10"></textarea></div>
                          <div class="tab-pane fade" id="tab4default"><textarea class="large-compact" name="observaciones" cols="100" rows="10"></textarea></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--aqui va el si es doctor quien le atendio o enfermera o en todo caso si le atendieron los dos-->
                    <p class="text-center">
                        <button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                        <button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                    </p>
                  </form>
                  <% } else {%>
                <form action="/emergencia/updateConEmergencia/<%=updateConsultaEmg[0].id%>" method="POST">
                  <% if(updateConsultaEmg[0].idDoctor == "doctor") { %>
                  <h3>Doctor </h3>
                  <% } else  if(updateConsultaEmg[0].idEnfermera == "enfermera") { %>
                  
                  <% } else {%>
                  <div class="form-group label-floating">
                    <label class="control-label">Doctor</label>
                    <select class="form-control" name="idDoctor">
                      <option value="doctor">Doctor</option>                                                            
                    </select>
                  </div>                                                                         
                  <% } if(updateConsultaEmg[0].idEnfermera == "enfermera") { %> 
                  <h3>Enfermera</h3>
                  <% } else if(updateConsultaEmg[0].idDoctor == "doctor"){ %>
                                                                                              
                  <% } else { %>
                  <div class="form-group label-floating">
                    <label class="control-label">Enfermera</label>
                    <select class="form-control" name="idEnfermera">
                      <option value="enfermera">Enfermera</option>                                                            
                    </select>
                  </div>                                                                              
                  <% } %>
                  <br>
                  <h2> Formulario de Actualizacion</h2>
                  <br>
                  <p>Datos del Paciente </p>
                  <div class="grupo" id="cabeza">
                    <div id="cuatro">
                      <div class="entrada">Fecha de Consulta:<br>
                        <input type="date" name="fechaAtencion" value="<%=updateConsultaEmg[0].fechaAtencion%>" require><br>
                      </div>
                      <div class="entrada">N° de Historial<br>
                        <input type="text" name="Nhistorial" value="<%=dataPaciente[0].numeroHistorial%>"><br>
                      </div>
                      <div class="entrada">C.I.:<br>
                        <input type="text" name="ci" value="<%=dataPaciente[0].ci%>"><br>
                      </div>
                      <div class="entrada">Sexo:<br>
                        <input type="text" name="sexo" value="<%=dataPaciente[0].sexo%>"><br>
                        <br>
                      </div>                               
                    </div>
                    <div id="tres2">
                      <div class="entrada">Apellido Paterno:<br>
                        <input type="text" name="apellidop" value="<%=dataPaciente[0].apellidop%>"><br>
                      </div>
                      <div class="entrada">Apellido Materno:<br>
                        <input type="text"  name="apellidom" value="<%=dataPaciente[0].apellidom%>"><br>
                      </div>
                      <div class="entrada">Nombre(s):<br>
                        <input type="text" name="nombre" value="<%=dataPaciente[0].nombre%>"><br>
                      </div>
                    </div>
                    <div id="correo">
                      <div class="entrada">Fecha de Nacimiento:<br>
                        <input type="text" name="fechanacimiento" value="<%=dataPaciente[0].fechanacimiento%>"><br>
                      </div>
                    </div>
                  </div>
                  <br>
                  <p>Datos del Doctor</p>
                  <div class="grupo" id="cabeza">
                    <div id="tres2">
                      <div class="entrada">Apellido Paterno del Doctor:<br>
                        <input  type="text" name="apellidoD1" value="<%=updateConsultaEmg[0].apellidoD1%>"><br>
                      </div>
                      <div class="entrada">Apellido Materno del Doctor:<br>
                        <input type="text" name="apellidoD2" value="<%=updateConsultaEmg[0].apellidoD2%>"><br>
                      </div>
                      <div class="entrada">Nombre(s) del Doctor:<br>
                        <input type="text" name="nombreDoctor" value="<%=updateConsultaEmg[0].nombreDoctor%>"><br>
                      </div>
                    </div>
                  </div>
                  <br>
                  <p>Estado del Paciente</p>
                  <div class="grupo" id="cabeza">
                    <div class="panel with-nav-tabs panel-default">
                      <div class="panel-heading">
                        <ul class="nav nav-tabs">
                          <li class="active"><a href="#tab1default" data-toggle="tab">Motivo de Consulta</a></li>
                          <li><a href="#tab2default" data-toggle="tab">Diagnostico</a></li>
                          <li><a href="#tab3default" data-toggle="tab">Tratamiento</a></li>
                          <li><a href="#tab4default" data-toggle="tab">Observaciones</a></li>
                        </ul>
                      </div>                                  
                      <div class="panel-body">
                        <div class="tab-content">
                          <div class="tab-pane fade in active" id="tab1default"><textarea class="large-compact" name="motivoConsulta" cols="100" rows="10"><%=updateConsultaEmg[0].motivoConsulta%></textarea></div>
                          <div class="tab-pane fade" id="tab2default"><textarea class="large-compact" name="diagnostico" cols="100" rows="10"><%=updateConsultaEmg[0].diagnostico%></textarea></div>
                          <div class="tab-pane fade" id="tab3default"><textarea class="large-compact" name="tratamiento" cols="100" rows="10"><%=updateConsultaEmg[0].tratamiento%></textarea></div>
                          <div class="tab-pane fade" id="tab4default"><textarea class="large-compact" name="observaciones" cols="100" rows="10"><%=updateConsultaEmg[0].observaciones%></textarea></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 formm">
                    <!--aqui va el si es doctor quien le atendio o enfermera o en todo caso si le atendieron los dos-->
                    <p class="text-center">
                      <button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                      <button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                    </p>
                  </div>
                </form>
                  <% } %>
              </div>
            </div>
          </div>
          <!-- Listas de Proveedores-->
          <div class="tab-pane fade" id="list">
            <div class="table-responsive">
              <div id="correo">
								<div class="entrada">
									<button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success btn-raised btn-lg"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
								</div>
								<div class="entrada">Buscar <i class="zmdi zmdi-search"></i><br>
									<input type="text" id="searchInput" placeholder="Buscar.."><br>
			  				</div>
							</div>
							<table class="fl-table" id="myTable">
                <thead>
                  <tr>
                  <th>#</th>
                  <th>Fecha de Atencion</th>
                  <th>Numero Historial</th>
                  <th>Nombre</th>
                  <th>Apellido Paterno</th>
                  <th>Apellido Materno</th>
                  <th>Diagnostico</th>
                  <th>Dar Receta</th>
                  <th>Papeleta Internacion</th>
                  <th>Ver Consulta</th>
                  </tr>
                </thead>
                <tbody>
                <% for ( var i=0; i < consultasEmergencia.length; i++) {%>
                  <tr>
                  <td><%= i+1%></td>
                  <td><%=consultasEmergencia[i].fechaAtencion%></td>
                  <td><%=consultasEmergencia[i].Nhistorial%></td>
                  <td><%=consultasEmergencia[i].Citas_Medica.Paciente.nombre%></td>
                  <td><%=consultasEmergencia[i].Citas_Medica.Paciente.apellidop%></td>
                  <td><%=consultasEmergencia[i].Citas_Medica.Paciente.apellidom%></td>
                  <td><%=consultasEmergencia[i].diagnostico%></td> 
                  <td><a href="/emergencia/emergenicaData/<%=consultasEmergencia[i].id%>/<%=consultasEmergencia[i].Nhistorial%>/<%=idHistorial.docOenf%>" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-receipt "></i></a></td>
                  <td><a href="/emergencia/ListPInter/<%=consultasEmergencia[i].id%>/<%=consultasEmergencia[i].Nhistorial%>" class="btn btn-info btn-raised btn-xs"><i class="zmdi zmdi-airline-seat-flat-angled zmdi-hc-lg"></i></a></td>
                  <td><a href="/emergencia/ListPInter/<%=consultasEmergencia[i].id%>/<%=consultasEmergencia[i].Nhistorial%>" class="btn btn-primary btn-raised btn-xs"><i class="zmdi zmdi-library zmdi-hc-lg"></i></a></td>
                  </tr>
                <% } %>                                               
                </tbody>                                                                       
              </table>                          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--====== Scripts -->
    <%- include("../partials/scripts") -%>
    <script src="/js/get/consultaget.js"></script>
</body>
<% } %>
</html>