<!DOCTYPE >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Emergencias</title>
<%- include("./partials/head") -%>


</head>
<% if (idHistorial == null ) { %>
  <body>
      <h1> Algo salio mal por favor intente entrar desde una vista anterior </h1>
  </body>
<% }  else { %>
<body class="light_theme  fixed_header left_nav_fixed">
<div class="wrapper">
<!--Navegation-->
<%- include("./partials/menu")-%>
<div class="inner">
   <!--Menu-->
   <%- include("./partials/menuFooter") -%>
    <div class="contentpanel">
      <div class="container clear_both padding_fix">
		<br>
		<div class="header">
        <div class="info blue_symbols"><i class="fa fa-medkit icon"></i></div>
        <h3 class="content-header ">Registro de Consulta<span class="semi-bold">/Emergencias</span></h3>
    </div>
    
    <br><br><br>
    <a href="/emergencia/volver3" class="btn btn-success btn-icon"><i class="fa fa-arrow-left"></i>Volver</a>
    <div class="btn-group ">
      <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">Historial del Paciente <span>&nbsp;&nbsp;</span><i class="fa fa-clipboard"></i><span class="caret"></span></button>
      <ul role="menu" class="dropdown-menu">
        <li><a href="/datos_genPaciente_emergencia/list_responsables/<%=dataPaciente[0].id%>">Datos de responsable</a></li>
        <li><a href="/datos_genPaciente_emergencia/lista_alergias/<%=dataPaciente[0].id%>">Datos de Interes</a></li>
        <li><a href="/datos_genPaciente_emergencia/list_exFisico/<%=dataPaciente[0].id%>">Examen Físico General</a></li>
      </ul>
    </div>
    
		<div class="page-content">
			<div class="row">
				<div class="col-lg-14">
					<section class="panel default blue_title h2">
						<div class="panel-body">
							<ul class="nav nav-tabs" id="myTab">
								<li class=" col-lg-6 active active  text-center"><a data-toggle="tab" href="#Tab1"> <i class="fa fa-pencil-square-o "></i><span>&nbsp;&nbsp;&nbsp;</span>Registro de Consulta</a></li>
								<li class="col-lg-6 text-center" ><a  data-toggle="tab" href="#Tab2" > <i class="fa fa-list-ol "></i><span>&nbsp;&nbsp;&nbsp;</span>Lista de Consultas</a></li>
							</ul>
							<div class="tab-content" id="myTabContent">
								<div id="Tab1" class="tab-pane fade in active">
									<div class="row" >
											<div class="block-web">
                        <div class="porlets-content">
                            <h3 class="text-center">Datos del Paciente </h3>
                            <div class="form-group">
                              
                              
                              <div class="col-sm-6">
                                <label class="control-label">Sexo:</label>
                                <select class="form-control" id="source"  name="sexo" readonly="">
                                  <option ><%=dataPaciente[0].sexo%></option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="col-sm-3">
                                <label class="control-label">Apellido Paterno:</label>
                                <input type="text" class="form-control" name="apellidop" value="<%=dataPaciente[0].apellidop%>" readonly />
                              </div>
                              <div class="col-sm-3">
                                <label class="control-label">Apellido Materno:</label>
                                <input type="text"  class="form-control"name="apellidom" value="<%=dataPaciente[0].apellidom%>" readonly/>
                              </div>
                              <div class="col-sm-3">
                                <label class="control-label">Nombre(s):</label>
                                <input type="text" class="form-control" name="nombre" value="<%=dataPaciente[0].nombre%>" readonly />
                              </div>
                              <div class="col-sm-3">
                                <label class="control-label">Edad:</label>
                                <input type="text"class="form-control" name="fechanacimiento" value="<%=dataPaciente[0].fechanacimiento%>" readonly/>
                              </div>
                            </div>
                          
                          <%if(updateConsultaEmg == "") { %>
                          <form class="form-horizontal group-border-dashed" action="/emergencia/consultaEmergencia/<%=idHistorial.id%>"method="POST" parsley-validate novalidate>
                                <div class="form-group">
                                  <div class="col-sm-4">
                                    <label class="control-label">N° de Historial</label>
                                    <input type="text" name="Nhistorial" class="form-control" value="<%=dataPaciente[0].numeroHistorial%>" readonly/>
                                  </div>
                                  <div class="col-sm-4">
                                    <label class="control-label">Medico</label>
                                    <select class="form-control" id="source" name="idDoctor">
                                      <option value="doctor">Medico</option>                                                            
                                    </select>
                                  </div>
                                  <div class="col-sm-4">
                                      <label class="control-label">Fecha de Consulta:</label>
                                      <input  type="date"  class="form-control" name="fechaAtencion" require />
                                    </div>
                                </div>
                                
                                <p>Datos del Medico</p>
                                <div class="form-group">
                                  <div class="col-sm-3">
                                    <label class="control-label">Apellido Paterno del Medico:</label>
                                    <input type="text" class="form-control" name="apellidoD1" value=""><br>
                                  </div>
                                  <div class="col-sm-3">
                                    <label class="control-label">Apellido Materno del Medico:</label>
                                    <input type="text" class="form-control" name="apellidoD2" value=""><br>
                                  </div>
                                  <div class="col-sm-6">
                                    <label class="control-label">Nombre(s) del Medico:</label>
                                    <input type="text" class="form-control" name="nombreDoctor" value=""><br>
                                  </div>
                                </div>
                                <h3 class="text-center">Estado del Paciente</h3>
                                <div class="form-group">
                                  <div class="col-sm-6">
                                    <label class="control-label">Motivo de Consulta:</label>
                                    <textarea class="form-control" name="motivoConsulta" cols="100" rows="10"></textarea>
                                  </div>
                                  <div class="col-sm-6">
                                    <label class="control-label">Diagnostico:</label>
                                    <textarea class="form-control" name="diagnostico" cols="100" rows="10" ></textarea>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-sm-6">
                                    <label class="control-label">Tratamiento:</label>
                                    <textarea class="form-control" name="tratamiento" cols="100" rows="10"></textarea>
                                  </div>
                                  <div class="col-sm-6">
                                    <label class="control-label">Observacione:</label>
                                    <textarea class="form-control" name="observaciones"cols="100" rows="10"></textarea>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <div class="col-sm-offset-5 col-sm-12">
                                    <button type="submit" class="btn btn-success btn-icon">Guardar <span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>
                                    <button type="reset"class="btn btn-danger btn-icon">Cancelar <span>&nbsp;</span><i class="fa fa-times"></i></button>
                                  </div>
                                </div>
                          </form>
                          <% } else { %>           
                          <form class="form-horizontal group-border-dashed" action="/emergencia/updateConEmergencia/<%=updateConsultaEmg[0].id%>" method="POST" parsley-validate novalidate>
                            <br>
                            <h2 class="text-center"> Formulario de Actualizacion   <%=updateConsultaEmg[0].id%></h2>
                            <% if(updateConsultaEmg[0].idDoctor == "doctor") { %>
                           <h3>Medico </h3>
                            <% } else  if(updateConsultaEmg[0].idEnfermera == "enfermera") { %>
                            <% } else {%>
                                  <div class="form-group">
                                    <div class="col-sm-4">
                                      <label class="control-label">Medico</label>
                                        <select class="form-control" id="source" name="idDoctor">
                                           <option value="doctor">Medico</option>                                                            
                                        </select>
                                        </div>
                                    </div>
                                    <% } if(updateConsultaEmg[0].idEnfermera == "enfermera") { %> 
                                    <h3>Enfermera</h3>
                                    <% } else if(updateConsultaEmg[0].idDoctor == "doctor"){ %>
                                    <% } else { %>  
                                    <div class="form-group">
                                      <div class="col-sm-4">
                                        <label class="control-label">Enfermera</label>
                                        <select class="form-control" id="source" name="idEnfermera">
                                          <option value="enfermera">Enfermera</option>                                                            
                                        </select>
                                      </div>
                                    </div>
                                    <% } %>
                                    
                                    
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label class="control-label">N° de Historial</label>
                                            <input type="text" name="Nhistorial" class="form-control" value="<%=dataPaciente[0].numeroHistorial%>" readonly/>
                                          </div>
                                      <div class="col-sm-3">
                                        <label class="control-label">Fecha de Consulta:</label>
                                        <input  type="date"  class="form-control" name="fechaAtencion" value="<%=updateConsultaEmg[0].fechaAtencion%>" require />
                                      </div>
                                      
                                    </div>
                                    
                                    <p>Datos del Medico</p>
                                    <div class="form-group">
                                      <div class="col-sm-3">
                                        <label class="control-label">Apellido Paterno del Medico:</label>
                                        <input type="text" class="form-control" name="apellidoD1" value="<%=updateConsultaEmg[0].apellidoD1%>"><br>
                                      </div>
                                      <div class="col-sm-3">
                                        <label class="control-label">Apellido Materno del Medico:</label>
                                        <input type="text" class="form-control" name="apellidoD2" value=" <%=updateConsultaEmg[0].apellidoD2%>"><br>
                                      </div>
                                      <div class="col-sm-6">
                                        <label class="control-label">Nombre(s) del Medico:</label>
                                        <input type="text" class="form-control" name="nombreDoctor" value="<%=updateConsultaEmg[0].nombreDoctor%>"><br>
                                      </div>
                                    </div>
                                    <h3 class="text-center">Estado del Paciente</h3>
                                    <div class="form-group">
                                      <div class="col-sm-6">
                                        <label class="control-label">Motivo de Consulta:</label>
                                        <textarea class="form-control" name="motivoConsulta" cols="100" rows="10"><%=updateConsultaEmg[0].motivoConsulta%></textarea>
                                      </div>
                                      <div class="col-sm-6">
                                        <label class="control-label">Diagnostico:</label>
                                        <textarea class="form-control" name="diagnostico" cols="100" rows="10" ><%=updateConsultaEmg[0].diagnostico%></textarea>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <div class="col-sm-6">
                                              <label class="control-label">Tratamiento:</label>
                                              <textarea class="form-control" name="tratamiento" cols="100" rows="10"><%=updateConsultaEmg[0].tratamiento%></textarea>
                                      </div>
                                      <div class="col-sm-6">
                                        <label class="control-label">Observacione:</label>
                                        <textarea class="form-control" name="observaciones" cols="100" rows="10"><%=updateConsultaEmg[0].observaciones%></textarea>
                                      </div>
                                    </div>
                            <div class="form-group">
                              <div class="col-sm-offset-4 col-sm-10">
                                <button type="submit" class="btn btn-success btn-icon">Actualizar <span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
                                <button type="reset"class="btn btn-danger btn-icon">Cancelar <span>&nbsp;</span><i class="fa fa-times"></i></button>
                                <button type="reset"class="btn btn-warning btn-icon"onclick="window.print()"> Imprimir <span>&nbsp;</span><i class="fa fa-print"></i> </button>
                               </div>
                            </div>
                          </form>
                          <br><br>
                           <div class="form-group">
                            <div class="col-sm-4">
                              <a href="/emergencia/emergenicaData/<%=updateConsultaEmg[0].id%>/<%=updateConsultaEmg[0].Nhistorial%>/<%=idHistorial.docOenf%>" class="btn btn-primary btn-default btn-block bs">Receta<span>&nbsp;</span><i class="fa fa-pencil-square-o" "></i></a>
                            </div>
                            <div class="col-sm-4">
                              <a href="/emergencia/ListPInter/<%=updateConsultaEmg[0].id%>/<%=updateConsultaEmg[0].Nhistorial%>"  class="btn btn-primary btn-default btn-block bs" >Orden de Internacion<span>&nbsp;</span><i class="fa fa-wheelchair" ></i></a>
                            </div>
                            <div class="col-sm-4">
                              <a href="/emergencia/ListPInter/<%=updateConsultaEmg[0].id%>/<%=updateConsultaEmg[0].Nhistorial%>"  class="btn btn-primary btn-default btn-block bs" >Exmamnes Complementarios<span>&nbsp;</span><i class="fa fa-eye" ></i></a></td>
                            </div>
                          </div>
                          <% } %>
                         </div>
											</div> 
										</div>
								</div>
								<div id="Tab2" class="tab-pane fade">
									<div class="row">
											<div class="block-web">
												<div class="porlets-content">
                            <div class="table-responsive">
                                <table  class="display table table-bordered table-striped" id="dynamic-table">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>Fecha de Atencion</th>
                                      <th>Nombre</th>
                                      <th>Apellido Paterno</th>
                                      <th>Apellido Materno</th>
                                      <th>Diagnostico</th>
                                      <th>Opciones</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                     <% for ( var i=0; i < consultasEmergencia.length; i++) {%>
                                     <tr>
                                      <td><%= i+1%></td>
                                      <td><%=consultasEmergencia[i].fechaAtencion%></td>
                                      <td><%=consultasEmergencia[i].Citas_Medica.Paciente.nombre%></td>
                                      <td><%=consultasEmergencia[i].Citas_Medica.Paciente.apellidop%></td>
                                      <td><%=consultasEmergencia[i].Citas_Medica.Paciente.apellidom%></td>
                                      <td><%=consultasEmergencia[i].diagnostico%></td> 
                                      <td class="text-center">
                                        <a href="/emergencia/emergenicaData/<%=consultasEmergencia[i].id%>/<%=consultasEmergencia[i].Nhistorial%>/<%=idHistorial.docOenf%>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Dar Receta"><i class="fa fa-pencil-square-o" style="color:rgb(80, 145, 80)"></i></a>
                                        <a href="/emergencia/ListPInter/<%=consultasEmergencia[i].id%>/<%=consultasEmergencia[i].Nhistorial%>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Papeleta Internacion"><i class="fa fa-wheelchair" style="color:blue"></i></a>
                                        <a href="/emergencia/ListPInter/<%=consultasEmergencia[i].id%>/<%=consultasEmergencia[i].Nhistorial%>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Ver Consulta"><i class="fa fa-eye" style="color:black"></i></a></td>
                                    </tr>
                                      <% } %>                                               
                                  </tbody> 
                                </table>
                            </div>
												</div>
											</div> 
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
  </div>
	</div>
</div>
</div>

<!--====== Scripts -->
<%- include("../partials/scripts") -%>

</body>
<% } %>
</html>
