<!DOCTYPE >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" sizes="16x16" href="/images/gfu.png">
<title>EXAMEN FICICO</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/css/animate.css" rel="stylesheet" type="text/css" />
<link href="/css/admin.css" rel="stylesheet" type="text/css" />
<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />


</head>
<body class="light_theme  fixed_header left_nav_fixed">
<div class="wrapper">
  <div class="header_bar">
    <div class="brand">
    <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
    </div>
    <div class="header_top_bar">
    <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
      <div class="top_right_bar">
        <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/user.png" /><span class="user_adminname">John Doe</span> <b class="caret"></b> </a>
          <ul class="dropdown-menu">
            <div class="top_pointer"></div>
            <li> <a href="profile.html"><i class="fa fa-user"></i> Profile</a> </li>
            <li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
            <li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
            <li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
	<div class="inner">
		<div class="left_nav">
				<div class="left_nav_slidebar">
					<ul>
						<li ><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="plus"><i class="fa fa-plus"></i></span> </a>
										<ul >
											<li><a href="/emergencia/homeEmergencia/<%=dogEnf%>"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b >Inicio </b> </a> </li>
										</ul>
						</li>
						<li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-users icon"></i>Emergencias<span class="left_nav_pointer"></span>  <span class="plus"><i class="fa fa-plus"></i></span></a>
										<ul class="opened" style="display:block">
											<li> <a href="/emergencia/dataEmergencia/<%=dogEnf%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Listas de Cita</b> </a> </li>
										</ul>
						</li>
					</ul>
				</div>
		</div>
    <div class="contentpanel">
    	<div class="container clear_both padding_fix">
				<br>
				<br>
        <a href="/emergencia/volver" class="btn btn-success btn-icon"><i class="fa fa-arrow-left">Volver</i></a>
        <br>
        <br>
         <div class="row">
        <div class="col-md-12">
          <div class="block-web">
            <div class="header">
              <div class="info blue_symbols"><i class="fa fa-clipboard icon"></i></div>
              <h3 class="content-header ">Detalles del Paciente</h3>
            </div>
						<br>
            <div class="btn-group ">
              <button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">Detalles del Paciente<span class="caret"></span></button>
              <ul role="menu" class="dropdown-menu">
								<li><a href="/datos_genPaciente_emergencia/list_responsables/<%=dataPaciente[0].id%>">Datos de responsable</a></li>
                <li><a href="/datos_genPaciente_emergencia/lista_antecedentes/<%=dataPaciente[0].id%>">Antecedentes</a></li>
                <li><a href="/datos_genPaciente_emergencia/lista_alergias/<%=dataPaciente[0].id%>">Alergias</a></li>
                <li><a href="/emergencia/VerHistorialvis">Ver Historial</a></li>
              </ul>
            </div>
            <br>
            <div class="porlets-content">
							<%if(update_exFisico == null) { %>
							<form class="form-horizontal group-border-dashed" action="/datos_genPaciente_emergencia/reg_exFisico/<%=dataPaciente[0].id%>" method="POST" parsley-validate novalidate>
								<h3 class="text-center">Datos del Paciente </h3>
                <div class="form-group">
									<div class="col-sm-3">
										<label class="control-label">N° de Historial</label>
										<input type="text" class="form-control"value="<%=dataPaciente[0].numeroHistorial%>" readonly>
									</div>
                	<div class="col-sm-3">
                    <label class="control-label">Apellido Paterno:</label>
                    <input type="text" class="form-control" value="<%=dataPaciente[0].apellidop%>" readonly>
                  </div>
                  <div class="col-sm-3">
                    <label class="control-label">Apellido Materno:</label>
                    <input type="text" class="form-control" value="<%=dataPaciente[0].apellidom%>" readonly>
									</div>
									<div class="col-sm-3">
										<label class="control-label">Nombre(s):</label>
										<input type="text" class="form-control" value="<%=dataPaciente[0].nombre%>" readonly>
									</div>
								</div>
						<h3 class="text-center">Examen Físico General</h3>
                <div class="form-group">
									<div class="col-sm-3">
										<label class="control-label">Estado General:</label>
										<input type="text" class="form-control" name="estado_general" value="" size="20">
									</div>
									<div class="col-sm-2">
										<label class="control-label">Facies:</label>
										<input type="text" class="form-control" name="facies" require>
									</div>
									<div class="col-sm-2">
											<label class="control-label">Presión Arterial:</label>
											<input type="text" class="form-control"name="precion_arterial" require>
									</div>
                	<div class="col-sm-3">
                    <label class="control-label">Estado Nutricional:</label>
                    <input type="text" class="form-control" name="estado_nutricional"value="" size="20">
									</div>
									<div class="col-sm-2">
                    <label class="control-label">Peso:</label>
                    <input type="text" class="form-control"  name="peso" value="" size="20">
									</div>
								</div>
                <div class="form-group">
									<div class="col-sm-3">
                    <label class="control-label">Frecuencia Cardiaca:</label>
                    <input type="text" class="form-control"  name="frecuencia_cardiaca" size="20">
									</div>
									<div class="col-sm-3">
                    <label class="control-label">Saturación de Oxigeno:</label>
                    <input type="text" class="form-control" name="saturacion_oxigeno" ></input>
									</div>

									<div class="col-sm-4">
											<label class="control-label">Fecha de Revisión:</label>
											<input type="date" class="form-control" name="fecha_revision" ></input>
										</div>
                </div>      
							<div class="form-group">
                  <div class="col-sm-offset-4 col-sm-10">
                    <button type="submit" class="btn btn-success btn-icon">Guardar <span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
                    <button type="reset"class="btn btn-danger btn-icon">Cancelar <span>&nbsp;</span><i class="fa fa-times"></i></button>
                  </div>
                </div>
              </form>
              <% } else { %>
							<form class="form-horizontal group-border-dashed" action="/datos_genPaciente_emergencia/reg_exFisico/<%=dataPaciente[0].id%>" method="POST" parsley-validate novalidate>
									<h3 class="text-center">Datos del Paciente </h3>
									<div class="form-group">
										<div class="col-sm-3">
											<label class="control-label">N° de Historial</label>
											<input type="text" class="form-control"value="<%=dataPaciente[0].numeroHistorial%>" readonly>
										</div>
										<div class="col-sm-3">
											<label class="control-label">Apellido Paterno:</label>
											<input type="text" class="form-control" value="<%=dataPaciente[0].apellidop%>" readonly>
										</div>
										<div class="col-sm-3">
											<label class="control-label">Apellido Materno:</label>
											<input type="text" class="form-control" value="<%=dataPaciente[0].apellidom%>" readonly>
										</div>
										<div class="col-sm-3">
											<label class="control-label">Nombre(s):</label>
											<input type="text" class="form-control" value="<%=dataPaciente[0].nombre%>" readonly>
										</div>
									</div>
									<h3 class="text-center">Examen Físico General</h3>
									<div class="form-group">
										<div class="col-sm-3">
											<label class="control-label">Estado General:</label>
											<input type="text" class="form-control" name="estado_general" value="<%=update_exFisico[0].estado_general%>" size="20">
										</div>
										<div class="col-sm-2">
											<label class="control-label">Facies:</label>
											<input type="text" class="form-control" name="facies" value="<%=update_exFisico[0].facies%>" require>
										</div>
										<div class="col-sm-2">
												<label class="control-label">Presión Arterial:</label>
												<input type="text" class="form-control"name="precion_arterial" value="<%=update_exFisico[0].precion_arterial%>" require>
										</div>
										<div class="col-sm-3">
											<label class="control-label">Estado Nutricional:</label>
											<input type="text" class="form-control" name="estado_nutricional" value="<%=update_exFisico[0].estado_nutricional%>"  size="20">
										</div>
										<div class="col-sm-2">
                    <label class="control-label">Peso:</label>
                    <input type="text" class="form-control"  name="peso" value="<%=update_exFisico[0].peso%>" size="20">
									</div>
								</div>
                <div class="form-group">
									<div class="col-sm-3">
                    <label class="control-label">Frecuencia Cardiaca:</label>
                    <input type="text" class="form-control"  name="frecuencia_cardiaca" value="<%=update_exFisico[0].frecuencia_cardiaca%>" size="20">
									</div>
										<div class="col-sm-4">
											<label class="control-label">Saturación de Oxigeno:</label>
											<input type="text" class="form-control" name="saturacion_oxigeno" value="<%=update_exFisico[0].saturacion_oxigeno%>" ></input>
										</div>
										<div class="col-sm-4">
												<label class="control-label">Fecha de Revisión:</label>
												<input type="date" class="form-control" name="fecha_revision" value="<%=update_exFisico[0].fecha_revision%>" ></input>
											</div>
									</div>      
								<div class="form-group">
										<div class="col-sm-offset-4 col-sm-10">
												<a class="btn btn-info active btn-icon" aria-pressed="true" role="button"  href="/datos_genPaciente_emergencia/regresar1">Volver<span>&nbsp;</span><i class="fa fa-arrow-left"></i></a><span>&nbsp;&nbsp;&nbsp;</span>
											<button type="submit" class="btn btn-success btn-icon">Actualizar<span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
											<button type="reset"class="btn btn-danger btn-icon">Cancelar <span>&nbsp;</span><i class="fa fa-times"></i></button>
										</div>
									</div>
							</form>
              <% } %>
            </div>
          </div>
        </div> 
      </div>
      <div class="row" >
        <div class="col-md-12">
          <div class="block-web">
          <div class="header">
							<h3 class="text-center">Datos del Paciente</h3>
          </div>
         	<div class="porlets-content">
            <div class="table-responsive">
                <table  class="display table table-bordered table-striped" id="dynamic-table">
                  <thead>
                    <tr>
												<th>Estado General</th>
												<th>Facies</th>
												<th>Precion Arterail </th>
												<th>Estado Nutricional</th>
												<th>peso</th>
												<th>Frecuencia Cardiaca</th>
												<th>Saturación de Oxigeno </th>
												<th>Fecha de Revisión </th>
												<th>Ver</th>
                    </tr>
                  </thead>
                  <tbody>
											<% for(var i=0; i< lis_exFisico.length; i++) { %>
												<tr>
													<td><%=lis_exFisico[i].estado_general%></td>
													<td><%=lis_exFisico[i].facies%></td>
													<td><%=lis_exFisico[i].precion_arterial%></td>
													<td><%=lis_exFisico[i].estado_nutricional%></td>
													<td><%=lis_exFisico[i].peso%></td>
													<td><%=lis_exFisico[i].frecuencia_cardiaca%></td>
													<td><%=lis_exFisico[i].saturacion_oxigeno%></td>
													<td><%=lis_exFisico[i].fecha_revision%></td>
													<td><a href="/datos_genPaciente_emergencia/one_ExFisico/<%=lis_exFisico[i].id%>" class="btn btn-info btn-raised btn-xs "><i class="zmdi zmdi-refresh-alt"></i></a></td>
												</tr>
											<% } %>
                  </tbody>
                </table>
              </div>
        	</div>
            
            
          </div>
        </div>
      </div>
      </div>
		</div>
</div>
</div>
<script src="/js/jquery-2.1.0.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/common-script.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script type="text/javascript"  src="/plugins/toggle-switch/toggles.min.js"></script> 
<script src="/plugins/checkbox/zepto.js"></script>
<script src="/plugins/checkbox/icheck.js"></script>
<script src="/js/icheck-init.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> 
<script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script> 
<script type="text/javascript" src="/js/form-components.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/jquery.inputmask.min.js"></script> 
<script type="text/javascript"  src="/plugins/input-mask/demo-mask.js"></script> 
<script type="text/javascript"  src="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script> 
<script type="text/javascript"  src="/plugins/dropzone/dropzone.min.js"></script> 
<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>



<script src="/plugins/validation/parsley.min.js"></script>
<script src="/plugins/data-tables/jquery.dataTables.js"></script>
<script src="/plugins/data-tables/DT_bootstrap.js"></script>
<script src="/plugins/data-tables/dynamic_table_init.js"></script>
<script src="/plugins/edit-table/edit-table.js"></script>
<script>
          jQuery(document).ready(function() {
              EditableTable.init();
          });
 </script>
<script>


/*==Porlets Actions==*/
    $('.minimize').click(function(e){
      var h = $(this).parents(".header");
      var c = h.next('.porlets-content');
      var p = h.parent();
      
      c.slideToggle();
      
      p.toggleClass('closed');
      
      e.preventDefault();
    });
    
    $('.refresh').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');
      
      loading.appendTo(p);
      loading.fadeIn();
      setTimeout(function() {
        loading.fadeOut();
      }, 1000);
      
      e.preventDefault();
    });
    
    $('.close-down').click(function(e){
      var h = $(this).parents(".header");
      var p = h.parent();
      
      p.fadeOut(function(){
        $(this).remove();
      });
      e.preventDefault();
    });

</script>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="/js/jPushMenu.js"></script> 
<script src="/js/side-chats.js"></script>
</body>
</html>
