<!DOCTYPE >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Historial Medico</title>
<%- include("./partials/head") -%>


</head>

<body class="light_theme  fixed_header left_nav_fixed">
<div class="wrapper">
<!--Navegation-->
<%- include("./partials/menu")-%>
<div class="inner">
   <!--Menu-->
   <div class="left_nav">
	<div class="left_nav_slidebar">
		<ul>
			<li ><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="plus"><i class="fa fa-plus"></i></span> </a>
			<ul >
			<li><a href="/emergencia/homeEmergencia/<%=dogEnf%>"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b >Inicio </b> </a> </li>
		</ul>
			</li>
			<li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-users icon"></i>Emergencias<span class="left_nav_pointer"></span>  <span class="plus"><i class="fa fa-plus"></i></span></a>
			<ul class="opened" style="display:block">
			<li> <a href="/emergencia/dataEmergencia/<%=dogEnf%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Listas de Cita</b> </a> </li>
		</ul>
			</li>
		</ul>
	</div>
</div>
    <div class="contentpanel">
      <div class="container clear_both padding_fix">
		<br>
		<div class="header">
        <div class="info blue_symbols"><i class="fa fa-heart icon"></i></div>
        <h3 class="content-header ">Historial Medico<span class="semi-bold">/Examen Físico</span></h3>
    </div>
    <br><br><br>
    <div class="btn-group ">
		<button data-toggle="dropdown" class="btn btn-info dropdown-toggle" type="button">Historial del Paciente<i class="fa fa-clipboard"></i><span class="caret"></span></button>
		<ul role="menu" class="dropdown-menu">
			<li><a href="/datos_genPaciente_emergencia/list_responsables/<%=dataPaciente[0].id%>">Datos de responsable</a></li>
		  	<li><a href="/datos_genPaciente_emergencia/lista_antecedentes/<%=dataPaciente[0].id%>">Informe</a></li>
		  	<li><a href="/datos_genPaciente_emergencia/lista_alergias/<%=dataPaciente[0].id%>">Datos de Interes</a></li>
		</ul>
	  </div>
    
		<div class="page-content">
			<div class="row">
				<div class="col-lg-14">
					<section class="panel default blue_title h2">
						<div class="panel-body">
							<ul class="nav nav-tabs" id="myTab">
								<li class=" col-lg-6 active active  text-center"><a data-toggle="tab" href="#Tab1"> <i class="fa fa-heart "></i><span>&nbsp;&nbsp;&nbsp;</span>Registro del Examen </a></li>
								<li class="col-lg-6 text-center" ><a  data-toggle="tab" href="#Tab2" > <i class="fa fa-list-ul"></i><span>&nbsp;&nbsp;&nbsp;</span>Lista de Examenes Físicos</a></li>
							</ul>
							<div class="tab-content" id="myTabContent">
								<div id="Tab1" class="tab-pane fade in active">
									<div class="row" >
										<div class="block-web">
												<div class="porlets-content">
												<%if(update_exFisico == null) { %>
													<form class="form-horizontal group-border-dashed" action="/datos_genPaciente_emergencia/reg_exFisico/<%=dataPaciente[0].id%>" method="POST" parsley-validate novalidate>
														
												<h3 class="text-center">Examen Físico General</h3>
												<div class="form-group lable-padd">
												<div class="col-sm-4">
													<label class="control-label">Fecha Revisión:</label>
													<input type="date" class="form-control" name="fecha_revision" ></input>
											  	</div>
												<div class="col-sm-4">
													<label class="control-label">Peso(kg):</label>
													<input type="number" value="50.08" data-decimals="2" min="10" max="500" step="0.1"class="form-control" name="peso" maxlength="5">
												</div>
												<div class="col-sm-4">
													<label class="control-label">Talla(m):</label>
													<input type="number" value="1.08" data-decimals="2" min="1" max="3" step="0.01" class="form-control" name="talla" maxlength="3">
												</div>
												</div>
										<div class="form-group">
										  <div class="col-sm-4">
											<label class="control-label">Temperatura (°C):</label>
											<input type="number" value="50.08" data-decimals="2" min="10" max="100" step="0.1" class="form-control"name="temperatura" maxlength="5">
										</div>
															<div class="col-sm-4">
											<label class="control-label">Frec. Cardiaca (lat/min):</label>
											<input type="text"  class="form-control"  name="frecuencia_cardiaca" size="20" name="frecuencia_cardiaca">
										  </div>
										  <div class="col-sm-4">
											<label class="control-label">Respiracion(min):</label>
											<input type="number" value="1.08" data-decimals="2" min="1" max="3" step="0.01" class="form-control" name="respiracion" ></input>
										  </div>
															
										</div> 
										<div class="form-group">
										  <div class="col-sm-4">
											<label class="control-label">Saturacion Oxigeno (%):</label>
											 <input type="number" value="10" data-decimals="2" min="1" max="99" class="form-control" name="saturacion_oxigeno" ></input>
										  </div>
										  <div class="col-sm-4">
											<label class="control-label">Presion(mmHg):</label>
											<input type="text" class="form-control" name="presion" ></input>
										  </div>
										  <div class="col-sm-4">
											  <label class="control-label">Observaciones:</label>
											  <textarea class="form-control" name="Otros" ></textarea>
											</div>
										</div>     
													<div class="form-group">
										  <div class="modal-footer">
											<button type="submit" class="btn btn-success btn-icon">Guardar<span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
											<button type="reset"class="btn btn-danger btn-icon" data-dismiss="modal">Cancelar<span>&nbsp;</span><i class="fa fa-times"></i></button>
										  </div>
										</div>
									  </form>
									  <% } else { %>
									  <form class="form-horizontal group-border-dashed" action="/datos_genPaciente_emergencia/update_exFisico/<%=update_exFisico[0].id%>" method="POST" parsley-validate novalidate>
														
										  <h3 class="text-center">Examen Físico General</h3>
											  <div class="form-group lable-padd">
												  <div class="col-sm-4">
													  <label class="control-label">Fecha Revisión:</label>
													  <input type="date" class="form-control" name="fecha_revision" ></input>
													</div>
												<div class="col-sm-4">
												  <label class="control-label">Peso(kg):</label>
												  <input type="number" value="<%=update_exFisico[0].peso%>" data-decimals="2" min="10" max="500" step="0.1"class="form-control" name="peso" maxlength="5">
												</div>
												<div class="col-sm-4">
												  <label class="control-label">Talla(m):</label>
												  <input type="number" value="<%=update_exFisico[0].talla%>" data-decimals="2" min="1" max="3" step="0.01" class="form-control" name="talla" maxlength="3">
												</div>
											  </div>
											  <div class="form-group">
												<div class="col-sm-4">
												  <label class="control-label">Temperatura (°C):</label>
												  <input type="number" value="<%=update_exFisico[0].temperatura%>" data-decimals="2" min="10" max="100" step="0.1" class="form-control"name="temperatura" maxlength="5">
											  </div>
												<div class="col-sm-4">
												  <label class="control-label">Frec. Cardiaca (lat/min):</label>
												  <input type="text"  class="form-control"  name="frecuencia_cardiaca" size="20" name="frecuencia_cardiaca" value="<%=update_exFisico[0].frecuencia_cardiaca%>">
												</div>
												<div class="col-sm-4">
												  <label class="control-label">Respiracion(min):</label>
												  <input type="number" value="<%=update_exFisico[0].respiracion%>" data-decimals="2" min="1" max="3" step="0.01" class="form-control" name="respiracion" >
												</div>
												
											  </div> 
											  <div class="form-group">
												<div class="col-sm-4">
												  <label class="control-label">Saturacion Oxigeno (%):</label>
												   <input type="number" value="<%=update_exFisico[0].saturacion_oxigeno%>" data-decimals="2" min="1" max="99" class="form-control" name="saturacion_oxigeno" ></input>
												</div>
												<div class="col-sm-4">
												  <label class="control-label">Presion(mmHg):</label>
												  <input type="text" class="form-control" name="presion" value="<%=update_exFisico[0].presion%>" >
												</div>
												<div class="col-sm-4">
													<label class="control-label">Observaciones:</label>
													<textarea class="form-control" name="Otros"  value="<%=update_exFisico[0].otros%>" ></textarea>
												  </div>
											  </div>     
											<div class="form-group">
												<div class="modal-footer">
												  <button type="submit" class="btn btn-success btn-icon">Guardar<span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
												  <button type="reset"class="btn btn-danger btn-icon" data-dismiss="modal">Cancelar<span>&nbsp;</span><i class="fa fa-times"></i></button>
												</div>
											  </div>
									  </form>
									  <% } %>
									</div>
										</div> 
									</div>
								</div>
								<div id="Tab2" class="tab-pane fade">
									<div class="row">
											<div class="block-web">
												<div class="porlets-content">
                            <div class="table-responsive">
                                <table  class="display table table-bordered table-striped" id="dynamic-table">
                                  <thead>
                                    <tr>
										<tr>
											<th >Fecha</th>
											<th >Peso</th>
											<th >Talla</th>
											<th >Temperatura</th>	
											<th >Frecuencia Cardiaca</th>	
											<th >Saturacion Oxigeno:</th>
											<th>Precion</th>
										  </tr>
										</thead>
										<tbody>
										  <% for(var i=0; i< lis_exFisico.length; i++) { %>
											<tr>
											  <td><%=lis_exFisico[i].fecha_revision%></td>
											  <td><%=lis_exFisico[i].peso%></td>
											  <td><%=lis_exFisico[i].talla%></td>
											  <td><%=lis_exFisico[i].temperatutra%></td>
											  <td><%=lis_exFisico[i].frecuencia_cardiaca%></td>
											  <td><%=lis_exFisico[i].saturacion_oxigeno%></td>
											  <td><%=lis_exFisico[i].presion%></td>
											  </tr>
										  <% } %>                                       
                                  </tbody> 
                                </table>
                            </div>
												</div>
											</div> 
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
      </div>
	</div>
</div>
</div>

<!--====== Scripts -->
<%- include("../partials/scripts") -%>

</body>

</html>
