<!DOCTYPE html>
<html lang="es">
<head>
	<title>Emergencia</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("../partials/head") -%>
</head>
<body>
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- SideBar Menu Hospital-->
    <ul class="list-unstyled full-box dashboard-sideBar-Menu">
		<li>
			<a href="">
				<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Home <%=DogOenf%>
			</a>
		</li>
				   
		<!-- Emergencias -->
		<li>
			<a href="#!" class="btn-sideBar-SubMenu">
				<i class="zmdi zmdi-hospital zmdi-hc-fw"></i> Emergencias <i class="zmdi zmdi-caret-down pull-right"></i>
			</a>
			<ul class="list-unstyled full-box">
				<li><a href="/emergencia/dataEmergencia/<%=DogOenf%>"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i>Listas de Citas </a></li>
						  
			</ul>
		</li>
	</ul>
	<%- include("partials/menuFooter") -%>

	<!-- Content page-->

 </div>
<section class="full-box dashboard-contentPage">
<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
		<ul class="full-box list-unstyled text-right">
			<li class="pull-left">
		    	<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
			</li>
		</ul>
	</nav>  
<!-- Content page-->
	<div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles"><i class="zmdi zmdi-hospital zmdi-hc-fw"></i> Bienvenido a Emergencias </h1>
			</div>
	</div>
	<!-- Menu Doctor-->
	<div class="full-box text-center" style="padding: 30px 10px;">
		<article class="full-box tile">
			<div class="report-content">
				<h3 class="text-center all-tittles">Pacientes</h3>
				<p class="full-box tile-icon text-center"></p><a href="/emergencia/pacientes_emer"><i class="zmdi zmdi-male-female zmdi-hc-4x"></i></a>
			</div>
    </article>			
		<article class="full-box tile">	
			<div class="report-content">
				<h3 class="text-center all-tittles">Recetas</h3>
				<p class="full-box tile-icon text-center"></p><a href=""><i class="zmdi zmdi-border-color zmdi-hc-4x"></i></a>
			</div>
		</article>
    <article class="full-box tile">
      <div class="report-content">
        <h3 class="text-center all-tittles">Paletas de Internacion</h3>
        <p class="full-box tile-icon text-center"></p><a href=""><i class="zmdi zmdi-hotel zmdi-hc-4x"></i></a>
      </div>
    </article>
  </div> 
</section>
	<!--====== Scripts -->
	<%- include("../partials/scripts") -%>
</body>
</html>