<!DOCTYPE html>
<html lang="es">
<head>
	<title>Emergencia</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("../partials/head") -%>
</head>
<body>
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- SideBar Menu Hospital-->
    <ul class="list-unstyled full-box dashboard-sideBar-Menu">
		<li>
			<a href="/emergencia/homeEmergencia/<%=DogOenf%>">
			<i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Home <%=DogOenf%></a>
		</li>
		<!-- Emergencias -->
		<li>
			<a href="#!" class="btn-sideBar-SubMenu">
			<i class="zmdi zmdi-hospital zmdi-hc-fw"></i> Emergencias <i class="zmdi zmdi-caret-down pull-right"></i>		</a>
			<ul class="list-unstyled full-box">
				<li><a href="/emergencia/dataEmergencia/<%=DogOenf%>"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i>Listas de citas</a></li>
			</ul>
		</li>
	</ul>
	<%- include("partials/menuFooter") -%>
	<!-- Content page-->
<section class="full-box dashboard-contentPage">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
		<ul class="full-box list-unstyled text-right">
			<li class="pull-left">
		    	<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
			</li>
		</ul>
	</nav>
	<!-- Content page -->
	<div class="container-fluid">
		<div class="page-header">
			<h1 class="text-titles"><i class="zmdi zmdi-hospital zmdi-hc-fw"></i> Emergencias </h1>
		</div>
	</div>
	<!--Listas de Emergencias-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<ul class="nav nav-tabs" style="margin-bottom: 15px;">
					<li class="active"><a href="#ListPaciente" data-toggle="tab"><i class="zmdi zmdi-assignment"></i> Pacientes no Atendidos</a></li>
					<li><a href="#Pacientes" data-toggle="tab"><i class="zmdi zmdi-assignment"></i> Pacientes atendidos</a></li>
				</ul>
				<!-- PAcientes no Atendidos-->
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="ListPaciente">
						<div class="table-responsive" >
							<table class="fl-table">
								<thead>
									  <tr>
										<th class="text-center">#</th>
										<th class="" WIDTH="15%">N° de historia </th>
										<th class="" WIDTH="20%">Nombre del Paciente</th>
										<th class="" WIDTH="20%">Apellido paterno</th>
										<th class="" WIDTH="20%">Apellido materno</th>	
										<th class="" WIDTH="20%">Hora de Atencion</th>	
										<th class="text-center" WIDTH="20%">Reg. Consulta</th>
										
										<!--
										   <th class="text-center" WIDTH="20%">Darde Baja</th>
										-->   
									  </tr>
								</thead>
								<tbody>
									<% if(resp != null) { %>
									  <% for(var i=0; i< resp.length; i++) { %>
											<tr>
												<td><%= i + 1 %></td>
												<td><%=resp[i].codigo_p %></td>
											  <td><%=resp[i].Paciente.nombre %></td>
												<td><%=resp[i].Paciente.apellidop %></td>
											  <td><%=resp[i].Paciente.apellidom %></td>
											  <td><%=resp[i].hora %></td>
											  <td class="text-center"><a href="/emergencia/GetEmergencia/<%=resp[i].codigo_p%>/<%=resp[i].id%>/<%=DogOenf%>" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-edit zmdi-hc-lg"></i></a></td>
											</tr>
										<% } %>
									<% } else { %>
											<tr>
											  <td> NO HAY CONENCCION CON LA BASE DE DATOS </td>
										  </tr>
									<% } %>
								</tbody>
							</table>
						</div>
<<<<<<< HEAD
					</div>
	  			<!-- lista de pacientes atendidos-->
					<div class="tab-pane fade" id="Pacientes">
						<div class="table-responsive" >
							<table class="fl-table">
								<thead>
									<tr>
										<th class="text-center">#</th>
=======
	  
						  <!-- lista de pacientes atendidos-->
						  <div class="tab-pane fade" id="Pacientes">
							  
							  <div class="table-responsive" >
								<table class="fl-table ">
									<thead>
										<tr>
											<th class="text-center">#</th>
>>>>>>> 6595aee6bd098ee18b65cd9f33239408a6da1fd6
										<th class="" WIDTH="15%">N° de historia </th>
										<th class="" WIDTH="20%">Nombre del Paciente</th>
										<th class="" WIDTH="20%">Apellido paterno</th>
										<th class="" WIDTH="20%">Apellido materno</th>	
										<th class="" WIDTH="20%">Hora de Atencion</th>	
										<th class="text-center" WIDTH="20%">Modificar</th>
										<!--
											<th class="text-center" WIDTH="20%">Darde Baja</th>
									  -->   
									</tr>
								</thead>
								<tbody>
									<% if(dataEmergencia != null) { %>
										<% for(var i=0; i< dataEmergencia.length; i++) { %>
											<tr>
												<td><%= i + 1 %></td>
												<td><%=dataEmergencia[i].codigo_p %></td>
												<td><%=dataEmergencia[i].Paciente.nombre %></td>
												<td><%=dataEmergencia[i].Paciente.apellidop %></td>
												<td><%=dataEmergencia[i].Paciente.apellidom %></td>
												<td><%=dataEmergencia[i].hora %></td>
												<td class="text-center" ><a href="/emergencia/GetEmergencia/<%=dataEmergencia[i].codigo_p%>/<%=dataEmergencia[i].id%>/<%=DogOenf%>" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
											</tr>
										<% } %>
									<% } else { %>
										<tr>
											<td> NO HAY CONENCCION CON LA BASE DE DATOS </td>
										</tr>
									<% } %>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
	<!--====== Scripts -->
	<%- include("../partials/scripts") -%>
</body>
</html>