<!DOCTYPE html>
<html lang="es">

<head>
	<link rel="icon" type="image/png" sizes="16x16" href="/images/gfu.png">
	<title>Laboratorio</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">


	<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/animate.css" rel="stylesheet" type="text/css" />
	<link href="/css/admin.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">



	<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
	<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />

	<link href="/css/toastr.css" rel="stylesheet" type="text/css" />
	<link href="/css/animate1.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">
	<style>
		div.a {
			text-align: center;
		}

		h1.letras {
			font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

		}
	</style>

</head>
<script type="text/javascript">
    // este scrip es para verificar si esta el token en local starge
    var data = localStorage.getItem('data')
    console.log(data)
    if (data == null){
        window.location.replace('/')
    }
</script>
<body class="light_theme  fixed_header left_nav_fixed">
	<!-- Content page-->
	<div class="wrapper">
		<!--\\\\\\\ wrapper Start \\\\\\-->
		<div class="header_bar">
			<!--\\\\\\\ header Start \\\\\\-->
			<div class="brand">
				<!--\\\\\\\ brand Start \\\\\\-->
				<div class="logo" style="display:block"><span class="theme_color">Hospital</div>

			</div>
			<!--\\\\\\\ brand end \\\\\\-->
			<div class="header_top_bar">
				<!--\\\\\\\ header top bar start \\\\\\-->
				<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

				<div class="top_right_bar">

					<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
								src="/images/user.png" /><span class="user_adminname"><%=data_doc.data.personal.nombre%> <%=data_doc.data.personal.apellidop%></span> <b
								class="caret"></b> </a>
						<ul class="dropdown-menu">
							<div class="top_pointer"></div>
							<li> <a href="profile.html"><i class="fa fa-user"></i> Profile</a> </li>
							<li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
							<li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
							<li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<!--\\\\\\\ header top bar end \\\\\\-->
		</div>
		<div class="inner" id="laboratorio">
			<!--\\\\\\\ inner start \\\\\\-->
			<div class="left_nav">

				<!--\\\\\\\left_nav start \\\\\\-->

				<div class="left_nav_slidebar">
					<ul>
						<li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span
									class="left_nav_pointer"></span> <span class="plus"><i
										class="fa fa-plus"></i></span> </a>
							<ul>
								<li> <a href="/laboratorios/home/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b>Inicio</b> </a>
								</li>
							</ul>
						</li>
						<li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i
									class="fa fa-tasks"></i> Laboratorio<span class="plus"><i
										class="fa fa-plus"></i></span></a>
							<ul class="opened" style="display:block">
								<li> <a href="/laboratorios/view_list_lab/<%=data_doc.data.personal.cargo%>/<%=data_doc.data.token_id%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i>
										<b>Lista pacientes</b> </a> </li>
								<li> <a href="/paciente/buscaPaciente"> <span>&nbsp;</span> <i class="fa fa-circle"></i>
										<b>Buscar Pacinete</b> </a> </li>

							</ul>
						</li>


					</ul>
				</div>
			</div>
			<!--\\\\\\\left_nav end \\\\\\-->
			<div class="contentpanel">
				<!--\\\\\\\ contentpanel start\\\\\\-->
				<div class="container clear_both padding_fix col-lg-8">
					<br>
					<br>
					<br>
					<div class="row">

						<div class="col-lg-12 ">


							<!--\\\\\\\ contentpanel start\\\\\\-->
							<div class="row">
								<div class="col-md-12">
									<div class="block-web">
										<div class="header">
											<div class="info blue_symbols "> <i class="fa fa-stack-overflow icon "></i>
											</div>
											<h3 class="content-header " class="text-titles">
												<span>&nbsp;&nbsp;&nbsp;</span>Laboratorio</h3>
										</div>
										<br>
										<br>
										<div class="porlets-content">
											<div class="form-group">
												<div class="row">

												
													<div class="col-md-12">

														<input type="hidden" :value="historial = '<%=data_paciente[0].numeroHistorial%>'">
														<input type="hidden" :value="nombre_user = '<%=data_doc.data.personal.nombre%> <%=data_doc.data.personal.apellidop%> <%=data_doc.data.personal.apellidom%>'">
														<input type="hidden" :value="id_lab = '<%=one_lab[0].id%>'">
														<input type="hidden" :value="id_user = '<%=data_doc.data.personal.id%>'">

														<section class="panel default blue_title h2">
															<div class="col-md-6 panel panel-default">
																<div class=" panel panel-default">
																	<li href="#ac3-1" data-parent="#accordion3"
																		data-toggle="collapse"
																		class=" list-group-item  blue_bg text-center">
																		Datos Personales</li>
																</div>
																<div style="height: 0px;" id="ac3-1"
																	class="panel-collapse collapse in">
																	<div class="">

																		<div class="col-md-5">
																			<div class="entrada ">
																				<label class=" ">N° de Historia:</label>
																				<p><b><%=data_paciente[0].numeroHistorial%></b>
																				</p>
																				<input type="hidden"
																					name="numeroHistorial"
																					
																					class="form-control" readonly=""
																					value="Read only text goes here">
																			</div>
																		</div>
																		<div class="col-sm-6 col-sm-12">
																			<div class="entrada">
																				<label class=" ">Nombre
																					Completo:</label>
																				<p><b><%=data_paciente[0].nombre%> <%=data_paciente[0].apellidop%> <%=data_paciente[0].apellidom%></b>
																				</p>
																				<input type="hidden"
																					name="nombre apellidop apellidom"
																					value=""
																					class="form-control" readonly=""
																					value="Read only text goes here">
																			</div>
																		</div>
																		<div class="col-sm-4 col-sm-4">
																			<div class="entrada">
																				<label class=" "> Sexo: </label>
																				<p><b><%=data_paciente[0].sexo%></b></p>
																				<input type="hidden" name="sexo"
																					value=""
																					class="form-control" readonly=""
																					value="Read only text goes here">
																			</div>
																		</div>
																		<div class="col-sm-8 col-sm-9">
																			<div class="entrada">
																				<label class="">Fecha de
																					Nacimiento:</label>
																				<p><b><%=data_paciente[0].fechanacimiento%></b>
																				</p>
																				<input type="hidden" name="fechanacimiento" value="" class="form-control" readonly="" value="Read only text goes here">
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="col-md-6 panel panel-default">
																<div class=" panel panel-default">
																	<li href="#ac3-2" data-parent="#accordion" data-toggle="collapse" class=" list-group-item  blue_bg text-center"> Datos de la Cita</li>
																</div>
																<div style="height: 0px;" id="ac3-2"
																	class="panel-collapse collapse in">

																	<div class="">
																		<div class="col-sm-6 ">
																			<div class="entrada">
																				<label class=" ">Fecha y hora:</label>
																				<p><b><%=one_lab[0].fecha%> <%=one_lab[0].hora%></b></p>
																			</div>
																		</div>
																		<div class="col-sm-6 col-sm-6">
																			<div class="entrada">
																				<label class="">Especialidad:</label>
																				<p><b><%=data_consulta[0].tipoConsulta%></b>
																				</p>
																				<input type="hidden" name="tipoConsulta" class="form-control" readonly="" value="Read only text goes here">
																			</div>
																		</div>
																		<div class="col-sm-12 col-sm-12">
																			<div class="entrada">
																				<label class="">Profecional Médico:</label>
																				<p><b><%=one_lab[0].nombre_doctor%></b>
																				</p>
																				<input type="hidden"  class="form-control" readonly="" value="Read only text goes here">
																			</div>
																		</div>
																	</div>

																</div>
															</div>
														</section>
													</div>
													<label> <b>Peticiones del Médico</b></label>
													<div class=" col-md-12" >
														<div class="col-md-6">
															<% for (var i = 0; i < one_lab[0].examen.length; i++) { %>

																<label> <b><%=one_lab[0].examen[i].estudio%></b>  </label>
																<p> <%=one_lab[0].examen[i].descripcion%></p>
															<% } %>
														</div>
														
													</div>
                                                        
													<div class="header">

														<h3 class="content-header center">
															<span>&nbsp;&nbsp;&nbsp;</span>Llenado del laboratorio </h3>
													</div>

													<form  @submit="register_rep_lab" method="POST" enctype="multipart/form-data">

														<div class="col-md-6">
															<div class="block-web">
																<div class="header">
																   <h3 class="content-header">Subir la Laboratorio</h3>
																</div>
																<div class="porlets-content">
																	
																	<br>
																	<input type="file" name="image" @change="getImage" accept="image/*">
																	  
																   
																</div><!--/porlets-content--> 
															</div><!--/block-web--> 
														</div><!--/col-md-6-->
															  
														<div class="col-md-6">
															<div class="block-web">
																<div class="header">
																	<h3 class="content-header">Detalles</h3>
																</div>
																<div class="porlets-content">																	
																	<div class="col-sm-4">
																		<label class="control-labe">Descripción:</label>
																		<textarea v-model="descripcion" class="large-compact" name="diagnostico" cols="50" rows="10"></textarea>
																		<!-- <input v-model="descripcion" type="text" name="titulo"  class="form-control" parsley-trigger="change"  required placeholder="Introdusca CI." /> -->
																	</div>
																</div><!--/porlets-content--> 
														</div><!--/block-web--> 
														  </div><!--/col-md-6-->
														<div class="col-md-12"><br>
															<div class="col-sm-6">
																
																<button type="submit" class="btn btn-success btn-icon">Guardar<span>&nbsp;</span><i class="fa fa-check-square"></i></button><span>&nbsp;&nbsp;&nbsp;</span>
																<button type="reset"class="btn btn-danger btn-icon">Cancelar <span>&nbsp;</span><i class="fa fa-times"></i></button>
																<button type="button" onclick="scan();"> falta Scan</button>
																<!-- Triggers scan -->
																<div id="images">
																	<!-- Displays scanned images  -->
																</div>
															</div>
														</div>

													</form>
													
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>



						</div>

					</div>

					<!--\\\\\\\ container  end \\\\\\-->
				</div>
				<!--\\\\\\\ content panel end \\\\\\-->
			</div>
			<!--\\\\\\\ inner end\\\\\\-->
		</div>
	</div>
		<!--\\\\\\\ wrapper end\\\\\\-->



	<script type="text/javascript">
		// Need to upload scanned images to server or save them on hard disk? Please refer to the dev guide: http://asprise.com/document-scan-upload-image-browser/ie-chrome-firefox-scanner-docs.html
		// For more scanning code samples, please visit https://github.com/Asprise/scannerjs.javascript-scanner-access-in-browsers-chrome-ie.scanner.js
	
		var scanRequest = {
			"use_asprise_dialog": true, // Whether to use Asprise Scanning Dialog
			"show_scanner_ui": false, // Whether scanner UI should be shown
			"twain_cap_setting": { // Optional scanning settings
				"ICAP_PIXELTYPE": "TWPT_RGB" // Color
			},
			"output_settings": [{
				"type": "return-base64",
				"format": "jpg"
			}]
		};
	
		/** Triggers the scan */
		function scan() {
			scanner.scan(displayImagesOnPage, scanRequest);
		}
	
		/** Processes the scan result */
		function displayImagesOnPage(successful, mesg, response) {
			if (!successful) { // On error
				console.error('Failed: ' + mesg);
				return;
			}
			if (successful && mesg != null && mesg.toLowerCase().indexOf('user cancel') >= 0) { // User cancelled.
				console.info('User cancelled');
				return;
			}
			var scannedImages = scanner.getScannedImages(response, true, false); // returns an array of ScannedImage
			for (var i = 0;
				(scannedImages instanceof Array) && i < scannedImages.length; i++) {
				var scannedImage = scannedImages[i];
				var elementImg = scanner.createDomElementFromModel({
					'name': 'img',
					'attributes': {
						'class': 'scanned',
						'src': scannedImage.src
					}
				});
				(document.getElementById('images') ? document.getElementById('images') : document.body).appendChild(elementImg);
			}
		}
	</script>




	<!--====== Scripts -->

	<script src="/js/jquery-2.1.0.js"></script>
	
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common-script.js"></script>
	<script src="/js/jquery.slimscroll.min.js"></script>
	<script src="/plugins/data-tables/jquery.dataTables.js"></script>
	<script src="/plugins/data-tables/DT_bootstrap.js"></script>
	<script src="/plugins/data-tables/dynamic_table_init.js"></script>
	<script src="/plugins/edit-table/edit-table.js"></script>

	<script src="/js/toastr.js"></script>

	<script src="/sweetalert2/dist/sweetalert2.min.js"></script>
	<script>
		jQuery(document).ready(function () {
			EditableTable.init();
		});
	</script>
	<script src="/js/jPushMenu.js"></script>
	<script src="/js/side-chats.js"></script>
	<script type="text/javascript" src="plugins/toggle-switch/toggles.min.js"></script>

	<script src="/plugins/checkbox/zepto.js"></script>
	<script src="/plugins/checkbox/icheck.js"></script>
	<script src="/js/icheck-init.js"></script>
	<script src="/js/jquery.slimscroll.min.js"></script>
	<script src="/js/icheck.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
	<script type="text/javascript" src="/js/form-components.js"></script>
	<script type="text/javascript" src="/plugins/input-mask/jquery.inputmask.min.js"></script>
	<script type="text/javascript" src="/plugins/input-mask/demo-mask.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
	<script type="text/javascript" src="/plugins/dropzone/dropzone.min.js"></script>
	<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>


	<script src="/bower_components/scanner/dist/scanner.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
	<script>
		/*==Porlets Actions==*/
		$('.minimize').click(function (e) {
			var h = $(this).parents(".header");
			var c = h.next('.porlets-content');
			var p = h.parent();
		
			c.slideToggle();
		
			p.toggleClass('closed');
		
			e.preventDefault();
		});
	
		$('.refresh').click(function (e) {
			var h = $(this).parents(".header");
			var p = h.parent();
			var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');
		
			loading.appendTo(p);
			loading.fadeIn();
			setTimeout(function () {
				loading.fadeOut();
			}, 1000);
		
			e.preventDefault();
		});
	
		$('.close-down').click(function (e) {
			var h = $(this).parents(".header");
			var p = h.parent();
		
			p.fadeOut(function () {
				$(this).remove();
			});
			e.preventDefault();
		});
	
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>   <!-- vue cdn -->
	<script src="/moment/moment.js"></script>
	<script src="/moment/locale/af.js"></script>
	<script src="/url/export.js"></script>
	<script>
		var laboratorio = new Vue({
    		el:"#laboratorio",
			data:{
				url:data_url.url_front_end,
				msg_false:'',
				msg:'',
				imagen:'',
				//Post
				id_lab:'',
				fecha:'',
                hora:'',
                historial:'',
                nombre_user:'',
                descripcion:'',
                
                id_user:''
			},
			mounted(){
        		this.fecha = moment().format('l'); 
        		this.hora = moment().format('HH:mm:ss')        
    		},
			methods:{
				getImage(event){
                	//Asignamos la imagen a  nuestra data
					this.imagen = event.target.files[0];
					
            	},
				register_rep_lab(e){
					
					e.preventDefault();
					/* console.log(this.imagen)
					let formData = new FormData();
					formData.append('file', this.imagen);
					console.log (formData, '<<<<<<<<<<<<<<<<  <>>>>>>>>>>>>>>>>>>>>    <<<<')
					axios.post(this.url+'/laboratorios/vue_register_respLab/'+this.id_lab, formData,
       				{
       				   headers: {
       				     'Content-Type': 'multipart/form-data'
       				   }
       				})
       				.then(function (response) {
					
       				  console.log(response)
					  
       				})
       				.catch(function (error) {
       				    console.log(error);
       				}); */
					var datos = {
						//archivo: formData,
						fecha:this.fecha,
                		hora:this.hora,
                		historial:this.historial,
                		nombre_user:this.nombre_user,
                		descripcion:this.descripcion,
                		id_user:this.id_user
					};
    				var esto = {
    				    method: 'POST',
    				    body: JSON.stringify(datos),
    				    headers:{
						  'Content-Type' : "application/json",
						  //'Content-Type': 'multipart/form-data'
    				    }
    				};
    				fetch(this.url+'/laboratorios/vue_register_respLab/'+this.id_lab,esto)
    				.then(res => res.json())
    				.catch(error => console.error('Error:', error))
    				.then(data => {
						if(data.success == true){
							this.descripcion = ''
							
							swal.fire(
								'Success!',
								'<label style="color:green;">'+data.msg+'</label>',
								'success'
							)
							this.update_estado_lab()
							this.msg_false = ""
						}else{
							this.msg = ""
							console.log(data.msg)
							 /* Swal.fire({
							  type: 'error',
							  title: 'Oops...',
							  text:  data.msg,
							  footer: '<a href>Why do I have this issue?</a>' 
							}) */ 
							 swal.fire(
								'Error!',
								'<label style="color:red;">'+data.msg+'</label>',
								'error'
							) 
							//mensaje en la parte de arriba
							/*  swal.fire({    
								position: 'top',
								type:'error',
								title:data.msg,
								showConfirmButton:true,
								timer:3500
								
							})  */
							//css animated
							/* swal.fire({    
								title:'Error',
								animation:false,
								customClass:{
									popup:'animated bounce'
								}
								
							}) */
							//personalizado
							/*  swal.fire({    
								title:'esto es lo que yo quiero',
								text:data.msg,
								
								width:600,
								padding:'5em',
								background:'#fff url(/images/red.jpg)',
								backdrop:`
								rgba(5, 5, 25 0.4)
								url("/images/red.jpg")
								center left
								no-repeat
								`								
							}) 
							 toastr.error(data.msg,'Error' ,{
                    		    "progressBar": true,
                    		    "positionClass": "toast-top-center",
                    		    "closeButton": true,
                    		} )  */
						}
    				    
    				})
				},
				update_estado_lab(){
					var datos = {
						estado:'false'
					};
    				var esto = {
    				    method: 'POST',
    				    body: JSON.stringify(datos),
    				    headers:{
    				      'Content-type' : "application/json"
    				    }
    				};
    				fetch(this.url+'/laboratorios/vue_update_estado_Lab/'+this.id_lab,esto)
    				.then(res => res.json())
    				.catch(error => console.error('Error:', error))
    				.then(data => {
    				    console.log(data, " <<<<<<<<<<<<<<<<<<<<<<<<<<<<<")
    				})
				}
			}
		})
	</script>


</body>

</html>