<!DOCTYPE html>
<html lang="es">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Lista de Consulta Médica</title>
	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/animate.css" rel="stylesheet" type="text/css" />
	<link href="/css/admin.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">

	<style>
		div.a {
			text-align: center;
		}

		h1.letras {
			font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

		}
	</style>

</head>

<body class=" light_theme  fixed_header left_nav_fixed">


	<!-- Content page-->
	<div class="wrapper">
		<!--\\\\\\\ wrapper Start \\\\\\-->
		<div class="header_bar">
			<!--\\\\\\\ header Start \\\\\\-->
			<div class="brand">
				<!--\\\\\\\ brand Start \\\\\\-->
				<div class="logo" style="display:block"><span class="theme_color">Hospital</div>

			</div>
			<!--\\\\\\\ brand end \\\\\\-->
			<div class="header_top_bar">
				<!--\\\\\\\ header top bar start \\\\\\-->
				<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

				<div class="top_right_bar">

					<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
								src="/images/user.png" /><span class="user_adminname"> <%=data_doc.data.medico.nombre%> <%=data_doc.data.medico.apellidop%></span> <b
								class="caret"></b> </a>
						<ul class="dropdown-menu">
							<div class="top_pointer"></div>
							<li> <a href="/profile.html"><i class="fa fa-user"></i> Profile</a> </li>
							<li> <a href="/help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
							<li> <a href="/settings.html"><i class="fa fa-cog"></i> Setting </a></li>
							<li> <a href="/login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<!--\\\\\\\ header top bar end \\\\\\-->
		</div>
		<div class="inner">
			<!--\\\\\\\ inner start \\\\\\-->
			<div class="left_nav">

				<!--\\\\\\\left_nav start \\\\\\-->

				<div class="left_nav_slidebar">
					<ul>
						<li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span
									class="left_nav_pointer"></span> <span class="plus"><i
										class="fa fa-plus"></i></span> </a>
							<ul>
								<li> <a href="/consulta_externa/home/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i
											class="fa fa-circle "></i> <b>Inicio</b> </a> </li>
							</ul>
						</li>
						<li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i
									class="fa fa-tasks"></i> Consulta Externa<span class="plus"><i
										class="fa fa-plus"></i></span></a>
							<ul class="opened" style="display:block">
								<li> <a href="#"> <span>&nbsp;</span> <i
											class="fa fa-circle"></i> <b class="theme_color">Listas de Citas</b>
									</a> </li>
							</ul>
						</li>
						<%- include("../partials/footerDocotr") -%>
					</ul>
					
				</div>
			</div>
			<!--\\\\\\\left_nav end \\\\\\-->
			<div class="contentpanel">
				<!--\\\\\\\ contentpanel start\\\\\\-->
				<div class="container clear_both padding_fix col-lg-8">
					<br>
					<div class="main-content">
						<div class="col-lg-12 block-web">
							<!-- Content page -->
							<div class="container-fluid">
								<div class="header">
                                    <div class="info blue_symbols "> <i class="fa fa-user-md icon "></i></div> <br>
                                        <h3 class="content-header "><span>&nbsp;&nbsp;&nbsp;</span> Consulta Externa</h3>
                            	</div>
							</div>
						</div>
						<div class="main-content">
							<section class="panel default blue_title h2">
								<div class="page-content">
									<ul class="nav nav-tabs" id="myTab">
										<li class=" col-lg-6 active active  text-center"><a href="#neww" data-toggle="tab"><i class="fa fa-list-alt "></i><span>&nbsp;&nbsp;&nbsp;</span>Pacientes en Espera</a></li>
										<li class="col-lg-6 text-center"><a href="#listt" data-toggle="tab"><i class="fa fa-medkit "></i><span>&nbsp;&nbsp;&nbsp;</span>Pacientes Atendidos</a></li>
									</ul>
									<div id="myTabContent" class="tab-content">
										<div class="tab-pane fade active in " id="neww">

											<table class="display table table-bordered table-striped" id="dynamic-table">
												<thead>
													<tr>
														<th class="text-center">#</th>
														<th class="" WIDTH="15%">N° de historia </th>
														<th class="" WIDTH="20%">Nombre del Paciente</th>
														<th class="" WIDTH="20%">Apellido paterno</th>
														<th class="" WIDTH="20%">Apellido materno</th>
														<th class="" WIDTH="20%">Hora de Atencion</th>
														<th class="text-center" WIDTH="20%">Reg.Consulta </th>
													</tr>
												</thead>
												<tbody>
													<% for(var i=0; i< data.length; i++) { %>
													<tr class="gradeX">
														<td><%= i + 1 %></td>
														<td><%=data[i].codigo_p %></td>
														<td><%=data[i].Paciente.nombre %></td>
														<td><%=data[i].Paciente.apellidop %></td>
														<td><%=data[i].Paciente.apellidom %></td>
														<td><%=data[i].hora.split("/")[0] %></td>
														<td class="text-center">
															<a href="/consulta_externa/reg_consulta/<%=data[i].id%>/<%=data[i].codigo_p%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"
																data-toggle="tooltip" class="btn  tooltips" data-original-title="Registrar_Consulta"><i class="fa fa-stethoscope"></i>
															</a>
														</td>																		
													</tr>
													<% } %>
												</tbody>
											</table>
										</div>
										<div class="tab-pane fade " id="listt">

											<table class="display table table-bordered table-striped" id="dynamic-tablee">
												<thead>
													<tr>
														<th>#</th>
														<th>N° de historia </th>
														<th>Nombre del Paciente</th>
														<th>Apellido paterno</th>
														<th>Apellido materno</th>
														<th>Hora de Atencion</th>
														<th class="text-center">Modificar</th>
													</tr>
												</thead>
												<tbody>
													<% for(var i=0; i< list_false.length; i++) { %>
													<tr class="gradeX">
														<td><%= i + 1 %></td>
														<td><%=list_false[i].codigo_p %></td>
														<td><%=list_false[i].Paciente.nombre %></td>
														<td><%=list_false[i].Paciente.apellidop %></td>
														<td><%=list_false[i].Paciente.apellidom %></td>
														<td><%=list_false[i].hora.split("/")[0] %></td>
														<td class="text-center">
															<a href="/consulta_externa/reg_consulta/<%=list_false[i].id%>/<%=list_false[i].codigo_p%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Modificar"><i class="fa fa-stethoscope"></i></a>
														</td>																		
													</tr>
													<% } %>
												</tbody>
											</table>
										</div>
									</div>
									<div class="entrada">
										<button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success btn-raised btn-lg"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
									</div>
										<!--/porlets-content-->


								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--====== Scripts -->


	<script src="/js/jquery-2.1.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common-script.js"></script>
	<script src="/js/jquery.slimscroll.min.js"></script>

	<script src="/plugins/data-tables/dynamic_table_init2.js"></script>
	<script src="/plugins/data-tables/jquery.dataTables.js"></script>
	<script src="/plugins/data-tables/DT_bootstrap.js"></script>
	<script src="/plugins/data-tables/dynamic_table_init.js"></script>
	<script src="/plugins/edit-table/edit-table.js"></script>
	<script>
		jQuery(document).ready(function () {
			EditableTable.init();
		});
	</script>

	<script src="/js/jPushMenu.js"></script>
	<script src="/js/side-chats.js"></script>

</body>

</html>