<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Papeleta de Internación</title>
    <meta charset="UTF-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
    <link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
    <link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">

    <link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
    <link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />




    <style>
        div.a {
            text-align: center;
        }

        h1.letras {
            font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

        }
    </style>

</head>

<body class=" light_theme  fixed_header left_nav_fixed" onload="actualizaReloj()">
    <!-- SideBar -->


    <!-- Content page-->
    <div class="wrapper">
        <!--\\\\\\\ wrapper Start \\\\\\-->
        <div class="header_bar">
            <!--\\\\\\\ header Start \\\\\\-->
            <div class="brand">
                <!--\\\\\\\ brand Start \\\\\\-->
                <div class="logo" style="display:block"><span class="theme_color">Hospital</div>

            </div>
            <!--\\\\\\\ brand end \\\\\\-->
            <div class="header_top_bar">
                <!--\\\\\\\ header top bar start \\\\\\-->
                <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
                <div class="top_right_bar">
                    <div class=" dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
                                src="/images/user.png" />  <%=data_doc.data.medico.nombre%> <%=data_doc.data.medico.apellidop%><span class="user_adminname">

                            </span> <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                            <div class="top_pointer"></div>
                            
                            <li> <a href="/login.html"><i class="fa fa-power-off"></i> Cerrar sesión</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--\\\\\\\ header top bar end \\\\\\-->
        </div>
        <div class="inner">
            <!--\\\\\\\ inner start \\\\\\-->
            <div class="left_nav">
                <!--\\\\\\\left_nav start \\\\\\-->
                <div class="left_nav_slidebar">
                    <ul>
                        <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
                            <ul>
                                <li> <a href="/consulta_externa/home/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>">
                                        <span>&nbsp;</span> <i class="fa fa-circle "></i> <b>Inicio</b> </a> </li>
                            </ul>
                        </li>
                        <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Consulta Externa<span class="plus"><i class="fa fa-plus"></i></span></a>
                            <ul class="opened" style="display:block">
                                <li> <a href="/consulta_externa/lista_pacientes/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Listas de Citas</b> </a> 
                                </li>
                            </ul>
                        </li>
                        <%- include("../partials/footerDocotr") -%>
                    </ul>
                </div>
            </div>
            <!--\\\\\\\left_nav end \\\\\\-->
            <div class="contentpanel" id="papeleta">
                <!--\\\\\\\ contentpanel start\\\\\\-->
                <!--\\\\\\\ contentpanel start\\\\\\-->
                <div class="container clear_both padding_fix col-lg-8">
                    <br>
                    <div class="main-content">
                        <div class="  col-xs-12 ">
                            <div class="row">

                                <div class="col-lg-12 block-web">
                                    <div class=" head">
                                        <div class="header">
                                            <div class="info blue_symbols "> 
                                                <i class="fa fa-file-text icon "></i>
                                            </div>
                                            <h2 class="content-header "><span>&nbsp;&nbsp;&nbsp;</span> Papeleta Internación {{msg}}</h2>
                                
                                            <div id="" class="col-md-2">	
                                                <div class=""><br>
                                                    <a href="/medico/volver" class="list-group-item  blue_bg text-center "><i class="fa fa-hand-o-left"></i>    ATRAS</a>	
                                                </div>				
                                            </div>
                                        </div>       
                                    </div>
                                </div><br>
                            <div class="container-fluid">
                                <div class="row ">
                                    <section class="panel default  ">
                                        <div class=" ">
                                            <div class=" col-md-14">
                                                <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                                                    <li class=" col-lg-6 active active  text-center"><a href="#PapeletaInternacion" data-toggle="tab"><i class="fa fa-medkit "></i><span>&nbsp;&nbsp;&nbsp;</span> Papeleta de Internación</a></li>
                                                    <li class="col-lg-6 text-center"><a href="#list" data-toggle="tab"><i class="fa fa-list-alt  "></i><span>&nbsp;&nbsp;&nbsp;</span> Lista de Internación del Paciente</a>
                                                    </li>
                                                </ul>
                                        <% if(msg != null) { %>
                                            <% if(msg.data.success == true) { %>
                                              <span style="color: blue"> <%=msg.data.msg%></span>
                                            <% } else { %>
                                              <span style="color: red"> <%=msg.data.msg%></span>
                                            <% } %>  
                                          <% } %>
                                        <div id="myTabContent" class="tab-content">
                                            <div class="tab-pane fade active in" id="PapeletaInternacion">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <% if(resp == "") { %>

                                                        <form action="/consulta_externa/Pinternacion/<%=one_consulta[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>" method="POST">
                                                            <input type="hidden" name="id_medico" value="<%=data_doc.data.medico.id%>">
                                                            
                                                                 
                                                        <div class="row "> 
                                                            <div class="block-web"> 
                                                                <div class="header">
                                                                    <div class="actions"> 
                                                                    </div>
                                                                        <h3 class="content-header">Orden de Internación</h3>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <section class="panel default blue_title h2">  
                                                                    <div class="col-md-6 panel panel-default">
                                                                        <div class=" panel panel-default">
                                                                            <li href="#ac3-1" data-parent="#accordion3" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Datos Personales</li>            
                                                                        </div>
                                                                        <div style="height: 0px;" id="ac3-1" class="panel-collapse collapse">
                                                                            <div class=""> 
                                                                                                   
                                                                                <div class="col-md-4">
                                                                                    <div class="entrada ">
                                                                                        <label class=" ">N° de Historia:</label><p><b><%=dataPaciente[0].numeroHistorial%></b></p>
                                                                                            <input type="hidden" name="Historial" 
                                                                                                value="<%=dataPaciente[0].numeroHistorial%>"
                                                                                                    class="form-control" readonly=""
                                                                                                    value="Read only text goes here">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-3 ">
                                                                                    <div class="entrada">
                                                                                        <label class=" "> Sexo: </label><p><b><%=dataPaciente[0].sexo%></b></p>
                                                                                        
                                                                                    </div>
                                                                                </div>
                                                                                
                                                                                <div class="col-sm-5 col-sm-9">
                                                                                    <div class="entrada">
                                                                                        <label class="">Fecha de Nacimiento:</label><p><b><%=dataPaciente[0].fechanacimiento%></b></p>
                                                                                       
                                                                                    </div>
                                                                                </div> 
                                                                                <div class="col-md-3">
                                                                                    <div class="entrada">
                                                                                        <label class=" ">CI.:</label><p><b><%=dataPaciente[0].ci%></b></p>
                                                                                        
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-9">
                                                                                    <div class="entrada">
                                                                                        <label class=" ">Nombre Completo:</label><p><b><%=dataPaciente[0].nombre%> <%=dataPaciente[0].apellidop%> <%=dataPaciente[0].apellidom%></b></p>
                                                                                           
                                                                                    </div> 
                                                                                </div>
                                                                                <div class="col-sm-2">
                                                                                    <li href="javascript:void(0);" class="btn btn-info " data-toggle="modal" data-target="#DPaciente"><i class="fa fa-plus-square"></i> <span> Dar mas Información</span> </li>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 panel panel-default">
                                                                           
                                                                        <div class=" panel panel-default">
                                                                            <li href="#ac3-2" data-parent="#accordion" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Datos de la Cita</li>            
                                                                    
                                                                        </div>
                                                                        <div style="height: 0px;" id="ac3-2" class="panel-collapse collapse">
                                                                           
                                                                            <div class="col-sm-6 col-sm-8">
                                                                                <div class="entrada">
                                                                                    <label class="">Especialidad:</label><p><b><%=one_consulta[0].tipoConsulta%></b></p>
                                                                                    <input type="hidden" name="tipoConsulta" value="<%=one_consulta[0].tipoConsulta%>"class="form-control" readonly="" value="Read only text goes here">                                                                
                                                                                </div>
                                                                            </div>                 
                                                                            <div class="col-sm-6 col-sm-12">
                                                                                <div class="entrada">
                                                                                    <label class="">Nombre del Médico:</label><p><b><%=one_consulta[0].Citas_Medica.medico%></b></p>
                                                                                    <input type="hidden" name="nombreDoctor" value="<%=one_consulta[0].Citas_Medica.medico%>" class="form-control" readonly="" value="Read only text goes here" >
                                                                                </div>
                                                                            </div>
                                                                      
                                                                        </div>
                                                                        
                                                                    </div> 
                                                                    </section>          
                                                                </div>
                                                            </div>
                                                        </div>    
                                                                 
                                                        <div class="block-web">
                                                            <div class="header">
                                                                    <div class="actions"> <a class="minimize"
                                                                            href="#"><i
                                                                                class="fa fa-chevron-down"></i></a> <a
                                                                            class="close-down" href="#"><i
                                                                                class="fa fa-times"></i></a>
                                                                    </div>
                                                                    <h3 class="content-header">Estado del Paciente</h3>
                                                                </div>

                                                                <div class="form-group">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="col-sm-6 col-sm-6">
                                                                                <div class="entrada">Area de
                                                                                    Internacion:<br>
                                                                                    <select name="especialidad">
                                                                                        <% for(var i=0; i< especialidad.length; i++) {%>
                                                                                        <option>
                                                                                            <%=especialidad[i].nombre%>
                                                                                        </option>
                                                                                        <% } %>
                                                                                    </select><br>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6 col-sm-6">
                                                                                <div class="entrada ">
                                                                                    <div class="entrada">Fecha de Orden
                                                                                        <div  id="tab1default"><textarea  name="fechaIngresoo" id="Fecha_Reloj" class="form-control" readonly=""  cols="23" rows="1,9px" ></textarea></div>                                                
                                                                                        <input class="form-control" type="date"  name="fechaIngreso" require value="" ><br>

                                                                                        
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <h5>Estado del paciente</h5>
                                                                            <div class="col-sm-4 col-sm-4">

                                                                                <div class="entrada"> Diagnostico<br>
                                                                                    <textarea name="diagnostico" cols="100" rows="10"></textarea><br>
                                                                                </div>
                                                                            </div>


                                                                        </div>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                        
                                                            <!--   lado derecho-->


                                                            <p class="modal-footer">
                                                                <button type="reset" class="btn btn-info"  style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                                                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> &nbsp;&nbsp; Guardar</button>
                                                                <button type="submit" class="btn btn-warning"><i class="fa fa-print"></i> &nbsp;&nbsp; Imprimir</button>
                                                            </p>
                                                        </form>
                                                    
                                                        <% } else { %>
                                                        <form action="/consulta_externa/updateInternacion/<%=resp[0].id%>/<%=one_consulta[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>" method="POST">
                                                           
                                                            <div class="block-web">
                                                                <div class="header">
                                                                    <div class="actions">
                                                                        
                                                                    </div>
                                                                    
                                                                    <h3 class="">Orden de Internación <span class="semi-bold">/Actualizar</span></h3>
                                                                </div>
                                                                <div class="">
                                                                    <div class="form-group">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <section class="panel default blue_title h2">  
                                                                                    <div class="col-md-6 panel panel-default">
                                                                                        <div class=" panel panel-default">
                                                                                            <li href="#ac3-1" data-parent="#accordion3" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Datos Personales</li>            
                                                                                        </div>
                                                                                        <div style="height: 0px;" id="ac3-1" class="panel-collapse collapse">
                                                                                            <div class=""> 
                                                                                                                       
                                                                                                <div class="col-md-4">
                                                                                                    <div class="entrada ">
                                                                                                        <label class=" ">N° de Historia:</label><p><b><%=dataPaciente[0].numeroHistorial%></b></p>
                                                                                                            <input type="hidden" name="Historial" 
                                                                                                                value="<%=dataPaciente[0].numeroHistorial%>"
                                                                                                                    class="form-control" readonly=""
                                                                                                                    value="Read only text goes here">
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-sm-3 ">
                                                                                                    <div class="entrada">
                                                                                                        <label class=" "> Sexo: </label><p><b><%=dataPaciente[0].sexo%></b></p>
                                                                                                        
                                                                                                    </div>
                                                                                                </div>
                                                                                                    
                                                                                                <div class="col-sm-5 col-sm-9">
                                                                                                    <div class="entrada">
                                                                                                        <label class="">Fecha de Nacimiento:</label><p><b><%=dataPaciente[0].fechanacimiento%></b></p>
                                                                                                       
                                                                                                    </div>
                                                                                                </div> 
                                                                                                <div class="col-md-3">
                                                                                                    <div class="entrada">
                                                                                                        <label class=" ">CI.:</label><p><b><%=dataPaciente[0].ci%></b></p>
                                                                                                       
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-sm-9">
                                                                                                    <div class="entrada">
                                                                                                        <label class=" ">Nombre Completo:</label><p><b><%=dataPaciente[0].nombre%> <%=dataPaciente[0].apellidop%> <%=dataPaciente[0].apellidom%></b></p>
                                                                                                            
                                                                                                    </div> 
                                                                                                </div>
                                                                                                <div class="col-sm-2">
                                                                                                    <li href="javascript:void(0);" class="btn btn-info " data-toggle="modal" data-target="#DPaciente"><i class="fa fa-plus-square"></i> <span> Dar mas Información</span> </li>
                                                                                                </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-md-6 panel panel-default">
                                                                                               
                                                                                            <div class=" panel panel-default">
                                                                                                <li href="#ac3-2" data-parent="#accordion" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Datos de la Cita</li>            
                                                                                        
                                                                                            </div>
                                                                                            <div style="height: 0px;" id="ac3-2" class="panel-collapse collapse">
                                                                                               
                                                                                                <div class="col-sm-6 col-sm-8">
                                                                                                    <div class="entrada">
                                                                                                        <label class="">Especialidad:</label><p><b><%=one_consulta[0].tipoConsulta%></b></p>
                                                                                                        <input type="hidden" name="tipoConsulta" value="<%=one_consulta[0].tipoConsulta%>"class="form-control" readonly="" value="Read only text goes here">                                                                
                                                                                                    </div>
                                                                                                </div>                 
                                                                                                <div class="col-sm-6 col-sm-12">
                                                                                                    <div class="entrada">
                                                                                                        <label class="">Nombre del Médico:</label><p><b><%=one_consulta[0].Citas_Medica.medico%></b></p>
                                                                                                        
                                                                                                    </div>
                                                                                                </div>
                                                                                          
                                                                                            </div>
                                                                                            
                                                                                        </div> 
                                                                                </section>          
                                                                            </div>
                                                                       </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="block-web">
                                                                <div class="header">
                                                                    <div class="actions"> 
                                                                    </div>
                                                                    <h3 class="content-header">Estado del Paciente</h3>
                                                                </div>
                                                                <div class="form-group">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="col-sm-6 col-sm-6">
                                                                                <div class="entrada "> Area de Internación
                                                                                    <select class="form-control"
                                                                                        name="especialidad">
                                                                                        <option>
                                                                                            <%=resp[0].especialidad%>
                                                                                        </option>
                                                                                        <option>------------------------
                                                                                        </option>
                                                                                        <% for(var i=0; i< especialidad.length; i++) {%>
                                                                                        <option>
                                                                                            <%=especialidad[i].nombre%>
                                                                                        </option>
                                                                                        <% } %>
                                                                                    </select>

                                                                                </div>
                                                                            </div>
                                                                            <div class="col-sm-6 col-sm-6">
                                                                                <div class="entrada ">
                                                                                    <div class="entrada">Fecha de Ingreso
                                                                                        <input class="form-control" type="date"  name="fechaIngreso" require value="<%=resp[0].fechaIngreso%>" ><br>

                                                                                                
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <h5>Estado del paciente</h5>
                                                                            <div class="col-sm-4 col-sm-4">

                                                                                <div class="entrada"> Diagnóstico<br>
                                                                                    <textarea name="diagnostico"
                                                                                        cols="100"
                                                                                        rows="10"><%=resp[0].diagnostico%></textarea><br>
                                                                                </div>
                                                                            </div>


                                                                        </div>
                                                                    </div>
                                                                </div>
                                                               
                                                            </div>
                                                            <%if(resp[0].estado_update == true) { %>
                                                                <p class="modal-footer">
                                                                    <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                                                    <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp;  Actualizar</button>
                                                                    <button type="submit" class="btn btn-warning"><i  class="fa fa-print"></i> &nbsp;&nbsp;  Imprimir</button>
                                                                </p>
                                                            <% } %>
                                                        </form>
                                                        <% } %>
                                                        <div class="container-fluid">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <ul class="nav nav-tabs" style="margin-bottom: 15px;">

                                                                        <li class="active"><a href="#ListPaciente" data-toggle="tab"><i class="zmdi zmdi-assignment"></i>  Datos generales</a></li>
                                                                        <li class="active"><a href="#ListPaciente" data-toggle="tab"><i class="zmdi zmdi-assignment"></i> Antecendentes Personales</a></li>
                                                                        <li class="active"><a href="#ListPaciente" data-toggle="tab"><i class="zmdi zmdi-assignment"></i> Antecentes Famliares</a></li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            
                                            <div class="tab-pane fade" id="list">
                                                <div id="correo">
                                                    
                                                    <div class="entrada">Buscar <i class="zmdi zmdi-search"></i><br>
                                                        <input type="text" id="searchInput" placeholder="Buscar.."><br>
                                                    </div>
                                                </div>
                                                <div class="table-responsive">
                                                    <div class="table-wrapper">
                                                        <table class="display table table-bordered table-striped"
                                                            id="dynamic-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Nombre</th>
                                                                   
                                                                    <th>Historial</th>
                                                                    <th>Nombre del doctor</th>
                                                                    <th>Area de Internacion</th>
                                                                    <th>De:</th>
                                                                    <th>Ver</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <%for( var i = 0; i < list_p.length; i++ ) { %>
                                                                    <tr>
                                                                        <td><%=i+1%></td>
                                                                        <td @click="one_papeleta(<%=list_p[i].id%>)" href="javascript:void(0);" data-toggle="modal" data-target="#alergias"><%=dataPaciente[0].nombre%> <%=dataPaciente[0].apellidop%> <%=dataPaciente[0].apellidom%></td>
                                                                        
                                                                        <td @click="one_papeleta(<%=list_p[i].id%>)" href="javascript:void(0);" data-toggle="modal" data-target="#alergias"><%=list_p[i].Historial%></td>
                                                                        <td @click="one_papeleta(<%=list_p[i].id%>)" href="javascript:void(0);" data-toggle="modal" data-target="#alergias"><%=list_p[i].nombreDoctor%></td>
                                                                        <td @click="one_papeleta(<%=list_p[i].id%>)" href="javascript:void(0);" data-toggle="modal" data-target="#alergias"><%=list_p[i].especialidad%></td>
                                                                        <td @click="one_papeleta(<%=list_p[i].id%>)" href="javascript:void(0);" data-toggle="modal" data-target="#alergias"><%=list_p[i].tipoConsulta%></td>
                                                                        <td @click="one_papeleta(<%=list_p[i].id%>)" href="javascript:void(0);" data-toggle="modal" data-target="#alergias">Ver</td>
                                                                    </tr>
                                                                <% } %>                                                               
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>

                                        </div>
                                    </section>
                                </div>
                                    
                            </div>
                       
                        <!--====== Scripts -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal alergias -->
                <div class="modal fade" id="alergias" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="myModalLabel">Detalles de la Receta</h4>
                        </div>
                        <div>
                            <div class="">
                                <div id="main-content">
                                    <div class="">			
                                        
                                        <div id="myTabContent" class="tab-content">
                                              <div class="tab-pane fade active in " id="neww">
                                                <div class="col-md-12">
                                                    <div class="">
                                                        <div class=" ">
                                                            <p></p>
                                                            <span style="color: rgb(48, 46, 160)"> N° de Historial:</span>  {{one_p.Historial}}  <br>
                                                            <span style="color: rgb(48, 46, 160)"> Nombre Completo:</span> <%=dataPaciente[0].nombre%> <%=dataPaciente[0].apellidop%> <%=dataPaciente[0].apellidom%> <br>
                                                            <span style="color: rgb(48, 46, 160)"> Fecha de la Orden: </span>  {{one_p.fechaIngreso}} <br><br>
                                                            <span style="color: rgb(48, 46, 160)"> Nombre del Médico:</span>  {{one_p.nombreDoctor}} <br>
                                                            <span style="color: rgb(48, 46, 160)"> Area de Internación:</span> {{one_p.especialidad}}<br>
                                                            <span style="color: rgb(48, 46, 160)"> Diagnostico: </span>  {{one_p.diagnostico}} <br>
                                                        
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            
                                        </div>
                                                          <!--/porlets-content-->
                                                  </div>
                                              </div>
                                  </div>
                                
                              </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--====== Scripts -->
    <%- include("../partials/scripts") -%>
    <script src="/moment/moment.js"></script>
	<script src="/moment/locale/af.js"></script>
    <script src="/url/export.js"></script>
    <script>
        const papeleta = new Vue({
            el: '#papeleta', 
            data : () => ({
                url:data_url.url_front_end,
                msg:'aljand',
                one_p:''
            }),
            methods:{
                one_papeleta(id_p){

                    fetch(this.url+'/consulta_externa/VUE_One_p/'+id_p)
                    .then(res => res.json())
                    .catch(error => console.error('Error:', error))
                    .then(data => { 
                        this.one_p = data[0]
                        console.log(this.one_p)
                    })
                }
            }
        })
    </script>
    
</body>

</html>