<!DOCTYPE html>
<html lang="es">

<head >
		<link rel="stylesheet" type="text/css" href="/css/imprimirR.css" media="print" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title id="ocultoI">RECETA MEDICA</title>
	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/animate.css" rel="stylesheet" type="text/css" />
	<link href="/css/admin.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">

	<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
	<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />




	<style>
		div.a {
			text-align: center;
		}
		h1.letras {
			font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;
		}
		#scroll{
			position:absolute;
    	    border:1px solid;
    	    height:150px;
    	    width:315px;
    	    overflow-y:scroll;
    	    overflow-x:hidden;
    	}
	</style>
	<%- include("../partials/head") -%>
</head>

<body class=" light_theme  fixed_header left_nav_fixed " onload="actualizaReloj()">
	<!-- SideBar -->

	<!-- Content page-->
	<div class="wrapper ">
		<!--\\\\\\\ wrapper Start \\\\\\-->
		<div id="ocultoI" class="header_bar" >
			<!--\\\\\\\ header Start \\\\\\-->
			<div class="brand">
				<!--\\\\\\\ brand Start \\\\\\-->
				<div class="logo" style="display:block"><span class="theme_color">Hospital</div>
			</div>
			<!--\\\\\\\ brand end \\\\\\-->
			<div class="header_top_bar">
				<!--\\\\\\\ header top bar start \\\\\\-->
				<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

				<div class="top_right_bar">

					<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
								src="/images/user.png" /><span class="user_adminname"><%=data_doc.data.medico.nombre%> <%=data_doc.data.medico.apellidop%></span> <b
								class="caret"></b> </a>
						<ul class="dropdown-menu">
							<div class="top_pointer"></div>
							
							<li> <a href="/login.html"><i class="fa fa-power-off"></i> Cerrar sesión</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<!--\\\\\\\ header top bar end \\\\\\-->
		</div>
		<div class="inner "id="" >
			<!--\\\\\\\ inner start \\\\\\-->
			<div id="ocultoI" class="left_nav">
				<!--\\\\\\\left_nav start \\\\\\-->
				<div class="left_nav_slidebar">
					<ul>
						<li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul>
								<li> <a href="/consulta_externa/home/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b>Inicio</b> </a> </li>
							</ul>
						</li>
						<li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Consulta Externa<span class="plus"><i class="fa fa-plus"></i></span></a>
							<ul class="opened" style="display:block">
								<li> <a href="/consulta_externa/lista_pacientes/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Listas de Citas</b> </a> </li>
							</ul>
						</li>
						<%- include("../partials/footerDocotr") -%>
					</ul>
				</div>
			</div>
			<!--\\\\\\\left_nav end \\\\\\-->
			<div id="sinMargen" class="contentpanel ">
				<!--\\\\\\\ contentpanel start\\\\\\-->
				<div id="" class="container clear_both padding_fix col-lg-8 centerTodo">
					<br>
					<div id="" class="main-content his2">
						<div  id="margendiv" class="  col-xs-12 " >
							<div  class="col-lg-12 block-web"> 
								<!-- Content page -->
								<div id="" class="head his2 ">
									<div id="" class="actions">
											<div  id="tab1default"><p  name="fechaConsulta" id="Fecha_Reloj" class="form-control" readonly=""  cols="23" rows="1,9px" ></p></div>   
										<a id="ocultoI" href="/medico/volver" class="list-group-item  blue_bg text-center "><i class="fa fa-reply"></i> ATRAS</a>	
									</div>
									<p class="texTitulo2 "></p>
									<div class="header">
										<div id="ocultoI"class="info blue_symbols "> <i class="fa fa-file-text icon"></i></div>
										
										
										<h2 id="ocultoI" class="content-header"><span>&nbsp;&nbsp;&nbsp;</span> Recetas</h2>
										
									</div>
									<p class="texTitulo3 "></p>
									
								</div>	
							</div>
							<h5 class="texTitulo1 text-center"></h5>
							<div class="main-content his2" id="recetas">
								
								<section class="panel default  h2 nom"id="">
									<div class="page-content ">
										<ul id="ocultoI" class="nav nav-tabs" style="margin-bottom: 15px;">
											<li class=" col-lg-6 active active  text-center"><a href="#new" data-toggle="tab"><i class="fa fa-medkit"></i> Receta</a></li>
											<li class="col-lg-6 text-center"><a href="#list" data-toggle="tab"><i class="fa fa-list-alt "></i> Lita de Recetas del Paciente</a></li>
										</ul>
										<div id="myTabContent" class="tab-content">
											<div class="tab-pane fade active in clear" id="new">
												<input type="hidden" :value="id_consulta = '<%=ConsultaOnly[0].id%>'">
												<input type="hidden" :value="data_receta.id_medico = '<%=data_doc.data.medico.id%>'">	
												<!-- 
												 -->
												<div id=""class="block-web nom">
													<div id="ocultoI" class="header">
														<div class="actions"> 
															                                             
														</div>
														<h3 class="content-header"></h3>
														<span style="color: red;">{{data_msg.msg_false}}</span>
														<span style="color: blue;">{{data_msg.msg_true}}</span>
																   
													</div>
													<div id="" class="row nom1">
														<div id=""class="col-md-12 nom1">
															<section id="" class="panel default blue_title h2 nom1">
																<div class="col-md-6 panel panel-defaulth his">
																	<!-- 
																		<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																		<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																										Datos personales del paciente
																		<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																		<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																	 -->
																	<div id="ocultoI" class=" panel panel-default">
																		<li href="#ac3-1" data-parent="#accordion3" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Datos Personales</li>            
																	</div>
																	<div style="height: 0px;" id="ac3-1" class="panel-collapse collapse in">
																		<div id=""class="col-md-12 row">
																			<div id=""class="col-md-5 his">
																				<div class="">
																					<label class=" ">N° de Historia:</label><p><b><%=paciente_Data[0].numeroHistorial%></b></p>
																					<input class="form-control" type="hidden" name="numeroHistorial"  v-model="data_receta.historiaClinica = '<%=paciente_Data[0].numeroHistorial%>'"  readonly=""  value="Read only text goes here">
																				</div>
																					 
																				<div class=" ">
																					<label class=" "> Sexo: </label><p><b><%=paciente_Data[0].sexo%></b></p>
																					<input type="hidden" name="sexo" value="<%=paciente_Data[0].sexo%>" class="form-control" readonly="" value="Read only text goes here">
																				</div>	
																			</div>
																			<div id="" class="col-md-6 his">
																				
																				<label class=" ">Nombre Completo:</label><p><b><%=paciente_Data[0].nombre%> <%=paciente_Data[0].apellidop%> <%=paciente_Data[0].apellidom%></b></p>
																				<input type="hidden" name="nombre apellidop apellidom" 
																					value="<%=paciente_Data[0].nombre%> <%=paciente_Data[0].apellidop%> <%=paciente_Data[0].apellidom%>"
																					class="form-control " readonly="">
																				<div class=" ">
																					<label class="">Fecha de Nacimiento:</label><p><b><%=paciente_Data[0].fechanacimiento%></b></p>
																					<input  type="hidden" name="fechanacimiento"  value="<%=paciente_Data[0].fechanacimiento%>" class="form-control clear" readonly="" value="Read only text goes here">
																				</div>
																				
																			</div>
																		</div>
				

																		
																	</div>																				
																</div>
																<!-- 
																	<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																	<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																										Datos de la cita
																	<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																	<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<																				
																 -->
																 <div class="col-md-6 panel panel-default his">
																	<div id="ocultoI"class=" panel panel-default">
																		<li href="#ac3-2" data-parent="#accordion" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Datos de la Cita</li>            
																	</div>
																	<div style="height: 0px;" id="ac3-2" class="panel-collapse collapse in <">
																		<div class="col-md-12 row his">
																			<div class="col-md-6 ">
																				<div class="">
																					<label class="">Profecional Médico:</label><p><b><%=ConsultaOnly[0].Citas_Medica.medico%></b></p>
																					<input type="hidden" :value="data_receta.doctor = '<%=ConsultaOnly[0].Citas_Medica.medico%>'">
																				</div>
																				
																			</div>
																			<div class="col-md-6">
																				<div class="">
																					<label class="">Especialidad:</label><p><b><%=ConsultaOnly[0].tipoConsulta%></b></p>
																					<input type="hidden" name="tipoConsulta" :value="data_receta.tipoConsulta = '<%=ConsultaOnly[0].tipoConsulta%>'">                                                                
																				</div>
																			</div> 
																		</div>
																			<div class="col-md-6 fech ">
																				<div class="">
																					<label class=" ">Fecha Prescripción:</label>
																					<input class="form-control" type="text" readonly required v-model="data_receta.fecha" require >
																				</div>
																			</div>
																		
																	</div>
																 </div>
															</section>
														</div>
													</div>
												</div>											
												<!-- 
													<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
													<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																				PRIMERA PARTE
													<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
													<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
												 -->
												<template v-if="One_receta == ''">
													<form @submit="post_recetas" method="POST">
														<div class="col-md-12 ">
															

															<div class="">
																<!--  
																   <<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>»
																   <<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>» 
																			   lista de medicamentos para el paciente 
																   <<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>» 
																   <<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>» 																   
																-->
																<div class="form-group">
																	<div class="row" >
																	   <div class="col-md-12">
																		   <div class="block-web">
																			   <div id="ocultoI"class="header">
																				   <div  class="actions"> 
																					   <a @click="insertar()" class="list-group-item  blue_bg text-center "><i class="fa fa-folder-open"></i> Insertar</a>
																				   </div><br>                                                          
																				   <h3 class="content-header">Lista de Medicamentos  </h3>
																			   </div>
																			   <div class="col-md-12 row"><br>  
																				   <!-- <div class="col-sm-3 col-sm-6">
																					   <div class="entrada">
																						   <h6 class=" ">Medicamento:</h6>
																						   <select class="form-control" v-model="lista.medicamento">
																							   <template v-for="(list, index) in dataReceta">
																								   <option>{{list.nombre}}</option>
																							   </template>	
																						   </select>
																					   </div>
																				   </div> -->
																				   <div id="ocultoI" class="col-sm-3 col-sm-6">
																					   <ul class="list-group">
																						   	<div class="entrada">
																								<h6 class="">Medicamento:</h6>
																								<input type="text" placeholder="Buscar"  class="form-control" v-model="lista.medicamento"  @mouseover="ocultar = true"> <!-- @mouseleave="ocultar = false" -->                                          
																						   	</div>
																						   	<div id="scroll"  v-if="ocultar" @mouseleave="ocultar = false">
																								<li  class="list-group-item" v-for="(list, index) in buscar_medicamentos">	
																									<a @click="name_insert(list.nombre)" >{{list.nombre}}</a>
																								</li>			
																						   	</div>
		
																					   </ul>
																				   </div>
																				   
																				   <div id="ocultoI" class="col-sm-2 col-sm-6">
																					   <div class="entrada">
																						   <h6 class="">Dosis:</h6>
																						   <input type="text"  class="form-control" v-model="lista.dosis">                                           
																					   </div>
																				   </div>
																					<div id="ocultoI" class="col-sm-3 col-sm-6">
																					   <div class="entrada">
																						   <h6 class="">Via de Administración: </h6>
																							  <input class="form-control"  v-model="lista.frecuencia">                                                  
																					   </div>
																				   </div>
																				   <div id="ocultoI" class="col-sm-2 col-sm-6">
																					   <div class="entrada">
																						   <h6 class="">Duracion: </h6>
																						   <input class="form-control" v-model="lista.duracion">                                                           
																					   </div>
																				   </div>
																				   
																				   <div id="ocultoI" class="col-sm-2 col-sm-6">
																					   <div class="entrada">
																						   <h6 class="">  Cantidad: </h6>
																						   <input type="number" class="form-control" v-model="lista.cantidad">                                                           
																					   </div>
																				   </div>
																				   <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																								   lista de medicamentos
																				   >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
																				   <div class=""> 
																					   <section class="panel default blue_title h2">
																				   
																							  <div class="">
																					   
																							   <table class="table table-hover">
																								   <thead>
																										 <tr>
																										   <th>#</th>
																										   <th>Medicamento</th>
																										   <th>Dosis</th>
																										   <th>Frecuencia</th>
																										   <th>Duracion</th>
																										   <th>Cantidad</th>
																										   <th class="ocultartabla">Quitar</th>
																									   </tr>
																								   </thead>
																								   <tbody v-for="(list, index) in medicamentos">
																									   <tr>
																										   <td>{{index + 1 }}</td>
																										   <td>{{list.medicamento}}</td>
																										   <td>{{list.dosis}}</td>
																										   <td>{{list.frecuencia}}</td>
																										   <td>{{list.duracion}}</td>
																										   <td>{{list.cantidad}}</td>
																											   <td class="ocultartabla"><a @click="eliminar(index)">eliminar</a></td>
																										  </tr>                                                                                 
																								   </tbody>
																							   </table>
																						   </div>
																					   </section>
																					  </div>
																			   </div>
																		   </div>
																	   </div>
																	</div>
															   
																</div>
															</div>

														</div>
														
														<div class="col-md-12 page-content ">
															<div class="col-md-8 ">
															 <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class=" fa fa-bars"></i> &nbsp;&nbsp; Limpiar</button>
															 <button href="javascript:void(0);" data-toggle="modal" data-target="#Alerta" type="submit" class="btn btn-success"><i class="fa fa-save"></i> &nbsp;&nbsp; Guardar</button>
															</div>
													 	</div>
													</form>
												</template>

												<template v-else>
													<span style="color: red;">{{data_msg.msg_false}}</span>
													<span style="color: blue;">{{data_msg.msg_true}}</span>
													<form @submit="update_recedta" method="POST">
														<!-- 
															<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
														 -->
														<div class="block-web">
															<div id="ocultoI" class="header">
																<div class="actions"> 
																	<a @click="insertar_update" class="list-group-item  blue_bg text-center "><i class="fa fa-folder-open"></i> Insertar</a>
																</div><br>
																<h3 class="content-header">Receta</h3>
															</div>										
														</div>

														<!-- 
															<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
														 -->
														 <div class="col-md-12 tablaI">
															<div class="">

																<div id="ocultoI" class="col-sm-2 col-sm-6">
																	<ul class="list-group">
																		<div class="entrada">
																			<h6 class="">Medicamento:</h6>
																			<input type="text" placeholder="Buscar"  class="form-control" v-model="lista.medicamento"  @mouseover="ocultar = true">                                          
																		</div>
																		<div id="scroll"  v-if="ocultar" @mouseleave="ocultar = false">
																			<li  class="list-group-item" v-for="(list, index) in buscar_medicamentos">
																			
																				<a @click="name_insert(list.nombre)" >{{list.nombre}}</a>
																			</li>			
																		</div>
																	
																	</ul>
																</div>

																<div id="ocultoI" class="col-sm-2 col-sm-6">
																	<div class="entrada">
																		<h6 class=" blue_info">Dosis:</h6>
																		<input type="text"  class="form-control" v-model="lista.dosis">                                           
																	</div>
																</div>
																<div id="ocultoI" class="col-sm-3 col-sm-6">
																	<div class="entrada">
																		<h6 class=" blue_info">Via de Administración:</h6>
																		<input class="form-control"  v-model="lista.frecuencia">                                                  
																	</div>
																</div>
																<div id="ocultoI" class="col-sm-3 col-sm-6">
																	<div class="entrada">
																		<h6 class=" blue_info">Duracion: </h6>
																		<input class="form-control" v-model="lista.duracion">                                                           
																	</div>
																</div>
																<div id="ocultoI" class="col-sm-2 col-sm-6">
																	<div class="entrada">
																		<h6 class=" blue_info">Cantidad: </h6>
																		<input type="number" class="form-control" v-model="lista.cantidad">   																					                                                    
																	</div>
																</div>
																<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																					lista de medicamentos
																>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->

																<div class="col-lg-12 tablaI"> 
																	<section class="panel default blue_title h2">																			
																		<div class="panel-body">
																		
																			  <table class="table table-hover">
																				<thead>
																					<tr>
																						<th>#</th>
																						<th>Medicamento</th>
																						<th>Dosis</th>
																						<th>Frecuencia</th>
																						<th>Duracion</th>
																						<th>Cantidad</th>
																						<th id="ocultoI">Quitar</th>
																					</tr>
																				</thead>
																				<tbody v-for="(list, index) in One_receta.medicamentos">
																					<tr>
																						<td>{{index + 1 }}</td>
																						<td>{{list.medicamento}}</td>
																						<td>{{list.dosis}}</td>
																						<td>{{list.frecuencia}}</td>
																						<td>{{list.duracion}}</td>
																						<td>{{list.cantidad}}</td>
																						<td id="ocultoI"><a @click="eliminar_update(index)">eliminar</a></td>
																					</tr> 

																				</tbody>
																			  </table>
																			
																		</div>
																	</section>
																</div><p>
																
																
																
															</div>
															
																
														</div>
														<p class="firmaPa center cafirmaP"></p>
																<p class="firmaDoc center cafirmaDoc"></p></p>
														<div id="ocultoI" class="col-md-12"><br>
															<template v-if="One_receta.estado == false">														
																<button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
																<button href="javascript:void(0);" data-toggle="modal" data-target="#Alerta" type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp;  Actualizar</button>
															</template>
															<a onclick="window.print();" class="btn btn-warning btn-raised" style="margin-right: 20px;"> <i class='fa fa-print'></i>&nbsp;&nbsp; Imprimir</a> 
																<a href="/paciente/imprimirRecetas" class="btn btn-warning btn-raised" style="margin-right: 20px;"> <i class='fa fa-print'></i>&nbsp;&nbsp; Imprimir</a> 
														</div>
													</form>
												</template>
	
											</div>																					
											<div class="tab-pane fade" id="list"><br>
												<div class="table-responsive"><br>
													<table class="display table table-bordered table-striped"id="dynamic-tablee">
														<thead>
															<tr>															
																<th>#</th>
																<th>De:</th>
																<th>N° Historia</th>
																
																<th>Fecha</th>
																<th>Doctor</th>
																<th class="text-center" WIDTH="20%">Modificar</th>
															</tr>
														</thead>
														<tbody>															
															<%for(var i = 0; i < List_recetas.length; i++) { %>
																<tr>
																	<td><%=i+1%></td>
																	<td  @click="one_receta_id(<%=List_recetas[i].id%>)" href="javascript:void(0);" data-toggle="modal" data-target="#alergias"> <%=List_recetas[i].tipoConsulta%></td>
																	<td  @click="one_receta_id(<%=List_recetas[i].id%>)" href="javascript:void(0);" data-toggle="modal" data-target="#alergias" ><%=List_recetas[i].historiaClinica%></td>
																	<td  @click="one_receta_id(<%=List_recetas[i].id%>)" href="javascript:void(0);" data-toggle="modal" data-target="#alergias"><%=List_recetas[i].fecha%></td>
																	<td  @click="one_receta_id(<%=List_recetas[i].id%>)" href="javascript:void(0);" data-toggle="modal" data-target="#alergias"><%=List_recetas[i].doctor%></td>
																	
																	<td @click="one_receta_id(<%=List_recetas[i].id%>)" href="javascript:void(0);" data-toggle="modal" data-target="#alergias"><a >ver</a></td>
																</tr> 
															<% } %>															
														</tbody>
													</table>
													<ul class="pagination pagination-sm">
														<li class="disabled"><a href="#!">«</a></li>
														<li class="active"><a href="#!">1</a></li>
														<li><a href="#!">2</a></li>
														<li><a href="#!">3</a></li>
														<li><a href="#!">4</a></li>
														<li><a href="#!">5</a></li>
														<li><a href="#!">»</a></li>
													</ul>
												</div>
											</div>
										</div><br>
									</div>
								</section>
								<!--<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
								>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><-->
								<div class="modal fade" id="Alerta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
									  <div class="modal-content">
										<div class="modal-header">
										  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										</div>
										<div class="modal-body"> 
												<span style="color: red;">{{data_msg.msg_false}}</span>
												<span style="color: blue;">{{data_msg.msg_true}}</span> 
										</div>
										<div class="modal-footer">
										  <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
										</div>
									  </div>
									</div>
							</div> 


								<!-- Modal alergias -->
								<div class="modal fade" id="alergias" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
											  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
											  <h4 class="modal-title" id="myModalLabel">Detalles de la Receta</h4>
										</div>
										<div>
											<div class="">
												<div id="main-content">
													<div class="">			
														
														<div id="myTabContent" class="tab-content">
															<div class="tab-pane fade active in " id="neww">
																<div class="col-md-12">
																	<div class="">
																		<div class=" ">
																			<p></p>
																			<span></span>
																			<span style="color: rgb(21, 21, 149)">N° de Historial:  </span> {{receta_id.historiaClinica}}<br>
																			<span style="color: rgb(21, 21, 149)">Nombre Completo:</span>  <%=paciente_Data[0].nombre%> <%=paciente_Data[0].apellidop%> <%=paciente_Data[0].apellidom%><br>
																			<span style="color: rgb(21, 21, 149)">Fecha de la Receta:</span>  {{receta_id.fecha}} <br>
																			<span style="color: rgb(21, 21, 149)"> Nombre del Médico:</span> {{receta_id.doctor}}<br>
																			<span style="color: rgb(21, 21, 149)">Especialidad:</span>  {{receta_id.tipoConsulta}}<br>
																			<span style="color: rgb(21, 21, 149)">Medicamento:</span>
																			<div class="col-lg-12"> 
																				<section class="panel default blue_title h2">

																					<div class="panel-body">

																					  <table class="table table-hover">
																						<thead>
																						  	<tr>
																								<th>#</th>
																								<th>Medicamento</th>
																								<th>Dosis</th>
																								<th>Frecuencia</th>
																								<th>Duracion</th>
																								<th>Cantidad</th>																						
																						  	</tr>
																						</thead>
																						<tbody v-for="(list, index) in receta_id.medicamentos">
																						  	<tr>
																								<td>{{index + 1 }}</td>
																								<td>{{list.medicamento}}</td>
																								<td>{{list.dosis}}</td>
																								<td>{{list.frecuencia}}</td>
																								<td>{{list.duracion}}</td>
																								<td>{{list.cantidad}}</td>
																						  	</tr> 																				  
																						</tbody>
																					  </table>
																				  
																					</div>
																				</section>
																			</div>
																		</div>
																	</div>
																	
																</div>
															</div>
														</div>
														
													</div>
												</div>
									  
											</div>
											<div class="modal-footer">
											  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											 
											</div>
									  
										</div>
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>	
				</div>	
	
			</div>
		
		</div>
		
	</div>	

	<!--====== Scripts -->
	
	<script>
		function mayus(e) {
		e.value = e.value.toUpperCase();
		}
	</script>
	<script src="/js/fecha.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>   <!-- vue cdn -->
	<script src="/js/jquery-2.1.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common-script.js"></script>
	<script src="/js/jquery.slimscroll.min.js"></script>
	<script src="/plugins/data-tables/dynamic_table_init2.js"></script>
	<script src="/plugins/data-tables/jquery.dataTables.js"></script>
	<script src="/plugins/data-tables/DT_bootstrap.js"></script>
	<script src="/plugins/data-tables/dynamic_table_init.js"></script>
	<script src="/plugins/edit-table/edit-table.js"></script>
	<script>
		jQuery(document).ready(function () {
			EditableTable.init();
		});
	</script>
	<script src="/moment/moment.js"></script>
	<script src="/moment/locale/af.js"></script>
	<script src="/url/export.js"></script>
	<script src="/js/jPushMenu.js"></script>
    <script src="/js/side-chats.js"></script>
    <script src="/js/vue/receta.js"></script>
</body>

</html>