<!DOCTYPE html>
<html lang="es">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Recetas</title>
	<meta charset="UTF-8">
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

	<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/animate.css" rel="stylesheet" type="text/css" />
	<link href="/css/admin.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
	<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">

	<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
	<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
	<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
	<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />




	<style>
		div.a {
			text-align: center;
		}

		h1.letras {
			font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

		}
	</style>
	<%- include("../partials/head") -%>
</head>

<body class=" light_theme  fixed_header left_nav_fixed" onload="actualizaReloj()">
	<!-- SideBar -->

	<!-- Content page-->
	<div class="wrapper">
		<!--\\\\\\\ wrapper Start \\\\\\-->
		<div class="header_bar">
			<!--\\\\\\\ header Start \\\\\\-->
			<div class="brand">
				<!--\\\\\\\ brand Start \\\\\\-->
				<div class="logo" style="display:block"><span class="theme_color">Hospital</div>
			</div>
			<!--\\\\\\\ brand end \\\\\\-->
			<div class="header_top_bar">
				<!--\\\\\\\ header top bar start \\\\\\-->
				<a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

				<div class="top_right_bar">

					<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
								src="/images/user.png" /><span class="user_adminname"><%=data_doc.data.medico.nombre%> <%=data_doc.data.medico.apellidop%></span> <b
								class="caret"></b> </a>
						<ul class="dropdown-menu">
							<div class="top_pointer"></div>
							
							<li> <a href="/login.html"><i class="fa fa-power-off"></i> Cerrar sesión</a> </li>
						</ul>
					</div>
				</div>
			</div>
			<!--\\\\\\\ header top bar end \\\\\\-->
		</div>
		<div class="inner">
			<!--\\\\\\\ inner start \\\\\\-->
			<div class="left_nav">
				<!--\\\\\\\left_nav start \\\\\\-->
				<div class="left_nav_slidebar">
					<ul>
						<li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
							<ul>
								<li> <a href="/consulta_externa/home/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b>Inicio</b> </a> </li>
							</ul>
						</li>
						<li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Consulta Externa<span class="plus"><i class="fa fa-plus"></i></span></a>
							<ul class="opened" style="display:block">
								<li> <a href="/consulta_externa/lista_pacientes/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Listas de Citas</b> </a> </li>
							</ul>
						</li>
						<%- include("../partials/footerDocotr") -%>
					</ul>
				</div>
			</div>
			<!--\\\\\\\left_nav end \\\\\\-->
			<div class="contentpanel">
				<!--\\\\\\\ contentpanel start\\\\\\-->
				<div class="container clear_both padding_fix col-lg-8">
					<br>
					<div class="main-content">
						<div class="  col-xs-12 ">
					
							<div class="col-lg-12 block-web"> 
							<!-- Content page -->
								<div class=" container-fluid col-md-12" id="">
									<div class="head ">
										<div class="header">
											<div class="info blue_symbols "> <i class="fa fa-file-text icon"></i></div><br>
												<h3 class="content-header "><span>&nbsp;&nbsp;&nbsp;</span> Recetas</h3>
										</div>       
									</div>
									<div id="" class="col-md-2">	
										<div class="">
											<a href="/medico/volver" class="list-group-item  blue_bg text-center "><i class="fa fa-hand-o-left"></i>    ATRAS</a>	
										</div>				
									</div>
								</div><br>
							</div>
							<div class="main-content" id="recetas"> 
								<section class="panel default  h2">
									<div class="page-content">
										<ul class="nav nav-tabs" style="margin-bottom: 15px;">
											<li class=" col-lg-6 active active  text-center"><a href="#new" data-toggle="tab"><i class="fa fa-medkit"></i> Receta</a></li>
											<li class="col-lg-6 text-center"><a href="#list" data-toggle="tab"><i class="fa fa-list-alt "></i> Lita de Recetas del Paciente</a></li>
										</ul>
										<div id="myTabContent" class="tab-content">
											<div class="tab-pane fade active in" id="new">
									
											  <template v-if="One_receta == ''">
						                		<form @submit="post_recetas" method="POST">
													<div class="col-md-12 ">
														<input type="hidden" :value="id_consulta = '<%=ConsultaOnly[0].id%>'">
														<input type="hidden" :value="data_receta.id_medico = '<%=data_doc.data.medico.id%>'">
														<div class="block-web">
															<div class="header">
																<div class="actions"> 
																	<div  id="tab1default"><textarea  name="fechaConsulta" id="Fecha_Reloj" class="form-control" readonly=""  cols="23" rows="1,9px" ></textarea></div>                                                
																</div>
                                    	            					<h3 class="content-header">Estado General {{id_consulta}}</h3>
                                                   						<span style="color: red;">{{data_msg.msg_false}}</span>
                                                   						<span style="color: blue;">{{data_msg.msg_true}}</span>
															</div>
															<div class="row">
																<div class="col-md-12">
                                                   					<section class="panel default blue_title h2">  
                                                        				<div class="col-md-6 panel panel-default">
                                                            				<div class=" panel panel-default">
                                                               					<li href="#ac3-1" data-parent="#accordion3" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Datos Personales</li>            
                                                           					 </div>
                                                            				<div style="height: 0px;" id="ac3-1" class="panel-collapse collapse in">
                                                                    			<div class=""> 
                                                                                               
                                                                        			<div class="col-md-5">
                                                                            			<div class="entrada ">
                                                                                			<label class=" ">N° de Historia:</label><p><b><%=paciente_Data[0].numeroHistorial%></b></p>
                                                                                			<input type="hidden" name="numeroHistorial"  v-model="data_receta.historiaClinica = '<%=paciente_Data[0].numeroHistorial%>'" class="form-control" readonly=""  value="Read only text goes here">
                                                                            			</div>
                                                                        			</div>
                                                                       				<div class="col-sm-6 col-sm-12">
                                                                            			<div class="entrada">
                                                                                			<label class=" ">Nombre Completo:</label><p><b><%=paciente_Data[0].nombre%> <%=paciente_Data[0].apellidop%> <%=paciente_Data[0].apellidom%></b></p>
                                        		                                            <input type="hidden" name="nombre apellidop apellidom" 
                                                	            	                            value="<%=paciente_Data[0].nombre%> <%=paciente_Data[0].apellidop%> <%=paciente_Data[0].apellidom%>"
                                                    	    	                                class="form-control" readonly=""
                                                        	        	                        value="Read only text goes here">
                                                                        			    </div> 
                                                                    			    </div>
                                                			                        <div class="col-sm-4 col-sm-4">
                                                            			                <div class="entrada">
                                                                        			        <label class=" "> Sexo: </label><p><b><%=paciente_Data[0].sexo%></b></p>
                                                                                			<input type="hidden" name="sexo" value="<%=paciente_Data[0].sexo%>" class="form-control" readonly="" value="Read only text goes here">
                                            			                                </div>
                                                        			                </div>
                                                                    			    <div class="col-sm-8 col-sm-9">
                                                			                            <div class="entrada">
                                                            			                    <label class="">Fecha de Nacimiento:</label><p><b><%=paciente_Data[0].fechanacimiento%></b></p>
                                                                        			        <input  type="hidden" name="fechanacimiento"  value="<%=paciente_Data[0].fechanacimiento%>" class="form-control" readonly="" value="Read only text goes here">
                                            			                                </div>
                                                        			                </div> 
                                                                           		</div>
                                                        					</div>
                                                    					</div>
                                                       					<div class="col-md-6 panel panel-default">
                                                            				<div class=" panel panel-default">
                                                                				<li href="#ac3-2" data-parent="#accordion" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Datos de la Cita</li>            
                                                            				</div>
                                                            				<div style="height: 0px;" id="ac3-2" class="panel-collapse collapse in">
                                                                
                                                                   			<div class="">
                                                                        		<div class="col-sm-6 ">
																					<div class="entrada">
																						<label class=" ">Fecha Prescripción:</label>
																						<input class="form-control" type="date" v-model="data_receta.fecha" require >
																					</div>
                                                                       			</div>
                                                                       			<div class="col-sm-6 col-sm-6">
                                                                            		<div class="entrada">
                                    	                                        		<label class="">Especialidad:</label><p><b><%=ConsultaOnly[0].tipoConsulta%></b></p>
                                                                               			<input type="hidden" name="tipoConsulta" v-model="data_receta.tipoConsulta = '<%=ConsultaOnly[0].tipoConsulta%>'"class="form-control" readonly="" value="Read only text goes here">                                                                
                                                                            		</div>
                                                                        		</div>                 
                                                                        		<div class="col-sm-12 col-sm-12">
                                                                       		   		<div class="entrada">
                                                                                		<label class="">Profecional Médico:</label><p><b><%=ConsultaOnly[0].Citas_Medica.medico%></b></p>
                                                                                		<input type="hidden" v-model="data_receta.doctor = '<%=ConsultaOnly[0].Citas_Medica.medico%>'" class="form-control" readonly="" value="Read only text goes here" >
                                                                            		</div>
                                                                        		</div>
                                                                    		</div>
                                                               
                                                            				</div>
                                                        				</div> 
                                                    				</section>          
                                                				</div> 
															</div>
														</div>
														<div class="">
									                         <!--  
                                                                <<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>»
                                                                <<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>» 
                                                                            lista de medicamentos para el paciente 
                                                                <<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>» 
                                                                <<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>» 
                                                                
                                                            -->
															<div class="form-group">
																<div class="row" >
																	<div class="col-md-12">
                                                    					<div class="block-web">
																			<div class="header">
																				<div class="actions"> 
																					<a @click="insertar()" class="list-group-item  blue_bg text-center "><i class="fa fa-folder-open"></i> Insertar</a>
																				</div><br>                                                          
																				<h3 class="content-header">Lista de Medicamentos  </h3>
																			</div>
																			<div class="col-md-12 row"><br>  
                        					                                	<div class="col-sm-3 col-sm-6">
																					<div class="entrada">
																						<h6 class=" ">Medicamento:</h6>
																						<select class="form-control" v-model="lista.medicamento">
																							<template v-for="(list, index) in data_receta">
																								<option>{{list.nombre}}</option>
																							</template>	
																						</select>
																					</div>
																				</div>
                            					                                <div class="col-sm-2 col-sm-6">
                                                					                <div class="entrada">
                                                                    					<h6 class="">Dosis:</h6>
                                                                    					<input type="text"  class="form-control" v-model="lista.dosis">                                           
                        					                                        </div>
                                            					                </div>
                       						                                     <div class="col-sm-3 col-sm-6">
                                            					                	<div class="entrada">
                                                                					    <h6 class="">Via de Administración: </h6>
                                                                   						<input class="form-control"  v-model="lista.frecuencia">                                                  
                                                                					</div>
                                                            					</div>
                            					                                <div class="col-sm-2 col-sm-6">
                                                					                <div class="entrada">
                                                                    					<h6 class="">Duracion: </h6>
                        					                                            <input class="form-control" v-model="lista.duracion">                                                           
                            					                                    </div>
																				</div>
																				
																				<div class="col-sm-2 col-sm-6">
																					<div class="entrada">
																						<h6 class="">  Cantidad: </h6>
																						<input type="number" class="form-control" v-model="lista.cantidad">                                                           
																					</div>
																				</div>
                                                                                <!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                                                                lista de medicamentos
                                                                                >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
                                                            					<div class=""> 
                                                                					<section class="panel default blue_title h2">
                                                                                
                                                               							<div class="">
                                                                                    
                                                                							<table class="table table-hover">
                                                        	            						<thead>
                                                                          							<tr>
                                                    						                        	<th>#</th>
                                                                            						    <th>Medicamento</th>
                            						                                                    <th>Dosis</th>
                                                    						                            <th>Frecuencia</th>
																										<th>Duracion</th>
																										<th>Cantidad</th>
                                                    						                            <th>Quitar</th>
                                                                            						</tr>
                                    						                                    </thead>
                                                            						            <tbody v-for="(list, index) in medicamentos">
                                                                						            <tr>
                                        						                                        <td>{{index + 1 }}</td>
                                                                						                <td>{{list.medicamento}}</td>
                                            						                                    <td>{{list.dosis}}</td>
                                                						                                <td>{{list.frecuencia}}</td>
																										<td>{{list.duracion}}</td>
																										<td>{{list.cantidad}}</td>
                                                   							                             <td><a @click="eliminar(index)">eliminar</a></td>
                                                   							                        </tr>                                                                                 
                                        						                                </tbody>
                                                                						    </table>
                                                                           
                            	                            						    </div>
                                                                					</section>
                                                           						</div>
        
                                                        					</div>
                                                    					</div>
                                                					</div>
                                    					        </div>
                                                        
															</div>
														</div>
													</div>				
													<p class="modal-footer ">
														<button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
														<button type="submit" class="btn btn-success"><i class="fa fa-save"></i> &nbsp;&nbsp; Guardar</button>
														<button type="submit" class="btn btn-warning"><i class="fa fa-print"></i> &nbsp;&nbsp; Imprimir</button>
													</p>
												</form>
											  </template>


												<template v-else>												
													
													
													<span style="color: red;">{{data_msg.msg_false}}</span>
                                                    <span style="color: blue;">{{data_msg.msg_true}}</span>
													<form @submit="update_recedta" method="POST">
														<div class="block-web">
															<div class="header">
																<div class="actions"> <a class="minimize" href="#"><i
																			class="fa fa-chevron-down"></i></a> <a
																		class="close-down" href="#"><i
																			class="fa fa-times"></i></a>
																</div>
																<h3 class="content-header">Datos del Paciente  <span class="semi-bold">   Formulario de actualización</span>  </h3>
															</div>
															<div class="form-group">
																<div class="row">
																<!---<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																	<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<VISTAS DESPLEGABLES>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<
																		<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>-->
																	<div class="col-md-12">
																		<section class="panel default blue_title h2">  
																			<div class="col-md-6 panel panel-default">
																				<div class=" panel panel-default">
																					<li href="#ac3-1" data-parent="#accordion3" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Datos Personales</li>            
																				</div>
																				 <div style="height: 0px;" id="ac3-1" class="panel-collapse collapse in">
																					<div class=""> 
																										
																						<div class="col-md-5">
																							<div class="entrada ">
																								<label class=" ">N° de Historia:</label><p><b><%=paciente_Data[0].numeroHistorial%></b></p>
																								<input type="hidden" name="numeroHistorial"  v-model="data_receta.historiaClinica = '<%=paciente_Data[0].numeroHistorial%>'" class="form-control" readonly=""  value="Read only text goes here">
																							</div>
																						</div>
																						<div class="col-sm-6 col-sm-12">
																							 <div class="entrada">
																									 <label class=" ">Nombre Completo:</label><p><b><%=paciente_Data[0].nombre%> <%=paciente_Data[0].apellidop%> <%=paciente_Data[0].apellidom%></b></p>
																									 <input type="hidden" name="nombre apellidop apellidom" 
																										 value="<%=paciente_Data[0].nombre%> <%=paciente_Data[0].apellidop%> <%=paciente_Data[0].apellidom%>"
																										 class="form-control" readonly=""
																										 value="Read only text goes here">
																								 </div> 
																							 </div>
																							 <div class="col-sm-4 col-sm-4">
																								 <div class="entrada">
																									 <label class=" "> Sexo: </label><p><b><%=paciente_Data[0].sexo%></b></p>
																									 <input type="hidden" name="sexo" value="<%=paciente_Data[0].sexo%>" class="form-control" readonly="" value="Read only text goes here">
																								 </div>
																							 </div>
																							 <div class="col-sm-8 col-sm-9">
																								 <div class="entrada">
																									 <label class="">Fecha de Nacimiento:</label><p><b><%=paciente_Data[0].fechanacimiento%></b></p>
																									 <input  type="hidden" name="fechanacimiento"  value="<%=paciente_Data[0].fechanacimiento%>" class="form-control" readonly="" value="Read only text goes here">
																								 </div>
																							 </div> 
																							</div>
																					 </div>
																			</div>
																			<div class="col-md-6 panel panel-default">
																					 <div class=" panel panel-default">
																						 <li href="#ac3-2" data-parent="#accordion" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Datos de la Cita</li>            
																					 </div>
																					 <div style="height: 0px;" id="ac3-2" class="panel-collapse collapse in">
																		 
																						<div class="">
																						 <div class="col-sm-6 ">
																							 <div class="entrada">
																								 <label class=" ">Fecha Prescripción:</label>
																								 <input class="form-control" type="date" v-model="data_receta.fecha" require >
																							 </div>
																							</div>
																							<div class="col-sm-6 col-sm-6">
																							 <div class="entrada">
																								 <label class="">Especialidad:</label><p><b><%=ConsultaOnly[0].tipoConsulta%></b></p>
																									<input type="hidden" name="tipoConsulta" v-model="data_receta.tipoConsulta = '<%=ConsultaOnly[0].tipoConsulta%>'"class="form-control" readonly="" value="Read only text goes here">                                                                
																							 </div>
																						 </div>                 
																						 <div class="col-sm-12 col-sm-12">
																								   <div class="entrada">
																								 <label class="">Profecional Médico:</label><p><b><%=ConsultaOnly[0].Citas_Medica.medico%></b></p>
																								 <input type="hidden" v-model="data_receta.doctor = '<%=ConsultaOnly[0].Citas_Medica.medico%>'" class="form-control" readonly="" value="Read only text goes here" >
																							 </div>
																						 </div>
																					 </div>
																		
																					 </div>
																			 </div> 
																		 </section>          
																	</div> 
																	<div class="col-md-12">
																		<div class="col-md-4">
																			<div class="entrada ">
																				<h6 class=" blue_info">N° de Historia:
																				</h6>
																				<input type="text" name="historiaClinica"
																					value="<%=paciente_Data[0].numeroHistorial%>"
																					class="form-control" readonly=""
																					value="Read only text goes here">
																			</div>
																		</div>
																		<div class="col-sm-8 col-sm-9">
																			<div class="form-group">
																				<div class="entrada">
																					<h6 class=" blue_info">Nombre Completo:</h6>
																					<input type="text" name="nombre apellidop apellidom" 
																						value="<%=paciente_Data[0].nombre%> <%=paciente_Data[0].apellidop%> <%=paciente_Data[0].apellidom%>"
																						class="form-control" readonly=""
																						value="Read only text goes here">
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-md-12">
																	
																		<div class="col-sm-6 col-sm-6">
																			<div class="entrada">
																				<h6 class="blue_info">Fecha de Nacimiento: </h6>
																				<input
																					value="<%=paciente_Data[0].fechanacimiento%>"
																					class="form-control" readonly=""
																					value="Read only text goes here">
																			</div>
																		</div>
																		<div class="col-sm-6 col-sm-6">
																			<div class="entrada">
																				<h6 class=" blue_info"> Sexo: </h6>
																				<input value="<%=paciente_Data[0].sexo%>"
																					class="form-control" readonly=""
																					value="Read only text goes here">
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="block-web">
															<div class="header">
																<div class="actions"> 
																	<a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a> <a class="close-down" href="#"><i class="fa fa-times"></i></a>
																</div>
																<h3 class="content-header">Datos de la Cita</h3>
															</div>
															<div class="form-group">
																<div class="row">
																	<div class="col-md-12"><br>


																		<div class="col-sm-3 col-sm-6">
																			<div class="entrada">
																				<h6 class=" blue_info">Fecha Prescripción:</h6>
																				<input class="form-control" name="fecha" require :value="One_receta.fecha.split('T')[0]" readonly="">
																				<h6 class=" blue_info">Fecha Prescripción:</h6>
																				<div  id="tab1default"><textarea  name="fechaConsulta" id="Fecha_Reloj" class="form-control" readonly=""  cols="23" rows="1,9px" ></textarea></div>
                                                                        
																			</div>
																		</div>
																		<div class="col-sm-4 col-sm-6">
																			<div class="entrada">
																				<h6 class=" blue_info">Profecional Médico:
																				</h6>
																				<input
																					:value="One_receta.medico"
																					class="form-control" readonly=""
																				>
																			</div>
																		</div>
																		<div class="col-sm-4 col-sm-6">
																			<div class="entrada">
																				<h6 class=" blue_info">Esspecialidad:
																				</h6>
																				<input :value="One_receta.tipoConsulta" class="form-control" readonly="" >
																			</div>
																		</div>

																	</div>
																</div>
															</div>
														</div>
														<div class="block-web">
															<div class="header">
																<div class="actions"> 
																	<a @click="insertar_update" class="list-group-item  blue_bg text-center "><i class="fa fa-folder-open"></i> Insertar</a>
																</div><br>
																<h3 class="content-header">Receta</h3>
															</div>
														
															
														</div>
														<div class="col-md-12">
																	
																<div class="">
																	
																		<div class="col-sm-3 col-sm-6">
																				<div class="entrada">
																					<h6 class=" blue_info">Medicamento:</h6>
																					<select v-model="lista.medicamento">
																						<template v-for="(list, index) in data_receta">
																							<option>{{list.nombre}}</option>
																						</template>	
																					</select>
																						
																					   
																				</div>
																		</div>
																			
																			<div class="col-sm-2 col-sm-6">
																				<div class="entrada">
																					<h6 class=" blue_info">Dosis:</h6>
																					<input type="text"  class="form-control" v-model="lista.dosis">                                           
																				</div>
																			</div>
																			<div class="col-sm-2 col-sm-6">
																				<div class="entrada">
																					<h6 class=" blue_info">Frecuencia: </h6>
																					<input class="form-control"  v-model="lista.frecuencia">                                                  
																				</div>
																			</div>
																			<div class="col-sm-2 col-sm-6">
																				<div class="entrada">
																					<h6 class=" blue_info">Duracion: </h6>
																					<input class="form-control" v-model="lista.duracion">                                                           
																				</div>
																			</div>
																			<div class="col-sm-2 col-sm-6">
																				<div class="entrada">
																					<h6 class=" blue_info">Cantidad: </h6>
																					<input type="number" class="form-control" v-model="lista.cantidad">   																					                                                    
																				</div>
																			</div>
																			<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
																							lista de medicamentos
																			>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
																		<div class="col-lg-12"> 
																				<section class="panel default blue_title h2">
																			
																				<div class="panel-body">
																				
																		  <table class="table table-hover">
																			<thead>
																			  <tr>
																				<th>#</th>
																				<th>Medicamento</th>
																				<th>Dosis</th>
																				<th>Frecuencia</th>
																				<th>Duracion</th>
																				<th>Cantidad</th>
																				<th>Quitar</th>
																			  </tr>
																			</thead>
																			<tbody v-for="(list, index) in One_receta.medicamentos">
																			  <tr>
																				<td>{{index + 1 }}</td>
																				<td>{{list.medicamento}}</td>
																				<td>{{list.dosis}}</td>
																				<td>{{list.frecuencia}}</td>
																				<td>{{list.duracion}}</td>
																				<td>{{list.cantidad}}</td>
																				<td><a @click="eliminar_update(index)">eliminar</a></td>
																			  </tr> 
																			                                                                                  
																			</tbody>
																		  </table>
																	   
																		</div>
																		</section>
																		</div>
																	
																</div>
															</div>
														<template v-if="One_receta.estado == false">														
															<p class="text-center">
																<button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
																<button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Actualizar</button>
																<button type="submit" class="btn btn-warning"><i class="fa fa-print"></i> &nbsp;&nbsp; Imprimir</button>
															</p>
														</template>

													</form>
												
													
												</template>
													
											</div>
										
											<div class="tab-pane fade" id="list"><br>
												<div class="table-responsive"><br>
													<table class="display table table-bordered table-striped"id="dynamic-tablee">
														<thead>
															<tr>
																<th>#</th>
																<th>N° de historia </th>
																<th>Fecha</th>
																<th>Farmaco </th>
																<th>Doctor</th>
																<th>Indicaciones</th>
																<th class="text-center" WIDTH="20%">Modificar</th>
																<!--
												   <th class="text-center" WIDTH="20%">Darde Baja</th>
												-->
															</tr>
															<tr>
																<td href="javascript:void(0);" data-toggle="modal" data-target="#alergias">a</td>
																<td href="javascript:void(0);" data-toggle="modal" data-target="#alergias" >a</td>
																<td href="javascript:void(0);" data-toggle="modal" data-target="#alergias">a</td>
																<td href="javascript:void(0);" data-toggle="modal" data-target="#alergias">a</td>
																<td href="javascript:void(0);" data-toggle="modal" data-target="#alergias">a</td>
																<td href="javascript:void(0);" data-toggle="modal" data-target="#alergias">a</td>
																<td href="javascript:void(0);" data-toggle="modal" data-target="#alergias"><a >ver</a></td>
															</tr> 
														</thead>
														<tbody>
															
														</tbody>
													</table>
													<ul class="pagination pagination-sm">
														<li class="disabled"><a href="#!">«</a></li>
														<li class="active"><a href="#!">1</a></li>
														<li><a href="#!">2</a></li>
														<li><a href="#!">3</a></li>
														<li><a href="#!">4</a></li>
														<li><a href="#!">5</a></li>
														<li><a href="#!">»</a></li>
													</ul>
												</div>
											</div>
										</div><br>
									</div>
								</section>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</div>

<!-- Modal alergias -->
<div class="modal fade" id="alergias" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			  <h4 class="modal-title" id="myModalLabel">Detalles de la Receta</h4>
		</div>
		<div>
		    <div class="">
			    <div id="main-content">
				    <div class="">			
						
						<div id="myTabContent" class="tab-content">
						  	<div class="tab-pane fade active in " id="neww">
								<div class="col-md-12">
									<div class="">
										<div class=" ">
											<p></p>
											N° de Historial: <h9><%=paciente_Data[0].numeroHistorial%></h9> <br>
											Nombre Completo: <%=paciente_Data[0].nombre%> <%=paciente_Data[0].apellidop%> <%=paciente_Data[0].apellidom%><br>
											Fecha de la Receta: <br><br>
											Nombre del Médico: <h9><%=ConsultaOnly[0].Citas_Medica.medico%></h9><br>
											Especialidad: <%=ConsultaOnly[0].tipoConsulta%><br>
											Medicamento: <br>
											Dosis: <br>
											
											Duración:<br>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						
					</div>
				</div>
	  
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			 
			</div>
	  
		</div>
	</div>
	</div>
</div>
        <!--====== Scripts -->
		<script src="/js/fecha.js"></script>
		
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>   <!-- vue cdn -->

		<script src="/js/get/consultaget.js"></script>

		<script src="/js/jquery-2.1.0.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/common-script.js"></script>
		<script src="/js/jquery.slimscroll.min.js"></script>

		<script src="/plugins/data-tables/dynamic_table_init2.js"></script>
		<script src="/plugins/data-tables/jquery.dataTables.js"></script>
		<script src="/plugins/data-tables/DT_bootstrap.js"></script>
		<script src="/plugins/data-tables/dynamic_table_init.js"></script>
		<script src="/plugins/edit-table/edit-table.js"></script>
		<script>
			jQuery(document).ready(function () {
				EditableTable.init();
			});
		</script>

		<script src="/js/jPushMenu.js"></script>
        <script src="/js/side-chats.js"></script>
        <script src="/js/vue/receta.js"></script>
</body>

</html>