<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Consulta</title>
    <meta charset="UTF-8">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/css/animate.css" rel="stylesheet" type="text/css" />
    <link href="/css/admin.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
    <link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
    <link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">

    <link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
    <link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
    <link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />




    <style>
        div.a {
            text-align: center;
        }

        h1.letras {
            font: italic normal 400 16px/22px Arial, Verdana, Sans-serif;

        }
    </style>

</head>

<body class=" light_theme  fixed_header left_nav_fixed" onload="actualizaReloj()">
    <!-- SideBar -->


    <!-- Content page-->
<div class="wrapper">
    <!--\\\\\\\ wrapper Start \\\\\\-->
    <div class="header_bar">
        <!--\\\\\\\ header Start \\\\\\-->
        <div class="brand">
           <!--\\\\\\\ brand Start \\\\\\-->
           <div class="logo" style="display:block"><span class="theme_color">Hospital</div>

        </div>
            <!--\\\\\\\ brand end \\\\\\-->
        <div class="header_top_bar">
            <!--\\\\\\\ header top bar start \\\\\\-->
            <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
            <div class="top_right_bar">
                <div class=" dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
                    src="/images/user.png" /><%=data_doc.data.medico.nombre%> <%=data_doc.data.medico.apellidop%><span class="user_adminname">
                    <FONT SIZE=1></FONT>
                    </span> <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <div class="top_pointer"></div>
                        <li> <a href="/profile.html"><i class="fa fa-user"></i> Profile</a> </li>
                        <li> <a href="/help.html"><i class="fa fa-question-circle"></i> Ayuda</a> </li>
                        <li> <a href="/settings.html"><i class="fa fa-cog"></i> Setting </a></li>
                        <li> <a href="/login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--\\\\\\\ header top bar end \\\\\\-->
    </div>
    <div class="inner">
        <!--\\\\\\\ inner start \\\\\\-->
        <div class="left_nav">
            <!--\\\\\\\left_nav start \\\\\\-->
            <div class="left_nav_slidebar">
                <ul>
                    <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span
                                    class="left_nav_pointer"></span> <span class="plus"><i
                                        class="fa fa-plus"></i></span> </a>
                        <ul>
                            <li> <a href="/consulta_externa/home/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i
                                            class="fa fa-circle "></i> <b>Inicio</b> </a> </li>
                        </ul>
                    </li>
                    <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i
                                    class="fa fa-tasks"></i> Consulta Externa<span class="plus"><i
                                        class="fa fa-plus"></i></span></a>
                        <ul class="opened" style="display:block">
                            <li> <a href="/consulta_externa/lista_pacientes/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i
                                            class="fa fa-circle"></i> <b class="theme_color">Listas de Citas</b>
                                    </a> </li>
                        </ul>
                    </li>
                    <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i
                        class="fa fa-tasks"></i> Consulta Externa<span class="plus"><i
                            class="fa fa-plus"></i></span></a>
            <ul class="opened" style="display:block">
                <li> <a href="/consulta_externa/lista_pacientes/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i
                                class="fa fa-circle"></i> <b class="theme_color">Listas de Citas</b>
                        </a> </li>
            </ul>
        </li>
                    <%- include("../partials/footerDocotr") -%>
                </ul>
            </div>
        </div>
        <!--\\\\\\\left_nav end \\\\\\-->
        <div class="contentpanel ">
                <!--\\\\\\\ contentpanel start\\\\\\-->
            <div class="container clear_both padding_fix col-lg-8">
                <br>
                
                    <div class="main-content">
                            <div class="col-lg-12 block-web"> 
                                    <!-- Content page -->
                                    <div class=" container-fluid col-md-12" id="">
                                        <div class=" ">
                                            <div class="">
                                                <div class="info blue_symbols "> <i class="fa fa-user-md icon "></i></div><br>
                                                    <h3 class="content-header "><span>&nbsp;&nbsp;&nbsp;</span> Consulta Externa</h3>
                                                </div>       
                                            </div>
                                            <div id="" class="col-md-2">	
                                                <div class="">
                                                    <a href="/medico/volver" class="list-group-item  blue_bg text-center "><i class="fa fa-hand-o-left"></i>    ATRAS</a>	
                                                </div>				
                                            </div>
                                    </div><br>
                                </div>     
                        <div class="main-content">
                                <section class="panel default blue_title h2">
                            <div class="page-content">
                                <ul class="nav nav-tabs" id="myTab">
                                    <li class=" col-lg-6 active active  text-center"><a href="#new" data-toggle="tab"><i class="fa fa-medkit "></i><span>&nbsp;&nbsp;&nbsp;</span>Registro de consulta medica</a></li>
                                    <li class="col-lg-6 text-center"><a href="#list" data-toggle="tab"><i class="fa fa-list-alt "></i><span>&nbsp;&nbsp;&nbsp;</span>Listado de consultas del paciente</a></li>
                                </ul>
                                <!-- Rconten page-->
                                <div id="myTabContent" class="tab-content">
                                    <div class="tab-pane fade active in" id="new"> 
                                        <% if(updateCita == "") { %>
                                            <form action="/consulta_externa/regConsulta/<%=cita[0].id%>/<%=cita[0].codigo_p%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>" method="POST">   
                                                <div class="block-web">
                                                    <div class="header">
                                                        <div class="actions"> 
                                                            <a href="#" class="minimize"> <i class="fa fa-chevron-down"></i></a>
                                                            <a href="#" class="refresh"> <i class="fa fa-repeat"></i></a>
                                                            <a href="#" class="close-down"> <i class="fa fa-times"></i></a>
                                                        </div>
                                                        <h3 >Datos Personales</h3>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row ">
                                                            
                                                            <div class="col-md-9"><br>
                                                                <div class="col-md-4">
                                                                    <div class="entrada ">
                                                                        <h6 class=" blue_info">N° de Historia:</h6>
                                                                        <input type="text" name="numeroHistorial" 
                                                                            value="<%=dataPaciente[0].numeroHistorial%>"
                                                                            class="form-control" readonly=""
                                                                            value="Read only text goes here">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-8 col-sm-9">
                                                                    <div class="form-group">
                                                                        <div class="entrada">
                                                                            <h6 class=" blue_info">Nombre Completo:
                                                                            </h6>
                                                                            <input type="text" name="nombre apellidop apellidom" 
                                                                                value="<%=dataPaciente[0].nombre%> <%=dataPaciente[0].apellidop%> <%=dataPaciente[0].apellidom%>"
                                                                                    class="form-control" readonly=""
                                                                                    value="Read only text goes here">
                                                                        </div>
                                                                    </div>
                                                                </div>  
                                                                <div class="">
                                                                    <div class="col-md-4">
                                                                        <div class="entrada">
                                                                            <h6 class=" blue_info">CI.:</h6>
                                                                            <input type="text" name="ci" value="<%=dataPaciente[0].ci%>" class="form-control" readonly="" value="Read only text goes here">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-4 col-sm-6">
                                                                        <div class="entrada">
                                                                            <h6 class="blue_info">Fecha de Nacimiento:
                                                                            </h6>
                                                                            <input  type="text" name="fechanacimiento"  value="<%=dataPaciente[0].fechanacimiento%>" class="form-control" readonly="" value="Read only text goes here">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-4 col-sm-6">
                                                                        <div class="entrada">
                                                                            <h6 class=" blue_info"> Sexo: </h6>
                                                                            <input name="sexo" value="<%=dataPaciente[0].sexo%>" class="form-control" readonly="" value="Read only text goes here">
                                                                        </div>
                                                                    </div>
                                                                </div>       
                                                            </div>  
                                                            <div class="col-md-3">
                                                                <div class="file_sidebar">   
                                                                     <li href="#collapse" data-parent="#accordion" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Detalles del Paciente</li>            
                                                                    <div  class="file_sidebar_list panel-collapse collapse in"   id="collapse" style="height: auto;">
                                                                        <ul>
                                                                            <li><a href="/consulta_externa/data_responsable/<%=dataPaciente[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"><i class="fa fa-users"></i>Datos de responsable</a></li>
                                                                            <li><a href="/datos_generales_paciente/lista_antecedentes/<%=dataPaciente[0].id%>" ><i class="fa fa-building-o"></i>Antecedentes</a></li>
                                                                            <li><a href="/datos_generales_paciente/lista_alergias/<%=dataPaciente[0].id%>"><i class="fa fa-user"></i>Alergias</a></li>
                                                                            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#alergias"><i class="fa fa-user"></i>Falta Vacunas</a></li>
                                                                            <li><a href="/datos_generales_paciente/list_exFisico/<%=dataPaciente[0].id%>"><i class="fa fa-users"></i>Examen General</a></li>
                                                                           
                                                                            <li><a><i class="fa fa-exclamation-triangle"></i>Ver Historial</a></li>
                                                                                
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- datos del doctor-->
                                                <div class="block-web">
                                                    <div class="header">
                                                        <div class="actions"> 
                                                            <a href="#" class="minimize"> <i class="fa fa-chevron-down"></i></a> 
                                                            <a href="#" class="refresh"> <i class="fa fa-repeat"></i></a>
                                                            <a href="#" class="close-down"> <i class="fa fa-times"></i></a>
                                                        </div>
                                                        <h3>Datos de la cita</h3>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="col-sm-1 col-sm-2">
                                                                    <div class="entrada">
                                                                        <h6 class=" blue_info">Hora:</h6>
                                                                            <p><%=cita[0].hora.split("/")[0]%></p>
                                                                            <input type="hidden" name="hora" value="<%=cita[0].hora%>">        
                                                                    </div>
                                                                                                   
                                                                </div>
                                                                <div class="col-sm-3 col-sm-6">
                                                                    <div class="entrada">
                                                                        <h6 class=" blue_info">Fecha de Consulta:</h6>
                                                              
                                                                        <div  id="tab1default"><textarea  name="fechaConsulta" id="Fecha_Reloj" class="form-control" readonly=""  cols="23" rows="1,9px" ></textarea></div>
                                                                        
                                                                    </div>                        
                                                                </div>
                                                                <div class="col-sm-4 col-sm-6">
                                                                    <div class="entrada">
                                                                        <h6 class=" blue_info">Nombre del Médico:</h6>
                                                                            <input  value="<%=cita[0].medico%>" class="form-control" readonly="" value="Read only text goes here" >
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-4 col-sm-6">
                                                                    <div class="entrada">
                                                                        <h6 class=" blue_info">Especialidad:</h6>
                                                                            <input name="tipoConsulta" value="<%=cita[0].especialidad%>"class="form-control" readonly="" value="Read only text goes here">                                                                
                                                                    </div>
                                                                </div>       
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>                                                              
                                                
                                                
                                                
                                                <!--diagnostico del paciente o estado del paciente-->
                                                <div class="block-web">
                                                        <div class="header">
                                                                <h3 class="text-center "  >Estado del paciente</h3>
                                                            </div>
                                                </div>
                                                <div class="grupo" id="cabeza">
                                                    <div class="panel with-nav-tabs panel-default">
                                                            <section class="panel default blue_title h2">
                                                        <div class="">
                                                            <ul class="nav nav-tabs" id="myTab">
                                                                <li class="col-lg-3 text-center active"><a href="#tab1default" data-toggle="tab"><i class="fa fa-medkit "></i><span>&nbsp;&nbsp;&nbsp;</span>Motivo de Consulta</a></li>
                                                                <li class="col-lg-3 text-center"><a href="#tab2default" data-toggle="tab"><i class="fa fa-file-text "></i><span>&nbsp;&nbsp;&nbsp;</span>Diagnostico</a></li>
                                                                <li class="col-lg-3 text-center"><a href="#tab3default" data-toggle="tab"><i class="fa fa-stethoscope "></i><span>&nbsp;&nbsp;&nbsp;</span>Tratamiento</a></li>
                                                                <li class="col-lg-3 text-center"><a href="#tab4default" data-toggle="tab"><i class="fa fa-file-text-o "></i><span>&nbsp;&nbsp;&nbsp;</span>Observaciones</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="">
                                                            <div class="tab-content">
                                                                <div class="tab-pane fade in active" id="tab1default"><textarea class="large-compact" name="anamnesis"  cols="112" rows="10"></textarea></div>
                                                                <div class="tab-pane fade" id="tab2default">
                                                                        <table class="fl-table display table table-bordered table-striped" id="dynamic-table">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <th>Código</th>
                                                                                    <th>Descripción</th>
                                                                                    <th class="center">Opciones</th>
                                                                                    
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                   
                                                                                        <tr>
                                                                                            <td><%= i+1%></td>
                                                                                            <td></td>
                                                                                            <td></td>
                        
                                                                                                                                            
                                                                                            
                                                                                            <td>
                                                                                                <a href="" data-toggle="tooltip" class="btn  tooltips" data-original-title="insertar"><i class="fa fa-file-text text-muted"></i></a><span>&nbsp;</span>
                                                                                               
                                                                                            </td>
                                                                                        </tr>
                                                                                  
                                                                                        <tr>
                                                                                            <td>1</td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            <td></td>
                                                                                            
                                                                                            
                                                                                        </tr>
                                                                                
                                                                                </tbody>                                                                       
                                                                            </table> 
                                                                    <textarea class="large-compact" name="diagnostico" cols="112" rows="10"></textarea>
                                                                
                                                                </div>
                                                                <div class="tab-pane fade" id="tab3default"><textarea class="large-compact" name="tratamiento"  cols="112" rows="10"></textarea></div>
                                                                <div class="tab-pane fade" id="tab4default"><textarea class="large-compact" name="observaciones" cols="112" rows="10"></textarea></div>
                                                            </div>
                                                        </div>
                                                        </section>
                                                    </div>
                                                </div> 
                                                <p class="text-center">
                                                    <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                                    <button type="submit" class="btn btn-danger"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                                                </p>
                                            </form>                           
                                       
                                        <% } else { %>
                                            <form action="/consulta_externa/updateConsulta/<%=updateCita[0].id%>/<%=cita[0].id%>/<%=cita[0].codigo_p%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>" method="POST">
                                                <h3 class="center">Formulario de Actualización</h3>
                                                <div class="block-web">
                                                    <div class="header">
                                                        <div class="actions"> 
                                                            <a href="#" class="minimize"> <i class="fa fa-chevron-down"></i></a>
                                                            <a href="#" class="refresh"> <i class="fa fa-repeat"></i></a>
                                                            <a href="#" class="close-down"> <i class="fa fa-times"></i></a>
                                                        </div>
                                                        <h3>Datos Personales</h3>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-9"><br>
                                                                <div class="col-md-4">
                                                                    <div class="entrada ">
                                                                        <h6 class=" blue_info">N° de Historia:</h6>
                                                                        <input type="text" name="numeroHistorial" 
                                                                            value="<%=dataPaciente[0].numeroHistorial%>"
                                                                            class="form-control" readonly=""
                                                                            value="Read only text goes here">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-8 col-sm-9">
                                                                    <div class="form-group">
                                                                        <div class="entrada">
                                                                            <h6 class=" blue_info">Nombre Completo:</h6>
                                                                                <input type="text" name="nombre apellidop apellidom" 
                                                                                value="<%=dataPaciente[0].nombre%> <%=dataPaciente[0].apellidop%> <%=dataPaciente[0].apellidom%>"
                                                                                class="form-control" readonly=""
                                                                                value="Read only text goes here">
                                                                        </div>
                                                                    </div>
                                                                </div>   
                                                                <div class="">
                                                                    <div class="col-md-4">
                                                                        <div class="entrada">
                                                                            <h6 class=" blue_info">CI.:</h6>
                                                                            <input type="text" name="ci" value="<%=dataPaciente[0].ci%>" class="form-control" readonly="" value="Read only text goes here">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-4 col-sm-6">
                                                                        <div class="entrada">
                                                                            <h6 class="blue_info">Fecha de Nacimiento:
                                                                            </h6>
                                                                            <input  type="text" name="fechanacimiento"  value="<%=dataPaciente[0].fechanacimiento%>" class="form-control" readonly="" value="Read only text goes here">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-4 col-sm-6">
                                                                        <div class="entrada">
                                                                            <h6 class=" blue_info"> Sexo: </h6>
                                                                            <input name="sexo" value="<%=dataPaciente[0].sexo%>" class="form-control" readonly="" value="Read only text goes here">
                                                                        </div>
                                                                    </div>
                                                                </div>    
                                                            </div>
                                                            

                                                            <div class="col-md-3">
                                                                <div class="file_sidebar">
                                                                    
                                                                     
                                                                     <li href="#collapse" data-parent="#accordion" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Detalles del Paciente</li>

                                                                           
                                                                        <div class="file_sidebar_list panel-collapse collapse in"   id="collapse" style="height: auto;">
                                                                          <ul>
                                                                            <li><a href="/consulta_externa/data_responsable/<%=dataPaciente[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"><i class="fa fa-users"></i>Datos de responsable</a></li>
                                                                            <li><a href="/datos_generales_paciente/lista_antecedentes/<%=dataPaciente[0].id%>" ><i class="fa fa-building-o"></i>Antecedentes</a></li>
                                                                            
                                                                            <li><a href="/datos_generales_paciente/lista_alergias/<%=dataPaciente[0].id%>"><i class="fa fa-user"></i>Alergias</a></li>
                                                                            
                                                                            
                                                                            <li><a href="/paciente/Vacunas" ><i class="fa fa-user"></i> Vacunas</a></li>
                                                                            <li><a href="/datos_generales_paciente/list_exFisico/<%=dataPaciente[0].id%>"><i class="fa fa-users"></i>Examen General</a></li>
                                                                           
                                                                            <li><a><i class="fa fa-exclamation-triangle"></i>Ver Historial</a></li>
                                                                                
                                                                          </ul>
                                                                        </div>
                                                                      </div>
                                                      
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- datos del doctor-->
                                                <div class="block-web">
                                                    <div class="header">
                                                        <div class="actions"> 
                                                            <a href="#" class="minimize"> <i class="fa fa-chevron-down"></i></a> 
                                                            <a href="#" class="refresh"> <i class="fa fa-repeat"></i></a>
                                                            <a href="#" class="close-down"> <i class="fa fa-times"></i></a>
                                                        </div>
                                                        <h3 >Datos de la cita</h3>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="col-sm-1 col-sm-2">
                                                                    <div class="entrada">
                                                                        <h6 class=" blue_info">Hora:</h6>
                                                                            <p><%=cita[0].hora.split("/")[0]%></p>
                                                                            <input type="hidden" name="hora" value="<%=cita[0].hora%>">        
                                                                    </div>
                                                                                                       
                                                                </div>
                                                                <div class="col-sm-3 col-sm-6">
                                                                    <div class="entrada">
                                                                        <h6 class=" blue_info">Fecha de Consulta:</h6>
                                                                            <input class="form-control"  type="text" name="fechaConsulta"require value="<%=updateCita[0].fechaConsulta%>" readonly="">
                                                                    </div>                        
                                                                </div>
                                                                    <div class="col-sm-4 col-sm-6">
                                                                        <div class="entrada">
                                                                            <h6 class=" blue_info">Nombre del Médico:</h6>
                                                                                <input  value="<%=cita[0].medico%>" class="form-control" readonly="" value="Read only text goes here" >
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-4 col-sm-6">
                                                                        <div class="entrada">
                                                                            <h6 class=" blue_info">Especialidad:</h6>
                                                                                <input name="tipoConsulta" value="<%=cita[0].especialidad%>"class="form-control" readonly="" value="Read only text goes here">                                                                
                                                                        </div>
                                                                    </div>       
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div> 
                                            
                                                <!--diagnostico del paciente o estado del paciente-->
                                                <div class="block-web">
                                                        <div class="header text-center">
                                                                <h3 class="" >Estado del paciente</h3>
                                                            </div>
                                                </div>
                                                <div class="col-md-9">  
                                                    <div class="grupo" id="cabeza">
                                                            
                                                        <div class="panel with-nav-tabs panel-default">
                                                            <section class="panel default blue_title h2">
                                                            <div class="">
                                                                <ul class="nav nav-tabs"id="myTab">
                                                                    <li class="col-lg-3 active"><a href="#tab1default" data-toggle="tab"><i class="fa fa-medkit "></i><span>&nbsp;&nbsp;&nbsp;</span>Motivo de Consulta</a></li>
                                                                    <li class="col-lg-3 text-center"><a href="#tab2default" data-toggle="tab"><i class="fa fa-file-text "></i><span>&nbsp;&nbsp;&nbsp;</span>Diagnostico</a></li>
                                                                    <li class="col-lg-3 text-center"><a href="#tab3default" data-toggle="tab"><i class="fa fa-stethoscope "></i><span>&nbsp;&nbsp;&nbsp;</span>Tratamiento</a></li>
                                                                    <li class="col-lg-3 text-center"><a href="#tab4default" data-toggle="tab"><i class="fa fa-file-text-o "></i><span>&nbsp;&nbsp;&nbsp;</span>Observaciones</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="">
                                                                <div class="tab-content">
                                                                    <div class="tab-pane fade in active" id="tab1default"> <textarea class="large-compact" name="anamnesis" cols="80" rows="10"><%=updateCita[0].anamnesis%></textarea></div>
                                                                    <div class="tab-pane fade" id="tab2default"> <textarea class="large-compact" name="diagnostico" cols="80" rows="10"><%=updateCita[0].diagnostico%></textarea></div>
                                                                    <div class="tab-pane fade" id="tab3default"> <textarea class="large-compact" name="tratamiento" cols="80" rows="10"><%=updateCita[0].tratamiento%></textarea></div>
                                                                    <div class="tab-pane fade" id="tab4default"> <textarea class="large-compact" name="observaciones" cols="80" rows="10"><%=updateCita[0].observaciones%></textarea></div>
                                                                </div>
                                                            </div>
                                                            </section>
                                                        </div>
                                                        <div class="col-md-12 ">
                                                            <p class="text-center">
                                                                <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="fa fa-roller"></i> &nbsp;&nbsp;
                                                                    Limpiar</button>
                                                                <button type="submit" class="btn btn-danger"><i class="fa fa-floppy"></i> &nbsp;&nbsp;
                                                                    Guardar</button>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">    
                                                    <div class="file_sidebar">  
                                                        <li href="#collapse4" data-parent="#accordion" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Herramientas</li>
                                                           
                                                        <div class="file_sidebar_list panel-collapse collapse in"   id="collapse4" style="height: auto;">
                                                            <ul>
                                                                <li><a href="/consulta_externa/receta/<%=updateCita[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <i class="fa fa-building-o"></i>Receta</a></li>  
                                                                <li><a href="/consulta_externa/papeleta_internacion/<%=updateCita[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"><i class="fa fa-exclamation-triangle"></i>Orden de Internación</a></li>        
                                                                <li><a href="/paciente/O_Laboratorio"><i class="fa fa-clipboard"></i>Orden de Laboratorio</a></li>
                                                                <li> <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-1"> <i class="fa fa-caret-down"></i>Examenes Complementarios </a> </li>
                                                                <div style="height: 0px;" id="ac3-1" class="panel-collapse collapse">
                                                                    <div class="panel-body"> 
                                                                        <ul >
                                                                            <li><a href="/paciente/O_ecografia"><i class="fa fa-file-text-o"></i>Orden de Ecografía</a></li>
                                                                            <li><a href="/paciente/O_Radiografia"><i class="fa fa-file-text"></i>Orden de radiografia</a></li>
                                                                        </ul> 
                                                                    </div>
                                                                </div>            
                                                            </ul>  
                                                        </div>
                                                    </div>                                                 
                                                </div>
                                            </form>
                                            <hr>
                                           <!--  <div class="col-md-6">
                                                <section class="panel default blue_title h2">
                                                  <div class="panel-heading">
                                                    
                                            
                                                  </div>
                                                  
                                                  <div class="panel-body">
                                                    
                                                    <p> Small button for elegance <code> .btn .btn-sm </code> </p>
                                                    <a href="#" class="btn btn-primary btn-sm">Small button</a>&nbsp;<a href="#" class="btn btn-default btn-sm">Small button</a>
                                                    <hr>
                                                
                                                 
                                                </section>
                                            </div> -->
                                        <% } %>
                                    </div>
                                    <!-- Listas de Proveedores-->
                                    <div class="tab-pane fade" id="list">
                                        <div class="table-responsive">
                                            <p class="text-center">
                                                <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir </button>
                                            </p>
                                            <div class="table-responsive">
                                                <div class="table-wrapper">
                                                    <table class="fl-table display table table-bordered table-striped" id="dynamic-tablee">
                                                        <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>N° Historial</th>
                                                            <th>Nombre Completo</th>
                                                          
                                                            <th>Diagnostico</th>
                                                            <th>Fecha de Consulta</th>
                                                            <th>Tipo de Consulta</th>
                                                            <th class="center">Opciones</th>
                                                            
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            <%if(resp != null) { %>
                                                            <% for ( var i=0; i < resp.length; i++) {%>
                                                                <tr>
                                                                    <td><%= i+1%></td>
                                                                    <td><%=resp[i].numeroHistorial%></td>
                                                                    <td><%=resp[i].Citas_Medica.Paciente.nombre%> <%=resp[i].Citas_Medica.Paciente.apellidop%> <%=resp[i].Citas_Medica.Paciente.apellidom%></td>

                                                                    <td><%=resp[i].diagnostico%></td> 
                                                                    <td><%=resp[i].fechaConsulta%></td>
                                                                    <td><%=resp[i].tipoConsulta%></td>                                                    
                                                                    
                                                                    <td>
                                                                        <a href="/medico/TraerConsulta/<%=resp[i].id%>/<%=resp[i].numeroHistorial%>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Dar Receta"><i class="fa fa-file-text text-muted"></i></a><span>&nbsp;</span>
                                                                        <a href="/medico/PapeletaINT/<%=resp[i].id%>/<%=resp[i].numeroHistorial%>/<%=resp[i].tipoConsulta%>"  data-toggle="tooltip" class="btn  tooltips" data-original-title="Dar_Internación"><i class="fa fa-wheelchair text-muted"></i></a><span>&nbsp;</span>
                                                                        <a href="/medico/VerConsulta/<%=resp[i].numeroHistorial%>/<%=resp[i].id_cita%>"  data-toggle="tooltip" class="btn  tooltips" data-original-title="Ver_Consulta"><i class="fa fa-paste text-muted"></i></a><span>&nbsp;</span>
                                                                             
                                                                       
                                                                    </td>
                                                                </tr>
                                                            <% } %>
                                                            <% } else { %>
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    
                                                                </tr>
                                                            <% } %>
                                                        </tbody>                                                                       
                                                    </table>                           
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        </div>
                   
                    </div>
                
               
            </div>
        </div>
    </div>           
</div>

        
<!-- Modal alergias -->
<div class="modal fade" id="alergias" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Alergias</h4>
      </div>

        <div>
            <div class="">
                    <div id="main-content">
                            <div class="">			
                                    <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                                        <li class="active"><a href="#neww" data-toggle="tab">Citas</a>
                                        </li>
                                        <li><a href="#listt" data-toggle="tab">Listado de Citas del Paciente</a></li>
                                    </ul>
                                    <div id="myTabContent" class="tab-content">
                                        <div class="tab-pane fade active in " id="neww">
                                                <div class="col-md-12">
                                                        <div class="col-sm-4 col-sm-4">
                                                            <div class="entrada ">
                                                                <h6 class=" blue_info">N° de Historia:</h6>
                                                                <input
                                                                    value="<%=dataPaciente[0].numeroHistorial%>"
                                                                    class="form-control" readonly=""
                                                                    value="Read only text goes here">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8 col-sm-9">
                                                            <div class="form-group">
                                                                <div class="entrada">
                                                                    <h6 class=" blue_info">Nombre Completo:
                                                                    </h6>
                                                                    <input
                                                                        value="<%=dataPaciente[0].nombre%> <%=dataPaciente[0].apellidop%> <%=dataPaciente[0].apellidom%>"
                                                                        class="form-control" readonly=""
                                                                        value="Read only text goes here">
                                                                </div>
                                                            </div>
                                                        </div>

                                                </div>

                                                <div class="col-md-12">
                                                        
                                                        <div class="col-sm-4 col-sm-4">
                                                            <div class="entrada">Fecha:<br>
                                                                <input  type="date" name="fecha" require><br>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-8 col-sm-9">
                                                            <div class="entrada">Tipo de Alergia<br>
                                                                <input type="text" name="tipoAlergia" value="" size="20"class="form-control"><br>
                                                            </div>
                                                        </div>
                                                </div>                  
                                                <div class="col-md-12">
                                                            <div class="entrada">Descripción:<br>
                                                                
                                                              </div>
                                                              <textarea class="large-compact" name="descripcion" cols="62" rows="5"></textarea>
                                                              
                                                </div> 
                                                
				


                                        </div>
                                        <div class="tab-pane fade " id="listt">
                                            <table class="display table table-bordered table-striped"
                                                id="dynamic-tablee">
                                                <thead>
                                                    <tr>
                                                            <th>Fecha</th>
                                                            <th>Tipo de Alergia</th>
                                                            <th>Descripción</th>
                                                            <th>Ver</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                   
                                                    <tr class="gradeX">
                                                            <td> falta en la BD</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td><a href="" class="btn btn-info btn-raised btn-xs "><i class="zmdi zmdi-refresh-alt"></i></a></td>
                                                        
                                                    </tr>
                                                    
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                            <th>Fecha</th>
                                                            <th>Tipo de Alergia</th>
                                                            <th>Descripción</th>
                                                            <th>Ver</th>
                                                    </tr>
                                                </tfoot>
                                            </table>

                                        
                                        </div>
                                    </div>
                                    <!--/porlets-content-->
                            </div>
                        </div>
            </div>

        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>

    </div>
  </div>
</div>

<!-- Modal antecedentes -->
<div class="modal fade" id="antecedestes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Compose New Task</h4>
        </div>
      
        <div class="modal-body"> antecedestes </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
      
      </div>
    </div>
</div>










        <!--====== Scripts -->
       
        <script src="/js/get/consultaget.js"></script>


        <script src="/js/jquery-2.1.0.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/common-script.js"></script>
        <script src="/js/jquery.slimscroll.min.js"></script>
        

        <script src="/plugins/data-tables/dynamic_table_init2.js"></script>
        <script src="/plugins/data-tables/jquery.dataTables.js"></script>
        <script src="/plugins/data-tables/DT_bootstrap.js"></script>
        <script src="/plugins/data-tables/dynamic_table_init.js"></script>
        <script src="/plugins/edit-table/edit-table.js"></script>
        <script>
            jQuery(document).ready(function () {
                EditableTable.init();
            });
        </script>

        <script src="/js/jPushMenu.js"></script>
        <script src="/js/side-chats.js"></script>
        <script src="/js/get/getECP.js"></script>
        <script src="/js/fecha.js"></script>
    </body>

</html>