<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Consulta Externa</title>
    <meta charset="UTF-8">
    <%- include("../partials/head") -%>	

    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>

<body class=" light_theme  fixed_header left_nav_fixed" onload="actualizaReloj()">
    <!-- SideBar -->


    <!-- Content page-->
<div class="wrapper" >
    <!--\\\\\\\ wrapper Start \\\\\\-->
    <div class="header_bar">
        <!--\\\\\\\ header Start \\\\\\-->
        <div class="brand">
           <!--\\\\\\\ brand Start \\\\\\-->
           <div class="logo" style="display:block"><span class="theme_color">Hospital</div>

        </div>
            <!--\\\\\\\ brand end \\\\\\-->
        <div class="header_top_bar">
            <!--\\\\\\\ header top bar start \\\\\\-->
            
            <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>

            
            <li href="javascript:void(0);" class="btn btn-info " data-toggle="modal" data-target="#diagnostico"><i class="fa fa-plus-square"></i> <span> Diagnostico</span> </li>
            
           
               
            <div class="top_right_bar">
                <div class=" dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img
                    src="/images/user.png" /> <%=data_doc.data.medico.nombre%> <%=data_doc.data.medico.apellidop%><span class="user_adminname">
                    <FONT SIZE=1></FONT>
                    </span> <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <div class="top_pointer"></div>
                        
                        <li> <a href="/login.html"><i class="fa fa-power-off"></i> Cerrar sesión</a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--\\\\\\\ header top bar end \\\\\\-->
    </div>
    <div class="inner">
        <!--\\\\\\\ inner start \\\\\\-->
        <div class="left_nav">
            <!--\\\\\\\left_nav start \\\\\\-->
            <div class="left_nav_slidebar">
                <ul>
                    <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
                        <ul>
                            <li> <a href="/consulta_externa/home/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle "></i> <b>Inicio</b> </a> </li>
                        </ul>
                    </li>
                    <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Consulta Externa<span class="plus"><i class="fa fa-plus"></i></span></a>
                        <ul class="opened" style="display:block">
                            <li> <a href="/consulta_externa/lista_pacientes/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Listas de Citas</b>  </a> </li>
                        </ul>
                    </li>
                    <li > <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Historial<span class="plus"><i class="fa fa-plus"></i></span></a>
                        <ul >
                            <li> <a href="/paciente/ultimaCOnsultaH"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b >Última Consulta</b> </a></li>
                        </ul>
                    </li>
                    <li> <a href="javascript:void(0);"> <i class="fa fa-tasks"></i> Reporte<span class="plus"><i class="fa fa-plus"></i></span></a>
                        <ul >
                            <li> <a href="/paciente/HistorialGeneral"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Historial Clinico </b>  </a> </li>
                            <li> <a href="/consulta_externa/lista_pacientes/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Vicitas al doctor</b>  </a> </li>
                            <li> <a href="/consulta_externa/lista_pacientes/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Lista Recetas</b>  </a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--\\\\\\\left_nav end \\\\\\-->
        <div class="contentpanel " id="consulta">
            <!--\\\\\\\ contentpanel start\\\\\\-->
            <div class="container clear_both padding_fix col-lg-8">
                <br>
                <div class="col-lg-12 block-web"> 
                <!-- Content page -->
                   
                    <div class="header ">
                        
                        <div class="">
                           
                            <h2 class="content-header "><span>&nbsp;&nbsp;&nbsp;</span> Consulta Externa {{msg}}</h2>
                        </div>       
                    </div>
                    <!-- <div id="" class="col-md-2">	
                        <div class="">
                            <a href="/medico/volver" class="list-group-item  blue_bg text-center "><i class="fa fa-hand-o-left"></i>    ATRAS</a>	
                        </div>				
                    </div> -->
                   <!-- 
                       <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                       <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                                DATOS GENERALES DEL PACIENTE Y LA CITA
                       <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                       <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                    -->
                    <div class="row ">
                        <input type="hidden"  :value="id_medico = '<%=data_doc.data.medico.id%>'">  
                        <input type="hidden"  :value="id_cita = '<%=cita[0].id%>'">  
                        <input type="hidden"  :value=" tipoConsulta = '<%=cita[0].especialidad%>'" > 
                        <input type="hidden"  :value="numeroHistorial = '<%=dataPaciente[0].numeroHistorial%>'" >
                        <input type="hidden"  :value="id_hora = '<%=cita[0].hora.split("/")[1]%>'">   
                        <div class="col-md-9">
                            <section class="panel default blue_title h2">  
                                <div class="col-md-6 panel panel-default">
                                    <div class=" panel panel-default">
                                        <li  href="#ac3-1" data-parent="#accordion3" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Datos Personales</li>            
                                    </div>
                                    <div style="height: 0px;" id="ac3-1" class="panel-collapse collapse">
                                        <div class=""> 
                                                               
                                            <div class="col-md-5">
                                                <div class="entrada ">
                                                    <label class=" ">N° de Historial:</label><p><b><%=dataPaciente[0].numeroHistorial%></b></p>
                                                        <input type="hidden" name="numeroHistorial"  value="<%=dataPaciente[0].numeroHistorial%>"  class="form-control" readonly="" value="Read only text goes here">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                
                                                <div class="entrada">
                                                    <label class=" ">CI.:</label><p><b><%=dataPaciente[0].ci%></b></p>
                                                    <input type="hidden" name="ci" value="<%=dataPaciente[0].ci%>" class="form-control" readonly="" value="Read only text goes here">
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-sm-4">
                                                <div class="entrada">
                                                    <label class=" "> Sexo: </label><p><b><%=dataPaciente[0].sexo%></b></p>
                                                    <input type="hidden" name="sexo" value="<%=dataPaciente[0].sexo%>" class="form-control" readonly="" value="Read only text goes here">
                                                </div>
                                            </div>
                                            <div class="col-sm-8 col-sm-9">
                                                <div class="entrada">
                                                    <label class="">Fecha de Nacimiento:</label><p><b><%=dataPaciente[0].fechanacimiento%></b></p>
                                                    <input  type="hidden" name="fechanacimiento"  value="<%=dataPaciente[0].fechanacimiento%>" class="form-control" readonly="" value="Read only text goes here">
                                                </div>
                                            </div> 
                                            <div class="col-sm-12 col-sm-12">
                                                <div class="entrada">
                                                    <label class=" ">Nombre Completo:</label><p><b><%=dataPaciente[0].nombre%> <%=dataPaciente[0].apellidop%> <%=dataPaciente[0].apellidom%></b></p>
                                                        <input type="hidden" name="nombre apellidop apellidom" 
                                                            value="<%=dataPaciente[0].nombre%> <%=dataPaciente[0].apellidop%> <%=dataPaciente[0].apellidom%>"
                                                            class="form-control" readonly=""
                                                            value="Read only text goes here">
                                                </div> 
                                            </div> 
                                            <div>
                                                <li @click="data_paciente" href="javascript:void(0);" class="btn btn-info " data-toggle="modal" data-target="#DPaciente"><i class="fa fa-plus-square"></i> <span> Dar mas Información</span> </li>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 panel panel-default">
                                       
                                    <div class=" panel panel-default">
                                        <li href="#ac3-2" data-parent="#accordion" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Datos de la Cita</li>            
                                    
                                    </div>
                                    <div style="height: 0px;" id="ac3-2" class="panel-collapse collapse">
                                        <div class="col-sm-12 row"> 
                                                                       
                                            <div class=" col-sm-14 row">
                                                <div class="col-sm-2 ">
                                                    <div class="entrada">
                                                        <label class="">Hora:</label>
                                                            <p><%=cita[0].hora.split("/")[0]%></p>
                                                            <input type="hidden" name="hora" value="<%=cita[0].hora%>">        
                                                    </div>
                                                                                   
                                                </div>
                                                <div class="col-sm-9 text-center">
                                                        <div class="entrada ">
                                                            <label class="">Especialidad:</label><p><b><%=cita[0].especialidad%></b></p>
                                                                                                                           
                                                        </div>
                                                </div> 
                                            </div> 
                                            <div class=" col-sm-12 ">
                                                <div class="col-sm- 12 col-sm-12">
                                                    <div class="entrada">
                                                        <label class="">Nombre del Médico:</label><p><b><%=cita[0].medico%></b></p>
                                                        <input type="hidden" value="<%=cita[0].medico%>" class="form-control" readonly="" value="Read only text goes here" >
                                                    </div>
                                                </div>
                                            </div>               
                                        </div>
                                    </div>
                                        
                                </div> 
                            </section>          
                        </div>  
                        <div class="col-md-3">
                            <div class="file_sidebar">   
                                <li href="#collapse" data-parent="#accordion" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Detalles del Paciente</li>            
                                <div  class="file_sidebar_list panel-collapse collapse "   id="collapse" style="height: auto;">
                                    <ul>
                                        <li><a href="/datos_generales_paciente/lista_antecedentes/<%=cita[0].id%>/<%=dataPaciente[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>" ><i class="fa fa-building-o"></i>Antecedentes</a></li>
                                        <li><a href="/datos_generales_paciente/lista_alergias/<%=dataPaciente[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>/<%=cita[0].id%>"><i class="fa fa-user"></i>Alergias</a></li>
                                        <!-- <li><a href="/paciente/Vacunas" ><i class="fa fa-user"></i> Vacunas</a></li> -->
                                        <li><a href="/datos_generales_paciente/list_exFisico/<%=dataPaciente[0].id%>/<%=cita[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"><i class="fa fa-users"></i>Examen General</a></li>
                                        <li href="javascript:void(0);"  data-toggle="modal" data-target="#ExamenFisico"><a  ><i class="fa fa-users"></i>Examen General</a></li>
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 
                       <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                       <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                                REGISTRAR CONSULTA EXTERNA
                       <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                       <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                    -->
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="block-web">
                                <!-----<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                                                                    mensaje de alerta 
                                >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<-->
                                <div class="modal fade" id="Alerta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                          <h4 class="modal-title" id="myModalLabel">Atención</h4>
                                        </div>
                                        <div class="modal-body"> 
                                            <span style="color: blue">{{msg}}</span>
                                            <span style="color: red">{{msg_false}}</span>    
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Aceptar</button>
                                        </div>
                                      </div>
                                    </div>
                                </div>   
                                      
                                    
                                <div class="porlets-content">
                                    
                                    <template v-if="consulta_update == '' || consulta_update == null">
                                    
                                        <form @submit="reg_consulta" parsley-validate novalidate>
                                            <div class="col-md-12">

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Motivo de consulta</label>
                                                    
                                                        <textarea name="" id="" cols="10" rows="4" required placeholder="Introduzaca motivo de consulta" class="form-control" v-model = "anamnesis"onkeyup="mayus(this);" ></textarea>
                                                    </div><!--/form-group-->
                                                </div> 
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Tratamiento</label>

                                                        <textarea name="" id="" cols="10" rows="4" required placeholder="Introduzaca el tratamiento" class="form-control" v-model = "tratamiento" onkeyup="mayus(this);"></textarea>
                                                    </div><!--/form-group-->
                                                </div>    
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Observaciones</label>

                                                        <textarea name="" id="" cols="10" rows="4" required placeholder="Introduzaca las Observaciones" class="form-control" v-model = "observaciones" onkeyup="mayus(this);"></textarea>
                                                    </div><!--/form-group-->
                                                </div> 

                                                <template v-for="(list,index) of diagnostico">

                                                    <div class="col-md-4">
                                                        <section class="panel default orange_border vertical_border h1">
                                                            <div class="task-header orange_task">{{list.codigo}}<span><i></i><font size="2">{{list.descripcion}}</font></span> </div>
                                                            <div class="row task_inner inner_padding">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label>Observaciones</label>
                                                                            <textarea rows="10" class="form-control" v-model="list.observaciones" onkeyup="mayus(this);"></textarea>                                                                    
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="task-footer row">
                                                                <div class="col-md-4 ">
                                                                    <a @click="eliminarDiag(index)" class="btn btn-success " style='width:83px; height:30px'><i class="fa fa-times-circle"></i><font size="1"> Quitar</font></a>	
										                        </div>
                                                            </div>
                                                        </section>
                                                    </div> 

                                                </template> 

                                            </div>
                                            
                                            <button href="javascript:void(0);" data-toggle="modal" data-target="#Alerta" type="submit" class="btn btn-success btn-raised" style="margin-right: 20px;"><i class='fa fa-save'></i>&nbsp;&nbsp; Guardar</button>
											<button type="submit" class="btn btn-danger btn-raised" style="margin-right: 20px;"><i class='fa fa-times'></i>&nbsp;&nbsp; Cancelar</button>

                                        </form>

                                    </template>
                                    <template v-else>
                                        <form @submit="update_consulta" parsley-validate novalidate>

                                            <div class="col-md-12">

                                                <div class="col-md-9">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Motivo de consulta</label>
                                                        
                                                            <textarea name="" id="" cols="10" rows="4" required placeholder="Enter user name" class="form-control" v-model = "consulta_update.anamnesis"onkeyup="mayus(this);"></textarea>
                                                        </div><!--/form-group-->
                                                    </div> 
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Tratamiento</label>
    
                                                            <textarea name="" id="" cols="10" rows="4" required placeholder="Enter user name" class="form-control" v-model = "consulta_update.tratamiento" onkeyup="mayus(this);"></textarea>
                                                        </div><!--/form-group-->
                                                    </div>    
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Observaciones</label>
    
                                                            <textarea name="" id="" cols="10" rows="4" required placeholder="Enter user name" class="form-control" v-model = "consulta_update.observaciones" onkeyup="mayus(this);"></textarea>
                                                        </div><!--/form-group-->
                                                    </div> 

                                                </div>
                                                <div class="col-md-3">    
                                                    <div class="file_sidebar">  
                                                        <li href="#collapse4" data-parent="#accordion" data-toggle="collapse" class=" list-group-item  blue_bg text-center">Herramientas</li>
                                                           
                                                        <div class="file_sidebar_list panel-collapse collapse in"   id="collapse4" style="height: auto;">
                                                            <ul>
                                                                <%if(updateCita != "") { %>
                                                                    <li><a href="/consulta_externa/receta/<%=updateCita[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <i class="fa fa-building-o"></i>Receta</a></li>  
                                                                    <li><a href="/consulta_externa/papeleta_internacion/<%=updateCita[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"><i class="fa fa-exclamation-triangle"></i>Orden de Internación</a></li>        
                                                                    <li><a href="/laboratorios/lab_consulta_externa/<%=updateCita[0].id%>/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"><i class="fa fa-clipboard"></i>Examenes Complementarios </a></li>
                                                                <% }  %>
                                                                                                                                         
                                                            </ul>  
                                                        </div>
                                                    </div>                                                 
                                                </div>
                                               

                                                <template v-for="(list,index) of consulta_update.diagnostico">

                                                    <div class="col-md-4">
                                                        <section class="panel default orange_border vertical_border h1">
                                                            <div class="task-header orange_task">{{list.codigo}}<span ><i></i><font size="2">{{list.descripcion}}</font></span> </div>
                                                            <div class="row task_inner inner_padding">
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="form-group">
                                                                            <label>Observaciones</label>
                                                                            <textarea rows="10" class="form-control" v-model="list.observaciones"onkeyup="mayus(this);"></textarea>                                                                    
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="task-footer row">
                                                                <div class="col-md-4 ">
                                                                    <a @click="eliminarDiag_update(index)" class="btn btn-success " style='width:83px; height:30px'><i class="fa fa-times-circle"></i><font size="1"> Quitar</font></a>	
                                                                </div>
                                                            </div>

                                                        </section>
                                                    </div> 

                                                </template> 

                                            </div>

                                            <button href="javascript:void(0);" data-toggle="modal" data-target="#Alerta" class="btn btn-success btn-raised" type="submit"> <i class='fa fa-save'></i>&nbsp;&nbsp;Actualizar</button>
                                            
                                        </form>
                                    </template>

                                </div><!--/porlets-content-->

                            </div><!--/block-web--> 
                        </div><!--/col-md-6-->
                    </div><!-- row -->
                </div>     
                
            </div>
             <!-- 
                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                            Modal de diagnostico
                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
            -->
            <div class="modal fade" id="diagnostico" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Diagnosticos</h4>
                        </div>
                        <div class="modal-body"> 
                          <div id="div2">
                            <template v-if="consulta_update == '' || consulta_update == null">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <input type="text" placeholder="Buscar" class="form-control" v-model="data">
                                            </li>
                                            <li class="list-group-item" v-for="list in buscar">
                                                 <a @click="insertar(list.codigo)" data-dismiss="modal">{{list.codigo}}  {{list.descripcion}}</a>
                                            </li>
                                        </ul>
                                    </div>  
                                </div>
                            </template>
                            
                            <template v-else>
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <input type="text" placeholder="Buscar" class="form-control" v-model="data">
                                            </li>
                                            <li class="list-group-item" v-for="list in buscar">
                                                 <a @click="insertar_update(list.codigo)">{{list.codigo}}  {{list.descripcion}}</a>
                                            </li>
                                        </ul>
                                    </div>  
                                </div>
                            </template>
                          </div>  
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 
                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                            MODAL ACTUALIZAR DATOS DEL PACIENTE
                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
            -->
            <!-- Modal datos extra paciente -->
            <div class="modal fade" id="DPaciente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content  ">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"aria-hidden="true">&times;</button>
                            <h4 >Información del Paciente</h4>
                            <span style="color: red">{{msg_false_paciente}}</span>
                            <span style="color: blue">{{msg_paciente}}</span>
                        </div>
                        <template v-if="paciente_data == '' || paciente_data == null || paciente_data.length == 0">
                        
                            <form  method='post'>
                                <div class="container-fluid  "><br>
                                    <div class="col-md-14 ">
                                        <div class="col-md-6 ">
                                        
                                            <div class=" " >
                                                <label>Estado Civil:</label>
                                                <input readonly class="form-control"type='text' placeholder="Nombre" required  parsley-trigger="change" value="<%=dataPaciente[0].estadocivil%>">
                                            </div>

                                            <div class="">
                                                <label>Zona:</label>
                                                <input readonly class="form-control" type='text' name='apellidom' placeholder="Segundo Apellido" required  parsley-trigger="change" value="<%=dataPaciente[0].zona%>">
                                            </div>

                                        </div>
                                        <div class="col-md-6  ">
                                            <div class="">
                                                <label>Ocupación:</label>
                                                <input readonly class="form-control" type='text' name='apellidop' class='upper' placeholder="Primer Apellido" required  parsley-trigger="change" value="<%=dataPaciente[0].ocupacion%>">
                                            </div>
                                            <div class="">
                                                <label>Telefono:</label>
                                                <input readonly class="form-control" type='text' name='apellidom' placeholder="Segundo Apellido" required  parsley-trigger="change" value="<%=dataPaciente[0].telef%>">
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                                <div class="modal-footer ">
                                    <button disabled type="button" class="btn btn-danger" data-dismiss="modal"> <i class='fa fa-times'></i>&nbsp;&nbsp;Cancelar</button>
                                    <button disabled type='reset' class='btn btn-info' ><i class='fa fa-minus-square'></i>&nbsp;&nbsp; Limpiar</button>
                                    <button disabled type='submit' class='btn btn-success'><i class='fa fa-save'></i> &nbsp;&nbsp; Guardar</button>
    
                                </div>
                            </form>

                        </template>
                        <template v-else>
                            <form @submit="updateDataPaciente" method='post'>
                                <div class="container-fluid  "><br>
                                    <div class="col-md-14 ">
                                        <div class="col-md-6 ">
                                        
                                            <div class=" " >
                                                <label>Estado Civil:</label>
                                                <input  class="form-control"type='text' placeholder="Nombre" required  parsley-trigger="change" v-model="paciente_data.estadocivil">
                                            </div>

                                            <div class="">
                                                <label>Zona:</label>
                                                <input class="form-control" type='text' name='apellidom' placeholder="Segundo Apellido" required  parsley-trigger="change" v-model="paciente_data.zona">
                                            </div>

                                        </div>
                                        <div class="col-md-6  ">
                                            <div class="">
                                                <label>Ocupación:</label>
                                                <input class="form-control" type='text' name='apellidop' class='upper' placeholder="Primer Apellido" required  parsley-trigger="change" v-model="paciente_data.ocupacion">
                                            </div>
                                            <div class="">
                                                <label>Telefono:</label>
                                                <input class="form-control" type='text' name='apellidom' placeholder="Segundo Apellido" required  parsley-trigger="change" v-model="paciente_data.telef">
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="modal-footer ">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"> <i class='fa fa-times'></i>&nbsp;&nbsp;Cancelar</button>
                                    <button type='reset' class='btn btn-info' ><i class='fa fa-minus-square'></i>&nbsp;&nbsp; Limpiar</button>
                                    <button type='submit' class='btn btn-success'><i class='fa fa-save'></i> &nbsp;&nbsp; Guardar</button>

                                </div>
                            </form>
                        </template>
                   </div>
                </div>
            </div>

        </div>
    </div>      
</div>

        
<!-- Modal datos extra paciente -->
<div class="modal fade" id="DPaciente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content  ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"aria-hidden="true">&times;</button>
                <h4 >Información del Paciente</h4>
            </div>
            <form class=" " action='/paciente/postPaciente' method='post'>
                <div class="container-fluid  "><br>
                    <div class="col-md-14 ">
                        <div class="col-md-6 ">
                
                            <div class=" " >
                                <label>Estado Civil:</label>
                                <input  class="form-control"type='text' name='nombre'placeholder="Nombre" required  parsley-trigger="change">
                            </div>
                            
                            <div class="">
                                <label>Domicilio:</label>
                                <input class="form-control" type='text' name='apellidom' placeholder="Segundo Apellido" required  parsley-trigger="change">
                            </div>
                            
                        </div>
                        <div class="col-md-6  ">
                            <div class="">
                                <label>Ocupación:</label>
                                <input class="form-control" type='text' name='apellidop' class='upper' placeholder="Primer Apellido" required  parsley-trigger="change">
                            </div>
                            <div class="">
                                    <label>Telefono:</label>
                                    <input class="form-control" type='text' name='apellidom' placeholder="Segundo Apellido" required  parsley-trigger="change">
                                </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"> <i class='fa fa-times'></i>&nbsp;&nbsp;Cancelar</button>
                    <button type='reset' class='btn btn-info' ><i class='fa fa-minus-square'></i>&nbsp;&nbsp; Limpiar</button>
                    <button type='submit' class='btn btn-success'><i class='fa fa-save'></i> &nbsp;&nbsp; Guardar</button>
                        
                </div>
            </form>
       </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ExamenFisico" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog " id="mdialTamanio">
        <div class="modal-content  ">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal"aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Examen General</h3>
            </div>
            <div class="">
                <div class="tab-content">
                    <div class="" id="general">
                        <form class=" " action='/paciente/postPaciente' method='post'>
                            <div class="container-fluid  ">
                                               
                                <div class="col-md-20 ">
                                   
                                    <div class="col-md-6">
                                        <div class="col-md-6 ">
                                            <label>Frec. Cardiaca(lat/min):</label>
                                            <input type="number" value="1.08" data-decimals="2" min="1" max="3" step="0.01" class="form-control" name="respiracion" ></input>
                                        </div>
                                        <div class="col-md-6 ">
                                            <label>Frec.Respiratoria(rep/min):</label>
                                            <input type="number" value="1.08" data-decimals="2" min="1" max="3" step="0.01" class="form-control" name="respiracion" ></input>
                                        </div>
                                        <div class="col-md-6 ">
                                            <label>Pulso:</label>
                                            <input class="form-control" type='text' name='apellidom' placeholder="">
                                        </div>
                                        <div class="col-md-6 " >
                                            <label>Estado Nutricional:</label>
                                            <input  class="form-control"type='text' name='nombre'placeholder="">
                                        </div>
                                        <div class="">
                                            <label> Presión Arterial Brazo Isquierdo(mmHg):</label>
                                            <input type="text" class="form-control" name="presion" ></input>
                                        </div>
                                      
                                        
                                        <div class="">
                                            <label>Presión Arterial Brazo Derecho(mmHg):</label>
                                            <input type="text" class="form-control" name="presion" ></input>
                                        </div>                
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="col-md-4 row ">
                                            <label>Peso(kg):</label> 
                                        	<input type="number" value="50.08" data-decimals="2" min="10" max="500" step="0.1"class="form-control" name="peso" maxlength="5">
										</div>
                                        <div class="col-md-5  ">
                                            <label>Talla(m):</label> 
                                            <input class="form-control" type='text' name='apellidom' pl" data-decimals="2" min="1" max="3" step="0.01" class="form-control" name="talla" maxlength="3">
                                       </div>
                                        <div class="col-md-4 row ">
                                            <label >IMC:</label> 
                                            <input class="form-control"  name='apellidom' placeholder="">
                                        </div>
                                       
                                        <div class="col-md-6 row">
                                            <label>Temp. Axilar(°C):</label> 
                                        	<input type="number" value="50.08" data-decimals="2" min="10" max="100" step="0.1" class="form-control"name="temperatura" maxlength="5">
								        </div>
                                        <div class="col-md-6 ">
                                            <label>Temp. Rectal(°C):</label> 
                                        	<input type="number" value="50.08" data-decimals="2" min="10" max="100" step="0.1" class="form-control"name="temperatura" maxlength="5">
								        </div>
                                        <div class="col-sm-12 row">
                                            <label class="control-label">Observaciones:</label>
                                            <textarea class="form-control" name="otros" ></textarea>
                                          </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-12 page-content ">
                                   
                                <div class="col-md-8 ">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"> <i class='fa fa-times'></i>&nbsp;&nbsp;Cancelar</button>
                                    <button type='reset' class='btn btn-info' ><i class='fa fa-minus-square'></i>&nbsp;&nbsp; Limpiar</button>
                                    <button type='submit' class='btn btn-success'><i class='fa fa-save'></i> &nbsp;&nbsp; Guardar</button>
                                </div>
                            </div>
                                       
                        </form>
                    </div>
                            <!--<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<lista examen>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>
                                <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<-->
                            <div class="col-lg-12 "> 
                                    <section class="panel default blue_title h2">
                                        <div class="panel-heading">
                                             <span class="h6">Lista de Examenes físicos</span>
                                        </div>
                                        <div id="div1" class="">
                                        
                                              <table class="display table table-bordered table-striped" id="dynamic-table2">
                                                <thead>
                                                      <tr>
                                                        <th>#</th>
                                                        <th>Fecha</th>
                                                        <th>Peso</th>
                                                        <th>Talla</th>
                                                        <th>Temperatura</th>
                                                        
                                                        <th>Ver</th>
                                                      </tr>
                                                </thead>
                                                <tbody v-for="(list,index) in examen_list">														  
                                                    <tr class="gradeX">
                                                        <td>{{index+1}}</td>
                                                        <td>{{list.fecha_revision}}</td>
                                                        <td>{{list.peso}}</td>
                                                        <td>{{list.talla}}</td>
                                                        <td>{{list.temperatura}}</td>
                                                        		
                                                        <td >																			
                                                            <a @click="oneExamen(list.id)" data-toggle="tooltip" class="btn  tooltips" data-original-title="Modificar"><i class="fa fa-edit"></i></a>
                                                                                                                                                    
                                                        </td>

                                                    </tr>
                                                    <tr class="gradeX">
                                                            <td>{{index+1}}</td>
                                                            <td>{{list.fecha_revision}}</td>
                                                            <td>{{list.peso}}</td>
                                                            <td>{{list.talla}}</td>
                                                            <td>{{list.temperatura}}</td>
                                                                    
                                                            <td >																			
                                                                <a @click="oneExamen(list.id)" data-toggle="tooltip" class="btn  tooltips" data-original-title="Modificar"><i class="fa fa-edit"></i></a>
                                                                                                                                                        
                                                            </td>
    
                                                        </tr>
                                                </tbody>
                                               
                                              </table>
                               
                                        </div>
                                    </section>
                            </div>

                        </div>
            </div>       
        </div>
    </div>
</div>





<script>
    function mayus(e) {
    e.value = e.value.toUpperCase();
    }
</script>
    

<script>
    document.querySelector('#botao').addEventListener('click', function () {
      var peso = document.querySelector('#peso').value;
      var altura = document.querySelector('#altura').value;
      var imc = peso / (altura * altura);
      var hr = document.createElement('hr');
      var spanIMC = document.createElement('span');
      spanIMC.textContent = 'IMC: ' + imc;
      var divResultado = document.querySelector('#resultado');
      divResultado.appendChild(hr);
      divResultado.appendChild(spanIMC);
    });
</script>

<script type="text/javascript">
	calc = document.getElementById("calc");
	kg = document.getElementById("kg");
	m = document.getElementById("m");
	imc = document.getElementById("imc");
	lectura = document.getElementById("lectura");

	calc.onclick = function(){
		if(kg.value!="" && m.value!=""){
			imcx = (kg.value / (m.value* m.value));
			imc.innerHTML = imcx
			console.log(imcx);

			if(imcx<18.5){ lectura.innerHTML = "Peso inferior al normal"; }
			else if(imcx>=18.5 && imcx<=24.9){ lectura.innerHTML = "Peso normal"; }
			else if(imcx>=25 && imcx<=29.9){ lectura.innerHTML = "Peso superior al normal"; }
			else if(imcx>30){ lectura.innerHTML = "Obesidad"; }

		}else{
			alert("Debes ingresar peso y altura.")
		}

	};
</script>
    <!--====== Scripts -->
    <%- include("../partials/scripts") -%>
    <script src="/moment/moment.js"></script>
    <script src="/moment/locale/af.js"></script>
    <script src="/url/export.js"></script>
    <script src="/plugins/data-tables/dynamic_table_init2.js"></script>
    <script src="/js/vue/cunsulta_externa.js"></script>

</body>

</html>