<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <%- include("../partials/head") -%>	
</head>
<body class="light_theme  fixed_header left_nav_fixed">
  <div class="wrapper">
    <!--\\\\\\\ wrapper Start \\\\\\-->
    <div class="header_bar">
      <!--\\\\\\\ header Start \\\\\\-->
      <div class="brand">
        <!--\\\\\\\ brand Start \\\\\\-->
        <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
      </div>
      <!--\\\\\\\ brand end \\\\\\-->
      <div class="header_top_bar">
        <!--\\\\\\\ header top bar start \\\\\\-->
        <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i></a>
        <div class="top_right_bar">
          <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/user.png" /><span class="user_adminname">   <%=data_doc.data.medico.nombre%> <%=data_doc.data.medico.apellidop%></span> <b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <div class="top_pointer"></div>
              <li> <a href="profile.html"><i class="fa fa-user"></i> Profile</a> </li>
              <li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
              <li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
              <li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
            </ul>
          </div> 
        </div>
      </div>
      <!--\\\\\\\ header top bar end \\\\\\-->
    </div>
    <!--\\\\\\\ header end \\\\\\-->
    <div class="inner">
      <!--\\\\\\\ inner start \\\\\\-->
      <div class="left_nav">
        <!--\\\\\\\left_nav start \\\\\\-->
        <div class="left_nav_slidebar">
			<ul>
			  <li class="left_nav_active theme_border"><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
				<ul>
				  <li> <a  href="/farmacia/home/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b>Inicio</b> </a> </li>
				</ul>
			  </li>
			  <li> <a href="javascript:void(0);"> <i class="fa fa-hospital-o icon"></i>Farmacia <span class="plus"><i class="fa fa-plus"></i></span></a>
				<ul class="opened" style="display:block">
				  <li> <a href="/Farmacia/almacenamiento/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Almacenamiento</b> </a> </li>
				  <li> <a href="#"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Movimientos</b> </a> </li>
				  <li> <a href="/Farmacia/recetas_farm/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Recetas</b> </a> </li>
				  <li> <a href="/Farmacia/ventas/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Ventas</b> </a> </li>
				  <li> <a href="/Farmacia/Stock_far/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Stock</b> </a> </li>
				</ul>
			  </li>
			  <li> <a href="javascript:void(0);"> <i class="fa fa-paste"></i> Reportes Farmacia<span class="plus"><i class="fa fa-plus"></i></span> </a>
				<ul>
				  <li> <a href="/Farmacia/reportes_solicitudes"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b></b>Reportes de Sol. </a> </li>
								<li> <a href="/Farmacia/reportes_recetas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Rec.</b> </a> </li>
								<li> <a href="/Farmacia/reportes_ventas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Ven.</b> </a> </li>
								<li> <a href="/Farmacia/reportes_cajas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Cajas</b> </a> </li>
				  <li> <a href="/Farmacia/reportes_facturacion"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Fact.</b> </a> </li>
				  <li> <a href="/Farmacia/kardexValorizado"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Kardex Valorizado</b> </a> </li>
				  <li> <a href="/Farmacia/med_ven"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Med. Vencidos</b> </a> </li>
				</ul>
			  </li>
			</ul>
		  </div>
      </div>
    <!--Contenido-->
    <div class="contentpanel"><br>
      	<!--\\\\\\\ contentpanel start\\\\\\-->
	  	<div class="container clear_both padding_fix">
			<!--\\\\\\\ container  start \\\\\\-->
			<div id="main-content">
				<div class="page-content">
					<div class="row">
			  			<div class="col-md-12">
			   				<div class="block-web">
				 	 			<div class="header">
									<div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a> <a class="refresh" href="/Farmacia/solicitudes/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>"><i class="fa fa-repeat"></i></a> </div>
									<h3 class="content-header"> <i class="fa fa-medkit icon"></i>  Movimientos</h3>
								</div>
								<div class="porlets-content">
								<p class="text-center">
									<button type="button" class="btn btn-info btn-lg" onclick=location="/Farmacia/reg_solicitud/<%=data_doc.data.token_id%>/<%=data_doc.data.token_p%>" >Nueva Solicitud</button>
								</p>
								<div class="table-responsive">
						 	 		<table  class="display table table-bordered table-striped " id="dynamic-table">
										<thead>
											<tr>
											<th>#</th>
											<th>Nro. de Solicitud</th>
											<th>Responsable</th>
											<th>Fecha</th>
											<th>Trimestre</th>
											<th>Estado</th>
											<th>Destino</th>
											<th>Opciones</th>
											</tr>
										</thead>
										<tbody>
											<%for(var i = 0; i < resp.length; i++) { %>
												<tr>
													<td><%=i+1%></td>
													<td><%=resp[i].num_solicitud%></td>
													<td><%=resp[i].responsable%></td>
													<td><%=resp[i].createdAt%></td>
													<td><%=resp[i].trimestre%></td>													
													<td>verificar si el pedido llego todo completo</td>
													<td><%=resp[i].destino%></td>
													
													<td>ver</td>
												</tr>
											<% } %>
										<tbody>
					  				</table>
								</div><!--/table-responsive-->
				  			</div><!--/porlets-content-->
						</div><!--/block-web--> 
			  		</div><!--/col-md-12--> 
				</div><!--/row-->
		  	</div><!--/page-content end--> 
		</div><!--/main-content end--> 
	</div>
<!--\\\\\\\ content panel end \\\\\\-->
</div>
</div>
<%- include("../partials/scripts") -%>
</body>
</html>

