<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <%- include("../partials/head") -%>
  <link href="/css/pdf.css" rel="stylesheet" type="text/css" />
</head>
<body class="light_theme  fixed_header left_nav_fixed">
  <div class="wrapper">
    <div class="header_bar">
      <div class="brand">
        <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
      </div>
      <div class="header_top_bar oculto-impresion">
        <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i></a>
        <div class="btn-group"> <a class="btn btn-warning" href="/almacen/volver13/<%=data[0].id%>" data-print> <i class="fa fa-print"></i> Imprimir </a> </div>
        <div class="btn-group"> <a class="btn btn-success" href="/distribucion/volver"> <i class="fa fa-reply"></i> Salir</a> </div>
        <div class="top_right_bar">
          <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/user.png" /><span class="user_adminname">John Doe</span> <b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <div class="top_pointer"></div>
              <li> <a href="profile.html"><i class="fa fa-user"></i> Profile</a> </li>
              <li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
              <li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
              <li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
            </ul>
          </div> 
        </div>
      </div>
    </div>
    <div class="inner">
      <div class="left_nav">
        <div class="left_nav_slidebar oculto-impresion">
          <ul>
            <li class="left_nav_active theme_border"><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul>
                <li> <a href="home"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b>Inicio</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-hospital-o icon"></i>Almacen <span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul class="opened" style="display:block">
                <li> <a href="/almacen/grupoAsig"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Grupos de Asignacion</b> </a> </li>
                <li> <a href="/medicamento/dataGrupoA"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Medicamentos</b> </a> </li>
                <li> <a href="/proveedores/proveedores"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Proveedores</b> </a> </li>
                <li> <a href="/almacen/pedidos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Pedidos</b> </a> </li>
                <li> <a href="/distribucion/listDistribucion"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Distribucion</b> </a> </li>
                <li> <a href="/medicamento/stock"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Stock</b> </a> </li>
                <li> <a href="/almacen/farmacia_pedidos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Pedidos Farmacia</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-paste"></i> Reportes Almacen<span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul>
                <li> <a href="/almacen/reportes_pedidos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b></b>Reportes de Pedidos </a> </li>
                <li> <a href="/almacen/reportes_salidas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Salidas</b> </a> </li>
                <li> <a href="/almacen/kardexValorizado"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Kardex Valorizado</b> </a> </li>
                <li> <a href="/almacen/med_ven"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Med. Vencidos</b> </a> </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <!--Contenido-->
      <div class="contentpanel"><br>
        <!--Formulario-->
        <div class="container clear_both padding_fix">
          <div class="invoice ">
            <div class="invoice_body" data-print-content>
              <div  class="pull-left">
                <address>
                  <strong>HOPITAL DANIEL BRACAMONTE</strong><br>
                  Av. Italia Final S/N<br>
                  Telfs. 26246064-26244960<br>
                  POTOSI-BOLIVIA
                </address>
              </div>
              <div class="pull-right">
                <div class="invoice_logo"><img src="/images/hospital2.png" /></div>
              </div>
              <div class="clearfix"></div><br/>
              <h2 class="text-center">REGISTRO DE DISTRIBUCION</h2>
              <div class="row">
                <div class="col-sm-9">
                  <div> <strong>CODIGO DE DISTRIBUCION :</strong>   <%=data[0].codigo%>  </div>
                  <div> <strong>FECHA :</strong>   <%=data[0].fechaLlegada%>  </div>
                  <div> <strong>RECIBE :</strong>   <%=data[0].recibe%>  </div>
                  <div> <strong>TRIMESTRE :</strong>  no esta  </div>
                  <div> <strong>REPONSABLE :</strong> no esta<br/></div><br/>
                </div>
              </div>
              <table class="table table-bordered" >
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th>CATIDAD</th>
                    <th>CODIGO</th>
                    <th>PRODUCTO</th>
                    <th>PRECIO</th>
                  </tr>
                </thead>
                <tbody>
                  <%for(var i = 0; i < data[0].productos.length; i++) { %>
                  <tr>
                    <td><%=i+1%></td>
                    <td><%=data[0].productos[i].qty%></td>
                    <td><%=data[0].productos[i].item.codificacion%></td>
                    <td><%=data[0].productos[i].item.nombre%></td>
                    <td><%=data[0].productos[i].item.price%></td>
                  </tr> 
                  <% } %>
                </tbody>
              </table>
              <div class="invoice_footer">
                <div class="row">
                  <div class="col-sm-7">
                    <div class="payment-methods"></div>
                  </div>
                  <div class="col-sm-5">
                    <div class="invoice_total pull-right">
                      <h3><strong>Total: <span class="well_text"> <%=data[0].productos[0].item.price%>  </span></strong></h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include("../partials/scripts") -%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://www.jqueryscript.net/demo/Print-Specified-Area-Of-A-Page-PrintArea/demo/jquery.PrintArea.js"></script>
<script src="/js/imprimir.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js"></script>   
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"></script>
<script src="/js/vue/distribucion.js"></script>
</body>
</html>

