<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <%- include("../partials/head") -%>	
</head>
<body class="light_theme  fixed_header left_nav_fixed">
  <div class="wrapper">
    <!--\\\\\\\ wrapper Start \\\\\\-->
    <div class="header_bar">
      <!--\\\\\\\ header Start \\\\\\-->
      <div class="brand">
        <!--\\\\\\\ brand Start \\\\\\-->
        <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
      </div>
      <!--\\\\\\\ brand end \\\\\\-->
      <div class="header_top_bar">
        <!--\\\\\\\ header top bar start \\\\\\-->
        <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i></a>
        <div class="top_right_bar">
          <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/user.png" /><span class="user_adminname">John Doe</span> <b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <div class="top_pointer"></div>
              <li> <a href="profile.html"><i class="fa fa-user"></i> Profile</a> </li>
              <li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
              <li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
              <li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
            </ul>
          </div> 
        </div>
      </div>
      <!--\\\\\\\ header top bar end \\\\\\-->
    </div>
    <!--\\\\\\\ header end \\\\\\-->
    <div class="inner">
      <!--\\\\\\\ inner start \\\\\\-->
      <div class="left_nav">
        <!--\\\\\\\left_nav start \\\\\\-->
        <div class="left_nav_slidebar">
          <ul>
            <li class="left_nav_active theme_border"><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul>
                <li> <a href="home"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b>Inicio</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-hospital-o icon"></i>Almacen <span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul class="opened" style="display:block">
                <li> <a href="/almacen/grupoAsig"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Grupos de Asignacion</b> </a> </li>
                <li> <a href="/medicamento/dataGrupoA"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Medicamentos</b> </a> </li>
                <li> <a href="/proveedores/proveedores"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Proveedores</b> </a> </li>
                <li> <a href="/almacen/pedidos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Pedidos</b> </a> </li>
                <li> <a href="/distribucion/listDistribucion"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Distribucion</b> </a> </li>
                <li> <a href="/medicamento/stock"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Stock</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-paste"></i> Reportes Almacen<span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul>
                <li> <a href="/almacen/reportes_pedidos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b></b>Reportes de Pedidos </a> </li>
                <li> <a href="/almacen/reportes_salidas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Salidas</b> </a> </li>
                <li> <a href="/almacen/kardexValorizado"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Kardex Valorizado</b> </a> </li>
                <li> <a href="/almacen/med_ven"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Med. Vencidos</b> </a> </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
     <!--Contenido-->
     <div class="contentpanel" id="pedidos"><br>
      <!--\\\\\\\ contentpanel start\\\\\\-->
      <!--Formulario-->
      <div class="container clear_both padding_fix">
            <div id="main-content">
              <div class="page-content">
                <div class="row">
                  <div class="col-md-12">
                    <div class="block-web">
                        <div class="header">
                            <div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a> <a class="refresh" href="#"><i class="fa fa-repeat"></i></a> <a class="close-down" href="#"><i class="fa fa-times"></i></a> </div>
                            <h3 class="content-header"> <i class="fa fa-clipboard icon"></i> Distribucion </h3>
                          </div>
                      <div class="porlets-content">
                          <div class="panel-body">
                              <!-- Button trigger modal -->
                              <button type="button" class="btn btn-info btn-lg mb10" onclick=location="/distribucion/nueva_distribucion" >Nueva Distribucion</button>
                            </div>
                          
                        <div class="table-responsive">
                          <table  class="display table table-bordered table-striped" id="dynamic-table">
                            <thead>
															<tr>
																	<th>#</th>
																	<th>Cadigo</th>
																	<th>Responsable</th>
																	<th>Recibe</th>
																	<th>Fecha Llegada</th>
																	<th>Ver</th>
																	
																	</tr>
													</thead>
													<tbody>
                            <% for (var i = 0; i < resp.length; i++) { %>
															<tr>
																	<td><%=i+1%></td>
																	<td><%=resp[i].codigo%></td>
																	<td><%=resp[i].responsable%></td>
																	<td><%=resp[i].recibe%></td>
																	<td><%=resp[i].fechaLlegada%></td>
																	
																	<td class="center">
					                          <a href="javascript:void(0);" class="add_user" data-toggle="modal" data-target="#myModal" @click="onlyDistrubucion(<%=resp[i].id%>)"> <i class="fa fa-plus-square"></i> <span> New Task</span> </a> 
                                  </td>
                              </tr>
                            <% } %>
													</tbody>
                          </table>
                        </div><!--/table-responsive-->
                      </div><!--/porlets-content-->
                    </div><!--/block-web--> 
                  </div><!--/col-md-12--> 
                </div><!--/row-->
              </div>
            </div> 
          </div>


          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Compose New Task</h4>
                  </div>
                  
                  <div class="row">
                      <div class="col-md-12">
                        <div class="block-web">          
                          <div class="porlets-content">
                            <form  method="POST" class="form-horizontal group-border-dashed"  parsley-validate novalidate>
                              
                              <div class="form-group">
                                <label class="col-sm-3 control-label">Codigo:</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" v-model="oneDistrbucion.codigo" disabled="">
                                </div>
                              </div><!--/form-group--> 
                            
                              <div class="form-group">
                                <label class="col-sm-3 control-label">Recibe:</label>
                                <div class="col-sm-6">
                                  <input type="text" class="form-control" v-model="oneDistrbucion.recibe" disabled="">
                                </div>
                              </div><!--/form-group--> 
                              
                              <div class="form-group">
                                  <label class="col-sm-3 control-label">Nombre de Responsable:</label>
                                  <div class="col-sm-6">
                                    <input type="text" class="form-control" v-model="oneDistrbucion.responsable" disabled="">
                                  </div>
                              </div><!--/form-group--> 
                              
                              <div class="form-group">
                                  <label class="col-sm-3 control-label">Fecha de Distribucion:</label>
                                  <div class="col-sm-6">
                                    <input type="text" class="form-control" v-model="oneDistrbucion.fechaLlegada" disabled="">
                                  </div>
                              </div><!--/form-group--> 
                    
                            </form>
                          </div>
                        </div>
                      </div>
                    </div> <!-- //row -->

                    <div class="col-lg-12"> 
                        <section class="panel default blue_title h2">
          
                          <div class="panel-body">
                          
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th>#</th>	
                                  <th>Nombre</th>
											            <th>Precentacion</th>
											            <th>Precio</th>
											            <th>Cantidad</th>                                      
                                </tr>
                              </thead>
                              <tbody v-for="(item, index) in oneDistrbucion.productos">
                                <tr>
                                  <td>{{index+1}}</td>
                                  <td>{{item.item.nombre}}</td>
                                  <td>{{item.item.presentacion}}</td>
                                  <td>{{item.item.price}}</td>
                                  <td>{{item.qty}}</td>
                                </tr>                              
                              </tbody>
                            </table>                       
                          </div>
                        </section>
                      </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
    <!--\\\\\\\ content panel end \\\\\\-->
  </div>
  </div>
  <%- include("../partials/scripts") -%>
</body>
</html>

