<!DOCTYPE html>
<html lang="es">
<head>
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Inicio</title>
	<%- include("../partials/head") -%>
	<link rel="stylesheet" href="/css/form.css">
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
		<ul class="full-box list-unstyled text-right">
			<li class="pull-left">
				<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
			</li>
		</ul>
	</nav>
	<!-- Content page -->
	<div class="container-fluid">
		<div class="page-header">
	        <h1 class="text-titles"><i class="zmdi zmdi-widgets zmdi-hc-fw"></i>Distribucion</h1>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12" id="pedidos">
				<ul class="nav nav-tabs" style="margin-bottom: 15px;" id="links">
				  <li class="active"><a v-on:click="Listdistribuciones" href="#new" data-toggle="tab">Lista de Disribuciones</a></li>
					<li><a href="#list" data-toggle="tab">Nuevo Distribución</a></li>
					<li><a v-on:click="medicamento" href="#listMedicament" data-toggle="tab">Lista de medicamentos</a></li>
					<li><a href="#">Refresh</a></li>
       	 		</ul>
				<!-- lista Medicamento -->
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="new">
						
						<!-- para mostrar una distribucion que ya se hizo -->

						<%if (onlyDist != null) { %>
							<a href="/distribucion/limpiar">Limpiar</a>
							
						<div class="table-responsive">
							<div class="col-md-12 panel-body">
								<div id="cabeza">
									<div id="correo">
										<div class="entrada">Codigo:<br>
											<input type="text" value="<%=onlyDist[0].codigo%>"><br>
										</div>
										<div class="entrada">Responsable<br>
											<input type="text" value="<%=onlyDist[0].responsable%>"><br>
										</div>	
										<div class="entrada">Recibe:<br>
											<input type="text" value="<%=onlyDist[0].recibe%>">
										</div>
										<div class="entrada">Fecha de Envio:<br>
											<input  type="date" value="<%=onlyDist[0].fechaLlegada%>"><br>
										</div>
									</div>
									<div class="table-wrapper">
									<table class="fl-table">
										<thead>
											<tr>
											<th>#</th>
											<th>Nombre</th>
											<th>Precentacion</th>
											<th>Precio</th>
											<th>Cantidad</th>
											
											</tr>
										</thead>
										<tbody>
											<% for(var i = 0; i< onlyDist[0].productos.length; i++) {%>
											<tr>
												<td><%=i+1%></td>
												<td><%=onlyDist[0].productos[i].item.nombre%></td>
												<td><%=onlyDist[0].productos[i].item.presentacion%></td>
												<td><%=onlyDist[0].productos[i].item.price%></td>
												<td><%=onlyDist[0].productos[i].qty%></td>
											</tr>
											<% } %>
										</tbody>
										
									</table>
								</div>
							</div>
						</div>
						<% } else { %>
							<h2>no se selecciono nada</h2>
						<% } %>

						
						<div class="table-responsive">				
							<div class="table-wrapper">
									<div id="correo">
											<div class="entrada">
													<button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success btn-raised btn-lg"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
											</div>
											<div class="entrada">Buscar <i class="zmdi zmdi-search"></i><br>
													<input type="text" id="searchInput" placeholder="Buscar.."><br>
											</div>
									</div>
									<table class="fl-table" id="myTable">
										<thead>
											<tr>
												<th>#</th>
												<th>Codigo</th>
												<th>Responsable</th>
												<th>Recibe</th>
												<th>Fecha de Envio</th>
												<th>Ver</th>
											</tr>
									</thead>
									<tbody  v-for="(distribucion, index) of listDistribucion">
										<tr>
											<td>{{index + 1}}</td>
											<td>{{distribucion.codigo}}</td>
											<td>{{distribucion.responsable}}</td>
											<td>{{distribucion.recibe}}</td>
											<td>{{distribucion.fechaLlegada}}</td>
											<td><a :href="'/distribucion/onlyDist/' + distribucion.id" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
										</tr>


										

									</tbody>
								</table>
						</div>
					</div>  
					</div>
					<!-- Nueva Distribucion-->
					<div class="tab-pane fade" id="list">
						<%if (message != null) { %>
							<h2>Porfavor seleccione producto de la lista de medicamentos</h2>
						<% } %>	
						<span style="color: red;">{{respuestaPost}}</span>
						<form @submit="formSubmit" method="POST">
								<div class="grupo" id="cabeza">
										<div id="correo">
												<div class="entrada">Codigo:<br>
														<input type="text" v-model="codigo"><br>
												</div>
												<div class="entrada">Nombre de Responsable:<br>
													<input type="text" v-model="responsable"><br>
												</div>
												<div class="entrada">Recibe:<br>
													<input  type="text"  v-model="recibe"><br>
												</div>
												<div class="entrada">Fecha de Distribucion:<br>
													<input  type="date"  v-model="fechaLlegada"><br>
												</div>
										</div><br>
										
										<%if (products != null ) { %>
												<div class="table-wrapper">
													<table class="fl-table">
														<thead>
															<tr>
															<th>#</th>	
															<th>Codigo</th>
															<th>Descripcion</th>
															<th>Unidad</th>
															<th>Cantidad</th>
															<th>Eliminar</th>
															<th>Quitar</th>
															</tr>
														</thead>
														
															
															<tbody v-for="(car, index) of carrito">
																<tr>
																	<td>{{ index + 1 }}</td>
																	<td>{{car.item.codificacion}}</td>
																	<td>{{car.item.nombre}}</td>
																	<td>{{car.item.presentacion}}</td>
																	<td>{{car.qty}}</td>
																	<td> <a href="#" @click="reduceByOne(car.item.id)">Reducir</a>   </td>
																	<td><a href="#" @click="removeItem(car.item.id)">Eliminar</a> </td>    
																</tr>
															<tbody>
															
														
													</table>
												</div>
											
											<% } else { %>
												<h2> Seleccione Productos </h2>
											<% } %>
				
								</div>
								<p class="text-center">
										<button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
										<button @click="reduce" type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy" onclick="location.href='/esto';"></i> &nbsp;&nbsp; Guardar </button>
								</p>
						</form>
					</div>
					<!-- mostrar lista de medicamentos -->
					<div class="tab-pane fade" id="listMedicament">
						<div class="table-wrapper" id="app">
								<div id="correo">
										<div class="entrada">
												<button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success btn-raised btn-lg"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
										</div>
										<div class="entrada">Buscar <i class="zmdi zmdi-search"></i><br>
												<input type="text" id="searchInput" placeholder="Buscar.."><br>
										</div>
								</div>
								<table class="fl-table" id="myTable">
								<thead>
									<tr>
										<th>#</th>
										<th>Codificación</th>
										<th>Nombre</th>
										<th>unidades</th>
										<th>Precio</th>  
										
										<th>Añadir</th>                                           
									</tr>
								</thead>
								<tbody v-for="(medicamento, index) of medicamentos">
									<tr>
										<td>{{index + 1}}</td>
										<td>{{medicamento.codificacion}}</td>
										<td>{{medicamento.nombre}}</td>
										<td>{{medicamento.unidades}}</td>
										<td>{{medicamento.precio}}</td>
										<td>
											<button @click="insertar(medicamento.id)">Agregar</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>  
				</div>
			</div>
		</div>

	</div>
	
	</section>
	<!--====== Scripts -->
	<%- include("../partials/scripts") -%>
	<!--<script src="/js/paginacion.js"></script>	-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
	<script src="/js/vue/distribucion.js"></script>
	<script src="/js/get/consultaget.js"></script>	
</body>
</html>