<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pedido</title>
    <%- include("../partials/head") -%>	
</head>
<body class="light_theme  fixed_header left_nav_fixed">
    <div class="wrapper">
        <%- include("../partials/menu") -%>
        <div class="inner">
            <div class="left_nav">
                <div class="left_nav_slidebar">
                    <ul>
                        <li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
                            <ul >
                                <li> <a href="home"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b>Inicio</b> </a> </li>
                            </ul>
                        </li>
                        <li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-hospital-o icon"></i>Almacen <span class="left_nav_pointer"><i class="fa fa-plus"></i></span></a>
                            <ul class="opened" style="display:block">
                                <li> <a href="/almacen/grupoAsig"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Grupos de Asignacion</b> </a> </li>
                                <li> <a href="/medicamento/dataGrupoA"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Medicamentos</b> </a> </li>
                                <li> <a href="/proveedores/proveedores"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Proveedores</b> </a> </li>
                                <li> <a href="/almacen/pedidos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Pedidos</b> </a> </li>
                                <li> <a href="/distribucion/listDistribucion"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Distribucion</b> </a> </li>
                                <li> <a href="/medicamento/stock"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Stock</b> </a> </li>
                            </ul>
                        </li>
                        <li> <a href="javascript:void(0);"> <i class="fa fa-paste"></i> Reportes Almacen<span class="plus"><i class="fa fa-plus"></i></span> </a>
                            <ul>
                                <li> <a href="/almacen/reportes_pedidos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b></b>Reportes de Pedidos </a> </li>
                                <li> <a href="/almacen/reportes_salidas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Salidas</b> </a> </li>
                                <li> <a href="/almacen/kardexValorizado"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Kardex Valorizado</b> </a> </li>
                                <li> <a href="/almacen/med_ven"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Med. Vencidos</b> </a> </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>      
        </div>
        <div class="contentpanel" id="ver_pedido_farmacia"><br>
            <div class="container clear_both padding_fix">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block-web">
                            <div class="header">
                                <div class="actions"><a class="minimize" href="#">Refresh</a><a class="refresh" href="/distribucion/volver"><i class="fa fa-repeat"></i></a> </div>
                                <h2 class="content-header"><div class="info gray_symbols"><i class="fa fa-medkit icon"></i></div>    Solicitud</h2>   
                            </div>
                            <div class="porlets-content"><br><br>
                                <!--  <span style="color: red;">{{error}}</span>
                                <span style="color: blue;">{{msg}}</span><br><br> -->
                                <form  method="POST" class="form-horizontal group-border-dashed"  parsley-validate novalidate>
                                    <input type="hidden" :value="id_pedido = '<%=resp[0].id%>'">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Numero solicitud:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" readonly="" value="<%=resp[0].num_solicitud%>">
                                        </div>
                                    </div><!--/form-group--> 
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Trimestre:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" readonly="" value="<%=resp[0].trimestre%>">
                                        </div>
                                    </div><!--/form-group-->
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Fecha de Pedido:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" readonly="" value="<%=resp[0].createdAt.split("T")[0]%>">
                                        </div>
                                    </div><!--/form-group--> 
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Responsable:</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" readonly="" value="<%=resp[0].responsable%>">
                                        </div>
                                    </div><!--/form-group--> 
                                    <!--/form-group--> 
                                    <!--  <template v-if="pedido == ''"> -->
                                    <div class="col-md-11"> 
                                        <section class="panel default black_title h4">
                                            <div class="panel-body">
                                                <table class="display table table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                        <th>#</th>
                                                        <th>Cantidad de Producto</th>
                                                        <th>Codigo de Producto</th>
                                                        <th>Nombre</th>
                                                        <th>Precio</th>
                                                        <th>Precio Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody v-for="(item, index) in  list">  
                                                        <tr>
                                                        <td>{{index+1}}</td>
                                                        <td>{{item.qty}}</td>
                                                        <td>{{item.item.codificacion}}</td>
                                                        <td>{{item.item.nombre}}</td>
                                                        <td>{{item.item.price}}</td>
                                                        <td>{{item.price}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <p class="text-center">
                                                        <button type="button" class="btn btn-info btn-lg mb10" onclick=location="/distribucion/nueva_distribucion" ><i class="fa  fa-clipboard  icon"></i> Nueva Distribucion</button>
                                                </p>
                                            </div>
                                        </section>
                                    </div>
                                    <!--   </template> -->
                                        <!-- <template v-else>
                                            <div class="page-content">  
                                                <div class="row">
                                                    <div class="col-md-11"> 
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-1"> <i class="fa fa-angle-right"></i> Pedido Realizado </a> </h4>
                                                        </div>
                                                        <div style="height: 0px;" id="ac3-1" class="panel-collapse collapse"> 
                                                            <div class="panel-body">
                                                                <table class="table table-hover text-center">
                                                                    <thead>
                                                                        <tr>
                                                                        <th>#</th>
                                                                        <th>Codigo</th>
                                                                        <th>Nombre</th>
                                                                        <th>Precio</th>
                                                                        <th>Cantidad</th>
                                                                        <th>Precio Total</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody v-for="(item, index) in  list">  
                                                                        <tr>
                                                                        <td>{{index+1}}</td>
                                                                        <td>{{item.item.codificacion}}</td>
                                                                        <td>{{item.item.nombre}}</td>
                                                                        <td>{{item.item.price}}</td>
                                                                        <td>{{item.qty}}</td>
                                                                        <td>{{item.price}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div class="col-md-12">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <div class="col-sm-9">
                                                                                <div class="input-group"> <span class="input-group-addon">S/ Sub Total:</span>
                                                                                <input type="text" class="form-control"  disabled="" v-model="subTotal"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <div class="col-sm-9">
                                                                                <div class="input-group"> <span class="input-group-addon">S/ IVA:</span>
                                                                                <input type="text" class="form-control"  disabled="" v-model="subTotal * 0.13"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <div class="col-sm-9">
                                                                                <div class="input-group"> <span class="input-group-addon">Total:</span>
                                                                                <input type="text" class="form-control" disabled="" v-model="subTotal + subTotal * 0.13"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>   
                                                        </div>
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#ac3-2"> <i class="fa fa-angle-right"></i> Pedido Actualizado y Guardado </a> </h4>
                                                        </div>
                                                        <div id="ac3-2" class="panel-collapse collapse" style="height: 0px;">
                                                            <div class="panel-body">
                                                                <table class="table table-hover">
                                                                    <thead>
                                                                        <tr>
                                                                        <th>#</th>
                                                                        <th>Codigo</th>
                                                                        <th>Nombre</th>
                                                                        <th>Precio</th>
                                                                        <th>Cantidad</th>
                                                                        <th>Precio Total</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody v-for="(item, index) in  pedido.medicamentos">  
                                                                        <tr>
                                                                        <td>{{index+1}}</td>
                                                                        <td>{{item.item.codificacion}}</td>
                                                                        <td>{{item.item.nombre}}</td>
                                                                        <td>{{item.item.price}}</td>
                                                                        <td>{{item.qty}}</td>
                                                                        <td>{{item.price}}</td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div class="col-md-12">
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <div class="col-sm-9">
                                                                                <div class="input-group"> <span class="input-group-addon">S/ Sub Total:</span>
                                                                                <input type="text" class="form-control"  disabled="" v-model="pedido.subTotal"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <div class="col-sm-9">
                                                                            <div class="input-group"> <span class="input-group-addon">S/ IVA:</span>
                                                                                <input type="text" class="form-control"  disabled="" v-model="pedido.iva"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-4">
                                                                        <div class="form-group">
                                                                            <div class="col-sm-9">
                                                                                <div class="input-group"> <span class="input-group-addon">Total:</span>
                                                                                <input type="text" class="form-control" disabled="" v-model="pedido.total"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><br>
                                                <p class="text-center">
                                                    <a class="btn btn-success" href="/almacen/volver"><i class="fa fa-reply"></i> Volve Pedidos</a>
                                                </p>
                                            </div>
                                        </template> -->
                                    <div class="form-group"  >
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Guardar</button>
                                            <a class="btn btn-danger" href="/almacen/volver"><i class="fa fa-times"></i> Cancelar</a>
                                        </div>
                                    </div><!--/form-group--> 
                                </form>
                            </div><!--/porlets-content--> 
                        </div><!--/block-web--> 
                    </div><!--/col-md-12--> 
                </div><!--/row-->    
            </div>
        </div>
    </div>
<%- include("../partials/scripts") -%>
<script src="/js/vue/pedidos_ver_farmacia.js"></script>
</body>
</html>