<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <%- include("../partials/head") -%>	
</head>
<body class="light_theme  fixed_header left_nav_fixed">
  <div class="wrapper">
    <!--\\\\\\\ wrapper Start \\\\\\-->
    <div class="header_bar">
      <!--\\\\\\\ header Start \\\\\\-->
      <div class="brand">
        <!--\\\\\\\ brand Start \\\\\\-->
        <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
      </div>
      <!--\\\\\\\ brand end \\\\\\-->
      <div class="header_top_bar">
        <!--\\\\\\\ header top bar start \\\\\\-->
        <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i></a>
        <div class="top_right_bar">
          <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/user.png" /><span class="user_adminname">John Doe</span> <b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <div class="top_pointer"></div>
              <li> <a href="profile.html"><i class="fa fa-user"></i> Profile</a> </li>
              <li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
              <li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
              <li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
            </ul>
          </div> 
        </div>
      </div>
      <!--\\\\\\\ header top bar end \\\\\\-->
    </div>
    <!--\\\\\\\ header end \\\\\\-->
    <div class="inner">
      <!--\\\\\\\ inner start \\\\\\-->
      <div class="left_nav">
        <!--\\\\\\\left_nav start \\\\\\-->
        <div class="left_nav_slidebar">
          <ul>
            <li class="left_nav_active theme_border"><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul>
                <li> <a href="home"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b>Inicio</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-hospital-o icon"></i>Almacen <span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul class="opened" style="display:block">
                <li> <a href="/almacen/grupoAsig"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Grupos de Asignacion</b> </a> </li>
                <li> <a href="/medicamento/dataGrupoA"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Medicamentos</b> </a> </li>
                <li> <a href="/proveedores/proveedores"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Proveedores</b> </a> </li>
                <li> <a href="/almacen/pedidos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Pedidos</b> </a> </li>
                <li> <a href="/distribucion/listDistribucion"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Distribucion</b> </a> </li>
                <li> <a href="/medicamento/stock"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Stock</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-paste"></i> Reportes Almacen<span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul>
                <li> <a href="/almacen/reportes_pedidos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b></b>Reportes de Pedidos </a> </li>
                <li> <a href="/almacen/reportes_salidas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Salidas</b> </a> </li>
                <li> <a href="/almacen/kardexValorizado"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Kardex Valorizado</b> </a> </li>
                <li> <a href="/almacen/med_ven"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Med. Vencidos</b> </a> </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
     <!--Contenido-->
     <div class="contentpanel"><br>
      <!--\\\\\\\ contentpanel start\\\\\\-->
      <!--Formulario-->
      <div class="container clear_both padding_fix">
        <div class="row">
          <div class="col-md-12">
            <div class="block-web">
              <div class="header">
                <div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a><a class="refresh" href="/almacen/volver1"><i class="fa fa-repeat"></i></a> </div>
                <h3 class="content-header"> <i class="fa fa-list icon"></i> Registrar Grupo de Asignacion</h3>
              </div>
              <div class="porlets-content">
                <% if(msg != null) { %>
                <div class="bs-example mover">
                  <div class="alert alert-danger fade in">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <span class="glyphicon glyphicon-ok"></span> <strong>Mensaje de Confirmación <h6 class="text-center" style="color:rgb(95, 4, 4);"><%=msg%></h6></strong>
                  </div>
                </div> 
                <%} else if(pass != null) { %>
                <div class="bs-example mover">
                  <div class="alert alert-info fade in">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <span class="glyphicon glyphicon-ok"></span> <strong>Mensaje de Confirmación <h6 class="text-center" style="color:rgb(2, 2, 99);"><%=pass%></h6></strong>
                  </div>
                </div>
                <% } %>
                <%if (oneGrupoAsig == null) { %>
                <form  class="form-horizontal group-border-dashed" action="/almacen/grupoAsig" method="POST" parsley-validate novalidate onkeyup="mayus(this);">
                  <%if(err != null) { %>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Codigo</label>
                    <div class="col-sm-6">                   
                      <input type="number" class="form-control" required parsley-minlength="3"  name="codigo" value="<%=err.codigo%>" onkeyup="mayus(this);"/>
                    </div>
                  </div><!--/form-group--> 
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Descripcion</label>
                    <div class="col-sm-6">                   
                      <input type="text" class="form-control" required parsley-minlength="6" name="descripcion" value="<%=err.descripcion%>" onkeyup="mayus(this);"/>
                    </div>
                  </div><!--/form-group--> 
                  <% } else { %>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Codigo</label>
                    <div class="col-sm-6">                       
                      <input type="number" class="form-control" required parsley-minlength="3"  name="codigo" onkeyup="mayus(this);"/>
                    </div>
                  </div><!--/form-group--> 
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Descripcion</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" required parsley-minlength="6"  name="descripcion" onkeyup="mayus(this);"/>
                    </div>
                  </div><!--/form-group--> 
                  <% } %>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button  type="submit" class="btn btn-primary" ><i class="fa fa-floppy-o"></i>  Guardar</button>
                      <button type="reset" value="reset" class="btn btn-danger"><i class="fa fa-times"></i> Cancelar</button>
                    </div>
                  </div><!--/form-group--> 
                </form>
                <% } else { %>
                <form class="form-horizontal group-border-dashed" action="/almacen/updateGPA/<%=oneGrupoAsig[0].id%>" method="POST" parsley-validate novalidate>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Codigo:</label>
                    <div class="col-sm-6">
                      <input type="number" class="form-control" value="<%=oneGrupoAsig[0].codigo%>" required parsley-minlength="3" name="codigo" onkeyup="mayus(this);"/>
                    </div>
                  </div><!--/form-group--> 
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Descripcion:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" value="<%=oneGrupoAsig[0].descripcion%>"  required parsley-minlength="6" name="descripcion" onkeyup="mayus(this);"/>
                    </div>
                  </div><!--/form-group--> 
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i>  Guardar</button>
                      <a type="reset" class="btn btn-danger" href="/almacen/volver1"><i class="fa fa-times"></i> Cancelar</a>
                    </div>
                  </div>
                </form>
                <% } %>  
              </div><!--/porlets-content-->
              <div id="main-content">
                <div class="page-content">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="block-web">
                        <div class="header">
                          <div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a> </div>
                          <h3 class="content-header">Lista de Grupo de Asignacion</h3>
                        </div>
                        <div class="porlets-content">
                          <div class="table-responsive">
                          <table  class="display table table-bordered table-striped " id="dynamic-table">
                            <thead>
                              <tr>
                              <th>#</th>
                              <th>Codigo</th>
                              <th>Descripcion</th>
                              <th >Modificar</th>
                              </tr>
                            </thead>
                            <tbody>
                            <% for(var i=0; i < resp.length; i++) { %>
                              <tr>
                              <td><%= i+1 %></td>
                              <td><%=resp[i].codigo%></td>
                              <td><%=resp[i].descripcion%></td>
                              <td class="center hidden-phone">
                              <a class="btn btn-success btn-sm" href="/almacen/GrupoAsigONLY/<%=resp[i].id%>"><i class="fa fa-refresh"></i> </a>
                              </td>
                              </tr>
                            <% } %>
                            </tbody>
                          </table>
                          </div><!--/table-responsive-->
                        </div><!--/porlets-content-->
                      </div><!--/block-web--> 
                    </div><!--/col-md-12--> 
                  </div><!--/row-->
                </div><!--/page-content end--> 
              </div><!--/main-content end-->
            </div><!--/block-web--> 
          </div><!--/col-md-12--> 
        </div>
      </div>
    <!--\\\\\\\ content panel end \\\\\\-->
    </div>
  </div>
</div>

  <%- include("../partials/scripts") -%>
</body>
</html>

