<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("../partials/head") -%>
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
	<!-- NavBar -->
	<nav class="full-box dashboard-Navbar">
		<ul class="full-box list-unstyled text-right">
			<li class="pull-left">
				<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
			</li>
		</ul>
	</nav>
	<!-- Content page -->
	<div class="container-fluid">
		<div class="page-header">
	        <h1 class="text-titles"><i class="zmdi zmdi-hospital zmdi-hc-fw"></i>Medicanetos e Insumos</h1>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			
				<!-- Nuevo Medicamento -->
				<% if (dataGRUPOa == null) {%>
					<h1>Ocurrio un problema con el servidor por favor intenta volver a entrar en esta pagina desde una pestaña anterior</h1>
				<% } else {%>	
			    
						<div class="container-fluid">
							
								
								<form action="/medicamento/updateMedicamento/<%=resp[0].id%>" method="POST">
									<div class="grupo" id="cabeza">
										<div id="tres2">
											<div class="entrada">Grupo de Asignación:<br>
												<select  name="grupoAsig">
														<option ><%=resp[0].grupoAsig%></option>
														<% for(var i=0; i< dataGRUPOa.length; i++) {%>
														<option><%=dataGRUPOa[i].descripcion%></option>
														<% } %>
														
													</select><br>
											</div>
											<div class="entrada">Codificación:<br>
												<input type="text" value="<%=resp[0].codificacion%>" name="codificacion" ><br>
											</div>
											<div class="entrada">Nombre:<br>
												<input type="text" name="nombre" value="<%=resp[0].nombre%>" ><br>
											</div>
										</div>
										<div id="cuatro">
											<div class="entrada">Generico:<br>
												<input type="text" name="generico" value="<%=resp[0].generico%>"><br>
											</div>
											<div class="entrada">Unidad de Medida:<br>
												<input type="text" name="unidadMedida" value="<%=resp[0].unidadMedida%>"><br>
											</div>
											<div class="entrada">Concentracion:<br>
												<input type="text" name="concentracion" value="<%=resp[0].concentracion%>"><br>
											</div>
											<div class="entrada">Presentacion:<br>
												<input type="text" name="presentacion" value="<%=resp[0].presentacion%>"><br>
											</div>
										</div>
										<div id="correo">
												<div class="entrada">Fecha de Llegada:<br>
													<input  type="date" name="fechaLLEgada" value="<%=resp[0].fechaLLEgada%>"><br>
												</div>
												
												<div class="entrada">Cantidad:<br>
													<input  type="text" name="cantidad" value="<%=resp[0].cantidad%>"><br>
												</div>
												
												<div class="entrada">Cantidad por Unidades:<br>
													<input  type="text" name="unidades" value="<%=resp[0].unidades%>"><br>
												</div>
												<div class="entrada">Fecha de Vencimiento:<br>
													<input type="date" name="fechaVencimiento" value="<%=resp[0].fechaVencimiento%>"><br>
												</div>
												<div class="entrada">Precio:<br>
													<input  type="text" name="precio" value="<%=resp[0].precio%>"><br>
												</div>
											</div>
									</div>
									<p class="text-center">
										<button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
										<button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
									</p>
								</form>
							</div>
						</div>
				<% } %>  
				</div>
			</div>
		</div>
	</div>
	</section>
	<!--====== Scripts -->
	<%-include("../partials/scripts") -%>
</body>
</html>