
<html >
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>HOSPITAL</title>
	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
		<link href="/css/font-awesome.css" rel="stylesheet" type="text/css" />
		<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/css/animate.css" rel="stylesheet" type="text/css" />
		<link href="/css/admin.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/data-tables/DT_bootstrap.css" rel="stylesheet">
		<link href="/plugins/advanced-datatable/css/demo_table.css" rel="stylesheet">
		<link href="/plugins/advanced-datatable/css/demo_page.css" rel="stylesheet">
		<link rel="/stylesheet" href="/css/selectBuscar.css">
		
		<link href="/plugins/toggle-switch/toggles.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/checkbox/icheck.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/checkbox/minimal/blue.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/checkbox/minimal/green.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/checkbox/minimal/grey.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/checkbox/minimal/orange.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/checkbox/minimal/pink.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/checkbox/minimal/purple.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.css" rel="stylesheet">
		<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-datepicker/css/datepicker.css" />
		<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-timepicker/compiled/timepicker.css" />
		<link rel="stylesheet" type="text/css" href="/plugins/bootstrap-colorpicker/css/colorpicker.css" />
	
	</head>
	<body class="light_theme  fixed_header left_nav_fixed">
	<div class="wrapper">
	  <!--\\\\\\\ wrapper Start \\\\\\-->
	  <div class="header_bar">
		<!--\\\\\\\ header Start \\\\\\-->
		<div class="brand">
		  <!--\\\\\\\ brand Start \\\\\\-->
		  <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
		  
		</div>
		<!--\\\\\\\ brand end \\\\\\-->
		<div class="header_top_bar">
		  <!--\\\\\\\ header top bar start \\\\\\-->
		  <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
		
		  <div class="top_right_bar">
			
			<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/user.png" /><span class="user_adminname">John Doe</span> <b class="caret"></b> </a>
			  <ul class="dropdown-menu">
				<div class="top_pointer"></div>
				<li> <a href="profile.html"><i class="fa fa-user"></i> Profile</a> </li>
				<li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
				<li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
				<li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
			  </ul>
			</div> 
		  </div>
		</div>
		<!--\\\\\\\ header top bar end \\\\\\-->
	  </div>
	  <!--\\\\\\\ header end \\\\\\-->
	  <div class="inner">
		<!--\\\\\\\ inner start \\\\\\-->
		<div class="left_nav">
	
		  <!--\\\\\\\left_nav start \\\\\\-->
		
		  <div class="left_nav_slidebar">
			<ul>
			  <li class="left_nav_active theme_border"><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
				<ul >
				  <li> <a href="home"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b>Inicio</b> </a> </li>
				</ul>
			  </li>
			  <li> <a href="javascript:void(0);"> <i class="fa fa-hospital-o icon"></i>Almacen <span class="plus"><i class="fa fa-plus"></i></span></a>
				<ul class="opened" style="display:block">
				  <li> <a href="/almacen/grupoAsig"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Grupos de Asignacion</b> </a> </li>
				  <li> <a href="/medicamento/dataGrupoA"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Medicamentos</b> </a> </li>
				  <li> <a href="/proveedores/proveedores"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Proveedores</b> </a> </li>
				  <li> <a href="/almacen/pedidos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Pedidos</b> </a> </li>
				  <li> <a href="/distribucion/listDistribucion"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Distribucion</b> </a> </li>
				  <li> <a href="/medicamento/stock"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Stock</b> </a> </li>
				</ul>
			  </li>
			  <li> <a href="javascript:void(0);"> <i class="fa fa-paste"></i> Reportes Almacen<span class="plus"><i class="fa fa-plus"></i></span> </a>
				<ul>
				  <li> <a href="/almacen/reportes_pedidos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b></b>Reportes de Pedidos </a> </li>
				  <li> <a href="/almacen/reportes_salidas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Salidas</b> </a> </li>
				  <li> <a href="/almacen/kardexValorizado"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Kardex Valorizado</b> </a> </li>
				  <li> <a href="/almacen/med_ven"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Med. Vencidos</b> </a> </li>
				</ul>
			  </li>
			</ul>
		  </div>
		</div>
		<!--\\\\\\\left_nav end \\\\\\-->
		<div class="contentpanel"><br>
		  <!--\\\\\\\ contentpanel start\\\\\\-->
		  <!--Formulario-->
		  <div class="container clear_both padding_fix">
				<!--\\\\\\\ container  start \\\\\\-->
				<div class="row">
				  <div class="col-md-12">
					  <div class="block-web">
						  <div class="header">
							  <div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a><a class="close-down" href="#"><i class="fa fa-times"></i></a> </div>
							  <h3 class="content-header"> <i class="fa fa-medkit icon"></i> Registrar Medicamento</h3>
						  </div>
						  <div class="porlets-content">
						  <% if (dataGRUPOa == null) {%>
							  <h1>Ocurrio un problema con el servidor por favor intenta volver a entrar en esta pagina desde una pestaña anterior</h1>
						  <% } else {%>	
							<%if(OnlyMedicamento == null) { %>
								<% if(msg_post_false) { %>
									<span style="color: red;"><%=msg_post_false%></span>
								<% } else { %>
									<span style="color: blue;"><%=msg_post_true%></span>
								<% } %>
							  <form  action="/medicamento/medicamentos" method="POST" parsley-validate novalidate>
								  <div class="col-md-4">
									  <div class="form-group">
										  <label>Grupo de Asignación:</label>
										  <select  name="grupoAsig">
											  <% for(var i=0; i< dataGRUPOa.length; i++) {%>
											  <option><%=dataGRUPOa[i].descripcion%></option>
											  <% } %>
										  </select>
									  </div>
									  <div class="form-group">
										  <label>Generico:</label>
										  <input type="text" name="generico" required class="form-control">
									  </div>
									  <div class="form-group">
										  <label>Presentacion:</label>
										  <input type="text" name="presentacion" required class="form-control">
									  </div>
									  
								  </div>  
								  <div class="col-md-4">
									  <div class="form-group">
										  <label>Codificación:</label>
										  <input type="text" name="codificacion" required class="form-control">
									  </div>
									  <div class="form-group">
										  <label>Unidad de Medida:</label>
										  <input type="text" name="unidadMedida" required class="form-control">
									  </div>
									<div class="form-group">
										<label>Cantidad inicial:</label>
										<input type="text" name="unidades" required class="form-control">
									</div>
									  
									  
								  </div>
								  <div class="col-md-4">
									  <div class="form-group">
										  <label>Nombre:</label>
										  <input  type="text" name="nombre"  required class="form-control">
									  </div>
									  <div class="form-group">
										  <label>Concentracion:</label>
										  <input type="text" name="concentracion" required class="form-control">
									  </div>
									<div class="form-group">
										<label>Precio:</label>
										<input type="text" name="precio" required class="form-control">
									</div>								  
									 
								  </div>
								  <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i>  Guardar</button>
								  <button class="btn btn-danger"><i class="fa fa-times"></i> Cancelar</button>
							  </form>
							<% } else { %>
								<a href="/medicamento/volver">Volver</a>
								<form  action="/medicamento/updateMedicamento/<%=OnlyMedicamento[0].id%>" method="POST" parsley-validate novalidate>
									<div class="col-md-4">
										<div class="form-group">
											<label>Grupo de Asignación:</label>
											<select  name="grupoAsig">
												<option><%=OnlyMedicamento[0].GrupoDesignado.descripcion%></option>
												<option>--------------------------</option>
												<% for(var i=0; i< dataGRUPOa.length; i++) {%>
												<option><%=dataGRUPOa[i].descripcion%></option>
												<% } %>
											</select>
										</div>
										<div class="form-group">
											<label>Generico:</label>
											<input type="text" name="generico" required class="form-control" value="<%=OnlyMedicamento[0].generico%>">
										</div>
										<div class="form-group">
											<label>Presentacion:</label>
											<input type="text" name="presentacion" required class="form-control" value="<%=OnlyMedicamento[0].presentacion%>">
										</div>
										
									</div>  
									<div class="col-md-4">
										<div class="form-group">
											<label>Codificación:</label>
											<input type="text" name="codificacion" required class="form-control" value="<%=OnlyMedicamento[0].codificacion%>">
										</div>
										<div class="form-group">
											<label>Unidad de Medida:</label>
											<input type="text" name="unidadMedida" required class="form-control" value="<%=OnlyMedicamento[0].unidadMedida%>">
										</div>
										<div class="form-group">
											<label>Cantidad inicial:</label>
											<input type="text" name="unidades" required class="form-control">
										</div>
										
										
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Nombre:</label>
											<input  type="text" name="nombre"  required class="form-control" value="<%=OnlyMedicamento[0].nombre%>">
										</div>
										<div class="form-group">
											<label>Concentracion:</label>
											<input type="text" name="concentracion" required class="form-control" value="<%=OnlyMedicamento[0].concentracion%>">
										</div>
										
										<div class="form-group">
											<label>Precio:</label>
											<input type="text" name="precio" value="<%=OnlyMedicamento[0].precio%>" required class="form-control">
										</div>
									   
									</div>
									<button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i>  Guardar</button>
									<button class="btn btn-danger"><i class="fa fa-times"></i> Cancelar</button>
								</form>
							<% } %>	
						  <% } %>
						  </div>
					  </div>
				  </div>
			  </div><!--/row-->
		  
		  <div id="main-content">
		  <div class="page-content">
		  <div class="row">
		  <div class="col-md-12">
			<div class="block-web">
			 <div class="header">
				<div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a> <a class="refresh" href="#"><i class="fa fa-repeat"></i></a> <a class="close-down" href="#"><i class="fa fa-times"></i></a> </div>
				<h3 class="content-header">Tabla de Datos</h3>
			  </div>
		   <div class="porlets-content">
			  <div class="table-responsive">
				  <table  class="display table table-bordered table-striped " id="dynamic-table">
				  <thead>
					  <tr>
					  <th>#</th>
					  <th>Grupo de Asignación</th>
					  <th>Codificación</th>
					  <th>Nombre</th>
					  <th>Precio</th>
					  <th>Cantidad</th>
					  <th class="hidden-phone">Opciones</th>
					  <th>ver cantidades</th>
				  </thead>
				  <tbody>
					  <% for(var i=0; i < resp.length; i++) { %>
					  <tr>
					  <td><%= i+1%></td>
					  <td><%=resp[i].GrupoDesignado.descripcion%></td>
					  <td><%=resp[i].codificacion%></td>
					  <td><%=resp[i].nombre%></td>		 
					  <td><%=resp[i].precio%></td>	
					  <td><%=resp[i].unidades%></td>	
					  <td><a class="btn btn-success" href="/medicamento/OnlyMedicamento/<%=resp[i].id%>"><i class="fa fa-refresh"></i> </a></td>
					  <td><a class="btn btn-success" href="/medicamento/medFecha_cantidad/<%=resp[i].id%>"><i class="fa fa-refresh"></i> </a></td>
					  </tr>
					 <% } %>
				  </tbody>
				  </table>
				</div><!--/table-responsive-->
			  </div><!--/porlets-content-->
			  
			  
			</div><!--/block-web--> 
		  </div><!--/col-md-12--> 
		  </div><!--/row-->
		  
		  
		  </div><!--/page-content end--> 
		  </div><!--/main-content end--> 
		  
		  
				
				</div>
		<!--\\\\\\\ content panel end \\\\\\-->
	  </div>
	  <!--\\\\\\\ inner end\\\\\\-->
	</div>
	<!--\\\\\\\ wrapper end\\\\\\-->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<script src="/js/jquery-2.1.0.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/common-script.js"></script>
	<script src="/js/jquery.slimscroll.min.js"></script>
	<script src="/plugins/data-tables/jquery.dataTables.js"></script>
	<script src="/plugins/data-tables/DT_bootstrap.js"></script>
	<script src="/plugins/data-tables/dynamic_table_init.js"></script>
	<script src="/plugins/edit-table/edit-table.js"></script>
	
	<script src="/js/selectBuscar.js"></script>
	
	<!--Validaciones-->
	<script type="text/javascript"  src="/plugins/toggle-switch/toggles.min.js"></script> 
	<script src="/plugins/checkbox/zepto.js"></script>
	<script src="/plugins/checkbox/icheck.js"></script>
	<script src="/js/icheck-init.js"></script>
	<script type="text/javascript" src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> 
	<script type="text/javascript" src="/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script> 
	<script type="text/javascript" src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script> 
	<script type="text/javascript" src="/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script> 
	<script type="text/javascript" src="/js/form-components.js"></script> 
	<script type="text/javascript"  src="/plugins/input-mask/jquery.inputmask.min.js"></script> 
	<script type="text/javascript"  src="/plugins/input-mask/demo-mask.js"></script> 
	<script type="text/javascript"  src="/plugins/bootstrap-fileupload/bootstrap-fileupload.min.js"></script> 
	<script type="text/javascript"  src="/plugins/dropzone/dropzone.min.js"></script> 
	<script type="text/javascript" src="/plugins/ckeditor/ckeditor.js"></script>
	
	
	
	<script src="/plugins/validation/parsley.min.js"></script>
	
	<script>
	/*==Porlets Actions==*/
		$('.minimize').click(function(e){
		  var h = $(this).parents(".header");
		  var c = h.next('.porlets-content');
		  var p = h.parent();
		  
		  c.slideToggle();
		  
		  p.toggleClass('closed');
		  
		  e.preventDefault();
		});
		
		$('.refresh').click(function(e){
		  var h = $(this).parents(".header");
		  var p = h.parent();
		  var loading = $('&lt;div class="loading"&gt;&lt;i class="fa fa-refresh fa-spin"&gt;&lt;/i&gt;&lt;/div&gt;');
		  
		  loading.appendTo(p);
		  loading.fadeIn();
		  setTimeout(function() {
			loading.fadeOut();
		  }, 1000);
		  
		  e.preventDefault();
		});
		
		$('.close-down').click(function(e){
		  var h = $(this).parents(".header");
		  var p = h.parent();
		  
		  p.fadeOut(function(){
			$(this).remove();
		  });
		  e.preventDefault();
		});
	</script>
	<script>
		jQuery(document).ready(function() {
				EditableTable.init()
			});
	 </script>
	 
	 <script src="/js/jPushMenu.js"></script> 
	<script src="/js/side-chats.js"></script>
	
	
	
	<script>
		$('#bs').materialSelect({
			BSsearchIn: true
		});
	</script>
	 <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
	<script src="/axios/dist/axios.min.js"></script>
	<script src="/js/get/getECP.js"></script>
	
	</body>
	</html>