<!DOCTYPE html>
<html lang="es">
<head>
	<title>Inicio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%- include("../partials/head") -%>
    <style>
        #input-search{
            width: 300px;
            height: 40px;
            font-size: 20px;
            text-indent: 10px;
        }
        .content-search{
            
            width: 80%;
            height: 25vh;
            position: absolute;
            top: 330px;
            left: 50px;
            background: rgba(0, 14, 47, 0.897);
            display: none;
        }
        /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

        .content-table table{
            width: 100%;
        }

        tbody tr td a{
            display: block;
            padding: 10px;
            color: white;
            text-decoration: none;
        }

        tbody tr td a:hover{
            background: rgba(0,0,0,0.3);
        }

        #table_length, #table_filter, #table_info, #table_paginate{
            display: none;
        }
    </style>
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
			</ul>
		</nav>
		<!-- Content page -->
		<div class="container-fluid" id="search">
			<div class="page-header">
                <h1 class="text-titles"><i class="zmdi zmdi-truck zmdi-hc-fw"></i> Pedidos </h1>    
            </div>     
		</div>
		<div class="container-fluid">
			<div class="row" >
				<div class="col-xs-12" id="carMedicamentos">
					<ul class="nav nav-tabs" style="margin-bottom: 15px;"  id="links">
                        <li class="active"><a v-on:click="pedidos" href="#new" data-toggle="tab">Lista de Pedidos</a></li>
                        <li><a href="#list" data-toggle="tab">Nuevo Pedido</a></li>
                        <li><a href="#listMedicament" data-toggle="tab" v-on:click="agregar">Lista de medicamentos</a></li>
                        <li><a href="#">Refresh</a></li>
					</ul>
                                        
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="new">                            
                            <div class="container-fluid">
                                <div class="row">
                                    <a class="btn btn-success btn-lg active btn-raised" role="button" aria-pressed="true" href="/pedidos/limpiar"><i class="zmdi zmdi-long-arrow-return"> VOLVER</a></i>
                                    <% if(OnlyPedido != null ) { %>
                                    <div class="col-md-12 panel-body">                                           
                                        <div id="cabeza">
                                            <div id="correo">
                                                <div class="entrada">Codigo de Compra:<br>
                                                    <input  type="text" value="<%=OnlyPedido[0].codigoCompra%>"><br>
                                                </div>
                                                <div class="entrada">Especifique el status de la compra:<br>
                                                    <select>
                                                        <option><%=OnlyPedido[0].boletaPago%></option>
                                                    </select><br>
                                                </div>
                                                <div class="entrada">Tipo de Material:<br>
                                                    <select name="tipoMaterial">        
                                                        <option><%=OnlyPedido[0].tipoMaterial%></option>                                                         
                                                    </select><br>
                                                </div>
                                                <div class="entrada">Fecha de Ingreso:<br>
                                                    <input type="date" name="fechaIngreso" value="<%=OnlyPedido[0].fechaIngreso%>"><br>
                                                </div>
                                                <div class="entrada">Proveedor:<br>
                                                    <select>                                                    
                                                        <option> <%=OnlyPedido[0].proveedor%></option>                                                  
                                                    </select><br>
                                                </div>
                                                <h5>Notas importantes del Comprovante</h5>
                                                <div class="entrada">Observaciones:<br>
                                                    <input type="text"  value="<%=OnlyPedido[0].Observaciones%>"><br>	
                                                </div>
                                            </div> <br>                                              
                                            <div class="table-wrapper">
                                                <table class="fl-table">
                                                    <thead>
                                                        <tr>
                                                        <th>#</th>
                                                        <th>Cantidad del Producto</th>
                                                        <th>Codigo</th>
                                                        <th>Descripcion</th>
                                                        <th>Cantidad</th>
                                                        
                                                        <th>Precio</th>
                                                        <th>Precio Toal</th>
                                                        
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% for(var i = 0; i < OnlyPedido[0].productosDelPedido.length; i++ ) { %>
                                                        <tr>
                                                            <td><%=i+1%></td>
                                                            <td><%=OnlyPedido[0].productosDelPedido[i].qty%></td>
                                                            <td><%=OnlyPedido[0].productosDelPedido[i].item.codificacion%></td>
                                                            <td><%=OnlyPedido[0].productosDelPedido[i].item.nombre%></td>
                                                            <td><%=OnlyPedido[0].productosDelPedido[i].item.cantidad%></td>
                                                            <td><%=OnlyPedido[0].productosDelPedido[i].item.price%></td>
                                                            <td><%=OnlyPedido[0].productosDelPedido[i].price%></td>                                                
                                                        </tr>
                                                        <% } %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    <% } else { %>
                                        <h3>Seleciona un Producto</h3>
                                    <% } %>
                                    </div>
                                    <div class="row">
                                        <div class="table-responsive">
                                            <div class="table-wrapper" >                                                 
                                                <div class="entrada">
                                                    <button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success btn-raised btn-lg"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
                                                </div>
                                                <!-- 
                                                    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                                                    lista de Pedidos
                                                    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                -->
                                                <div class="box m-form">
                                                    <label class="label">Search Person Name</label>
                                                    <div class="control is-grouped">
                                                      <p class="control is-expanded">
                                                        <input class="input" v-model="searchItem" v-on:keyup="searchInTheList(searchItem)" type="text" placeholder="Find a person">
                                                        <span class="help is-dark"><strong>{{filteredItems.length | numeral}}</strong> of {{getPedido.length | numeral}} person found</span>
                                                      </p>
                                                      <p class="control">
                                                        <a class="button is-info" @:click="clearSearchItem" v-bind:class="{'is-disabled': searchItem==''}">
                                                          Clear
                                                        </a>
                                                      </p>
                                                    </div>     
                                                </div>
                                                
                                                <nav class="pagination m-pagination">
                                                    <a class="button" v-on:click="selectPage(this.pagination.currentPage-1)" v-bind:class="{'is-disabled': this.pagination.currentPage==this.pagination.getPedido[0] || this.pagination.getPedido.length==0}">Previous</a>
                                                    <a class="button" v-on:click="selectPage(this.pagination.currentPage+1)" v-bind:class="{'is-disabled': this.pagination.currentPage==this.pagination.getPedido[this.pagination.getPedido.length-1] || this.pagination.getPedido.length==0}">Next page</a>
                                                    <ul>
                                                      <li>
                                                        <a class="button" v-on:click="selectPage(pagination.getPedido[0])" v-bind:class="{'is-disabled': this.pagination.currentPage==this.pagination.getPedido[0] || this.pagination.getPedido.length==0}">
                                                          First
                                                        </a>
                                                      </li>
                                                      <li class="is-space"></li>
                                                      <li v-for="item in pagination.filteredItems">
                                                        <a class="button" v-on:click="selectPage(item)" v-bind:class="{'is-info': item == pagination.currentPage}">{{item | numeral}}</a>
                                                      </li>
                                                      <li class="is-space"></li>
                                                      <li>
                                                        <a class="button" v-on:click="selectPage(pagination.getPedido[pagination.getPedido.length-1])" v-bind:class="{'is-disabled': this.pagination.currentPage==this.pagination.getPedido[this.pagination.getPedido.length-1] || this.pagination.getPedido.length==0}">
                                                          Last
                                                        </a>
                                                      </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                            <table class="fl-table" id="myTable">
                                                <thead>
                                                    <tr>
                                                    <th>#</th>
                                                    <th>Codigo</th>
                                                    <th>Proveedor</th>
                                                    <th>T. Comprovante</th>
                                                    <th>Fecha</th>
                                                    <th>Impuestos</th>
                                                    <th>Total</th>
                                                    <th>Estado</th>
                                                    <th>Opciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody v-for="(pedido, index) in paginatedItems">
                                                    <tr>
                                                        <td>{{index + 1}}</td>
                                                        <td>{{pedido.codigoCompra}}</td>
                                                        <td>{{pedido.proveedor}}</td>
                                                        <td>{{pedido.boletaPago}}</td>
                                                        <td>{{pedido.fechaIngreso}}</td>
                                                        <td>{{pedido.iva}}</td>
                                                        <td>{{pedido.total}}</td>
                                                        <td>{{pedido.Observaciones}}</td>
                                                        
                                                        <td><a :href="'/pedidos/onliPedido/' + pedido.id" class="btn btn-success btn-raised btn-xs"><i class="zmdi zmdi-refresh"></i></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>  

                            <div class="tab-pane fade" id="list">
                                <div class="container-fluid">
                                    <%if(message) { %>
                                        <h2>Porfavor selecione productos para el pedido</h2>
                                    <% } %>

                                    <span style="color: red;">{{respuestaPost}}</span>
                                    <!-- 
                                        <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                        ///registro de compras
                                        <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                     -->
                                    <div class="row">
                                                                                
                                        <form @submit="formSubmit" method="POST">
                                            <div id="cabeza">
                                                <h2 class="text-center all-tittles">REGISTRO DE COMPRA</h2>
                                                <div id="tres2">
                                                    <div class="entrada">Codigo de Compra:<br>
                                                        <input  type="text" v-model="codigoCompra"><br>
                                                    </div>
                                                    <div class="entrada">Especifique el status de la compra:<br>
                                                        <select v-model="boletaPago">
                                                            <option>FACTURA</option>
                                                            <option>BOLETA DE VENTA</option>
                                                            <option>NOTA DE CREDITO</option>
                                                            <option>NOTA DE DEBITO</option>
                                                            <option>CONTROL INTERNO </option>
                                                        </select><br>
                                                    </div>
                                                    <div class="entrada">Tipo de Material:<br>
                                                        <select v-model="tipoMaterial">
                                                            <% for(var i=0; i< grup.length; i++) { %>
                                                            <option><%=grup[i].descripcion%></option>                                                            
                                                            <% } %>
                                                        </select><br>
                                                    </div>
                    
                                                </div>
                                                <div id="correo">                                                    
                                                    <div class="entrada">Fecha de Ingreso:<br>
                                                        <input type="date" v-model="fechaIngreso">
                                                    </div>
                                                    <div class="entrada">Proveedor:<br>
                                                        <select v-model="proveedor">
                                                        <%if (proveedor) { %>
                                                            <%for(var i=0; i < proveedor.length; i++) {%>
                                                            <option> <%=proveedor[i].nombre%></option>
                                                            <% } %>
                                                        <% } else { %>
                                                           <option value="">No hay Proveedores</option>                                                           
                                                        <% } %>
                                                        </select><br>
                                                    </div>                                                    
                                                </div><br>

                                                            
                                                <!--
                                                    Carrito de medicamentos                                                    
                                                -->
                                                <div class="table-wrapper">
                                                    <!--
                                                        <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
                                                        >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                                                                                        buscar mediacmentos
                                                        >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                                                        >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
                                                    -->      
                                                    <input type="search" id="input-search" v-model="searchQuery" placeholder="Buscar" @click="agregar" autocomplete="off"> <br>

                                                    <div class="content-search">
                                                        <div class="content-table">
                                                            <table id="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th>Cantidad  {{cantidadMedicamento}}</th>
                                                                        <th>Nombre</th>
                                                                        <th>Precentacion</th>
                                                                        <th>Cantidad</th>                                                                     
                                                                    </tr>
                                                                </thead>
                                                                <tbody v-for="item in filteredResources">
                                                                    <tr>
                                                                        <td> <a @click="insertar(item.id)"> Insertar </a>   </td>
                                                                        <td><input type="number" style="width:60px;height:30px;" v-model="cantidadMedicamento"></td>
                                                                        <td><a target="_blank">{{item.nombre}}</a></td>
                                                                        <td><a target="_blank">{{item.presentacion}}</a></td>
                                                                        <td><a target="_blank">{{item.unidades}}</a></td>
                                                                       
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                    <a @click="quitar"> Limpiar Carrito </a>
                                                    <table class="fl-table">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>Cantidad del Producto</th>
                                                                <th>Codigo</th>
                                                                <th>Descripcion</th>
                                                                <th>Cantidad</th>
                                                                
                                                                <th>Precio</th>
                                                                <th>Precio Toal</th>
                                                                <th>Eliminar</th>
                                                                <th>Eliminar todo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody v-for="(car, index) in items">                                                    
                                                            <tr>
                                                                <td>{{index + 1}}</td>
                                                                <td>{{car.qty}}</td>
                                                                <td>{{car.item.codificacion}}</td>
                                                                <td>{{car.item.nombre}}</td>
                                                                <td>{{car.item.cantidad}}</td>
                                                                <td>{{car.item.price}}</td>
                                                                <td>{{car.price}}</td>
                                                                <td> <a @click="reduceByOne(car.item.id)">Reducir</a>   </td>
                                                                <td><a @click="removeItem(car.item.id)">Eliminar</a> </td>                                                        
                                                           </tr>                                                   
                                                        <tbody>
                                                    </table>
                                                </div><br>
                                                <p>Notas importantes del Comprovante</p>
                                                <div id="correo">                                                 
                                                    <div class="entrada">Observaciones:<br>
                                                        <input type="text" v-model="Observaciones"><br>	
                                                    </div>
                                                     <div class="entrada">Sub Total:<br>
                                                        <input type="text" :value="totalPrice" ><br>
                                                    </div>
                                                    <div class="entrada">IVA:<br>
                                                        <input type="text" :value="totalPrice * 0.13" ><br>
                                                    </div>
                                                    <div class="entrada">Total:<br>
                                                        <input type="text" :value="totalPrice + totalPrice * 0.13" ><br>
                                                    </div>
                                                </div>                                             
                                            </div>
                                            <p class="text-center">
                                                <button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                                                <button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
                                                <button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success btn-raised"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
                                            </p>
                                        </form>	                                    
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="listMedicament">

                                <textarea  id="" cols="30" rows="10">{{$data.resources}}</textarea>
                               
                                <div class="table-wrapper" >                                                          
                                    <div id="correo">
                                        <div class="entrada">
                                            <button type="button" value="Imprimir" onclick="window.print()" class="btn btn-success btn-raised btn-lg"><i class="zmdi zmdi-print"></i> &nbsp;&nbsp; Imprimir</button>
                                        </div>
                                    </div>  
                                    
                                    <div class="content-search">
                                        <div class="content-table">

                                                <table class="fl-table" id="table" >                                        
                                                    <thead>
                                                        <tr>
                                                            <th>Nombre</th>                                                                                                                                               
                                                        </tr>
                                                    </thead>
                                                    <tbody v-for="(item, index) of medicamentos">
                                                        <tr>
                    
                                                            <td>{{ item.nombre }}</td>                                                            
                                                            
                                                             <!--<td>                                                    
                                                               <input type="checkbox" v-model="otro" 
                                                                :value="{
                                                                    codificacion:item.codificacion, 
                                                                    nombre: item.nombre,
                                                                    cantidad: item.cantidad, 
                                                                    
                                                                    precio: item.precio, 
                                                                }">
                                                                <button @click="insertar(item.id)">Agregar</button>                                              
                                                            </td> -->  
                                                        </tr>                                               
                                                    </tbody>
                                                </table>    
                                            </div>
                                        </div>
                                    </div>
                                               
                                </div>
                            </div>
                            
                        </div>
                    </div>
				</div>
			</div>
        </div>          
	</section>
	<!--====== Scripts -->
    <%- include("../partials/scripts") -%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"></script>
    <script src="/js/vue/pedidos.js"></script>

    <script src="https://dl.dropboxusercontent.com/s/5mqlcxg4264ri32/jquery.dataTables.min.js"></script>

    <script>
        var buscador = $("#table").DataTable();

        $("#input-search").keyup(function(){

            buscador.search($(this).val()).draw();

            if ($("#input-search").val() == ""){
                $(".content-search").fadeOut(300);
            }else{
                $(".content-search").fadeIn(300);
            }
        })
    </script>

</body>
</html>