<!DOCTYPE html>
<html lang="es">
<head>
	<title>Actualizar Proveedor</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<%- include("../partials/head") -%>
</head>
<body class="dashboard-sideBar-imagg cover">
	<!-- SideBar -->
	<%- include("partials/menu") -%>
	<!-- Content page-->
	<section class="full-box dashboard-contentPage dashboard-sideBar-cttt">
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right">
				<li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>
			</ul>
        </nav>
        
		<!-- Content page -->
		<div class="container-fluid">
			<div class="page-header">
				<h1 class="text-titles"><i class="zmdi zmdi-account-circle zmdi-hc-fw"></i> Proveedores</h1>
			</div>
		</div>	
		

			
					<!-- Registro de nuevos proveedores-->
							<div class="container-fluid">
								<div class="row">
									
										<form action="/proveedores/UpdateProveedor/<%=resp[0].id%>" method="POST">
											<div class="grupo" id="cabeza">
													<div id="correo">
															<div class="entrada">Nombre del Proveedor:<br>
																<input  type="text" name="nombre" value="<%=resp[0].nombre%>"><br>
															</div>
															<div class="entrada">Email:<br>
																<input  type="email" name="email" value="<%=resp[0].email%>"><br>
															</div>
															<div class="entrada">Direccion:<br>
																<input type="text"  name="direccion" value="<%=resp[0].direccion%>"><br>
															</div>
															<div class="entrada">Telefono:<br>
																<input type="text" name="telefono" value="<%=resp[0].telefono%>"><br>
															</div>
															<div class="entrada">Empresa o Institucion:<br>
																<input type="text" name="empresa" value="<%=resp[0].empresa%>"><br>
															</div>
													</div>
											</div>
											<p class="text-center">
													<button type="reset" class="btn btn-info btn-raised" style="margin-right: 20px;"><i class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
													<button type="submit" class="btn btn-danger btn-raised"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp; Guardar</button>
											</p>
									</form>
									</div>
								</div>
		</section>
	<!--====== Scripts -->
	<%- include("../partials/scripts") -%>
</body>
</html>