<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <%- include("../partials/head") -%>	
</head>
<body class="light_theme  fixed_header left_nav_fixed">
  <div class="wrapper">
    <!--\\\\\\\ wrapper Start \\\\\\-->
    <div class="header_bar">
      <!--\\\\\\\ header Start \\\\\\-->
      <div class="brand">
        <!--\\\\\\\ brand Start \\\\\\-->
        <div class="logo" style="display:block"><span class="theme_color">Hospital</div>
      </div>
      <!--\\\\\\\ brand end \\\\\\-->
      <div class="header_top_bar">
        <!--\\\\\\\ header top bar start \\\\\\-->
        <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i></a>
        <div class="top_right_bar">
          <div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/user.png" /><span class="user_adminname">John Doe</span> <b class="caret"></b> </a>
            <ul class="dropdown-menu">
              <div class="top_pointer"></div>
              <li> <a href="profile.html"><i class="fa fa-user"></i> Profile</a> </li>
              <li> <a href="help.html"><i class="fa fa-question-circle"></i> Help</a> </li>
              <li> <a href="settings.html"><i class="fa fa-cog"></i> Setting </a></li>
              <li> <a href="login.html"><i class="fa fa-power-off"></i> Logout</a> </li>
            </ul>
          </div> 
        </div>
      </div>
      <!--\\\\\\\ header top bar end \\\\\\-->
    </div>
    <!--\\\\\\\ header end \\\\\\-->
    <div class="inner">
      <!--\\\\\\\ inner start \\\\\\-->
      <div class="left_nav">
        <!--\\\\\\\left_nav start \\\\\\-->
        <div class="left_nav_slidebar">
          <ul>
            <li class="left_nav_active theme_border"><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class="left_nav_pointer"></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul>
                <li> <a href="home"> <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b>Inicio</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-hospital-o icon"></i>Almacen <span class="plus"><i class="fa fa-plus"></i></span></a>
              <ul class="opened" style="display:block">
                <li> <a href="/almacen/grupoAsig"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Grupos de Asignacion</b> </a> </li>
                <li> <a href="/medicamento/dataGrupoA"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Medicamentos</b> </a> </li>
                <li> <a href="/proveedores/proveedores"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Proveedores</b> </a> </li>
                <li> <a href="/almacen/pedidos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Pedidos</b> </a> </li>
                <li> <a href="/distribucion/listDistribucion"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Distribucion</b> </a> </li>
                <li> <a href="/medicamento/stock"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b >Stock</b> </a> </li>
              </ul>
            </li>
            <li> <a href="javascript:void(0);"> <i class="fa fa-paste"></i> Reportes Almacen<span class="plus"><i class="fa fa-plus"></i></span> </a>
              <ul>
                <li> <a href="/almacen/reportes_pedidos"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b></b>Reportes de Pedidos </a> </li>
                <li> <a href="/almacen/reportes_salidas"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Salidas</b> </a> </li>
                <li> <a href="/almacen/kardexValorizado"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Kardex Valorizado</b> </a> </li>
                <li> <a href="/almacen/med_ven"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Med. Vencidos</b> </a> </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    <!--Contenido-->
    <div class="contentpanel"><br>
		<!--\\\\\\\ contentpanel start\\\\\\-->
		<!--Formulario-->
		<div class="container clear_both padding_fix">
			<!--\\\\\\\ container  start \\\\\\-->
			<div class="row">
				<div class="col-md-12">
					<div class="block-web">
						<div class="header">
							<div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a><a class="refresh" href="/proveedores/volver"><i class="fa fa-repeat"></i></a></div>
							<h2 class="content-header"><div class="info gray_symbols"><i class="fa  fa-users icon"></i></div>     Registrar Proveedor</h2>
						</div>
						<div class="porlets-content"><br>
							<%if(one_proveedor == null) { %>
							<form action="/proveedores/proveedores" method="POST" parsley-validate novalidate >
								<div class="col-md-12">
								  	<div class="col-md-4">
										<div class="form-group">
											<label>Nombre del Proveedor:</label>
											<input type="text" name="nombre" required class="form-control" onkeyup="mayus(this);">
										</div>
									</div>  
									<div class="col-md-4">
										<div class="form-group">
											<label>Email:</label>
											<input type="email" name="email" required class="form-control" >
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Direccion:</label>
											<input  type="text"  name="direccion" required class="form-control" onkeyup="mayus(this);">
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="col-md-6">
										<div class="form-group">
											<label>Telefono:</label>
											<input type="text"  name="telefono" required class="form-control" onkeyup="mayus(this);">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Empresa o Institucion:</label>
											<input type="text" name="empresa" required class="form-control" onkeyup="mayus(this);">
										</div>
									</div>
								</div>
								<div class="form-group">
										<div class="col-sm-offset-0 col-sm-10">
									<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i>  Guardar</button>
									<button class="btn btn-danger"><i class="fa fa-times"></i> Cancelar</button>
										</div>
									</div>
							</form>
							<% } else { %>	
							<!--Formulario de Actuaizacion-->
							
							<form action="/proveedores/UpdateProveedor/<%=one_proveedor[0].id%>" method="POST" parsley-validate novalidate>
								<div class="col-md-12">
									<div class="col-md-4">
										<div class="form-group">
											<label>Nombre del Proveedor:</label>
											<input type="text" name="nombre" value="<%=one_proveedor[0].nombre%>" required class="form-control" onkeyup="mayus(this);">
										</div>
									</div>  
									<div class="col-md-4">
										<div class="form-group">
											<label>Email:</label>
											<input type="email" name="email" value="<%=one_proveedor[0].email%>" required class="form-control" >
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label>Direccion:</label>
											<input  type="text"  name="direccion" value="<%=one_proveedor[0].direccion%>" required class="form-control" onkeyup="mayus(this);">
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="col-md-6">
										<div class="form-group">
											<label>Telefono:</label>
											<input type="text" name="telefono" value="<%=one_proveedor[0].telefono%>" required class="form-control" onkeyup="mayus(this);">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Empresa o Institucion:</label>
											<input type="text" name="empresa" value="<%=one_proveedor[0].empresa%>" required class="form-control" onkeyup="mayus(this);">
										</div>
									</div>
								</div>
								<div class="form-group">
										<div class="col-sm-offset-0 col-sm-10">
									<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i>  Guardar</button>
									<a class="btn btn-danger" href="/proveedores/volver"><i class="fa fa-times"></i> Cancelar</a>
										</div>
								</div>	
							</form>
							<% } %>
						</div>
						<div id="main-content">
							<div class="page-content">
								<div class="row">
									<div class="col-md-12">
									  	<div class="block-web">
											<div class="header">
												<div class="actions"> <a class="minimize" href="#"><i class="fa fa-chevron-down"></i></a> </div>
												<h3 class="content-header">Lista de Proveedores</h3>
											</div>
											<div class="porlets-content">
												<div class="table-responsive">
													<table  class="display table table-bordered table-striped " id="dynamic-table">
														<thead>
															<th>#</th>
															<th>Nombre Proveedor</th>
															<th>Email</th>
															<th>Direccion</th>
															<th>Telefono</th>
															<th>Responsable de atención</th>
															<th>Opciones</th>
														</thead>
														<tbody>
													 	<% for (var i = 0; i< resp.length; i++) { %>
															<tr>
															<td><%= i+1%></td>
															<td><%=resp[i].nombre%></td>
															<td><%=resp[i].email%></td>
															<td><%=resp[i].direccion%></td>
															<td><%=resp[i].telefono%></td>
															<td><%=resp[i].empresa%></td>
															<td class="center hidden-phone">
															<a href="/proveedores/OnlyProveedor/<%=resp[i].id%>" data-toggle="tooltip" class="btn  tooltips" data-original-title="Actualizar"><i class="fa fa-refresh "></i></a><span>&nbsp;</span>
														</td>
														</tr>
														<% } %>
														</tbody>
													</table>
												</div><!--/table-responsive-->
											</div><!--/porlets-content-->
										</div><!--/block-web--> 
									</div><!--/col-md-12--> 
								</div><!--/row-->
							</div><!--/page-content end--> 
						</div><!--/main-content end--> 
					</div>
				</div>
			</div><!--/row-->
		</div>
	<!--\\\\\\\ content panel end \\\\\\-->
	</div>
</div>
<%- include("../partials/scripts") -%>
</body>
</html>

