<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<%- include("../partials/head") -%>	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.1/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="/sweetalert2/dist/sweetalert2.min.css">

</head>
<script type="text/javascript">
	// este scrip es para verificar si esta el token en local starge
	var data = localStorage.getItem('data')
	if (data == null){
		window.location.replace('/')
  }
  function delete_local_storage(){
		console.log ("ssss")
		localStorage.removeItem('data');
		localStorage.removeItem('url');
  }
  setTimeout(()=>{
    delete_local_storage()
    //window.location.replace('/')
  },500000);
</script>
<body class="light_theme  fixed_header left_nav_fixed">
	<div class="wrapper">
		<div class="header_bar">
			<!--\\\\\\\ header Start \\\\\\-->
			<div class="brand">
			  <!--\\\\\\\ brand Start \\\\\\-->
			  <div class="logo" style="display:block"><span class="theme_color">Hospital</span></div>
			  <div class="small_logo" style="display:none"><img src="/images/s-logo.png" width="50" height="47" alt="s-logo" /> <img src="/images/r-logo.png" width="122" height="20" alt="r-logo" /></div>
			</div>
			<!--\\\\\\\ brand end \\\\\\-->
			<div class="header_top_bar">
			  <!--\\\\\\\ header top bar start \\\\\\-->
			  <a href="javascript:void(0);" class="menutoggle"> <i class="fa fa-bars"></i> </a>
			  
			  <div class="top_right_bar">
				<div class="user_admin dropdown"> <a href="javascript:void(0);" data-toggle="dropdown"><img src="/images/user.png" /><span class="user_adminname"><%=data_doc.data.personal.nombre%> <%=data_doc.data.personal.apellidop%></span> <b class="caret"></b> </a>
				  <ul class="dropdown-menu">
					<div class="top_pointer"></div>
					<li> <a href="#"><i class="fa fa-user"></i> Profile</a> </li>
					<li> <a href="#"><i class="fa fa-question-circle"></i> Help</a> </li>
					<li> <a href="#"><i class="fa fa-cog"></i> Setting </a></li>
					<li> <a href="/delete_token/<%=data_doc.data.token_id%>" onclick="delete_local_storage()" ><i class="fa fa-power-off"></i> Logout</a> </li>
				  </ul>
				</div>
			  </div>
			</div>
			<!--\\\\\\\ header top bar end \\\\\\-->
		</div>
		
		<div class="inner">
		  	<div class="left_nav">
				<div class="left_nav_slidebar">
			  		<ul>
						<li><a href="javascript:void(0);"><i class="fa fa-home"></i> Home <span class=""></span> <span class="plus"><i class="fa fa-plus"></i></span> </a>
				  			<ul >
								<li> <a href="/almacen/home/<%=data_doc.data.token_id%>/<%=data_doc.data.token_part%>"  > <span>&nbsp;</span> <i class="fa fa-circle theme_color"></i> <b>Inicio</b> </a> </li>
				  			</ul>
						</li>
						<li class="left_nav_active theme_border"> <a href="javascript:void(0);"> <i class="fa fa-hospital-o icon"></i>Almacen <span class="plus left_nav_pointer"><i class="fa fa-plus"></i></span></a>
					  		<ul class="opened" style="display:block">
								<li> <a href="/almacen/grupoAsig/<%=data_doc.data.token_id%>/<%=data_doc.data.token_part%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Grupos de Asignacion</b> </a> </li>
								<li> <a href="/medicamento/medicamentos/<%=data_doc.data.token_id%>/<%=data_doc.data.token_part%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Medicamentos</b> </a> </li>
								<li> <a href="/proveedores/proveedores/<%=data_doc.data.token_id%>/<%=data_doc.data.token_part%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Proveedores</b> </a> </li>
								<li> <a href="/almacen/pedidos/<%=data_doc.data.token_id%>/<%=data_doc.data.token_part%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Pedidos</b> </a> </li>
								<li> <a href="/distribucion/listDistribucion/<%=data_doc.data.token_id%>/<%=data_doc.data.token_part%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b class="theme_color">Distribucion</b> </a> </li>
								<li> <a href="/medicamento/stock/<%=data_doc.data.token_id%>/<%=data_doc.data.token_part%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Stock</b> </a> </li>  
							</ul>
						</li>
						<li> <a href="javascript:void(0);"> <i class="fa fa-paste"></i> Reportes Almacen<span class="plus"><i class="fa fa-plus"></i></span> </a>
					  		<ul>
								<li> <a href="/almacen/reportes_pedidos/<%=data_doc.data.token_id%>/<%=data_doc.data.token_part%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b></b>Reportes de Pedidos </a> </li>
								<li> <a href="/almacen/reportes_salidas/<%=data_doc.data.token_id%>/<%=data_doc.data.token_part%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Reportes de Salidas</b> </a> </li>
								<li> <a href="/almacen/kardexValorizado/<%=data_doc.data.token_id%>/<%=data_doc.data.token_part%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Kardex Valorizado</b> </a> </li>
								<li> <a href="/almacen/med_ven/<%=data_doc.data.token_id%>/<%=data_doc.data.token_part%>"> <span>&nbsp;</span> <i class="fa fa-circle"></i> <b>Med. Vencidos</b> </a> </li>
				  			</ul>
						</li>
			 		</ul>
				</div>
		  	</div>      
		</div>
		<div id="pedidos">
			<div class="contentpanel"> <br>
				<div class="container clear_both padding_fix" >
					<!--Modal-->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
						 	<div class="modal-content">
								<div class="modal-header">
							  		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							  		<h4 class="modal-title" id="myModalLabel"><i class="fa fa-medkit"> Lista de Productos </i></h4>
								</div>
								<div class="row">
									
							  		<!--/////////////table-->
							  		<div class="col-xs-10 col-md-offset-1">
											<span style="color: blue;">{{pass}}</span>
											<span style="color: red;">{{respFalse}}</span>
										<br>
										<label><i class="fa fa-search"> buscar </i></label>
										<div class="control is-grouped">
							  				<p class="control is-expanded">
												<input class="input" v-model="searchMed" v-on:keyup="searchInTheListMed(searchMed)" type="text" placeholder="Puede buscar por el Nombre y la Presentacion">
												<a class="button is-primary" v-on:click="clearSearchItemMed" v-bind:class="{'is-disabled': searchMed==''}">Limpiar</a><br>
												<span class="help is-dark"><strong>{{filteredMeds.length | numeral}}</strong> de {{ListMedicamentos.length | numeral}} Medicamentos Encontrados</span>
							  				</p>
										</div>
							  		</div> 
							  		<div class="col-xs-10 col-md-offset-1">
										<nav class="pagination m-pagination">
							  				<a class="button" v-on:click="selectPageMed(paginationMeds.currentPage-1)" v-bind:class="{'is-disabled': this.paginationMeds.currentPage==paginationMeds.ListMedicamentos[0] || paginationMeds.ListMedicamentos.length==0}">Anterior</a>
							  				<a class="button" v-on:click="selectPageMed(paginationMeds.currentPage+1)" v-bind:class="{'is-disabled': this.paginationMeds.currentPage==paginationMeds.ListMedicamentos[paginationMeds.ListMedicamentos.length-1] || paginationMeds.ListMedicamentos.length==0}">Siguiente</a>
							  				<ul>
												<li>
									  				<a class="button" v-on:click="selectPageMed(paginationMeds.ListMedicamentos[0])" v-bind:class="{'is-disabled': this.paginationMeds.currentPage==this.paginationMeds.ListMedicamentos[0] || this.paginationMeds.ListMedicamentos.length==0}"><<</a>
												</li>
												<li class="is-space"></li>
												<li v-for="item in paginationMeds.filteredMeds">
									  				<a class="button" v-on:click="selectPageMed(item)" v-bind:class="{'is-info': item == paginationMeds.currentPage}">{{item | numeral}}</a>
												</li>
												<li class="is-space"></li>
												<li>
							 				 		<a class="button" v-on:click="selectPageMed(paginationMeds.ListMedicamentos[paginationMeds.ListMedicamentos.length-1])" v-bind:class="{'is-disabled': this.paginationMeds.currentPage==this.paginationMeds.ListMedicamentos[this.paginationMeds.ListMedicamentos.length-1] || this.paginationMeds.ListMedicamentos.length==0}">>></a>
												</li>
							  				</ul>
										</nav>
						  			</div>
							  		<div class="col-xs-10 col-md-offset-1">
										<table class="table is-bordered is-striped is-narrow">
							  				<thead>
												<tr>
												<th>Option</th>
												<th>Cantidad</th>												
												<th>Nombre</th>
												<th>Vence en </th>
												<th>Cantidad</th>   
												</tr>
										  	</thead>
								  			<tbody v-for="(med, index) in paginatedMeds">
												<tr>
													<td><a @click="insertar1(med.id,med.id_fecha, med.cant, index)" class="btn btn-success btn-raised btn-xs">Insertar</a> </td>		
													<td><input type="number" v-model="med.cant" class="col-sm-7"></td>										
													<td>{{med.nombre}}</td>
													<td>{{med.fecha_v}} dias</td>
													<td>{{med.unidades}}</td>
												</tr>
												
								 	 		</tbody>
										</table>   
						  			</div>
							  		<!-- ////////-->
								</div>
								<div class="modal-footer">
							  		<button type="" class="btn btn-info" data-dismiss="modal">OK</button>
								</div>
						  	</div>
						</div>
					</div>
					<!--Fin del Modal-->
					<div class="row">
						<div class="col-md-12">
							<div class="block-web">
								<div class="header">
									<div class="actions"> <a class="minimize" href="#">Refresh</a><a class="refresh" href="/distribucion/volver2/<%=data_doc.data.token_id%>/<%=data_doc.data.token_part%>"><i class="fa fa-repeat"></i></a></div>
									<h2 class="content-header"><div class="info gray_symbols"><i class="fa fa-clipboard icon"></i></div> Distribucion /<span class="semi-bold"> Registro de Distribucion</span></h2>  
								</div>
								<span style="color: blue;">{{respuestaPost}}</span>
								<span style="color: red;">{{rep_post_false}}</span>
								<div class="porlets-content">
									<br><br>
									<form @submit="formSubmit" method="POST" class="form-horizontal group-border-dashed"  parsley-validate novalidate>
										<div class="form-group">
											<label class="col-sm-3 control-label">Codigo:</label>
											<div class="col-sm-6">
											 	<input type="text" class="form-control" required v-model="codigo" onkeyup="mayus(this);" />
											</div>
										</div><!--/form-group-->
										<div class="form-group">
											<label class="col-sm-3 control-label">Recibe:</label>
											<div class="col-sm-6">
											  	<input type="text" class="form-control" required v-model="recibe" onkeyup="mayus(this);" />
											</div>
										</div><!--/form-group--> 
										<div class="form-group">
											<label class="col-sm-3 control-label">Nombre de Responsable:</label>
											<div class="col-sm-6">
												<input type="text" class="form-control" readonly value="<%=data_doc.data.personal.nombre%> <%=data_doc.data.personal.apellidop%> <%=data_doc.data.personal.apellidom%>" />
												<input type="hidden" :value="responsable = '<%=data_doc.data.personal.nombre%> <%=data_doc.data.personal.apellidop%> <%=data_doc.data.personal.apellidom%>'">  
												<input type="hidden" :value="id_personal = '<%=data_doc.data.personal.id%>'">
											</div>
										</div><!--/form-group--> 
										<div class="form-group">                   
											<label class="control-label col-md-3">Fecha de Distribucion:</label>
											<div class="col-md-6 col-xs-10">
												<input type="text" class="form-control form-control-inline input-medium" readonly v-model="fechaLlegada" >												
											</div>                      
										</div><!--/form-group-->
										<p class="text-center">
											<button @click="searchInTheListMed('')" type="button" data-target="#myModal" data-toggle="modal" class="btn btn-info">Lista Productos</button>
										</p>										
										<div class="col-lg-12"> 
											<section class="panel default black_title h">
												<div class="panel-heading">
												 	<span class="semi-bold">Lista de Distribucion</span> 
												</div>
												<div class="panel-body">
													<table class="table table-hover">
														<thead>
															<tr>
															<th>#</th>	
															<th>Codigo</th>
															<th>Descripcion</th>
															<th>Unidad</th>
															<th>Cantidad</th>
															<th>Eliminar</th>
															<th>Quitar</th>                                         
															</tr>
														</thead>
														<tbody v-for="(car, index) in distribucionList">
															<tr>
															<td>{{index}}</td>
															<td>{{car.item.codificacion}}</td>
															<td>{{car.item.nombre}}</td>
															<td>{{car.item.presentacion}}</td>
															<td>{{car.qty}}</td>
															<td> <a  @click="reducir_cantidad(car.item.id)">Reducir</a>   </td>
															<td><a  @click="eliminar_item(car.item.id)">Eliminar</a> </td>    
															</tr>
														<tbody>
													</table>
										   		</div>
											</section>
										</div> 
										<div class="form-group ">
											<div class="col-sm-offset-0 col-sm-10 ">
												<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Guardar</button>
												<a class="btn btn-danger" href="/distribucion/volver/<%=data_doc.data.token_id%>/<%=data_doc.data.token_part%>"><i class="fa fa-times"></i> Cancelar</a>
											</div>
										</div><!--/form-group--> 
									</form>
								</div>
							</div>
						</div>
					</div> <!-- //row -->
				</div>
			</div>
		</div>
	</div>
<%- include("../partials/scripts") -%>
<script src="/sweetalert2/dist/sweetalert2.min.js"></script>

<script src="/url/export.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js"></script>   
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.16.4/lodash.min.js"></script>
<script src="/js/vue/distribucion.js"></script>
</body>
</html>